{% extends "backoffice/base.html" %}
{% load static %}
{% load assets %}
{% load sass_tags %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'offers/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-themes/jquery-ui.min.css' %}">
{% endblock %}

{% block custom-javascript %}
  <script type="application/javascript" src="{% static 'jqueryui/jquery-ui.js' %}"></script>
  <script type="application/javascript" src="{% static 'backoffice/js/datepicker-nl.js' %}"></script>
{% endblock %}

{% block content %}
  <section>
    <div class="row">
      <div class="large-3 column">
        <a name="offer-option" class="debat-orange small expanded button" data-url="{% url 'offers:create' %}">
          <span class="fi flaticon-signs"></span>
          Nieuwe offerte aanvragen
        </a>
      </div>

      <div class="large-3 column">
        <a name="btn-absence-schedule" id="create-absence-schedule-btn" class="debat-blue small expanded button" data-url="{% url 'offers:create-absence-schedule' %}">
          Beschikbaarheid doorgeven
        </a>
      </div>
    </div>
  </section>

    {% if absence_schedules %}
      <div class="row column">
          {% include 'offers/components/absence_schedules.html' %}
      </div>
    {% endif %}

  <div class="row column">
      {% include "offers/components/ongoing-offers.html" %}
  </div>

  <div class="row column">
      {% include "offers/components/finished-offers.html" %}
  </div>

  <div class="tiny reveal" id="modal" data-close-on-click="false" data-reveal></div>

  {% include 'common/widgets/widget-modal.html' with id='absence-schedule' button_name='btn-absence-schedule' %}

  <script>
      $(function () {
          var modal = $('#modal');
          modal.foundation();

          $('a[name=offer-option]').click(function () {
              var url = $(this).data('url');
              var size = $(this).data('size');

              $.get(url, function(data) {
                  modal.removeClass();
                  modal.addClass(size + ' reveal');
                  modal.html(data);
                  modal.foundation('open');
              });
          });

          $("a.link").click(function () {
              var id = $(this).data('id');
              var container = $("#details-" + id);
              var link = $(this);

              container.toggle();

              if (container.is(":visible")) {
                  link.text('Verberg details')
              } else {
                  link.text('Toon details')
              }
          })
      })
  </script>
{% endblock %}
