<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div id="edit-modal-container">
    <div class="row column">
        <h5>TOETSVRAAG TOEVOEGEN</h5>
    </div>
    <form action="{% url 'debatnl_online:e_learning:course-test' course_id %}{{ question.id }}/change/" method="post">
        {% csrf_token %}

        <div class="row column">
            <label for="name">
                Vraag
                <textarea name="question" required>{{ question.question }}</textarea>
            </label>
            <br>
        </div>
        <div class="row column">
            <label for="name">
                Volgorde
                <input type="number" id="sequence" name="sequence" value="{{ question.sequence }}">
            </label>
            <br>
        </div>
        {% for answer in question.answers %}
            <input type="hidden" name="answer_{{ forloop.counter }}_id" value="{{ answer.id }}">
            <div class="row column">
                <label for="answer_{{ forloop.counter }}">
                    Antwoord {{ forloop.counter }}
                    <textarea name="answer_{{ forloop.counter }}">{{ answer.answer }}</textarea>
                    <label for="answer_{{ forloop.counter }} _is_correct">
                        <input type="checkbox" name="answer_{{ forloop.counter }}_is_correct" {% if answer.is_correct_answer %} checked {% endif %}>
                        Is correct antwoord?
                    </label>
                </label>
                <br>
            </div>
        {% endfor %}

        {% for empty_answer in empty_answers%}
            <div class="row column">
                <label for="answer_{{ empty_answer }}">
                     Antwoord {{ empty_answer }}
                    <textarea name="answer_{{ empty_answer }}"></textarea>
                    <label for="answer_{{ empty_answer }}_is_correct">
                        <input type="hidden" name="answer_{{ empty_answer }}_is_correct" value="0">
                        <input type="checkbox" name="answer_{{ empty_answer }}_is_correct" value="1">
                        Is correct antwoord?
                    </label>
                </label>
                <br>
            </div>
        {% endfor %}

        <div class="row footer">
            <div class="large-offset-6 large-3 no-left-padding column">
                <input type="submit" class="small debat-orange expanded button" value="Opslaan">
            </div>
            <div class="large-3 no-left-padding column">
                <a class="small expanded debat-blue button" data-close> Annuleren </a>
            </div>
        </div>
    </form>
</div>