<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div id="edit-modal-container">
    <div class="row column">
        <h5>TOETSVRAAG TOEVOEGEN</h5>
    </div>
    <form action="{% url 'debatnl_online:e_learning:course-test' course_id %}add/" method="post">
        {% csrf_token %}

        <div class="row column">
            <label for="name">
                Vraag
                <textarea name="question" required></textarea>
            </label>
            <br>
        </div>
        <div class="row column">
            <label for="name">
                Volgorde
                <input type="number" id="sequence" name="sequence">
            </label>
            <br>
        </div>
        <div class="row column">
            <label for="answer_1">
                Antwoord 1
                <textarea name="answer_1"></textarea>
                <label for="answer_1_is_correct">
                    <input type="checkbox" name="answer_1_is_correct">
                    Is correct antwoord?
                </label>
            </label>
            <br>
        </div>
        <div class="row column">
            <label for="answer_2">
                 Antwoord 2
                <textarea name="answer_2"></textarea>
                <label for="answer_2_is_correct">
                    <input type="checkbox" name="answer_2_is_correct">
                    Is correct antwoord?
                </label>
            </label>
            <br>
        </div>
        <div class="row column">
            <label for="answer_3">
                 Antwoord 3
                <textarea name="answer_3"></textarea>
                <label for="answer_3_is_correct">
                    <input type="checkbox" name="answer_3_is_correct">
                    Is correct antwoord?
                </label>
            </label>
            <br>
        </div>
        <div class="row column">
            <label for="answer_4">
                 Antwoord 4
                <textarea name="answer_4"></textarea>
                <label for="answer_4_is_correct">
                    <input type="checkbox" name="answer_4_is_correct">
                    Is correct antwoord?
                </label>
            </label>
            <br>
        </div>
        <div class="row footer">
            <div class="large-offset-6 large-3 no-left-padding column">
                <input type="submit" class="small debat-orange expanded button" value="Opslaan">
            </div>
            <div class="large-3 no-left-padding column">
                <a class="small expanded debat-blue button" data-close> Annuleren </a>
            </div>
        </div>
    </form>
</div>