{% extends 'briefings/public/base.html' %}
{% load static %}
{% load sass_tags %}

{% block custom-stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'briefings/sass/max_trainers.sass' %}">
{% endblock %}

{% block content %}
    <div class="page-banner">
        <img class="full-bg" src="{% static 'briefings/img/banner-with-text.png' %}" alt="">
    </div>

    <div class="row">
        <div class="large-8 column medium-centered">
            <div class="page-container">
                <div> Olaf twijfelt en heeft je hulp nodig. </div>
                <div> Klopt onderstaande delivery of zijn er nog meer trainers? </div>

                <div class="trainer-list">
                    <h5> {{ deliverable.delivery.order_date|date:'d-m-Y' }} </h5>
                    <h5> {{ deliverable.delivery.organization.name }} </h5>

                    <ul>
                        {% for trainer in deliverable.delivery.trainers.all %}
                            <li> {{ trainer.name }} </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row column text-right">
                <a class="debat-blue button" href="{% url 'briefings:deliverable-max-trainers-update' pk=deliverable.id %}?token={{ token }}">
                    Trainer Toevoegen
                </a>
                <a class="debat-orange button" href="{% url 'briefings:deliverable-max-trainers-confirm' pk=deliverable.id %}?token={{ token }}"> Het klopt! </a>
            </div>
        </div>
    </div>
{% endblock %}
