{% extends 'briefings/public/base.html' %}
{% load static %}
{% load sass_tags %}

{% block content %}
    <div class="page-banner">
        <img class="full-bg" src="{% static 'briefings/img/banner-with-no-text.png' %}" alt="">
    </div>

    <div class="success-page-container">
        <div class="large-5 large-centered text-center">
            <span class="fi flaticon-circle-2"></span>
            <h2> Bedankt voor de  bevestiging!</h2>
        </div>
    </div>
{% endblock %}