{% extends 'briefings/public/base.html' %}
{% load static %}
{% load sass_tags %}

{% block custom-stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'briefings/sass/max_trainers.sass' %}">
{% endblock %}

{% block content %}
    <div class="page-banner">
        <img class="full-bg" src="{% static 'briefings/img/banner-with-no-text.png' %}" alt="">
    </div>

    <div class="row">
        <div class="large-8 column medium-centered">
            <div class="page-container">
                <div> Olaf twijfelt en heeft je hulp nodig. </div>
                <div> Klopt onderstaande delivery of zijn er nog meer trainers? </div>

                <div class="trainer-list">
                    <h5> {{ deliverable.delivery.order_date|date:'d-m-Y' }} </h5>
                    <h5> {{ deliverable.delivery.organization.name }} </h5>

                    <ul>
                        {% for trainer in deliverable.delivery.trainers.all %}
                            <li> {{ trainer.name }} </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <form method="post" action="{% url 'briefings:deliverable-max-trainers-update' pk=deliverable.id %}?token={{ token }}">
                {% csrf_token %}
                <div id="trainers-container">
                    <div class="row trainer-row" data-index="0">
                        <div class="large-6 column end">
                            <select title name="trainers-0">
                                <option value="">--</option>
                                {% for trainer in trainers %}
                                    <option value="{{ trainer.pk }}">{{ trainer.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="options-container">
                    <a id="add-button">
                        <span class="button-border"> <i class="fa fa-plus fa-fw"></i> </span>
                        Toevoegen</a>
                </div>

                <div class="row column text-right">
                    <input type="submit" class="debat-orange button" value="Opslaan">
                </div>
           </form>
        </div>
    </div>

    <script>
        $(function () {
            var container = $("#trainers-container");

            var addButton = $("#add-button");

            addButton.click(function () {
                var originalRow = $(".trainer-row").last();
                var cloned = originalRow.clone();
                var selector = cloned.find('select');
                var index = parseInt(originalRow.data('index')) + 1;

                cloned.data('index', index);
                selector.attr('name', 'trainers-' + index);
                selector.val('');

                container.append(cloned);
            });
        });
    </script>

{% endblock %}
