{% extends "admin/change_form.html" %}
{% block object-tools-items %}
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_new_planning_request_notification' pk=original.pk %}" class="grp-state-focus">
            Send New Planning Request Notification
        </a>
    </li>

    <li style="float: none; margin-bottom: 15px">
      <a
        href="{% url 'admin:send_new_option_planning_request_notification' pk=original.pk %}"
        class="grp-state-focus">
        Send New Option Planning Request Notification
      </a>
    </li>

    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_planning_request_changed_notification' pk=original.pk %}" class="grp-state-focus">
          Send Planning Request Status Changed Notification
        </a>
    </li>

    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_admin_confirmation_reminder_email' pk=original.pk %}" class="grp-state-focus">
          Send Admin Confirmation Reminder
        </a>
    </li>

    <li style="float: none; margin-bottom: 15px">
      <a href="{% url 'admin:send_planning_request_delete_notification' pk=original.pk %}">
        Send Option Planning Request Deleted Notification
      </a>
    </li>

    <li style="float: none; margin-bottom: 15px">
      <a href="{% url 'admin:send_overdue_notification' pk=original.pk %}">
        Send Option Planning Request Overdue Notification
      </a>
    </li>
    {{ block.super }}
{% endblock %}
