{% load static %}
{% load sass_tags %}
{% load assets %}
{% load raven %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Debat.NL – Opvolgingen</title>

  {# BASE STYLESHEETS #}
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'sass/base.sass' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'backoffice/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'follow_ups/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'follow_ups/sass/public_style.sass' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-themes/jquery-ui.min.css' %}">

  {# BASE JAVASCRIPT #}
  <script>Raven.config('{% sentry_public_dsn %}').install()</script>
  <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/foundation.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'jqueryui/jquery-ui.js' %}"></script>
  <script type="application/javascript" src="{% static 'backoffice/js/datepicker-nl.js' %}"></script>
  <script type="application/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'tinymce/jquery.tinymce.min.js' %}"></script>
  {% block custom-javascript %}{% endblock %}
</head>

<body>
<div class="row header">
  {# LOGO #}
  <div class="logo-container">
    <img src="{% static 'img/logo.png' %}">
  </div>
</div>

<div>
  <div class="page-banner">
    <img class="full-bg" src="{% static 'img/banner-presentation.jpg' %}" alt="">
  </div>
</div>

<div class="row column">
  <div id="card-container">
    <div class="columns large-12 card">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
</body>
</html>


