{% extends 'follow_ups/base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="large-4 column">
      <a href="{% url 'follow_ups:overview' %}" class="debat-blue button back-btn">
        <span class="fa fa-arrow-left"></span> Terug
      </a>
    </div>
  </div>

  <div class="page-followup-setup">
    <div class="row detail-item">
      <div class="large-12 column">
        <div class="detail-item-heading">Organisatie</div>
        <div class="detail-item-body">{{ followup.opportunity.organization.name }}</div>
      </div>
    </div>

    <div class="row detail-item">
      <div class="large-12 column">
        <div class="detail-item-heading">Contactpersoon</div>
        <table class="detail-item-table">
          <thead>
          <tr>
            <th>VOORNAAM</th>
            <th>ACHTERNAAM</th>
            <th>E-MAIL</th>
          </tr>
          </thead>
          <tbody>
          {% if followup.opportunity.person %}
          <tr>
            <td>{{ followup.opportunity.person.first_name }}</td>
            <td>{{ followup.opportunity.person.last_name }}</td>
            <td>{{ followup.opportunity.person.email }}</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="3" class="text-center">Er is geen contactpersoon.</td>
          </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row detail-item">
      <div class="large-12 column">
        <div class="detail-item-heading">Afgelopen Deliveries</div>
        <table class="detail-item-table">
          <thead>
          <tr>
            <th class="date-column">DATUM DELIVERY</th>
            <th>MAIN PRODUCT/SERVICE</th>
          </tr>
          </thead>
          <tbody>
          {% for delivery in followup.get_past_deliveries.all %}
            <tr>
              <td>{{ delivery.order_date|date:'d-m-Y' }}</td>
              <td>{{ delivery.product }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2" class="text-center">Er zijn geen deliveries.</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row detail-item">
      <div class="large-12 column">
        <div class="detail-item-heading">Toekomstige Deliveries</div>
        <table class="detail-item-table">
          <thead>
          <tr>
            <th class="date-column">DATUM DELIVERY</th>
            <th>MAIN PRODUCT/SERVICE</th>
          </tr>
          </thead>
          <tbody>
          {% for delivery in followup.get_future_deliveries.all %}
            <tr>
              <td>{{ delivery.order_date|date:'d-m-Y' }}</td>
              <td>{{ delivery.product }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2" class="text-center">Er zijn geen deliveries.</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row detail-item">
      <div class="large-12 column">
        <div class="detail-item-heading">Automatische opvolging</div>
        <table class="detail-item-table">
          <thead>
          <tr>
            <th class="date-column">VERZEND DATUM</th>
            <th>ONDERWERP EMAIL</th>
          </tr>
          </thead>
          <tbody>
          {% for event in followup.events.all %}
            <tr>
              <td>{{ event.date|date:'d-m-Y' }}</td>
              <td>{{ event.subject }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2" class="text-center">Geen verzending ingepland.</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row column">
      <button name="btn-open-modal" class="button float-right" data-url="{% url 'follow_ups:followup-event-create' followup.pk %}">
        Opvolging toevoegen
      </button>
    </div>
  </div>

  {% include 'common/widgets/widget-modal.html' %}
{% endblock %}
