{% extends "admin/change_list.html" %}
{% block object-tools-items %}

    <li>
        <a href="{% url 'admin:sync_webcrm_organizations' %}" class="grp-state-focus">
            Sync Organizations
        </a>
    </li>

    {{ block.super }}

{% endblock %}
