{% extends "admin/change_form.html" %}
{% block object-tools-items %}
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_briefing_question_added_email' pk=original.pk %}" class="grp-state-focus">
            Send Briefing Question Added Notification
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_answer_added_email' pk=original.pk %}" class="grp-state-focus">
            Send Answers Added Email
        </a>
    </li>
    {{ block.super }}
{% endblock %}
