{% load planning_tags %}

<h5 class="headings table-heading">OPENSTAANDE PLANNING SPOED (1 WEEK)</h5>
<table id="immediate-delivery-table" class="delivery-overview-table table">
  <thead>
  <tr>
    <th width="200">DATUM</th>
    <th>ORGANISATIE</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for delivery in object_list|status:'PENDING'|type:'IMMEDIATE' %}
    <tr>
      <td>{{ delivery.date|date:'d-m-Y' }}</td>
      <td>{{ delivery.organization }}</td>
      <td width="400" class="text-right">
        <button class="button hollow delivery-detail-btn" data-url="{% url 'planning:planning-request-detail' delivery.planning_request.pk %}">Weergeven</button>
        <button class="button hollow delivery-delete-btn" data-url="{% url 'planning:planning-request-delete' delivery.planning_request.pk %}">Verwijderen</button>
      </td>
    </tr>
  {% empty %}
    <tr class="empty-row">
      <td colspan="3" class="text-center">
        Geen openstaande spoed planningsverzoeken
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
