{% load planning_tags %}

<h5 class="headings table-headings">OPENSTAANDE OPTIES TE BEVESTIGEN DOOR TRAINER(S)</h5>
<table id="to-be-confirmed-options-tables" class="delivery-overview-table table">
  <thead>
    <tr>
      <th width="200">DATUM</th>
      <th>ORGANISATIE</th>
      <th>OPDRACHTVERANTWOORDELIJKE</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for delivery in object_list|status:'WAITING FOR APPROVAL'|type:'OPTION' %}
    <tr>
      <td>{{ delivery.date|date:'d-m-Y' }}</td>
      <td>{{ delivery.organization }}</td>
      <td>{{ delivery.planning_request.created_by.get_full_name }}</td>
      <td width="400" class="text-right">
        <button class="button hollow delivery-detail-btn" data-url="{% url 'planning:planning-request-detail' delivery.planning_request.pk %}">Weergeven</button>
        <button class="button hollow delivery-delete-btn" data-url="{% url 'planning:planning-request-delete' delivery.planning_request.pk %}">Verwijderen</button>
      </td>
    </tr>
  {% empty %}
    <tr class="empty-row">
      <td colspan="4" class="text-center">
        Geen openstaande opties te bevestigen door trainer(s)
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
