{% load planning_tags %}

<h5 class="table-heading heading">OPENSTAANDE OPTIES</h5>
<table id="pending-options-table" class="delivery-overview-table table">
  <thead>
    <tr>
      <th width="200">DATUM</th>
      <th>ORGANISATIE</th>
      <th>OPDRACHTVERANTWOORDELIJKE</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for delivery in object_list|status:'READY'|type:'OPTION' %}
    <tr>
      <td>{{ delivery.date|date:'d-m-Y' }}</td>
      <td>{{ delivery.organization }}</td>
      <td>{{ delivery.planning_request.created_by.get_full_name }}</td>
      <td width="500" class="text-right">
        <button class="button hollow delivery-detail-btn" data-url="{% url 'planning:planning-request-detail' delivery.planning_request.pk %}">Weergeven</button>
        <form
          id="finalize-option-form"
          method="POST"
          action="{% url 'planning:finalize-pending-request' delivery.planning_request.pk %}">
          {% csrf_token %}
          <button class="button hollow" id="finalize-btn">
            Verzilveren
          </button>
        </form>
        <button class="button hollow delivery-delete-btn" data-url="{% url 'planning:planning-request-delete' delivery.planning_request.pk %}">Verwijderen</button>
      </td>
    </tr>
  {% empty %}
    <tr class="empty-row">
      <td colspan="4" class="text-center">
        Geen openstaande opties
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
