{% load static %}
{% load sass_tags %}
{% load assets %}

<!DOCTYPE html>
<html lang="en" class="grey">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Debat.NL {% endblock %}</title>

  {# BASE STYLESHEETS #}
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'backoffice/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css"  href="{% sass_src 'handouts/sass/style.sass' %}">

  {# BASE JAVASCRIPT #}
  <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/foundation.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'jquery-match-height/dist/jquery.matchHeight-min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
</head>

<body>
<div>
  <div class="page-banner">
    <img class="full-bg" src="{% static 'img/banner-presentation.jpg' %}" alt="">
  </div>
</div>

<div class="row column">
  <div id="card-container">
    <div class="columns large-12 card">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
</body>
</html>
