{% extends 'handouts/public/base.html' %}

{% block content %}
<div class="row">
  <div class="success-page-container">
    <div class="large-5 large-centered text-center">
      <span class="fa fa-send-o"></span>
      <br>
      <p>De handout wordt verzonden</p>
    </div>
  </div>
</div>
{% endblock %}
