{% extends 'handouts/public/base.html' %}

{% block content %}
<div class="row">
  <div class="download-page-container">
    <div class="large-4 large-centered text-center">
      {% with object.file.url as download_url %}
      <a href="{{ download_url }}" target="_blank" class="button debat-orange expanded">
        <i class="fa fa-download"></i>&nbsp;Download
      </a>
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}

