{% extends 'handouts/public/base.html' %}

{% block content %}
  {% if not is_valid_token %}
    <div class="expired-page-container">
      <div class="large-5 large-centered text-center">
        <span class="fi flaticon-circle-1"></span>
        <h2> Helaas!</h2>
        <hr>
        <h5> Deze pagina is inmiddels vervallen! </h5>
      </div>
    </div>
  {% else %}
    <form id="handout-update-form" method="POST">
      {% csrf_token %}

      <!-- Hidden Fields -->
      {{ form.training_date }}

      <h5>Datum training</h5>
      <div class="input-group dates-group">
        <div class="row">
          <div class="columns small-2 float-left">
            <input type="number" id="training-day" class="date-inputs" required>
            <label for="training-day">Dag</label>
          </div>

          <div class="columns small-2 float-left">
            <input type="number" id="training-month" class="date-inputs" required>
            <label for="training-month">Maand</label>
          </div>

          <div class="columns small-2 float-left">
            <input type="number" id="training-year" class="date-inputs" required>
            <label for="training-year">Jaar</label>
          </div>

          <div class="columns small-2 float-left">
            <span class="fa fa-calendar-o"></span>
          </div>
        </div>
      </div>

      <h5>Trainer(s)</h5>
      <div class="input-group trainers-group">
        <div class="row">
          <div class="columns small-6">
            <select name="trainer" id="trainer-input">
              {% for trainer in trainers %}
                <option
                  value="{{ trainer.name }}"
                  {% if trainer.name == form.instance.trainer %} selected {% endif %}>
                  {{ trainer.name }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12">
            <span>Twijfelt u over de naam van de trainer? Check dan <a href="https://debat.nl/over-debat-nl/#onze-mensen" target="_blank">www.debat.nl</a>!</span>
          </div>
        </div>
      </div>

      <div class="row button-row">
        <div class="columns small-2">
          <button
            type="submit"
            disabled
            class="button debat-orange expanded">
            Verzenden
          </button>
        </div>
      </div>
    </form>

    <script>
      $(function() {
        var $form, $dayInput, $monthInput, $yearInput, $submitBtn;
        var trainingDate = moment("{{ form.instance.training_date|date:'Y-m-d' }}");

        $form = $('#handout-update-form');
        $dayInput = $('#training-day');
        $monthInput = $('#training-month');
        $yearInput = $('#training-year');
        $submitBtn = $('button[type=submit]');

        if (trainingDate.isValid()) {
          var trainingDay = trainingDate.date();
          var trainingMonth = trainingDate.month() + 1;
          var trainingYear = trainingDate.year();

          // Prepopulate input field
          $dayInput.val(trainingDay);
          $monthInput.val(trainingMonth);
          $yearInput.val(trainingYear);
        }

        $('button[type=submit]').click(function() {
          $(this).addClass('disabled');
        });

        $form.on('change keyup', function() {
          var date, year, isDateValid;

          date = getDate();
          year = $('#training-year').val().trim();
          isDateValid = date && date.isValid() && year.length === 4;

          if (isDateValid) {
            $submitBtn.removeAttr('disabled');
            $('#id_training_date').val(date.format('YYYY-MM-DD'));
          } else {
            $submitBtn.attr('disabled', true);
          }
        });

        // Get moment date instance
        function getDate() {
          var day, month, year;

          day = parseInt($dayInput.val());
          month = parseInt($monthInput.val()) - 1;
          year = parseInt($yearInput.val());

          if (day && month && year) {
            date = moment({ year: year, month: month, day: day });
            return date;
          }
        }
      });
    </script>
  {% endif %}
{% endblock %}
