{% extends 'handouts/public/base.html' %}

{% block content %}
  {% if not is_valid_token %}
    <div class="expired-page-container">
      <div class="large-5 large-centered text-center">
        <span class="fi flaticon-circle-1"></span>
        <h2> Helaas!</h2>
        <hr>
        <h5> Deze pagina is inmiddels vervallen! </h5>
      </div>
    </div>
  {% else %}
    <h4>Kies waar u meer over wilt weten:</h4>
    <form method="POST" id="page-selection-form">
      {% csrf_token %}
      <input type="hidden" name="form-TOTAL_FORMS" value="{{ pages.count }}">
      <input type="hidden" name="form-INITIAL_FORMS" value="0">
      <input type="hidden" name="form-MAX_NUM_FORMS" value="1000">

      <div class="row clearfix">
        {% for page in pages %}
          <div class="columns large-4 item float-left">
            <input
              type="hidden"
              name="form-{{ forloop.counter0 }}-page_id"
              value="{{ page.id }}">
            <div class="checkbox">
              <input
                type="checkbox"
                id="id_form-{{ forloop.counter0 }}-is_selected"
                name="form-{{ forloop.counter0 }}-is_selected">
              <label
                for="id_form-{{ forloop.counter0 }}-is_selected"
                class="check-label">
                <span class="check-label-box"></span>
                <span class="check-label-text">{{ page.label }}</span>
              </label>
            </div>
            <label
              for="id_form-{{ forloop.counter0 }}-is_selected"
              class="preview">
              <img src="{{ page.preview.url }}">
            </label>
          </div>
        {% endfor %}
      </div>

      <div class="form-group text-center">
        <button type="submit" class="button debat-orange" id="submit-btn" disabled>Aanmaken
        </button>
      </div>
    </form>

    <script>
      $(function() {
        $('.item').matchHeight();

        $('#page-selection-form').on('change', function() {
          var isValid = false;
          $(this).find(':input[type=checkbox]').each(function() {
            if($(this).is(':checked')) isValid = true;
          });
          isValid ? $('#submit-btn').removeAttr('disabled')
            : $('#submit-btn').attr('disabled', true);
        });

        $('#submit-btn').click(function() {
          $(this).addClass('disabled');
        });
      });
    </script>
  {% endif %}
{% endblock %}
