{% extends 'handouts/public/base.html' %}

{% block content %}
  <div class="expired-page-container">
    <div class="large-5 large-centered text-center">
      <span class="fi flaticon-circle-1"></span>
      <h2> Helaas!</h2>
      <hr>
      <h5> Deze pagina is inmiddels vervallen! </h5>
    </div>
  </div>
{% endblock %}
