{% extends 'handouts/public/base.html' %}

{% block content %}
  {% if not is_valid_token %}
    <div class="expired-page-container">
      <div class="large-5 large-centered text-center">
        <span class="fi flaticon-circle-1"></span>
        <h2> Helaas!</h2>
        <hr>
        <h5> Deze pagina is inmiddels vervallen! </h5>
      </div>
    </div>
  {% elif handout_requests.count == 0 %}
    <div class="expired-page-container">
      <div class="large-5 large-centered text-center">
        <span class="fi flaticon-circle-1"></span>
        <h2> Niet meer nodig!</h2>
        <hr>
        <h5> Alle items zijn al verwerkt! </h5>
      </div>
    </div>
  {% else %}
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="token" value="{{ token }}">
      <table id="training-selection-table">
        <thead>
        <tr>
          <td>Naam deelnemer</td>
          <td>Datum training </td>
          <td>Tijdstip inzending feedbackformulier</td>
          <td>Handout</td>
        </tr>
        </thead>
        <tbody>
        {% for handout_request in handout_requests %}
          <tr>
            <td>{{ handout_request.trainee_name }}</td>
            <td>{{ handout_request.training_date|date:'d-m-Y' }}</td>
            <td>{{ handout_request.submitted_at|date:'d-m-Y H:m' }}</td>
            <td>
              {% for training in trainings %}
                <div class="radio">
                  <input
                    type="radio"
                    id="training-{{ handout_request.id }}-{{ training.id }}"
                    name="handout-{{ handout_request.id }}"
                    value="{{ training.id }}"
                  />
                  <label for="training-{{ handout_request.id }}-{{ training.id }}" class="text-capitalize">
                    <span>{{ training.name|lower }}</span>
                  </label>
                </div>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <div class="form-group text-center">
        <button type="submit" class="button debat-orange" id="submit-btn">Handout aanmaken</button>
      </div>
    </form>
  {% endif %}
{% endblock %}
