{% extends 'handouts/public/base.html' %}

{% block content %}
<div class="row">
  <div class="success-page-container">
    <div class="large-5 large-centered text-center">
      <span class="fa fa-send-o"></span>
      <p>Bedankt voor het doorgeven!</p>
      <p>Als de gegevens juist zijn ontvangt u snel een mail van ons met de handout</p>
    </div>
  </div>
</div>
{% endblock %}
