{% load static %}
{% load sass_tags %}
{% load assets %}

<!DOCTYPE html>
<html lang="en" class="grey">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Debat.NL {% endblock %}</title>

  {# BASE STYLESHEETS #}
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'backoffice/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css"  href="{% sass_src 'ccd/sass/style.sass' %}">

  {# BASE JAVASCRIPT #}
  <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/foundation.min.js' %}"></script>
  {% block custom-javascript %}{% endblock %}
</head>

<body>
<div class="public-menu">
  <div class="row column">
    <div class="logo-container">
      <img src="{% static 'img/logo.png' %}">
    </div>
  </div>
</div>

<div class="row column">
  <div class="page-banner">
    <img class="full-bg" src="{% static 'img/banner-presentation.jpg' %}" alt="">
  </div>
</div>

<div class="row column">
  {% block content %}{% endblock %}
</div>
</body>
</html>
