{% extends 'ccd/public/base.html' %}

{% block content %}
  <div class="expired-page-container">
    <div class="large-6 large-centered text-center">
      <span class="fi flaticon-circle-1"></span>
      <h5> We vinden privacy van onze opdrachtgevers belangrijk. <br>Daarom is deze pagina vervallen.</h5>
    </div>
  </div>
{% endblock %}
