{% extends 'ccd/public/base.html' %}

{% block content %}
  <div id="deliverable-container" class="card">
    <div class="large-8 large-centered text-center">
      <p class="table-label">Wat heb je allemaal gedaan?</p>
      <table id="deliverable-table">
        <thead>
        <tr>
          <th width="150">DATUM</th>
          <th>ORGANISATIE</th>
          <th>TRAINING</th>
          <th>OMSCHRIJVING</th>
        </tr>
        </thead>
        <tbody>
          {% for deliverable in object.person.get_monthly_ccd_deliveries.all %}
            <tr>
              <td>{{ deliverable.order_date|date:'d-m-Y' }}</td>
              <td>{{ deliverable.organization }}</td>
              <td>{{ deliverable.product }}</td>
              <td>{{ deliverable.description }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2" class="empty-row">Er zijn nog geen deliverables.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
