<table>
    <thead>
    <tr class="table-row">
        <td>SOORT TRAINING</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for training in trainings %}
        <tr>
            <td>{{ training.name }}</td>
            <td class="options-column text-right">
                <a name="btn-open-modal" class="edit-button" data-url="{% url 'configuration:training-update' training.pk %}">
                    <span class="fi flaticon-pencil"></span>
                </a>
                <a name="btn-open-modal" class="remove-button" data-url="{% url 'configuration:training-delete' training.pk %}">
                    <span class="fi flaticon-close-button"></span>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td class="text-center" colspan="2">Er zijn geen training soorten.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
