{% extends 'intakes/public/base.html' %}

{% block content %}
    <div class="expired-page-container">
        <div class="large-5 large-centered text-center">
            <span class="fi flaticon-circle-1"></span>
            <h2> Helaas!</h2>
            <hr>
            <h5> We respecteren de privacy van onze deelnemers. Daarom is deze link niet meer geldig.</h5>
        </div>
    </div>
{% endblock %}