{% extends 'common/public/base.html' %}

{% load static %}

{% block content %}
  {% if submitted_status == 'UPDATED' and object.status == object.APPROVED %}
    <div class="row">
      <div class="success-page-container">
        <div class="large-5 large-centered text-center">
          <span class="fi flaticon-check"></span>
          <h5> Dank voor het doorgeven. </h5>
        </div>
      </div>
    </div>
  {% elif submitted_status == 'UPDATED' and object.status == object.DENIED %}
    <div class="row">
      <div class="success-page-container">
        <div class="large-5 large-centered text-center">
          <span class="fi flaticon-check"></span>
          <h5> Dank voor het doorgeven. </h5>
        </div>
      </div>
    </div>
  {% elif submitted_status == object.DENIED and object.status == object.PENDING %}
    <div class="row column" id="vacation-period-approve-container">
      <div class="large-offset-3 large-6">
        <h6 class="card-labels">Waarom is deze niet akkoord?</h6>
        <form method="POST" id="vacation-period-approve-form" action="{% url 'schedules:vacation-approval' object.pk %}?status={{ submitted_status }}">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ object.pk }}">
          <input type="hidden" name="status" value="{{ submitted_status }}">

          <div class="row column">
            <textarea name="reason" rows="10" title required></textarea>
          </div>

          <div class="row">
            <div class="large-offset-8 large-4 column">
              <button type="submit" class="small expanded debat-orange button">Verzenden</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="success-page-container">
        <div class="large-5 large-centered text-center">
          <span class="fi flaticon-circle-1"></span>
          <h5> Dit is al een keer doorgeven. </h5>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
