 <td colspan="{{ columns }}">
    <div class="detail">
        <h5>Offerteverantwoordelijke</h5>
        {{ offer.editor.first_name }} {{ offer.editor.last_name }}
    </div>
    <div class="detail">
        <h5>Is deze offerte via een website-aanvraag, informatieverzoek via Phonecare of Springest-lead binnen gekomen?</h5>
        {% if offer.type == offer.TYPE_PHONECARE_SPRINGEST %} Ja {% else %} Nee {% endif %}
    </div>
    <div class="detail">
        <h5>Contactpersoon</h5>
        {{ offer.contact_person }}
    </div>
    <div class="detail">
        <h5>Titel boven de foto</h5>
        {{ offer.title|default:'--' }}
    </div>
    <div class="detail">
        <h5>Welke foto moet er gebruikt worden? </h5>
        {% if not offer.photo %}
            Foto opdrachtgever
        {% else %}
            In de bijlage van de e-mail
        {% endif %}
    </div>
    <div class="detail">
        <h5>Delivery responsible e-mail</h5>
        {{ offer.delivery_responsible_email }}
    </div>
    <div class="detail">
        <h5>Achtergrond van de vraag</h5>
        <pre>{{ offer.question_background }}</pre>
    </div>
    <div class="detail">
        <h5>Opbouw programma</h5>
        <pre>{{ offer.program_structure }}</pre>
    </div>
    <div class="detail">
        <h5> Wordt er specifieke trainers voorgesteld? </h5>
        {{ offer.is_trainer_proposed|yesno:"Ja,Nee,--"  }}
    </div>

    {% if offer.is_trainer_proposed %}
        <div class="detail">
            <h5> Wordt er specifieke trainers voorgesteld? </h5>
            <ul>
                {% for trainer in offer.trainers.all %}
                    <li> {{ trainer.first_name }} {{ trainer.last_name }} </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="investment-details">
        <h5>Investeringsomvang</h5>

        {% for investment in offer.investments.all %}
            <div class="detail">
                <h5>Onderdeel {{ forloop.counter }} </h5>
                <pre>{{ investment.subject }}</pre>
            </div>
            <div class="detail">
                <h5>Investering onderdeel {{ forloop.counter }} </h5>
                <pre>{{ investment.range }}</pre>
            </div>
        {% endfor %}
    </div>
</td>
