{% extends "admin/change_form.html" %}
{% block object-tools-items %}
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_ccd_notification' pk=original.pk %}" class="grp-state-focus">
        Send CCD Notification Email
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_purchase_order' pk=original.pk %}" class="grp-state-focus">
        Send Purchase Order Email
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
  {{ block.super }}
{% endblock %}
