{% extends 'common/emails/base.html' %}

{% block content %}
<div
  style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
  <div
    style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
    <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
  </div>
  <div
    style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
    <p style="margin: 0;font-size: 14px;line-height: 17px">De deadline voor het invoeren van de declaratie was gisteren. Helaas hebben we geen declaratie
    van je ontvangen. Dien deze vandaag nog in zodat we je salaris kunnen uitbetalen. Je kunt dit in Olaf doen via het salaris-item declaratie.</p>
  </div>
</div>
{% endblock %}
