@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

/** SECTION: OVERVIEW AVERAGE REVIEW SCORE **/

.monthly-score-container
  background-color: #FFFFFF
  padding: 1.4rem 1.8rem

  .monthly-score-header
    font-weight: 500

  .monthly-score-content
    display: flex
    width: 100%
    padding-top: 0.5rem
    padding-bottom: 2rem

  .stats-container
    text-align: center
    width: 22rem
    display: inline-flex
    flex-direction: column
    justify-content: center

    #average-score
      font-size: 4.4rem

    .description
      font-size: 0.9rem
      color: $debat-grey

    #amount-submissions
      color: $debat-orange

  .graph-container
    color: $debat-grey
    width: 100%
    padding-left: 3rem

    .category
      font-size: 0.9rem
      line-height: 2rem
      display: flex
      align-content: center

      span.fi
        font-size: 0.8rem

      .name
        display: inline-block
        text-align: center
        width: 2.5rem
        flex-shrink: 0

      .line
        display: inline-block
        min-width: 1%
        background-color: $debat-orange
        height: 0.35rem
        margin-top: 0.83rem
        margin-right: 1rem
        margin-left: 1rem
        transition: width 1s

.filter-container
  margin-bottom: 1.2rem


/** SECTION: FEEDBACK **/

section#tables-feedback
  padding-top: 2rem

  // PAGE HEADER

  h4
    font-size: 1rem
    font-weight: 500
    font-family: $montserrat

  // FEEDBACK TABLE

  table
    border-collapse: collapse
    margin-bottom: 2.5rem

    thead
      background-color: #FFFFFF
      border: none

      tr.information-row
        padding: 2rem 0

        td
          font-size: 1.1rem
          font-weight: 500

          &:first-child
            width: 25%

          &:last-child
            width: 325px
            text-align: right
            font-weight: 400

            .button
              margin: 0
              line-height: 0

              &.disabled
                background-color: $debat-orange

                &.success
                  background-color: $debat-green

        span.fi
          font-size: 1.4rem
          color: $debat-orange
          margin-right: 1.5rem

        .feedback-average-score
          font-size: 0.9rem
          font-weight: 500

          span
            margin-left: 1.5rem
            font-size: 1.1rem
            font-weight: 700

      tr.table-row
        td
          font-weight: 400
          padding-bottom: 1.3rem
          padding-top: 1rem
          border-bottom: solid 1px $debat-light-grey

    tbody
      border: none

    tr:nth-child(even)
      background-color: #FFFFFF

    td
      padding: 1.5rem 2.5rem
      font-size: 0.9rem
      vertical-align: top

      &.score
        width: 2rem


#card-container
  position: relative
  top: -160px

  .card
    min-height: 800px
    padding: 80px 40px 40px 40px

    p
      color: $debat-blue
      font-size: 20px
      font-weight: 400
      margin-bottom: 0
