<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row">
  {% if object %}
    <h4 class="column">CHALLENGE BEWERKEN</h4>
  {% else %}
    <h4 class="column">NIEUWE CHALLENGE TOEVOEGEN</h4>
  {% endif %}
</div>

<form action="{{ request.path }}" method="POST" id="challenge-form" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- Title -->
  <div class="form-group row">
    <div class="large-8 column">
      {{ form.title.errors }}
      {{ form.title.label_tag }}
      {{ form.title }}
    </div>
  </div>

  <!-- Order -->
  <div class="form-group row">
    <div class="large-8 column">
      {{ form.order.errors }}
      {{ form.order.label_tag }}
      {{ form.order }}
    </div>
  </div>

  <!-- Video Upload Widget -->

  {% with label='Upload filmpje' file_name=form.initial.video_name file_size=form.initial.video_size %}
    {% include 'common/widgets/widget-file-upload-field.html' %}
  {% endwith %}

  <!-- Description -->
  <div class="form-group row">
    <div class="large-12 column">
      {{ form.description.errors }}
      {{ form.description.label_tag }}
      {{ form.description }}
    </div>
  </div>

  <div class="row button-row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button class="debat-orange button" type="submit" id="submit-btn" disabled>Opslaan</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function(){
    var $descriptionInput = $('#id_description');

    // TinyMCE
    tinymce.remove();
    tinymce.init({
      selector: '#id_description',
      menubar: false,
      statusbar: false,
      toolbar: [
        'undo redo | styleselect | bold italic | alignleft  aligncenter alignright'
      ],
      max_chars: 200, // max. allowed chars
      setup: function (ed) {
        var allowedKeys = [8, 37, 38, 39, 40, 46]; // backspace, delete and cursor keys
        ed.on('keydown', function (e) {
          if (allowedKeys.indexOf(e.keyCode) != -1) return true;
          if (tinymce_getContentLength() + 1 > this.settings.max_chars) {
            e.preventDefault();
            e.stopPropagation();
            return false;
          }
          return true;
        });
        ed.on('keyup', function (e) {
          tinymce_updateCharCounter(this, tinymce_getContentLength());
        });
      },
      init_instance_callback: function () { // initialize counter div
        $('#' + this.id).prev().append('<div class="char_count" style="text-align:right"></div>');
        tinymce_updateCharCounter(this, tinymce_getContentLength());
      },
      paste_preprocess: function (plugin, args) {
        var editor = tinymce.get(tinymce.activeEditor.id);
        var len = editor.contentDocument.body.innerText.length;
        var text = $(args.content).text();
        if (len + text.length > editor.settings.max_chars) {
          alert('Pasting this exceeds the maximum allowed number of ' + editor.settings.max_chars + ' characters.');
          args.content = '';
        } else {
          tinymce_updateCharCounter(editor, len + text.length);
        }
      },
      init_instance_callback: function (editor) {
        // Initialize with old value
        editor.setContent('{{ object.description|default_if_none:''|safe }}');
        $descriptionInput.val(editor.getContent().trim());

        // Update HTML5 textarea field on each keypress
        editor.on('keyUp change', function (e) {
          var content = editor.getContent().trim();
          $descriptionInput.val(content).trigger('change');
        });
      },
    });

    function tinymce_updateCharCounter(el, len) {
      $('#' + el.id).prev().find('.char_count').text(len + '/' + el.settings.max_chars);
    }

    function tinymce_getContentLength() {
      return tinymce.get(tinymce.activeEditor.id).contentDocument.body.innerText.length;
    }

    // Validate form & conditionally display submit button
    $('#challenge-form').on('change keyup', function(){
      var isValid = true;
      $(this).find(':input[required]').each(function(){
        $(this).val().trim() === '' ? isValid = false : null;
      });
      isValid ? $('#submit-btn').removeAttr('disabled')
        : $('#submit-btn').attr('disabled', true);
    });
  });
</script>
