<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<form method="POST" action="{{ request.path }}" class="delete-form">
  {% csrf_token %}
  <div class="row column">
    <div class="modal-body">
      <div>{{ warning_message }}</div>
    </div>
  </div>

  <div class="row button-row">
    <div class="large-offset-4 large-8 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="submit" class="debat-orange button">OK</button>
      </div>
    </div>
  </div>
</form>
