<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<section id="feedback-form-container">
  <div class="row">
    <h4 class="column">CHALLENGE BEKIJKEN</h4>
  </div>

  <form action="{{ request.path }}" method="POST" id="challenge-submission-form">

    {% csrf_token %}

    <!-- Challenge Title -->
    <div class="form-group row">
      <div class="column large-8 card">
        <div class="card-title">
          Titel Challenge
          {% if object.feedback %}
            &nbsp; <i class="fa fa-check check-icon text-success"></i>
          {% endif %}
        </div>
        <div class="card-body">{{ object.challenge_title }}</div>
      </div>
    </div>

    <!-- Challenge Submission Video -->
    <div class="form-group row">
      <div class="column large-10">
        <label>Video Challenge</label>
        <div id="submission-video" data-vimeo-url="{{ object.video_url }}"></div>

        {% if not object.video_url %}
          <div class="card">
            <div class="card-body">Er is geen video</div>
          </div>
        {% endif %}
      </div>
    </div>

    <!-- Challenge Description -->
    <div class="form-group row">
      <div class="column large-10 card">
        <div class="card-title">Omschrijving challenge</div>
        <div class="card-body">
          {{ challenge.description|safe }}
        </div>
      </div>
    </div>

    <!-- Challenge Score -->
    <div class="form-group row">
      <div class="large-10 column">
        {{ form.challenge_score.errors }}
        {{ form.challenge_score.label_tag }}
        {{ form.challenge_score }}
      </div>
    </div>

    <!-- Feedback -->
    <div class="form-group row">
      <div class="large-12 column">
        {{ form.feedback.errors }}
        {{ form.feedback.label_tag }}
        {{ form.feedback }}
      </div>
    </div>

    <div class="row button-row">
      <div class="large-offset-8 large-4 column">
        <div class="small expanded button-group">
          <button class="debat-orange button" type="submit" id="submit-btn" disabled>Opslaan</button>
        </div>
      </div>
    </div>
  </form>
</section>

<script>
  $(function(){
    var $feedbackInput = $('#id_feedback');
    tinymce.remove();
    tinymce.init({
      selector: '#id_feedback',
      menubar: false,
      statusbar: false,
      toolbar: [
        'undo redo | styleselect | bold italic | alignleft  aligncenter alignright'
      ],
      init_instance_callback: function (editor) {
        // Initialize with old value
        editor.setContent('{{ object.feedback|default_if_none:''|safe }}');
        $feedbackInput.val(editor.getContent().trim());

        // Update HTML5 textarea field on each keypress
        editor.on('keyUp change', function (e) {
          var content = editor.getContent().trim();
          $feedbackInput.val(content).trigger('change');
        });
      },
    });

    // Validate form & conditionally display submit button
    $('#challenge-submission-form').on('change keyup', function(){
      var isValid = true;
      $(this).find(':input[required]').each(function(){
        $(this).val().trim() === '' ? isValid = false : null;
      });

      isValid ? $('#submit-btn').removeAttr('disabled')
        : $('#submit-btn').attr('disabled', true);
    });

    {% if object.video_url %}
      // Vimeo Player
      new Vimeo.Player('submission-video', {loop: false, responsive: true});
    {% endif %}
  });
</script>
