<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row">
  {% if object %}
  <h4 class="column">ORGANISATIE BEWERKEN</h4>
  {% else %}
  <h4 class="column">NIEUWE ORGANISATIE TOEVOEGEN</h4>
  {% endif %}

  <form action="{{ request.path }}" method="POST" id="organization-form">
    {% csrf_token %}

    <div class="large-8 column">
      {{ form }}
    </div>
    <div class="row button-row">
      <div class="large-offset-6 large-6 column">
        <div class="small expanded button-group">
          <button type="button" class="debat-blue button" data-close>Annuleren</button>
          <button class="debat-orange button" type="submit" id="submit-btn" disabled>Opslaan</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  $(function(){
    // Validate form & conditionally display submit button
    $('#organization-form').on('change keyup', function(){
      var isValid = true;

      // Check if all required fields are filled
      $(this).find(':input[required]').each(function(){
        $(this).val().trim() === '' ? isValid = false : null;
      });

      isValid ? $('#submit-btn').removeAttr('disabled')
              : $('#submit-btn').attr('disabled', true);
    });
  });
</script>

