<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<section id="participant-modal-body">
  <div class="row">
    <h4 class="column">PROGRESSIE CHALLENGES</h4>
  </div>

  <div class="form-group row">
    <div class="column large-8">
      <label>Naam deelnemer</label>
      <input type="text" value="{{ object.first_name|title }} {{ object.last_name|title }}" disabled readonly>
    </div>
  </div>

  <div class="form-group row">
    <div class="column large-8">
      <label>Mailadres deelnemer</label>
      <input type="email" value="{{ object.email }}" disabled readonly>
    </div>
  </div>

  <div class="form-group row">
    <div class="column large-12">
      <label>Challenge</label>
      <table class="table table-outline" id="challenge-submission-table">
        <thead>
          <tr>
            <th class="text-left" width="300">TITLE</th>
            <th class="text-center">AFGROND</th>
            <th class="text-center">FEEDBACK</th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
        {% for submission in submission_list %}
          <tr>
            <td class="text-left">{{ submission.challenge_title }}</td>
            <td class="text-center">
              {% if submission.video_url %}
                <i class="fa fa-check text-success"></i>
              {% else %}
                <i class="fa fa-times text-danger"></i>
              {% endif %}
            </td>
            <td class="text-center">
              {% if submission.feedback %}
                <i class="fa fa-check text-success"></i>
              {% else %}
                <i class="fa fa-times text-danger"></i>
              {% endif %}
            </td>
            <td class="text-center">
              <a name="btn-open-feedback-modal" class="button small hollow" data-url="{% url 'debatnl_mobile:submission-update' training_id submission.id %}">Bekijken</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4" class="text-center">Er zijn geen challenges.</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row button-row">
    <div class="large-offset-8 large-4 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Terug</button>
      </div>
    </div>
  </div>
</section>

<!-- Common Modal Widget -->
{% include 'common/widgets/widget-modal.html' with id='feedback-modal' button_name='btn-open-feedback-modal' %}
