<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row">
  {% if object %}
  <h4 class="column">TRAINING BEWERKEN</h4>
  {% else %}
  <h4 class="column">NIEUWE TRAINING TOEVOEGEN</h4>
  {% endif %}

  <form action="{{ request.path }}" method="POST" id="training-form">
    {% csrf_token %}

    <!-- Date Input Hidden Field -->
    <input type="hidden" name="date" id="alt-date" value="{{ form.date.value }}" required>

    <div class="large-8 column">
      {{ form.name.errors }}
      {{ form.name.label_tag }}
      {{ form.name }}

      {{ form.date.errors }}
      {{ form.date.label_tag }}
      <input type="text" id="id_date" autocomplete="off" required>

      {{ form.trainer.errors }}
      {{ form.trainer.label_tag }}
      {{ form.trainer }}
    </div>
    <div class="row button-row">
      <div class="large-offset-6 large-6 column">
        <div class="small expanded button-group">
          <button type="button" class="debat-blue button" data-close>Annuleren</button>
          <button class="debat-orange button" type="submit" id="submit-btn" disabled>Opslaan</button>
        </div>
      </div>
  </div>
  </form>
</div>

<script>
  $(function(){
    // Initialize date pickers
    $.datepicker.setDefaults(
        $.extend(
            $.datepicker.regional['nl']
        )
    );
    $('#id_date').datepicker({
        dateFormat: 'dd/mm/yy',
        altFormat: 'yy-mm-dd',
        altField: '#alt-date'
    });

    // Initialize `date` input with the right date format
    var date = moment('{{ form.date.value }}');
    if (date.isValid()) {
      $('#id_date').val(date.format('DD/MM/YYYY'));
    }

    // Validate form & conditionally display submit button
    $('#training-form').on('change keyup', function(){
      var isValid = true;
      $(this).find(':input[required]').each(function(){
        $(this).val().trim() === '' ? isValid = false : null;
      });
      isValid ? $('#submit-btn').removeAttr('disabled')
              : $('#submit-btn').attr('disabled', true);
    });
  });
</script>
