<div class="detail">
    <h5>JOTform ID</h5>
    {{ intake.form.id|default_if_none:'--' }}
</div>

<div class="detail">
    <h5>Rapportage naar klant</h5>
    {{ intake.report_date|date:'d-m-Y'|default:'--' }}
</div>

<div class="detail">
    <h5>Hoeveel inzendingen per vraag</h5>
    {{ intake.report_submission_amount|default_if_none:'--' }}
</div>

<div class="detail">
    <h5>Welke vragen in de rapportage</h5>
    <ul>
        {% for q in intake.report_questions.all %}
            <li> {{ q.get_question.text }} </li>
        {% empty %}
            <li>--</li>
        {% endfor %}
    </ul>
</div>

<div class="detail">
    <h5>Reminders naar de klant</h5>
    <ul>
        {% for r in intake.reminders.all %}
            <li>{{ r.date|date:"d-m-Y" }}</li>
        {% empty %}
            <li>--</li>
        {% endfor %}
    </ul>
</div>

<div class="detail">
    <h5>E-mail contactpersoon klant</h5>
    {{ intake.cp_email|default_if_none:'--'}}
</div>

<div class="detail">
    <h5>Trainers</h5>
    <ul>
        {% for trainer in intake.trainers.all %}
            <li> {{ trainer.get_full_name }} </li>
        {% empty %}
            <li>--</li>
        {% endfor %}
    </ul>
</div>
