<div class="tabs-panel" id="leave-panel">
  <table>
    <thead>
    <tr>
      <td>DATUM VAN</td>
      <td>DATUM T/M</td>
      <td>AANTAL UUR</td>
      <td>SOORT VERLOF</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    {% for absence in absences|default:object.absence_entries.all %}
      <tr>
        <td>{{ absence.start_date|date:'d-m' }}</td>
        <td>{{ absence.end_date|date:'d-m' }}</td>
        <td>{{ absence.amount_hours }}</td>
        <td>{% if absence.type == absence.PAID %} Betaald {% else %} Onbetaald {% endif %}</td>
        <td>
          <i class="fa fa-check-circle"></i>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5" class="text-center">Er zijn geen verlofuren.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
