<div class="tabs-panel" id="cost-panel">
  {% if not readonly %}
    <div class="row column">
      <button type="button" class="button" data-open="modal-expenses">
        <i class="fa fa-plus"></i> Voeg onkosten/bonussen toe
      </button>
    </div>
  {% endif %}

  <div id="container-allowance">
    {% include 'declarations/allowance_list.html' with object_list=object.expenses.allowances %}
  </div>

  <div id="container-expense">
    {% include 'declarations/expense_list.html' with object_list=object.expenses.non_allowances %}
  </div>

  <div id="container-employee-bonus">
    {% include 'declarations/employeebonus_list.html' with object_list=object.employee_bonuses %}
  </div>

  <div id="container-client-bonus">
    {% include 'declarations/clientbonus_list.html' with object_list=object.client_bonuses %}
  </div>
</div>

{% if not readonly %}
  {% include 'declarations/components/modals/modal-expenses-bonuses.html' %}

  <script>
    $(function() {
      $('#container-expense').on('change', calculateTotalCosts);
      $('#container-allowance').on('change', calculateAllowanceCosts);
      $('#container-employee-bonus').on('change', calculateTotalBonuses);
      $('#container-client-bonus').on('change', calculateTotalBonuses);

      function calculateTotalCosts() {
        var totalCosts = 0;
        $('#table-expense .amount').each(function(_, jQobj) {
          var value = $(jQobj).data('value');
          value = (isNaN(value)) ? 0 : parseFloat(value);
          totalCosts += value;
        });
        totalCosts += getTotalAllowanceCosts();
        $('#total-costs').val('€ ' + totalCosts.toFixed(2).replace('.', ','));
       }

      function calculateAllowanceCosts() {
        var totalCosts = getTotalAllowanceCosts();
        calculateTotalCosts();
        $('#total-allowances').val('€ ' + totalCosts.toFixed(2).replace('.', ','));
      }

      function getTotalAllowanceCosts() {
        var totalCosts = 0;
        var allowanceIds = [];
        $('#table-allowance .amount').each(function (_, jQobj) {
          var id = $(jQobj).data('allowance-id');
          if (allowanceIds.indexOf(id) < 0) {
            var value = $(jQobj).data('value');
            value = (isNaN(value)) ? 0 : parseFloat(value);
            totalCosts += value;
            allowanceIds.push(id);
          }
        });
        return totalCosts;
      }

      function calculateTotalBonuses() {
        var totalBonuses = 0;
        $('#table-employee-bonus .amount').each(function(_, jQobj) {
          var value = $(jQobj).data('value');
          value = (isNaN(value)) ? 0 : parseFloat(value);
          totalBonuses += value;
        });

        $('#table-client-bonus .amount').each(function(_, jQobj) {
          var value = $(jQobj).data('value');
          value = (isNaN(value)) ? 0 : parseFloat(value);
          totalBonuses += value;
        });

        $('#total-bonuses').val('€ ' + totalBonuses.toFixed(2).replace('.', ','));
      }
    })
  </script>
{% endif %}
