<div class="tabs-panel" id="internal-meeting-panel">
  <section id="internal_meeting_formset">
    {% if readonly %}
      {% for item in object.internal_meetings.all %}
        {% include 'declarations/components/forms/form-internal-meetings.html' with item=item index=forloop.counter %}

      {% empty %}
        <br>
        <p class="text-center">Er zijn geen sales- en/of interne meetings om te declareren.</p>
      {% endfor %}
      <br>
    {% else %}
      {{ internal_meeting_formset.management_form }}

      {% for inline_form in internal_meeting_formset %}
        {% include 'declarations/components/forms/form-internal-meetings.html' with inline_form=inline_form index=forloop.counter %}
      {% endfor %}
    {% endif %}
  </section>

  {% if not readonly %}
    <div id="internal_meetings_empty_form" class="hide">
      {% include 'declarations/components/forms/form-internal-meetings.html' with inline_form=internal_meeting_formset.empty_form index='__suffix__' %}
    </div>

    <div class="row column text-center">
      <button type="button" id="btn-add-internal-meeting-form" class="button">
        <i class="fa fa-plus"></i> Nieuwe sales- en interne meeting toevoegen
      </button>
    </div>
 {% endif %}
</div>

{% if not readonly %}
  <script>
    $(function () {
      var modal = $('#modal-travel-expense');
      var initialInternalMeetingTotalHours = 0;
      var initialInternalMeetingTravelCosts = 0;

      $("#btn-add-internal-meeting-form").on("click", addForm);

      initForms();
      initTravelExpenseModalButtons();
      initOnChangeTotalHours();
      initOnChangeTotalTravelCosts();

      {% for inline_form in internal_meeting_formset %}
        initDatepicker("#{{ inline_form.date.id_for_label }}-field", "#{{ inline_form.date.id_for_label }}");

          {% if inline_form.instance %}
            $("#{{ inline_form.date.id_for_label }}-field").datepicker('setDate', $("#{{ inline_form.date.id_for_label }}").val());
          {% endif %}
      {% endfor %}

      function initForms() {
        var $deleteButtons = $("[name='btn-delete-form']");
        $deleteButtons.off();
        $deleteButtons.on("click", removeForm);
      }

      function addForm() {
        var $totalForms = $('#id_internal_meetings-TOTAL_FORMS');
        var index = $totalForms.val();
        var totalAmount = parseInt(index) + 1;
        var clone = $('#internal_meetings_empty_form').html()
            .replace(/__prefix__/g, index)
            .replace(/__suffix__/g, totalAmount);
        $('#internal_meeting_formset').append(clone);
        $totalForms.val(totalAmount);
        $totalForms.trigger('change');
        initForms();
        renameForms();

        var fieldId = "#id_internal_meetings-" + index + "-date";
        initDatepicker(fieldId + "-field", fieldId );
        initTravelExpenseModalButtons();
      }

      function removeForm() {
        var parent = $(this).parents(".form-container").first();
        var checkbox = parent.find("input[id$=DELETE]").first();
        var modal = parent.find('[id^=modal-delete-]').first();
        modal.foundation('close');
        parent.addClass('hide');
        checkbox.prop('checked', true);
        renameForms();
        $('#id_external_meetings-TOTAL_FORMS').trigger('change');
      }

      function renameForms() {
        var $forms = $("#internal_meeting_formset .form-container").not(".hide");
        for (var i = 0; i < $forms.length; i++) {
          var form = $($forms[i]);
          var $title = form.find('.form-title').first();
          $title.text('SALES- EN INTERNE MEETING (' + (i + 1) + ')');
        }
      }

      function initDatepicker(fieldId, altField) {
        var dateField = $(fieldId);
        dateField.datepicker({
            dateFormat: 'dd-mm-yy',
            altFormat: 'yy-mm-dd',
            altField: altField,
            beforeShow: function(textbox, instance) {
                var containers = $(textbox).parent().find('.date-picker-container');
                if (containers.length > 0) {
                    var container = containers[0];
                    $('#ui-datepicker-div').detach().appendTo(container);
                }
            }
        });
      }

      function initTravelExpenseModalButtons() {
        var buttonSelector = '[name=btn-open-modal-travel-expense-internal]';
        $(buttonSelector).off('click');
        $(buttonSelector).click(function () {
          var btn = this;
          var prefix = $(btn).data('prefix');
          var date = $('[name="' + prefix + '-date"]').val();
          var url = $(btn).data('url');
          if (prefix) { url = url  + '&date=' + date; }
          var buttonText = $(btn).text();
          var loaderIcon = "<i class='fa fa-refresh fa-spin'></i>";

          if ($(btn).hasClass('with-loader')) {
            $(btn).html(buttonText + loaderIcon);
          }

          $.get(url, function(data) {
            modal.html(data);
            modal.foundation('open');
            $(btn).html(buttonText);
          });
        });
      }

      function initOnChangeTotalHours() {
        var $fields = $('[id$=total_declarable_hours-display]');

        $fields.each(function (_, jQobj) {
          var isDeleted = $(jQobj).parents('.form-container').hasClass('hide');
          if (!isDeleted) {
            var value = $(jQobj).data('value');
            value = (isNaN(value)) ? 0 : parseFloat(value);
            initialInternalMeetingTotalHours += value;
          }
        });

        $fields.on('change keyup', calculateTotalHours);

        $('#id_{{ internal_meeting_formset.prefix }}-TOTAL_FORMS').on('change', function () {
          $('[id$=total_declarable_hours-display]').off('change').on('change', calculateTotalHours);
          calculateTotalHours();
        });
      }

      function calculateTotalHours() {
        var totalHours = initialTotalHours - initialInternalMeetingTotalHours;
        $('[id$=total_declarable_hours-display]').each(function(_, jQobj) {
          var isDeleted = $(jQobj).parents('.form-container').hasClass('hide');
          if (!isDeleted) {
            var value = $(jQobj).data('value');
            value = (isNaN(value)) ? 0 : parseFloat(value);
            totalHours += value;
          }
        });

        $('#total-amount-hours').val(totalHours.toFixed(2).replace('.', ','));
      }

      function initOnChangeTotalTravelCosts() {
        var $fields = $('[id$=distance-display]');
        $fields.on('change', calculateTotalTravelCosts);

        $fields.each(function(_, jQobj) {
          var isDeleted = $(jQobj).parents('.form-container').hasClass('hide');
          if (!isDeleted) {
            var value = $(jQobj).data('value');
            value = (isNaN(value)) ? 0 : parseFloat(value);
            initialInternalMeetingTravelCosts += value;
          }
        });

        initialInternalMeetingTravelCosts = initialInternalMeetingTravelCosts * 0.19;

        $('#id_{{ internal_meeting_formset.prefix }}-TOTAL_FORMS').on('change', function () {
            $('[id$=distance-display]').off('change').on('change', calculateTotalTravelCosts);
            calculateTotalTravelCosts();
        });
      }

      function calculateTotalTravelCosts() {
        var totalCosts = 0;
        $('[id$=distance-display]').each(function(_, jQobj) {
          var isDeleted = $(jQobj).parents('.form-container').hasClass('hide');
          if (!isDeleted) {
            var value = $(jQobj).data('value');
            value = (isNaN(value)) ? 0 : parseFloat(value);
            totalCosts += value;
          }
        });

        totalCosts = totalCosts * 0.19;
        totalCosts = totalCosts + initialTotalTravelCosts - initialInternalMeetingTravelCosts;
        $('#total-travel-costs').val('€ ' + totalCosts.toFixed(2).replace('.', ','));
      }
    })
  </script>
{% endif %}
