<div class="tabs-panel" id="elearning-panel">
  {% if not readonly %}
    <div class="row column">
      <button name="btn-open-elearning-modal" type="button" class="button" data-url="{% url 'declarations:elearning-items-create' pk=object.pk %}">
        <span class="fa fa-plus"></span> Voeg elearning toe
      </button>
    </div>
  {% endif %}

  <div id="container-elearning">
     {% include 'declarations/elearningitem_list.html' with object_list=object.elearning_items readonly=readonly %}
  </div>
</div>

<!-- E-LEARNING MODAL  -->
{% if not readonly %}
  {% include 'common/widgets/widget-modal.html' with id='modal-elearning' button_name='btn-open-elearning-modal' %}
{% endif %}


{% if not readonly %}
  <script>
    $(function() {
      var inputInternalHourlyRate = $('#id_internal_hourly_rate');
      var inputBillableHourlyRate = $('#id_billable_hourly_rate');
      var containerELearning = $('#container-elearning');
      var initialELearningTotalHours = 0;

      $([inputInternalHourlyRate, inputBillableHourlyRate]).each(function(_, jQobj) {
        $(jQobj).on('change keyup', function () {
            var internalRate = $('#id_internal_hourly_rate').val();
            var billableRate = $('#id_billable_hourly_rate').val();
            var amountCells = containerELearning.find('.amount');
            amountCells.each(function() {
              var intRate = (isNaN(internalRate)) ? 0 : parseFloat(internalRate);
              var billRate = (isNaN(billableRate)) ? 0 : parseFloat(billableRate);
              var hours = parseFloat($(this).data('hours'));
              var rate = (intRate > 0 && billRate > 0) ? intRate / billRate : 0;
              var totalAmount = hours * rate;
              totalAmount = isNaN(totalAmount) ? 0 : totalAmount;
              $(this).data('value', totalAmount.toFixed(2));
              $(this).text(totalAmount.toFixed(2).replace('.', ','));
              calculateTotalHours();
            })
        });
      });


      function calculateTotalHours() {
        var totalHours = initialTotalHours - initialELearningTotalHours ;

        $('#elearning-table .amount').each(function(_, jQobj) {
          var value = $(jQobj).data('value');
          value = (isNaN(value)) ? 0 : parseFloat(value);
          totalHours += value;
        });

        $('#total-amount-hours').val(totalHours.toFixed(2).replace('.', ','));
      }
    });
  </script>
{% endif %}
