<div class="tabs-panel" id="hubstaff-panel">
  <section class="large-push-3 section-rules">
    <div class="title">Hubstaff uren declareren we alleen voor:</div>
    <ul>
      <li>Offertes die we schrijven</li>
      <li>Briefings die we invoeren als we trajectverantwoordelijke zijn</li>
    </ul>
    <p>We gebruiken Hubstaff nergens anders voor.</p>
  </section>

  <section id="hubstaff-hour-formset">
    {% if readonly %}
      {% include 'declarations/components/forms/form-hubstaff-items.html' with item=object.hubstaff_item %}
    {% else %}
      {{ hubstaff_item_formset.management_form }}

      {% for inline_form in hubstaff_item_formset %}
        {% include 'declarations/components/forms/form-hubstaff-items.html' with inline_form=inline_form index=forloop.counter0 %}
      {% endfor %}
    {% endif %}
  </section>
</div>
