{% extends "admin/change_form.html" %}
{% block object-tools-items %}
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_outtake_intro' pk=original.pk %}" class="grp-state-focus">
            Send Outtake Intro
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_outtake_reminder' pk=original.pk %}" class="grp-state-focus">
            Send Outtake Reminder
        </a>
    </li>
    {{ block.super }}
{% endblock %}