{% extends "backoffice/base.html" %}
{% load static %}
{% load assets %}
{% load sass_tags %}
{% load raven %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'planning/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-themes/jquery-ui.min.css' %}">
{% endblock %}

{% block custom-javascript %}
  <script type="application/javascript" src="{% static 'jqueryui/jquery-ui.js' %}"></script>
  <script type="application/javascript" src="{% static 'backoffice/js/datepicker-nl.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-3 column">
      <a name="btn-open-modal" id="create-form-btn" class="debat-orange small expanded button" data-url="{% url 'planning:process-type' %}">
        <span class="fi flaticon-signs"></span>
        Planningsverzoek invoeren
      </a>
    </div>

    <div class="large-12 column">
      {% include 'planning/components/tables/immediate_deliveries.html' %}
    </div>

    <div class="large-12 column">
      {% include 'planning/components/tables/short_term_deliveries.html' %}
    </div>

    <div class="large-12 column">
      {% include 'planning/components/tables/long_term_deliveries.html' %}
    </div>

    <div class="large-12 column">
      {% include 'planning/components/tables/pending_planning_options.html' %}
    </div>


    <div class="large-12 column">
      {% include 'planning/components/tables/options_to_be_confirmed.html' %}
    </div>

    <div class="large-12 column">
      {% include 'planning/components/tables/pending_options.html' %}
    </div>

    <div class="large-12 column">
      {% include 'planning/components/tables/require_approval_deliveries.html' %}
    </div>

    <div class="large-12 column">
      {% include 'planning/components/tables/finished_deliveries.html' %}
    </div>

    <!-- Create Form Modal -->
    <div class="reveal" id="create-form-modal" data-reset-on-close="true" data-close-on-click="false" data-reveal></div>
  </div>

  <!-- NOTIFICATION MODAL -->
  {% if messages %}
    {% include 'backoffice/components/modals/modal-notification.html' %}
  {% endif %}

  <!-- Detail Modal -->
  <div class="reveal detail-modal" id="detail-planning-request-modal" data-close-on-click="false" data-multiple-opened="true" data-reveal></div>

  <!-- Delete Form Modal -->
  <div class="reveal detail-modal" id="delete-planning-request-modal" data-close-on-click="false" data-reveal></div>

  <script>
    $(function(){
      var createFormModal = $('#create-form-modal');
      var detailModal = $('#detail-planning-request-modal');
      var deleteModal = $('#delete-planning-request-modal');

      // Initialize modal
      createFormModal.foundation();
      detailModal.foundation();
      deleteModal.foundation();

      $('#create-form-btn').click(function(){
        var url = $(this).data('url');
        $.get(url, function(data){
          createFormModal.html(data);
          createFormModal.foundation('open');
        });
      });

      $('.delivery-detail-btn').click(function(){
        var url = $(this).data('url');
        $.get(url, function(data){
          detailModal.html(data);
          detailModal.foundation('open');
        });
      });

      $('.delivery-delete-btn').click(function () {
        var url = $(this).data('url');
        $.get(url, function(data){
          deleteModal.html(data);
          deleteModal.foundation('open');
        });
      });
    });
  </script>
{% endblock %}
