{% load i18n %}

{% language 'nl' %}
    <fieldset class="radio-buttons">
        <legend>Beschikbare data</legend>
        {% for training_date in object_list %}
            <input type="radio" name="training_date" id="training_date_{{ forloop.counter0 }}" value="{{ training_date.id }}">
            <label for="training_date_{{ forloop.counter0 }}"> {{ training_date.date|date:"d F Y"  }}</label><br>
        {% empty %}
            Er is geen data beschikbaar voor deze training. Maak een nieuwe training aan.
        {% endfor %}
    </fieldset>
{% endlanguage 'nl' %}
