<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h5>{{ modal_title }}</h5>
</div>

<form id="form-student" action="{{ request.path }}" method="post">
  {% csrf_token %}

  <input type="hidden" id="organization" name="organization" value="{{ form.initial.organization }}" required>
  <input type="hidden" id="role" name="role" value="{{ role_name }}" required>

  <div class="row column">
    <label for="name">
      {% if role_name == 'PARTICIPANT' %} Deelnemer {% else %} Manager {% endif %}

      <select name="id" required>
        <option value="" disabled selected>--</option>
        {% for user in users %}
          {% if not user.organization %}
            <option value="{{ user.id }}" {% if form.initial.id == user.id %} selected {% endif %}>{{ user.first_name }} {{ user.last_name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </label>
  </div>

  <div class="row footer">
    <div class="large-offset-4 large-4 no-left-padding column">
      <input type="submit" class="small expanded debat-orange add-button button" value="{{ button_text }}">
    </div>
    <div class="large-4 column">
      <input type="button" id="reset-button" class="small expanded debat-blue button" value="Annuleren" data-close>
    </div>
  </div>
</form>
