{% extends 'common/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ user.first_name }} {{ user.last_name }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        </div>
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Je hebt aangegeven dat je je wachtwoord bent vergeten. Om het wachtwoord van Debat.NL Olaf opnieuw in te stellen, klik op de onderstaande knop.
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        </div>
    </div>

    {% url 'password_reset_confirm' uidb64=uid token=token as path %}
    {% include "common/emails/button.html" with button_url=protocol|add:'://'|add:domain|add:path button_value="Wijzig wachtwoord" %}
{% endblock %}

{% block footer %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Knop werkt niet?</b></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Als je niet op de bovenstaande knop kunt klikken, kopieer en plak de onderstaande link in je browser.<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>

            {% url 'password_reset_confirm' uidb64=uid token=token as path %}
            <p style="margin: 0;font-size: 14px;line-height: 17px"><a href="{{ protocol|add:'://'|add:domain|add:path }}" target="_blank">{{ protocol|add:'://'|add:domain|add:path }}</a></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        </div>
    </div>
{% endblock %}
