{% extends 'common/emails/base.html' %}

{% block content %}
  <div
    style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div
      style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>

      <p style="margin: 0;font-size: 14px;line-height: 17px">
          We hebben nog geen reactie ontvangen op onderstaande planning. Reageer altijd binnen 24 uur
          zodat we het ook aan de klant kunnen doorgeven.
      </p>
    </div>

    {% for schedule in schedule_list %}
      {% with delivery=schedule.delivery %}
        <div style="padding-left: 24px; margin-top: 32px; margin-bottom: 24px;">
          <p style="font-size: 14px; line-height: 17px">
            <span style="color: #FB6600;">1.</span>
            {{ delivery.date|date:'d-m-Y' }}
          </p>
          <p style="font-size: 14px; line-height: 17px;">
            <span style="color: #FB6600;">2.</span>
            {{ delivery.organization }}
          </p>
          <p style="font-size: 14px; line-height: 17px">
            <span style="color: #FB6600;">3.</span>
            {{ delivery.time }}
          </p>
          <p style="font-size: 14px; line-height: 17px">
            <span style="color: #FB6600;">4.</span>
            {{ delivery.location }}
          </p>
          <p style="font-size: 14px; line-height: 17px">
            <span style="color: #FB6600">5.</span>
            {{ delivery.description }}
          </p>
        </div>
      {% endwith %}
    {% endfor %}
  </div>

  {% include "planning/emails/button.html" with button_url=url button_value="Ja, de sessie staat in mijn agenda" %}
{% endblock %}

{% block footer %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Knop werkt niet?</b></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">Als je niet op de bovenstaande knop kunt klikken, kopieer en plak de onderstaande link in je browser.<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px"><a href="{{ url }}" target="_blank">{{ url }}</a></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    </div>
  </div>
{% endblock %}
