{% extends 'planning/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    </div>
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Om je goed in te kunnen plannen hebben we je beschikbaarheid voor de komende maanden nodig.
        Je kunt deze doorgeven via onderstaande knop:
      </p>
    </div>
  </div>

  {% include "planning/emails/button.html" with button_url=url button_value="Beschikbaarheid doorgeven" %}
{% endblock %}
