{% extends 'planning/emails/base.html' %}

{% block content %}
  <div
    style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div
      style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>

      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Onderstaande optie is bevestigd. Geef aan dat deze sessie definitief in je agenda staat.
      </p>
    </div>

    {% for schedule in schedule_list %}
      {% with delivery=schedule.delivery %}
        <div style="padding-left: 24px; margin-top: 30px; margin-bottom: 34px;">
          <p style="font-size: 14px; line-height: 17px; margin-top: 6px; margin-bottom: 0">
            <span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span>
            {{ delivery.date|date:'d-m-Y' }}
          </p>
          <p style="font-size: 14px; line-height: 17px; margin-top: 6px; margin-bottom: 0">
            <span style="color: #FB6600; font-size: 22px; font-weight: bold">&rsaquo;</span>
            {{ delivery.organization }}
          </p>
          <p style="font-size: 14px; line-height: 17px; margin-top: 6px; margin-bottom: 0">
            <span style="color: #FB6600; font-size: 22px; font-weight: bold">&rsaquo;</span>
            {{ delivery.time }}
          </p>
          <p style="font-size: 14px; line-height: 17px; margin-top: 6px; margin-bottom: 0">
            <span style="color: #FB6600; font-size: 22px; font-weight: bold">&rsaquo;</span>
            {{ delivery.location }}
          </p>
        </div>
      {% endwith %}
    {% endfor %}
    <br>
    <p style="margin: 0;font-size: 14px;line-height: 17px">
      Bevestig hieronder dat de sessie(s) in je agenda staan.
    </p>
  </div>

  {% include "planning/emails/button.html" with button_url=url button_value="Ja, de sessie staat in mijn agenda" %}
{% endblock %}
