{% extends 'planning/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>

      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Zojuist is het volgende planningsverzoek gedaan:
      </p>
    </div>

    {% for delivery in planning_request.deliveries.all %}
      <div style="padding-left: 24px; margin-top: 30px; margin-bottom: 40px;">
        <p style="font-size: 14px; line-height: 17px; margin-bottom: 0; margin-top: 6px">
          <span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span>
          {{ delivery.planning_request.created_by.get_full_name }}
        </p>
        <p style="font-size: 14px; line-height: 17px; margin-bottom: 0; margin-top: 6px">
          <span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span>
          {{ delivery.date|date:'d-m-Y' }}
        </p>
        <p style="font-size: 14px; line-height: 17px; margin-bottom: 0; margin-top: 6px">
          <span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span>
          {{ delivery.organization }}
        </p>
        <p style="font-size: 14px; line-height: 17px; margin-bottom: 0; margin-top: 6px">
          <span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span>
          {{ delivery.description }}
        </p>
        <p style="font-size: 14px; line-height: 17px; margin-bottom: 0; margin-top: 6px">
          <span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span>
          {{ delivery.notes }}
        </p>
        <p style="font-size: 14px; line-height: 17px; margin-bottom: 0; margin-top: 6px">
          <span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span>
          Aantal trainers/gespreksleiders: {{ delivery.trainer_amount|stringformat:'02d' }}
        </p>
      </div>
    {% endfor %}

    <p style="margin: 0;font-size: 14px; line-height: 17px">
      <strong>LET OP:</strong> Dit betreft een optie. De gegevens zijn te vinden in Olaf in het planningsscherm in de sectie Openstaande optie in te plannen.
    </p>

    {% include "planning/emails/button.html" with button_url=url button_value="Naar Olaf" %}
  </div>
{% endblock %}
