{% extends 'planning/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>

      {% if planning_request.type == planning_request.IMMEDIATE %}
        <p style="margin: 0;font-size: 14px;line-height: 17px">
          Er is zojuist een <strong>spoed-planningsverzoek</strong> binnen gekomen:
        </p>
      {% elif planning_request.type == planning_request.SHORT_TERM %}
        <p style="margin: 0;font-size: 14px;line-height: 17px">
          Er is zojuist een regulier planningsverzoek binnen gekomen:
        </p>
      {% else %}
        <p style="margin: 0;font-size: 14px;line-height: 17px">
          Er is zojuist een lange termijn planningsverzoek binnen gekomen:
        </p>
      {% endif %}
    </div>

    {% for delivery in planning_request.deliveries.all %}
      <div style="padding-left: 24px; margin-top: 32px; margin-bottom: 24px;">
        <p style="font-size: 14px; line-height: 17px">
          <span style="color: #FB6600">1.</span>
          {{ planning_request.created_by.get_full_name }}
        </p>
        <p style="font-size: 14px; line-height: 17px">
          <span style="color: #FB6600;">2.</span>
          {{ delivery.date|date:'d-m-Y' }}
        </p>
        <p style="font-size: 14px; line-height: 17px;">
          <span style="color: #FB6600;">3.</span>
          {{ delivery.organization }}
        </p>
        <p style="font-size: 14px; line-height: 17px">
          <span style="color: #FB6600;">4.</span>
          {{ delivery.time }}
        </p>
        <p style="font-size: 14px; line-height: 17px">
          <span style="color: #FB6600;">5.</span>
          {{ delivery.location }}
        </p>
        <p style="font-size: 14px; line-height: 17px">
          <span style="color: #FB6600">6.</span>
          {{ delivery.description }}
        </p>
        <p style="font-size: 14px; line-height: 17px">
          <span style="color: #FB6600">7.</span>
          {{ delivery.notes }}
        </p>
        <p style="font-size: 14px; line-height: 17px">
          <span style="color: #FB6600">8.</span>
          {{ delivery.trainer_amount|stringformat:'02d' }}
        </p>
      </div>
    {% endfor %}
    <br>
    <p style="margin: 0;font-size: 14px;line-height: 17px">
      Ga naar Olaf om aan de slag te gaan met het planningsverzoek:
    </p>
  </div>

  {% include "planning/emails/button.html" with button_url=url button_value="Naar Olaf" %}
{% endblock %}
