{% extends 'planning/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>

      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Je hebt een optie aangevraagd met de volgende gegevens.
      </p>
    </div>

    {% for delivery in planning_request.deliveries.all %}
      <div style="padding-left: 24px; margin-top: 30px; margin-bottom: 34px;">
        <p style="font-size: 14px; line-height: 17px; margin-top: 6px; margin-bottom: 0">
          <span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span>
          {{ delivery.date|date:'d-m-Y' }}
        </p>
        <p style="font-size: 14px; line-height: 17px; margin-top: 6px; margin-bottom: 0">
          <span style="color: #FB6600; font-size: 22px; font-weight: bold">&rsaquo;</span>
          {{ delivery.organization }}
        </p>
      </div>
    {% endfor %}
    <br>
    <p style="margin: 0;font-size: 14px;line-height: 17px">
      Geef zo snel mogelijk uitsluitsel of deze doorgaat of niet, dit helpt de agenda van de trainers enorm. Doe dit via Olaf en dan “Planningsverzoek invoeren”. Dank alvast voor de moeite.
    </p>
  </div>
{% endblock %}
