{% extends 'common/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>

      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Pas in het CRM voor de volgende deliveries de planning aan:
      </p>
    </div>

    {% for delivery in planning_request.deliveries.all %}
      <div style="padding-left: 24px; margin-top: 32px; margin-bottom: 24px;">
        <p style="font-size: 14px; line-height: 17px">
          <span style="color: #FB6600">1.</span>
          {{ planning_request.created_by.get_full_name }}
        </p>

        <p style="font-size: 14px; line-height: 17px">
          <span style="color: #FB6600;">2.</span>
          {{ delivery.date|date:'d-m-Y' }}
        </p>
        <p style="font-size: 14px; line-height: 17px;">
          <span style="color: #FB6600;">3.</span>
          {{ delivery.organization }}
        </p>

        {% if delivery.trainers.exists %}
          <p style="font-size: 14px; line-height: 17px;">
            <span style="color: #FB6600;">4.</span>
            {% for trainer in delivery.trainers.all %}
              {{ trainer.get_full_name }}{% if not forloop.last %},&nbsp;{% endif %}
            {% endfor %}
          </p>
        {% endif %}
      </div>
    {% endfor %}

    <br>
    <p style="margin: 0;font-size: 14px;line-height: 17px">
      Doe het volgende:
    </p>

    <div style="padding-left: 24px; margin-top: 32px; margin-bottom: 24px;">
      <p style="font-size: 14px; line-height: 17px">
        <span style="color: #FB6600;">1.</span>
        Voer de trainers in bij de bijbehorende delivery
      </p>
      <p style="font-size: 14px; line-height: 17px">
        <span style="color: #FB6600;">2.</span>
        Pas planning gereed van nee naar ja aan
      </p>
      <p style="font-size: 14px; line-height: 17px">
        <span style="color: #FB6600;">3.</span>
        Klik op opslaan
      </p>
    </div>
  </div>

  {% include "planning/emails/button.html" with button_url=url button_value="Planning aangepast" %}
{% endblock %}

{% block footer %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Knop werkt niet?</b></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">Als je niet op de bovenstaande knop kunt klikken, kopieer en plak de onderstaande link in je browser.<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px"><a href="{{ url }}" target="_blank">{{ url }}</a></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    </div>
  </div>
{% endblock %}
