{% extends 'briefings/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ deliverable.delivery.responsible.name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">Er zijn momenteel deliveries waarbij een briefing nodig is. Je helpt Olaf en andere collega’s die zich willen voorbereiden er enorm mee.</p>
    </div>
  </div>

  {% include "briefings/emails/button.html" with button_url=url button_value="Briefing invoeren" %}
{% endblock %}
