{% extends 'briefings/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ recipient.name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Er is meer toelichting gevraagd bij deze delivery. Klik op de onderstaande knop om de vragen te bekijken en antwoorden te geven. Deze worden automatisch aan de briefing toegevoegd en alle trainers worden op de hoogte gesteld:
      </p>
    </div>
  </div>

  {% include "common/emails/button.html" with button_url=url button_value="Vragen bekijken" %}
{% endblock %}
