{% extends 'briefings/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ recipient.name }},</p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">Voor {{ organization}} zijn er vragen gesteld bij de briefings op de volgende momenten:</p>
        <br>
        <ul style="padding-left: 32px; padding-top: 8px; list-style-type: none">
          {% for deliverable in token.get_briefing.deliveries.all %}
            <li style="font-size: 14px; line-height: 14px;"><span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span> {{ deliverable.delivery.order_date|date:'d-m-Y' }} </li>
          {% endfor %}
        </ul>
    </div>
  </div>

  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
      <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
          <p style="margin: 0;font-size: 14px;line-height: 17px">In Olaf zijn ook de antwoorden inmiddels te vinden. Log in om deze te bekijken.</p>
      </div>
  </div>

  {% include "common/emails/button.html" with button_url=url button_value="Naar Olaf" %}
{% endblock %}
