{% extends 'briefings/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Niet elke delivery responsible is zo briljant als jij dat bent. Daarom zijn er helaas nog deliveries
        zonder briefing ☹. Help je collega’s en trek de delivery responsible even aan zijn jasje.
      </p>
    </div>
  </div>

  {% include "briefings/emails/button.html" with button_url=url button_value="Briefings bekijken" %}
{% endblock %}
