{% extends 'intakes/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste Ilona,</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Er is een delivery met 8 trainers/gespreksleiders in het CRM ingevoerd. Maar Olaf twijfelt of het
        niet meer trainers zijn (die niet in het CRM passen) en heeft mij om hulp gevraagd.
      </p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Geef via onderstaande button door wat je precies bedoelt en Olaf gaat meteen met de briefings
        aan de slag.
      </p>
    </div>
  </div>
  {% include "intakes/emails/button.html" with button_url=url button_value="Bevestig Delivery" %}
{% endblock %}
