{% extends 'briefings/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ trainer.name }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Zojuist is er een update geweest van een briefing van de volgende organisatie:</p>
            <br>
            <ul style="padding-left: 32px; padding-top: 8px; list-style-type: none">
                <li style="font-size: 14px; line-height: 14px;"><span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span> {{ briefing.get_organization }} </li>
            </ul>
        </div>
    </div>

    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">Wil je weten wat er gewijzigd is? Log via de button in bij Olaf.</p>
        </div>
    </div>

    {% include "briefings/emails/button.html" with button_url=url button_value="Naar Olaf" %}
{% endblock %}