{% load i18n %}

<table class="training-update-table">
    <tbody>
        <tr>
            <td></td>
            <td>
                <h5> Optie 1 </h5>
            </td>
        </tr>
            <tr>
                <td>
                    <fieldset class="radio-buttons">
                        <input id="checkbox-option-1" type="radio" name="option" value="1">
                        <label for="checkbox-option-1"> &nbsp; </label>
                    </fieldset>
                </td>
                <td>
                    U kunt dag 1 volgen en dag 2 en 3 op een later tijdstip volgen.
                    Zo kunt u wel snel beginnen met uw training.
                    Ter compensatie bieden we u bij het kiezen van deze optie ook een kosteloze coaching van 2 uur aan bij u op locatie.

                    <div id="form-1" class="hidden-row" hidden>
                       {% if not planned_trainings %}
                           <div class="row column">
                               Helaas, zijn er nog geen nieuwe trainingsdagen bekend.
                           </div>
                       {% else %}
                            <div class="row column">
                                {% language 'nl' %}
                                    <fieldset class="radio-buttons">
                                        <legend>Op welke datum wilt u de dag 2 en 3 van de training volgen?</legend>

                                        {% for planned_training in planned_trainings %}
                                            <input type="radio" name="training_1" id="{{ planned_training.id }}" value="{{ planned_training.id }}">
                                            <label for="{{ planned_training.id }}">
                                                {% for training_date in planned_training.training_dates.all %}
                                                    {% if training_date.sequence != 0 %}
                                                        {{ training_date.date|date:"d F Y" }} {% if not forloop.last %} en {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </label>
                                        {% empty %}
                                            Helaas, zijn er nog geen nieuwe trainingsdagen bekend.
                                        {% endfor %}
                                    </fieldset>
                                {% endlanguage %}
                            </div>

                            <div class="row">
                                <label for="training-date-day-0">
                                    <span class="large-12 columns">
                                        Op welke datum en tijdstip zou u de kosteloze coaching van 2 uur willen krijgen willen krijgen?
                                    </span>

                                    <span class="large-3 columns">
                                         <select id="coaching_date_day" title name="coaching_date_day_1" required>
                                            <option value="" disabled selected>Dag</option>
                                            {% for day in days %}
                                                <option value="{{ day |stringformat:"02d" }}">{{ day |stringformat:"02d" }}</option>
                                            {% endfor %}
                                        </select>
                                    </span>

                                    <span class="large-3 columns">
                                        <select id="coaching_date_month" title name="coaching_date_month_1" required>
                                            <option value="" disabled selected>Maand</option>
                                            {% for month in months %}
                                                <option value="{{ month |stringformat:"02d" }}">{{ month |stringformat:"02d" }}</option>
                                            {% endfor %}
                                        </select>
                                    </span>

                                    <span class="large-3 columns end">
                                        <select id="coaching_date_year" title name="coaching_date_year_1" required>
                                            <option value="" disabled selected>Jaar</option>
                                            {% for year in years %}
                                                <option value="{{ year }}">{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                    </span>

                                    <span class="large-9 columns end">
                                        <select id="coaching_date_time" title name="coaching_date_time_1" required>
                                            <option value="" disabled selected>Tijd</option>
                                            <option value="9:00 - 11:00">9:00 - 11:00</option>
                                            <option value="11:00 - 13:00">11:00 - 13:00</option>
                                            <option value="13:00 - 15:00">13:00 - 15:00</option>
                                            <option value="15:00 - 17:00">15:00 - 17:00</option>
                                            <option value="17:00 - 19:00">17:00 - 19:00</option>
                                        </select>
                                    </span>
                                </label>
                            </div>

                            <div class="row column">
                                <input type="submit" class="small button debat-orange" value="Verzenden">
                            </div>

                            <div class="row">
                                <div class="column large-12">
                                    <div class="participant-information-container">
                                        <label> Naam </label>
                                        {{ participant.name }}
                                    </div>
                                </div>
                                <div class="column large-12">
                                   <div class="participant-information-container">
                                        <label> E-mailadres </label>
                                        {{ participant.email }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
    </tbody>
</table>
