<table class="training-update-table">
    <tbody>
        <tr>
            <td></td>
            <td>
                <h5> Optie {% if exclude_first_option %} 2 {% else %} 3 {% endif %} </h5>
            </td>
        </tr>
        <tr>
            <td>
                <fieldset class="radio-buttons">
                    <input id="checkbox-option-3" type="radio" name="option" value="3">
                    <label for="checkbox-option-3"> &nbsp; </label>
                </fieldset>
            </td>
            <td>
                Uiteraard kunt u er ook voor kiezen om uw geld terug te vragen.

                <div id="form-3" class="hidden-row" hidden>
                    <div class="row">
                        <div class="large-12 column">
                            <label>Naam
                                <input type="text" name="name_3" maxlength="200" required>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 column">
                            <label>E-mailadres
                                <input type="email" name="email_3" maxlength="200" required>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 column">
                            <label>Factuurnummer
                                <input type="text" name="invoice_number_3" maxlength="200" required>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 column">

                             <fieldset class="radio-buttons">
                                <legend>Is de factuur al overgemaakt?</legend>
                                <input id="invoice_choice_1" name="invoice_choice_3" type="radio" value="Ja">
                                <label for="invoice_choice_1">
                                    Ja
                                </label>
                                <input id="invoice_choice_2" name="invoice_choice_3" type="radio" value="Nee">
                                <label for="invoice_choice_2">
                                    Nee
                                </label>
                                <input id="invoice_choice_3" name="invoice_choice_3" type="radio" value="Weet ik niet">
                                <label for="invoice_choice_3">
                                    Weet ik niet
                                </label>
                            </fieldset>
                        </div>
                    </div>

                    <div id="invoice_choice_block_1" hidden>
                        <div class="row">
                            <div class="large-12 column">
                                <label>Bankrekeningnummer
                                    <input type="text" name="bank_account_number_3" maxlength="200" required>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-12 column">
                                <label>Ter name van
                                    <input type="text" name="account_holder_name_3" maxlength="200" required>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-12 column">
                                <label>Uw referentie
                                    <input type="text" name="reference_3" maxlength="200">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="invoice_choice_block_2" hidden>
                        <div class="row">
                            <div class="large-12 column">
                                Wij zullen deze factuur crediteren, u kunt deze als niet verzonden beschouwen.
                            </div>
                        </div>
                    </div>

                    <div class="row column">
                        <input type="submit" class="small button debat-orange" value="Verzenden">
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>


 <script>
    $(function () {
        $('input[name="invoice_choice_3"]').change(function () {
            var value = $(this).val();

            var selection = {
                'Ja': 1,
                'Nee': 2,
                'Weet ik niet': 1
            };
            console.log(value);
            $('[id^=invoice_choice_block_]').hide();
            $('#invoice_choice_block_' + selection[value]).show();
        })
    })
</script>