{% load i18n %}


<table class="training-update-table">
    <tbody>
        <tr>
            <td></td>
            <td>
                <h5> Optie {% if exclude_first_option %} 1 {% else %} 2 {% endif %} </h5>
            </td>
        </tr>
        <tr>
            <td>
                <fieldset class="radio-buttons">
                    <input id="checkbox-option-2" type="radio" name="option" value="2">
                    <label for="checkbox-option-2"> &nbsp; </label>
                </fieldset>
            </td>
            <td>
                U kunt de gehele training naar een ander moment verschuiven.
                Ter compensatie bieden wij u bij het kiezen van deze optie ook een kosteloze coaching van 2 uur aan bij u op locatie.

                <div id="form-2" class="hidden-row" hidden>

                    {% if not planned_trainings %}
                        <div class="row column">
                            Helaas, zijn er nog geen nieuwe trainingsdagen bekend.
                        </div>
                    {% else %}

                        <div class="row column">
                            {% language 'nl' %}
                                <fieldset class="radio-buttons">
                                    <legend>Op welke datum wilt u de training volgen?</legend>

                                    {% for planned_training in planned_trainings %}
                                        <input type="radio" name="training_2" id="option-1-{{ planned_training.id }}" value="{{ planned_training.id }}">
                                        <label for="option-1-{{ planned_training.id }}">
                                            {% for training_date in planned_training.training_dates.all %}
                                                {{ training_date.date|date:"d F Y"  }}{% if forloop.revcounter > 2 %}, {% endif %}
                                                {% if forloop.revcounter == 2 %} en {% endif %}
                                            {% endfor %}
                                        </label>
                                    {% empty %}
                                        Helaas, zijn er nog geen nieuwe trainingsdagen bekend.
                                    {% endfor %}
                                </fieldset>
                            {% endlanguage %}
                        </div>
                        <div class="row">
                            <label for="training-date-day-0">
                                <span class="large-12 columns">
                                    Op welke datum en tijdstip zou u de kosteloze coaching van 2 uur willen krijgen willen krijgen?
                                </span>

                                <span class="large-3 columns">
                                     <select id="coaching_date_day" title name="coaching_date_day_2" required>
                                        <option value="" disabled selected>Dag</option>
                                        {% for day in days %}
                                            <option value="{{ day |stringformat:"02d" }}">{{ day |stringformat:"02d" }}</option>
                                        {% endfor %}
                                    </select>
                                </span>

                                <span class="large-3 columns">
                                    <select id="coaching_date_month" title name="coaching_date_month_2" required>
                                        <option value="" disabled selected>Maand</option>
                                        {% for month in months %}
                                            <option value="{{ month |stringformat:"02d" }}">{{ month |stringformat:"02d" }}</option>
                                        {% endfor %}
                                    </select>
                                </span>

                                <span class="large-3 columns end">
                                    <select id="coaching_date_year" title name="coaching_date_year_2" required>
                                        <option value="" disabled selected>Jaar</option>
                                        {% for year in years %}
                                            <option value="{{ year }}">{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </span>

                                <span class="large-9 columns end">
                                    <select id="coaching_date_time" title name="coaching_date_time_2" required>
                                        <option value="" disabled selected>Tijd</option>
                                        <option value="9:00 - 11:00">9:00 - 11:00</option>
                                        <option value="11:00 - 13:00">11:00 - 13:00</option>
                                        <option value="13:00 - 15:00">13:00 - 15:00</option>
                                        <option value="15:00 - 17:00">15:00 - 17:00</option>
                                        <option value="17:00 - 19:00">17:00 - 19:00</option>
                                    </select>
                                </span>
                            </label>
                        </div>

                        <div class="row column">
                            <input type="submit" class="small button debat-orange" value="Verzenden">
                        </div>

                        <div class="row">
                            <div class="column large-12">
                                <div class="participant-information-container">
                                    <label> Naam </label>
                                    {{ participant.name }}
                                </div>
                            </div>
                            <div class="column large-12">
                               <div class="participant-information-container">
                                    <label> E-mailadres </label>
                                    {{ participant.email }}
                                </div>
                            </div>
                        </div>

                    {% endif %}
                </div>
            </td>
        </tr>
    </tbody>
</table>
