@import "../../../../DebatNL_BackOffice/static/sass/base.sass"


input,
textarea
  font-size: 14px !important

label[for=year]
  color: $debat-blue
  line-height: 2

.table-headings
  padding-bottom: 0
  margin-top: 12px

.table
  th
    font-weight: 400
    color: #082F4F
    padding: 1rem 2rem
    border-bottom: 1px solid #ccc

  td
    color: $debat-blue
    padding: 0.8rem 2rem

    a.button
      margin-bottom: 0

.pill
  display: inline-block
  float: left
  margin-right: 12px

  .pill-label
    color: $debat-blue
    line-height: 2

  div
    color: #333
    background-color: $debat-light-grey
    border-radius: 3px
    padding: 10px 12px

.indicator
  padding-top: 33px
  font-size: 25px

  &.fa-check-circle
    color: $debat-green

  &.fa-times-circle
    color: $debat-red

.indicator-button
  margin-top: 30px !important

.form-container
  margin-bottom: 15px

.form-group
  margin-bottom: 0

  .travel-icons
    margin-bottom: 16px

    ul
      margin: 10px 0 10px 1px

      li
        display: inline
        margin-right: 10px

        &:hover
          cursor: pointer

        &.active
          color: $debat-orange

        .material-icons
          font-size: 1.6em

    .button
      font-size: 0.9em
      margin: 0
      padding: 4px 14px

  button
    &.route-submit
      font-size: 0.95em
      margin: 0 0 20px 0
      padding: 6px 22px

  .help-text
    margin-bottom: 15px
    color: $debat-blue

.reveal
  .button-group
    margin-bottom: 10px
    margin-top: 30px

  .button
    line-height: normal

input[readonly],
input[readonly]:focus
  box-shadow: none
  border: none
  background-color: #e6e6e6

  &:hover
    cursor: default

input[id$=DELETE]
  display: none

input.error
  margin-bottom: 16px

.tabs
  border-color: $debat-light-grey

  li.is-active a, li.is-active .tab
    background-color: $debat-light-grey
    color: $debat-blue

  .tab, li a
    color: $debat-blue
    font-family: $montserrat
    font-size: 14px
    font-weight: 500
    display: block
    padding: 1.25rem 1.5rem
    line-height: 1

    &:hover
      cursor: pointer

.modal-content
  padding: 80px 0 20px
  font-size: 16px
  color: $debat-blue
  font-weight: 500

.tabs-content
  margin-bottom: 20px

  .tabs-panel
    background-color: $debat-light-grey
    padding-bottom: 0
    display: block

    .section-rules
      padding: 30px 0

      .title
        font-weight: 500
        padding-bottom: 15px

      ol
        list-style: none
        margin-left: 0

        li span
          font-weight: 500

      p
        font-style: italic

.button-group
  margin-bottom: 30px

#feedback-form
  label,
  textarea
    color: $debat-blue

    &.radio-label
      margin-bottom: 10px

  sup
    color: $debat-red

  button
    &.debat-blue
      &[disabled]
        background-color: #082F4F

  .input-group
    width: 70%

    .input-group-label
      background-color: transparent
      border: none
      color: $debat-blue
      position: absolute
      border-radius: 2px
      display: inline-block
      padding: 8px 12px
      margin-bottom: 14px
      height: auto

    .input-group-field
      color: $debat-blue
      text-align: left
      padding-left: 32px

#internal-meeting-panel,
#external-meeting-panel
  .delete-button
    margin-top: 0
    padding: 5px 10px

  .form-title
    font-weight: 500
    display: inline-block
    margin-bottom: 20px

#leave-panel,
#cost-panel,
#hubstaff-panel
  padding-bottom: 20px

  table
    margin-bottom: 0

    thead tr
      border-bottom: 1px solid $debat-blue

      td
        padding: 1rem 2rem
        font-weight: 400

  .fa-check-circle
    color: $debat-green
    font-size: 25px

#cost-panel
  .table-title
    font-weight: 500
    margin-bottom: 5px
    margin-top: 10px

  table
    margin-bottom: 16px

    tbody
      tr td:last-child
        width: 150px

        .button
          line-height: 5px
          margin-bottom: 5px

  #table-expense
    .receipt-link
      text-decoration: underline

#modal-expenses
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
    margin-bottom: 3PX

  .radio-label
    margin-bottom: 10px

  sup
    color: $debat-red

  .button-group
    margin-bottom: 0

  .form-group
    margin-bottom: 15px

#elearning-panel
  .button
    line-height: 0.6

  #elearning-table
    tr
      td
        &.view-cell
          a
            color: $debat-blue
            text-decoration: underline

        button
          line-height: 1
          padding: 0.5rem 1.2rem
          margin: 0


.delete-form
  .modal-body
    padding: 80px 10px
    font-size: 18px
    color: $debat-blue

    span
      color: $debat-red
      font-weight: 500

  .button-row
    padding-top: 16px
    padding-bottom: 16px

#add-elearning-form
  .form-group
    margin-bottom: 12px

    label
      line-height: 2
      color: $debat-blue

      &.blue
        color: #fff
        line-height: 1.2
        margin-left: -20px

    select
      color: $debat-blue
      margin-bottom: 6px

    .error
      display: none
      color: $debat-red

    .required
      color: $debat-red


#notification-modal
  .modal-body
    padding: 80px 10px
    font-size: 16px
    color: $debat-blue

    span
      color: $debat-red
      font-weight: 500

  .button-row
    padding-top: 16px
    padding-bottom: 16px

#form-client-bonus
  .form-group
    margin-bottom: 12px

  #id_invoice_number
    margin-bottom: 6px

  .error
    color: $debat-red
    display: none

#form-travel-expense
  [id^=travel-expense-wrapper]
    display: none

  .radio-label
    margin-bottom: 10px

  .radio-item label
    margin-bottom: 5px

  .form-group
    margin-bottom: 10px

  .travel-icons
    label
      display: inline-block
      margin-right: 10px

      &:hover
        cursor: pointer

    i
      font-size: 22px

    input[type="radio"]:checked + i
      color: $debat-orange

    .button
      font-size: 0.9em
      margin: 10px 0 0 0
      padding: 4px 14px

#allowance-section,
#allowance-form
  .form-group
    label
      margin-bottom: 3px

  #instruction-text
    font-size: 0.9rem
    color: #333

  #table-description
    margin-bottom: 24px

  #expense-upload-group
    .widget-file-uploader
      margin-bottom: 0

  .input-group
    position: relative

  .input-group-label
    background-color: transparent
    border: none
    position: absolute
    font-size: 18px
    bottom: -12px
    border-radius: 2px
    display: inline-block
    padding: 10px 12px
    margin-bottom: 14px

  .input-group-field
    text-align: center
    border-radius: 4px !important


  .meeting-table-label
    color: #333
    font-size: 0.9rem
    line-height: 2

  #meeting-table-container
    border: 1px solid $debat-light-grey
    margin-bottom: 24px

    table
      color: #333
      margin-bottom: 12px

      thead
        border-bottom: 1px solid $debat-light-grey
        tr
          th
            padding: 10px 20px 10px 6px

            &:first-child
              padding: 0

            &.meeting-with
              width: auto

      tbody
        tr
          td
            padding: 20px 20px 20px 6px
            line-height: 1

            &:first-child
              padding: 0 18px

              .checkbox
                margin: 3px 0

#table-allowance
  td
    padding: 1rem 1.3rem !important

    &:nth-child(2)
      min-width: 120px
      text-align: center
