{% extends "admin/change_form.html" %}
{% block object-tools-items %}
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_email_follow_up_event' pk=original.pk %}" class="grp-state-focus">
            Send FollowUp Event E-mail
        </a>
    </li>
    {{ block.super }}
{% endblock %}
