{% extends "backoffice/base.html" %}

{% block content %}
    <div class="tiny reveal" id="modal" data-close-on-click="false" data-reveal></div>
    <script>
        $(function () {
            var modal = $('#modal');
            modal.foundation();

            $('a[name=option]').click(function () {
                var url = $(this).data('url');

                $.get(url, function(data) {
                    modal.html(data);
                    modal.foundation('open');
                });
            });
        })
    </script>
{% endblock %}

