<div class="reveal" data-reveal id="notification-modal">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="row column">
    <div class="modal-body">
      {% for message in messages %}
        {% autoescape off %} {{ message }}{% endautoescape %}
      {% endfor %}
    </div>
  </div>

  <div class="row button-row">
    <div class="large-offset-8 large-4 column">
      <button class="small expanded debat-orange button" data-close>Ok</button>
    </div>
  </div><!-- /.row -->
</div>

{% if messages %}
  <script>
    $(function(){
      // Notification modal
      var notificationModal = $('#notification-modal').foundation();
      notificationModal.foundation('open');
    })
  </script>
{% endif %}
