<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>TRAINING TOEVOEGEN</h5>
</div>

<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <div class="row column">
        <label for="name">
            Naam
            <input type="text" id="name" name="name" value="{{ form.instance.name }}" required>
        </label>
    </div>

    <div class="row footer">
        <div class="large-offset-6 large-3 no-left-padding column">
            <input type="submit" class="small debat-orange expanded button" value="Toevoegen">
        </div>
        <div class="large-3 no-left-padding column">
            <a class="small expanded debat-blue button" data-close> Annuleren </a>
        </div>
    </div>
</form>
