<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4 class="modal-title row column">GEBRUIKER TOEVOEGEN/VERWIJDEREN</h4>

<div class="row column form-group" id="form-type-container">
  <label class="radio-label">Wil je een gebruiker toevoegen of verwijderen?</label>
  <div>
    <input type="radio" id="create-user" name="form_type" data-url="{% url 'users:create' %}">
    <label for="create-user">Toevoegen</label>
  </div>
  <div>
    <input type="radio" id="delete-user" name="form_type" data-url="{% url 'users:group-deactivate' %}">
    <label for="delete-user">Verwijderen</label>
  </div>
</div>
<div id="section-container">
  <div class="row column text-right">
    <div class="small button-group">
      <button type="button" class="debat-blue large-3 button" data-close>Annuleren</button>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('[name=form_type]').change(function() {
      var url = $(this).data('url');
      $.get(url, function (data) {
        $('#section-container').html(data);
      });
    });
  });
</script>
