<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<h5>TRAINING VERWIJDEREN</h5>

<p>Weet u zeker dat u de training wilt verwijderen?</p>

<div class="row footer">
    <div class="large-offset-6">
      <form method="POST" action="{{ request.path }}">
        {% csrf_token %}
        <div class="large-6 no-left-padding column">
            <button type="submit" class="small debat-orange expanded button"> Ja </button>
        </div>
        <div class="large-6 no-left-padding column">
            <a class="small expanded debat-blue button" data-close> Nee </a>
        </div>
      </form>
    </div>
</div>
