{% extends 'briefings/public/base.html' %}

{% load static %}
{% load sass_tags %}

{% block theme_class %} grey {% endblock %}

{% block custom-stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'briefings/sass/style.sass' %}">
{% endblock %}

{% block custom-javascript %}
  <script type="application/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'tinymce/jquery.tinymce.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="page-banner">
        <img class="full-bg" src="{% static 'briefings/img/banner-with-no-text.png' %}" alt="">
    </div>

    <div class="white-container">
        <div class="large-5 large-centered text-center">
          <form id="add-answers-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

             {{ formset.management_form }}

             {% for form in formset %}
               {{ form.id }}
               <p class="card-label text-left">Vraag {{ forloop.counter }}</p>

               <div class="card">
                 <p class="card-section column text-left">{{ form.instance.question }}</p>
               </div>

               <label for="id_form-{{ forloop.counter }}-answer" class="text-left">Antwoord {{ forloop.counter }}</label>
               <textarea name="form-{{ forloop.counter0 }}-answer" id="id_form-{{ forloop.counter0 }}-answer" cols="30" rows="10"></textarea>
               <br>

               <div class="input-group">
                  <label>Bijlage (docx, pdf, jpg, png)</label>
                  <div class="row">
                    <div class="large-6 column">
                      <input type="text" id="upload-display" class="upload-display" placeholder="Kies een bestand" title disabled/>
                    </div>
                    <div class="large-4 column end">
                      <label for="id_form-{{ forloop.counter0 }}-files" class="blue button expanded">Bladeren</label>
                        <input type="file" name="form-{{ forloop.counter0 }}-files[]" id="id_form-{{ forloop.counter0 }}-files" class="file-upload-widget" data-index="{{ forloop.counter0 }}" accept="image/jpeg,image/jpg,image/png,application/pdf" multiple>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="large-10 column">
                    <div id="file-{{ forloop.counter0 }}-container" class="file-container"></div>
                  </div>
               </div>

             {% endfor %}

             <div class="row footer">
               <div class="large-offset-8 large-4 column">
                 <div class="small expanded button-group">
                   <button type="submit" id="submit-btn" class="debat-orange button">Opslaan</button>
                 </div>
               </div>
             </div>
          </form>
        </div>
    </div>

    <script>
      $(function(){
        var form = $('#add-answers-form');
        var fileUploadWidgets = $('.file-upload-widget');
        var files = [];
        var containers = $('.file-container');

        fileUploadWidgets.each(function(index){
          var formIndex = parseInt($(this).data('index'));
          files[formIndex] = [];
        });

        $('.file-upload-widget').fileupload({
          add: function (e, data) {
            var formIndex = parseInt($(this).data('index'));
            $.each(data.files, function (index, file) {
              files[formIndex].push(file);
            });
            redrawFilesList(formIndex);
          }
        });

        // Initialize tinymce editor
        tinymce.remove();
        tinymce.init({
            selector: 'textarea',
            menubar: false,
            statusbar: false,
            height: 200,
            toolbar: [
                'undo redo | styleselect | bold italic | alignleft  aligncenter alignright'
              ]
        });

        form.submit(function(event){
          event.preventDefault();
          $('#submit-btn').attr('disabled', true);
          var formData = new FormData(form.get(0));

          for (let i = 0; i < files.length; i++){
            for (let j = 0; j < files[i].length; j++) {
              let file = files[i][j];
              formData.append('form-' + i + '-files', file, file.name);
            }
          }

          if (validateFormset()) {
            $.ajax({
              url: "{% url 'briefings:briefing-question-update' object.pk %}",
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success: function(data){
                location.href = '{{ view.success_url }}';
              }
            });
          }else{
            $('#submit-btn').removeAttr('disabled');
          }
        });

        function validateFormset() {
          var textarea = $('textarea');
          var validate = true;

          for (let i = 0; i < textarea.length; i++) {
            let content = tinyMCE.editors[i].getContent();
            if (content === '') {
              validate = false;
            }
          }
          return validate;
        }

        function redrawFilesList(formIndex) {
          var container = $('#file-' + formIndex + '-container');
          container.html('');

          for (let i = 0; i < files[formIndex].length; i++) {
            var file = files[formIndex][i];
            var size = (file.size / 1000000).toFixed(2) + 'MB';
            var rowContainer = $('<div/>').attr('id', 'file-container-row-' + i).addClass('file-container-row');

            var iconClass;
            switch (file.type) {
              case 'image/jpeg':
                iconClass = 'fa-file-photo-o';
                break;
              case 'image/jpg':
                iconClass = 'fa-file-photo-o';
                break;
              case 'image/png':
                iconClass = 'fa-file-photo-o';
                break;
              case 'application/pdf':
                iconClass = 'fa-file-pdf-o text-danger';
                break;
              default:
                iconClass = 'fa-file';
            }

            var icon = $('<span/>').addClass('fa ' + iconClass + ' file-icons');
            rowContainer.append(icon);

            var fileInfo = $('<div/>').addClass('file-information');
            fileInfo.append($('<div/>').attr('id', 'file-name-' + i).addClass('file-name').html(file.name));
            fileInfo.append($('<div/>').attr('id', 'file-size-' + i).addClass('file-size').html(size));

            rowContainer.append(fileInfo);
            rowContainer.append($('<div class="fi flaticon-check"></div>'));

            var deleteButton = $('<a/>').attr({
              'id': 'delete-button-' + formIndex + '-' + i,
              'data-file-index': i,
              'data-form-index': formIndex
            }).addClass('delete-button')
              .html('<span class="fi flaticon-close-button"></span>');

            rowContainer.append(deleteButton);
            container.append(rowContainer);
          }
        }

        // Attach delete row event
        $('.file-container').on('click', '.delete-button', function(e){
          var formIndex = parseInt($(this).data('form-index'));
          var fileIndex = parseInt($(this).data('file-index'));
          files[formIndex].splice(fileIndex, 1);
          redrawFilesList(formIndex);
        });
      });
    </script>
{% endblock %}
