{% load static %}
{% load sass_tags %}
{% load assets %}
{% load raven %}

<!DOCTYPE html>
<html lang="en" class="{% block theme_class %} white {% endblock %}">
<head>
    <meta charset="UTF-8">
    <title>Debat.NL – Offertes</title>

    {# BASE STYLESHEETS #}
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'sass/base.sass' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'backoffice/sass/style.sass' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    {% block custom-stylesheet %}{% endblock %}

    {# BASE JAVASCRIPT #}
    <script>Raven.config('{% sentry_public_dsn %}').install();</script>
    <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/foundation.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'blueimp-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script type="application/javascript" src="{% static 'blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
    {% block custom-javascript %}{% endblock %}
</head>

<body>
    <div class="row header">
        {# LOGO #}
        <div class="logo-container">
            <img src="{% static 'img/logo.png' %}">
        </div>
    </div>

    <div class="row">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
