{% extends 'briefings/public/base.html' %}

{% load static %}
{% load sass_tags %}

{% block theme_class %} grey {% endblock %}

{% block custom-stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'briefings/sass/style.sass' %}">
{% endblock %}

{% block content %}
  <div class="page-banner">
    <img class="full-bg" src="{% static 'briefings/img/banner-with-no-text.png' %}" alt="">
  </div>

  <div class="white-container success-page-container" id="question-success-banner">
    <div class="large-10 large-centered text-center">
      <span class="fi flaticon-circle-2"></span>
      <h3>Bedankt voor de update!</h3>
      <h3>De briefing is bijgewerkt en alle trainers hebben een notificatie ontvangen.</h3>
    </div>
  </div>
{% endblock %}
