<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div id="edit-modal-container">
    <div class="row column">
        <h5>GEBRUIKER WIJZIGEN</h5>
    </div>
    <form action="{% url 'debatnl_online:e_learning:student' %}{{ student.id  }}/change/" method="post">
        {% csrf_token %}
        <div class="row column">
            <label for="last-name">
                Achternaam
                <input type="text" id="last-name" name="last_name" value="{{ student.last_name }}" required>
            </label>
            <label for="first-name">
                Voornaam
                <input type="text" id="first-name" name="first_name" value="{{ student.first_name }}" required>
            </label>
            <label for="e-mail">
                E-mail
                <input type="email" id="e-mail" name="email_address" value="{{ student.email_address }}" required>
            </label>
            <br>
        </div>

        <div class="row column">
            Inschrijven voor:
            <br>
            <br>
        </div>

        {% for course in courses %}
            <div class="row column">
                <label>
                    <input type="hidden" name="enrolment_{{ course.id }}" value="0">
                    <input type="checkbox" name="enrolment_{{ course.id }}" value="1" {% if course in student.courses %} checked {% endif %}>
                    {{ course.name }}
                </label>
            </div>
        {% endfor %}
        <div class="row footer">
            <div class="large-offset-6 large-3 no-left-padding column">
                <input type="submit" class="small debat-orange expanded button" value="Opslaan">
            </div>
            <div class="large-3 no-left-padding column">
                <a class="small expanded debat-blue button" data-close> Annuleren </a>
            </div>
        </div>
    </form>
</div>