@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

#overview-heading
  padding-bottom: 0

#overview-card
  #lead-title
    color: $debat-blue
    font-size: 14px
    margin-bottom: 6px

  .card-section
    padding-bottom: 32px

.checkbox
  display: block
  height: 22px

  .check-label-box
    border: 1px solid $debat-orange

  .check-label-text
    color: $debat-blue
    font-size: 13px

  input[type=checkbox]:disabled:checked + .check-label
    .check-label-box
      background-color: $debat-orange
      border-color: $debat-orange

#deliverable-container
  padding-top: 32px
  padding-bottom: 100px

  .table-label
    text-align: left
    color: $debat-blue

  #deliverable-table
    border: 1px solid #ccc

    th
      color: $debat-blue
      font-weight: normal
      padding: 1.1rem 2rem
      border-bottom: 1px solid #ccc

    td
      color: $debat-blue
      padding: 1.1rem 2rem
      text-align: left

    .empty-row
      text-align: center
