{% extends "backoffice/base.html" %}
{% load static sass_tags %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'follow_ups/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-themes/jquery-ui.min.css' %}">
{% endblock %}

{% block custom-javascript %}
  <script type="application/javascript" src="{% static 'jqueryui/jquery-ui.js' %}"></script>
  <script type="application/javascript" src="{% static 'backoffice/js/datepicker-nl.js' %}"></script>
  <script type="application/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'tinymce/jquery.tinymce.min.js' %}"></script>
{% endblock %}

{% block content %}{% endblock %}
