{% extends 'follow_ups/base.html' %}

{% block content %}
  <div class="expanded row column">
    <table id="planned-followup-table" class="followup-tables table">
      <thead>
      <tr>
        <th>ORGANISATIE</th>
        <th>CONTACTPERSOON</th>
        <th>SALES RESPONSIBLE</th>
        <th>DATUM VOLGENDE VERZENDING</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for followup in object_list %}
        <tr>
          <td>{{ followup.opportunity.organization.name }}</td>
          <td>
            {% if followup.opportunity.person %}
              {{ followup.opportunity.person.name }}
            {% else %}
              <span class="text-danger">Contactpersoon niet bekend</span>
            {% endif %}
          </td>
          <td>
            {% if followup.opportunity.assigned_to %}
              {{ followup.opportunity.assigned_to.name }}
            {% else %}
              <span class="text-danger">Sales responsible niet bekend</span>
            {% endif %}
          </td>
          <td>
            {% if followup.get_upcoming_events.count > 0 %}
              <span class="text-success">
                {{ followup.get_upcoming_events.first.date|date:'d-m-Y' }}
              </span>
            {% else %}
              <span class="text-danger">Verzending nog niet ingepland</span>
            {% endif %}
          </td>
          <td class="text-right">
            {% if not followup.opportunity.person or not followup.opportunity.assigned_to %}

            {% elif followup.get_upcoming_events.count <= 0 %}
              <a
                name="btn-open-modal"
                class="button hollow"
                data-url="{% url 'follow_ups:followup-setup-step1' followup.pk %}">Instellen</a>
            {% else %}
              <a name="btn-open-modal" class="button hollow" data-url="{% url 'follow_ups:followup-detail' followup.pk %}">Weergeven</a>
            {% endif %}
            <a name="btn-open-modal" class="button hollow" data-url="{% url 'follow_ups:followup-delete' followup.pk %}">Verwijderen</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5" class="text-center">Er zijn geen follow ups.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'common/widgets/widget-modal.html' with id="follow-up" %}
{% endblock content %}
