<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h5>SCANS</h5>
</div>

<div class="row">
  <p class="column large-12 labels">Hoeveel scans moeten er geschreven worden?</p>
  <div class="end column large-2">
    <select title disabled>
      <option selected="selected">
        {{ deliverable.scans.count }}
      </option>
    </select>
  </div>
</div><!-- /.row -->

{% for object in deliverable.scans.all %}
  <section class="scans-deliverable-detail">
    <div class="row column">
      <hr>
    </div>

    <h6 class="column">Scan {{ forloop.counter }}</h6>

    <div class="row">
      <div class="large-12 column">
        <p class="card-label">Titel</p>
        <div class="card">
          <div class="card-section">
            {{ object.title }}
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="large-12 column">
        <p class="card-label">Type</p>
        <div><input type="radio" {% if object.type == object.FRACTION_SCAN %} checked {% endif %} disabled title> <label>Fractiescan</label></div>
        <div><input type="radio" {% if object.type == object.DEBAT_SCAN %} checked {% endif %} disabled title> <label>Debatscan</label></div>
        <div><input type="radio" {% if object.type == object.CHAIRMAN_SCAN %} checked {% endif %} disabled title> <label>Voorzitterscan</label></div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="large-12 column">
        <p class="card-label">Wat zijn de aandachtspunten?</p>
        <div class="card">
          <div class="card-section">
            {{ object.issues|safe }}
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="large-12 column">
        <p class="card-label">Deadline</p>
        <div class="card">
          <div class="card-section">
            {{ object.deadline_at|date:'d-m-Y'}}
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="large-12 column">
        <p class="card-label"> Wie moet het verslag indienen?</p>
        {% for trainer in trainers %}
          <div>
            <div class="radio">
              <input type="radio" {% if trainer == object.trainer %} checked {% endif %} disabled title="">
              <label>{{ trainer.get_full_name }}</label>
              <br>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endfor %}

<div class="row footer">
  <div class="large-offset-6 large-6 column">
    <div class="small expanded button-group">
      <a name="btn-open-modal-scan-change" class="debat-blue button" data-url="{% url 'scans:update' deliverable.pk %}">Wijzigen</a>
      <button type="button" class="debat-orange button" data-close>Ok</button>
    </div>
  </div>
</div>

<!-- Update scans for deliverable modal -->
<div id="scan-modal-wrapper" class="row">
  {% include 'common/widgets/widget-modal.html' with id='scans-modal' button_name='btn-open-modal-scan-change' append_to='#scan-modal-wrapper' %}
</div>
