<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h5 class="modal-title">SCAN TOEVOEGEN</h5>
  <form id="add-scan-form" action="{% url 'scans:create' selected_deliverable.pk %}" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}

    <input type="hidden" name="deliverables" value="{{ selected_deliverable.pk }}" multiple="multiple">

    {% if pending_deliverables %}
      {% include 'scans/components/modals/sections/add_tab_1.html' %}
    {% endif %}

    {% include 'scans/components/modals/sections/add_tab_2.html' %}

  </form>
</div><!-- /.row -->

<div id="empty-row">
  {% include 'scans/components/modals/sections/empty_form.html' %}
</div>

<script>
  $(function(){
    // Hide all form step tabs
    $('.tabs').hide();

    // Display the first step initially
    $('.tabs').first().show();

    // Handle `Volgende` (next) button
    $('#next-btn').click(function(){
      $('#tab-1').hide();
      $('#tab-2').show();
    });

    // Initialize tinymce editor
    tinymce.remove();
    initTinymce();

    // Initialize date pickers
    $.datepicker.setDefaults(
      $.extend(
        $.datepicker.regional['nl']
      )
    );

    // Initialize the first date field input
    initDatePicker(0);

    $('#scan-count').change(function(){
      var formCount = Number($(this).val());
      var form = $('#add-scan-form');
      tinymce.remove();
      form.find('.extra-forms').remove();
      initDatePicker(0);

      for (var i = 1; i < formCount; i++){
        var emptyForm = $('#empty-row').clone();
        var newRow = $(emptyForm.html().replace(/__prefix__/g, i).replace(/__title_prefix__/g, i + 1));
        form.find('.scan-forms').last().after(newRow);

        // Initialize tinymce editor
        initTinymce(i);

        // Initialize the first date field input
        initDatePicker(i);
      }

      // Re-initialize tinyMCE for the 1st textarea
      initTinymce();
      $('#id_form-TOTAL_FORMS').val(formCount);
    });

    // Function to initialize TinyMCE editor
    function initTinymce(n) {
      if (!n) {
        n = 0
      }

      tinymce.init({
        selector: '#id_form-' + n + '-issues',
        menubar: false,
        statusbar: false,
        height: 200,
        toolbar: [
          'undo redo | styleselect | bold italic | alignleft  aligncenter alignright'
        ]
      });
    }

    function initDatePicker(n) {
      var dateField = $('#date-field-' + n);
      dateField.datepicker({
        dateFormat: 'dd/mm/yy',
        altFormat: 'yy-mm-dd',
        altField:'#id_form-' + n + '-deadline_at',
        beforeShow: function(textbox, instance) {
          var containers = $(textbox).parent().find('.date-picker-container');
          if (containers.length > 0) {
            var container = containers[0];
            $('#ui-datepicker-div').detach().appendTo(container);
          }
        }
      });
    }
  });
</script>
