<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h5 class="modal-title">SCAN WIJZIGEN</h5>
  <form id="update-scan-form" action="{% url 'scans:update' deliverable.pk %}" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}

    <input type="hidden" name="deliverables" value="{{ selected_deliverable.pk }}" multiple="multiple">

    <div class="row">
      <p class="column large-12 labels">Hoeveel scans moeten er geschreven worden?</p>
      <div class="end column large-2">
        <select id="scan-count" name="scan-count" title>
          <option value="1" {% if formset.total_form_count == 1 %} selected {% endif %}>1</option>
          <option value="2" {% if formset.total_form_count == 2 %} selected {% endif %}>2</option>
          <option value="3" {% if formset.total_form_count == 3 %} selected {% endif %}>3</option>
          <option value="4" {% if formset.total_form_count == 4 %} selected {% endif %}>4</option>
          <option value="5" {% if formset.total_form_count == 5 %} selected {% endif %}>5</option>
          <option value="6" {% if formset.total_form_count == 6 %} selected {% endif %}>6</option>
          <option value="7" {% if formset.total_form_count == 7 %} selected {% endif %}>7</option>
          <option value="8" {% if formset.total_form_count == 8 %} selected {% endif %}>8</option>
          <option value="9" {% if formset.total_form_count == 9 %} selected {% endif %}>9</option>
          <option value="10" {% if formset.total_form_count == 10 %} selected {% endif %}>10</option>
        </select>
      </div>
    </div><!-- /.row -->

    {% for form in formset %}
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}
      <section class="scan-forms" id="form-{{ forloop.counter0 }}">
        <div class="row column">
          <hr>
        </div>

        <h5>Scan {{ forloop.counter }}</h5>

        <div class="row input-group">
          <div class="column large-12">
            <label for="id_form-{{ forloop.counter0 }}-title">Titel</label>
            <input type="text" id="id_form-{{ forloop.counter0 }}-title" name="form-{{ forloop.counter0 }}-title" value="{{ form.instance.title }}" required>
          </div>
        </div>

        <div class="row input-group">
          <div class="column">
            <p class="labels">Type</p>

            <div class="radio">
              <input
                type="radio"
                name="form-{{ forloop.counter0 }}-type"
                id="id_form-{{ forloop.counter0 }}-type_0"
                value="{{ form.instance.FRACTION_SCAN }}"
                {% if form.instance.type == form.instance.FRACTION_SCAN %} checked {% endif %}>
              <label for="id_form-{{ forloop.counter0 }}-type_0">Fractiescan</label>
            </div>

            <div class="radio">
              <input
                type="radio"
                name="form-{{ forloop.counter0 }}-type"
                id="id_form-{{ forloop.counter0 }}-type_1"
                value="{{ form.instance.DEBAT_SCAN }}"
                {% if form.instance.type == form.instance.DEBAT_SCAN %} checked {% endif %}>
              <label for="id_form-{{ forloop.counter0 }}-type_1">Debatscan</label>
            </div>

            <div class="radio">
              <input
                type="radio"
                name="form-{{ forloop.counter0 }}-type"
                id="id_form-{{ forloop.counter0 }}-type_2"
                value="{{ form.instance.CHAIRMAN_SCAN }}"
                {% if form.instance.type == form.instance.CHAIRMAN_SCAN %} checked {% endif %}>
              <label for="id_form-{{ forloop.counter0 }}-type_2">Voorzitterscan</label>
            </div>
          </div>
        </div>

        <div class="row input-group">
          <div class="column large-12">
            <label for="id_form-{{ forloop.counter0 }}-issues">Wat zijn de aandachtspunten?</label>
            <textarea name="form-{{ forloop.counter0 }}-issues" id="id_form-{{ forloop.counter0 }}-issues" cols="10" rows="10" class="tinymce-textareas ">{% autoescape off %} {{ form.instance.issues }} {% endautoescape %}</textarea>

          </div>
        </div>

        <div class="row input-group">
          <div class="column large-5">
            <label for="date-field-{{ forloop.counter0 }}">Deadline</label>
            <input
              type="text"
              class="date-field"
              id="date-field-{{ forloop.counter0 }}"
              data-alt-field="id_form-{{ forloop.counter0 }}-deadline_at"
              value="{{ form.instance.deadline_at|date:'d-m-Y' }}"
              autocomplete="off" required>

            <!-- Hidden Date-Alt Field -->
            <input type="hidden" name="form-{{ forloop.counter0 }}-deadline_at" id="id_form-{{ forloop.counter0 }}-deadline_at" value="{{ form.instance.deadline_at|date:'Y-m-d' }}" required>
            <div class="date-picker-container"></div>
          </div>
        </div>

        <div class="row input-group">
          <div class="column">
            <p class="labels">Wie moet het verslag indienen?</p>
            {% for trainer in trainers %}
              <div>
                <input
                  type="radio"
                  id="id_form-{{ forloop.parentloop.counter0 }}-trainer_{{ trainer.pk }}"
                  class="trainers"
                  name="form-{{ forloop.parentloop.counter0 }}-trainer"
                  value="{{ trainer.pk }}"
                  {% if form.instance.trainer == trainer %} checked {% endif %}
                  required>
                <label for="id_form-{{ forloop.parentloop.counter0 }}-trainer_{{ trainer.pk }}">{{ trainer.get_full_name }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
    {% endfor %}

    <div class="row footer">
      <div class="large-offset-6 large-6 column">
        <div class="small expanded button-group">
          <button type="button" class="debat-blue button" data-close>Annuleren</button>
          <button type="submit" class="debat-orange button">Opslaan</button>
        </div>
      </div>
    </div>
  </form>
</div><!-- /.row -->

<script>
  $(function() {
    initScanForms();
    $('#scan-count').change(redrawScanForm);

    function initScanForms() {
      tinymce.remove();

      $.datepicker.setDefaults(
        $.extend(
          $.datepicker.regional['nl']
        )
      );

      var totalForm = parseInt($('#id_form-TOTAL_FORMS').val());
      for (var count = 0; count < totalForm; count++) {
        initDatePicker(count);
        initTinymce(count);
      }
    }

    function initTinymce(n) {
      tinymce.init({
        selector: '#id_form-' + n + '-issues',
        menubar: false,
        statusbar: false,
        height: 200,
        toolbar: [
          'undo redo | styleselect | bold italic | alignleft  aligncenter alignright'
        ]
      });
    }

    function initDatePicker(n) {
      var dateField = $('#date-field-' + n);
      dateField.datepicker({
        dateFormat: 'dd-mm-yy',
        altFormat: 'yy-mm-dd',
        altField:'#id_form-' + n + '-deadline_at',
        beforeShow: function(textbox, instance) {
          var containers = $(textbox).parent().find('.date-picker-container');
          if (containers.length > 0) {
            var container = containers[0];
            $('#ui-datepicker-div').detach().appendTo(container);
          }
        }
      });
    }

    function redrawScanForm() {
      var value = Number($(this).val());
      $('#modal-container-delivery').load('{{ request.path }}' + '?extra=' + value);
    }
  });
</script>
