<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h5>SCAN VERWIJDEREN</h5>

<form action="{% url 'scans:delete' pk=scan.id %}" method="post">
  {% csrf_token %}

  <br>
  <h6 class="">Weet je het zeker?</h6>
  <h6 class="check-label-text">Vergeet ook niet de trainer te informeren.</h6>

  <div class="row footer">
    <div class="large-offset-6 large-6">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="submit" class="debat-orange button">Ok</button>
      </div>
    </div>
  </div>
</form>
