<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h5>SCANS UPLOADEN</h5>
</div>

<form id="form-scan-upload" action="{% url 'scans:upload' pk=scan.id %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="status" value="{{ form.initial.status }}">

  <div class="row">
    <div class="large-12 column">
      <label>Staat dit verslag ook op SharePoint in de map "Oefenen & Offertes / Scans / Klantnaam / Jaartal"?</label>
      <div>
        <input type="radio" id="upload-location-1" name="upload-location" value="Yes">
        <label for="upload-location-1">Ja</label>
      </div>
      <div>
        <input type="radio" id="upload-location-0" name="upload-location" value="No" checked>
        <label for="upload-location-0">Nee</label>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="large-12 column">
      <label> Geef de exacte naam van de Klantnaam op SharePoint op.</label>
      <input type="text" id="client_name" name="client_name" required title>

    </div>
  </div>

  <br>

  <div class="row">
    <div class="large-12 column">
      <label> Geef de exacte bestandsnaam op SharePoint op.</label>
      <input type="text" id="client_filename" name="client_filename" required title>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="large-12 column">
      <label>Is de regelafstand 1,3?</label>
      <div>
        <input type="radio" id="upload-spacing-1" name="upload-spacing" value="Yes">
        <label for="upload-spacing-1">Ja</label>
      </div>
      <div>
        <input type="radio" id="upload-spacing-0" name="upload-spacing" value="No" checked>
        <label for="upload-spacing-0">Nee</label>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="large-12 column">
      <label>Is er een voorblad aanwezig met foto en contactpersoon?</label>
      <div>
        <input type="radio" id="upload-example-1" name="upload-example" value="Yes">
        <label for="upload-example-1">Ja</label>
      </div>
      <div>
        <input type="radio" id="upload-example-0" name="upload-example" value="No" checked>
        <label for="upload-example-0">Nee</label>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="large-12 column">
      <label>Heb je een spelcheck gedaan?</label>
      <div>
        <input type="radio" id="upload-spellchecker-1" name="upload-spellchecker" value="Yes">
        <label for="upload-spellchecker-1">Ja</label>
      </div>
      <div>
        <input type="radio" id="upload-spellchecker-0" name="upload-spellchecker" value="No" checked>
        <label for="upload-spellchecker-0">Nee</label>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="large-12 column">
      <label>Heb je de tekst actief geschreven (dus geen gaan we kijken naar, maar kijken we)?</label>
      <div>
        <input type="radio" id="upload-text-1" name="upload-text" value="Yes">
        <label for="upload-text-1">Ja</label>
      </div>
      <div>
        <input type="radio" id="upload-text-0" name="upload-text" value="No" checked>
        <label for="upload-text-0">Nee</label>
      </div>
    </div>
  </div>

  <div class="row footer">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="submit" id="btn-scan-upload" class="debat-orange button" disabled>Opslaan</button>
      </div>
    </div>
  </div>
</form>

<script>
 $(function () {
   var form = $('#form-scan-upload');

   $('input[type=radio]').change(function () {
     $("#btn-scan-upload").prop('disabled', !checkValues());
   });

   function checkValues() {
     var elements = [];
     $.each(form.serializeArray(), function (idx, item) {
       if (item.name.substring(0, 7) === 'upload-') elements.push(item);
     });
     return elements.every(isValueEqualToYes)
   }

   function isValueEqualToYes(item) {
     return item.value === 'Yes';
   }
 })
</script>
