<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h5>SCANS</h5>
</div>

<div class="row">
  <div class="large-12 column">
    <p class="card-label">Titel</p>
    <div class="card">
      <div class="card-section">
        {{ object.title }}
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="large-12 column">
    <p class="card-label">Type</p>
    <div><input type="radio" {% if object.type == object.FRACTION_SCAN %} checked {% endif %} disabled title> <label>Fractiescan</label></div>
    <div><input type="radio" {% if object.type == object.DEBAT_SCAN %} checked {% endif %} disabled title> <label>Debatscan</label></div>
    <div><input type="radio" {% if object.type == object.CHAIRMAN_SCAN %} checked {% endif %} disabled title> <label>Voorzitterscan</label></div>
  </div>
</div>

<br>

<div class="row">
  <div class="large-12 column">
    <p class="card-label">Wat zijn de aandachtspunten?</p>
    <div class="card">
      <div class="card-section">
        {{ object.issues|safe }}
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="large-12 column">
    <p class="card-label">Deadline</p>
    <div class="card">
      <div class="card-section">
        {{ object.deadline_at|date:'d-m-Y'}}
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="large-12 column">
    <p class="card-label"> Wie moet het verslag indienen?</p>
      {% for trainer in trainers %}
        <div>
          <input type="radio" {% if trainer == object.trainer %} checked {% endif %} disabled title>
          <label> {{ trainer.get_full_name }} </label>
        </div>
      {% endfor %}
  </div>
</div>

<div class="row footer">
  <div class="large-offset-8 large-4 column">
    <a class="small expanded debat-orange button" data-close>OK</a>
  </div>
</div>
