{% extends 'marketing/base.html' %}

{% block content %}
  <div class="row column">
    {% for period in object_list %}
      <section>
        <H5>
          {% include 'planning/components/widgets/month_selector.html' with month=period.month %}
          {{ period.year }}
        </H5>
        <table>
          <thead>
          <tr class="table-row">
            <td>ORGANISATIE</td>
            <td>CONTACTPERSOON</td>
            <td>ACHTERGROND VAN DE VRAAG</td>
            <td>ACHTERGROND VAN HET PROGRAMMA</td>
          </tr>
          </thead>
          <tbody>
          {% for offer in period.offers.all|dictsortreversed:'created_at' %}
            <tr>
              <td>{{ offer.organization }}</td>
              <td>{{ offer.contact_person }}</td>
              <td>{{ offer.question_background|truncatechars:40 }}</td>
              <td>{{ offer.program_structure|truncatechars:40 }}</td>
            </tr>
          {% empty %}
            <tr>
              <td class="text-center" colspan="4">Er zijn geen offertes.</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </section>
    {% empty %}
      <div class="text-center"> Er is nog geen data beschikbaar.</div>
    {% endfor %}
  </div>
{% endblock %}
