<section>
  <H5>E-MAILS</H5>

  <table id="table-email-templates">
    <thead>
    <tr class="table-row">
      <td>
        UITNODIGING DEELNEMER

        {% if invitation_participant_template %}
          <span class="float-right">
            <a name="option" class="hollow tiny button" data-url="{% url 'debatnl_online:learning_goals:email_templates:update' organization=view.kwargs.organization pk=invitation_participant_template.id %}?type=INVITATION&role=PARTICIPANT">
              Bewerken
            </a>
            <a name="option" class="hollow tiny button" data-url="{% url 'debatnl_online:learning_goals:email_templates:delete' organization=view.kwargs.organization pk=invitation_participant_template.id %}">
              Verwijderen
            </a>
          </span>
        {% endif %}
      </td>
      <td>
        UITNODIGING MANAGER

        {% if invitation_manager_template %}
          <span class="float-right">
            <a name="option" class="hollow tiny button" data-url="{% url 'debatnl_online:learning_goals:email_templates:update' organization=view.kwargs.organization pk=invitation_manager_template.id %}?type=INVITATION&role=MANAGER">
              Bewerken
            </a>
            <a name="option" class="hollow tiny button" data-url="{% url 'debatnl_online:learning_goals:email_templates:delete' organization=view.kwargs.organization pk=invitation_manager_template.id %}">
              Verwijderen
            </a>
          </span>
        {% endif %}
      </td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="cell-title">Onderwerp</div>
        {{ invitation_participant_template.subject|default:'--' }}
      </td>
      <td>
        <div class="cell-title">Onderwerp</div>
        {{ invitation_manager_template.subject|default:'--' }}
      </td>
    </tr>
    <tr>
      <td>
        {% if invitation_participant_template %}
          <div class="cell-title">Tekst</div>
          <div class="pre-email-text">Beste <span>[Ontvanger]</span>,</div>
          <pre>{{ invitation_participant_template.description }}</pre>
          <div class="post-email-text">
            <span>[KNOP: Aanmelden]</span><br><br>
            Met vriendelijke groet,<br>
            {{ invitation_participant_template.sender_name|default:'Debat.NL' }}<br><br>
            Knop werkt niet?<br>
            Als u niet op de bovenstaande knop kunt klikken, kopieer en plak de onderstaande link in uw browser.<br><br>
            <span>[LINK]</span>
          </div>
        {% else %}
          <a name="option" class="debat-orange small expanded button" data-url="{% url 'debatnl_online:learning_goals:email_templates:create' organization=view.kwargs.organization %}?type=INVITATION&role=PARTICIPANT">
            <span class="fi flaticon-signs"></span>
            Voeg e-mail toe
          </a>
        {% endif %}
      </td>
      <td>
        {% if invitation_manager_template %}
          <div class="cell-title">Tekst</div>
          <div class="pre-email-text">Beste <span>[Ontvanger]</span>,</div>
          <pre>{{ invitation_manager_template.description }}</pre>
          <div class="post-email-text">
            <span>[KNOP: Aanmelden]</span><br><br>
            Met vriendelijke groet,<br>
            {{ invitation_manager_template.sender_name|default:'Debat.NL' }}<br><br>
            Knop werkt niet?<br>
            Als u niet op de bovenstaande knop kunt klikken, kopieer en plak de onderstaande link in uw browser.<br><br>
            <span>[LINK]</span>
          </div>
        {% else %}
          <a name="option" class="debat-orange small expanded button" data-url="{% url 'debatnl_online:learning_goals:email_templates:create' organization=view.kwargs.organization %}?type=INVITATION&role=MANAGER">
            <span class="fi flaticon-signs"></span>
            Voeg e-mail toe
          </a>
        {% endif %}
      </td>
    </tr>
    </tbody>
  </table>
</section>
