{% extends "admin/change_form.html" %}
{% block object-tools-items %}
  <li style="float: none; margin-bottom: 15px">
    <a
      href="{% url 'admin:send_confirmation_email' pk=original.pk %}"
      class="grp-state-focus">
      Send Trainer Confirmation E-mail
    </a>
  </li>
    <li style="float: none; margin-bottom: 15px">
    <a
      href="{% url 'admin:send_trainer_reminder_email' pk=original.pk %}"
      class="grp-state-focus">
      Send Trainer Confirmation Reminder E-mail
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a
      href="{% url 'admin:send_option_confirmation_email' pk=original.pk %}"
      class="grp-state-focus">
      Send OPTION request Confirmation E-mail
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a
      href="{% url 'admin:send_finalize_confirmation_email' pk=original.pk %}"
      class="grp-state-focus">
      Send OPTION request finalize confirmation E-mail
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a
    href="{% url 'admin:send_finalize_confirmation_reminder_email' pk=original.pk %}"
    class="grp-state-focus">
      Send OPTON request finalize reminder E-mail
    </a>
  </li>
  {{ block.super }}
{% endblock %}
