<section id="allowance-section">
  <div class="row column form-group">
    <input type="hidden" id="alt-date-field">
    <label class="radio-label">Van wanneer is de declaratie? <sup class="required-mark">&ast;</sup></label>
    <div class="row">
      <div class="large-4 column">
        <div class="input-group" id="date-input-group">
          <input type="text" class="date-field input-group-field" id="date-field" data-alt-field="id_date" autocomplete="off" title required />
          <span class="input-group-label"><i class="fa fa-calendar"></i></span>
        </div>
        <div class="date-picker-container"></div>
      </div>
    </div>
  </div>

  <!-- Form Container -->
  <div id="form-allowance"></div>
</section>

<script>
  $(function () {
    var formSection = $('#form-allowance');
    var dateField = $('#date-field');
    var altDateField = $('#alt-date-field');

    // Initialize date pickers
    $.datepicker.setDefaults($.extend($.datepicker.regional["nl"]));
    dateField.datepicker({
      dateFormat: "dd/mm/yy",
      altFormat: "yy-mm-dd",
      altField: "#alt-date-field"
    });

    dateField.on('change', function () {
      var date = altDateField.val();
      var url = "{% url 'declarations:allowance-create' declaration.pk %}?date=" + date;
      $.get(url, function(data) {
        formSection.html(data);
      });
    });
  })
</script>
