<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h5>VERGOEDING VERWIJDEREN</h5>

<div id="form-allowance-delete">
  <p>Weet je zeker dat je de vergoeding wilt verwijderen?</p>

  <div class="row column text-right">
    <div class="small button-group">
      <button type="button" class="debat-blue large-3 button" data-close>Annuleren</button>
      <button type="button" name="btn-submit" class="large-3 button" data-close>Verwijderen</button>
    </div>
  </div>
</div>

<script>
  $(function () {
    var btnSubmit = $('#modal-container-modal-allowance [name=btn-submit]');

    btnSubmit.on('click', function (e) {
      var url = "{{ request.path }}";
      $.post(url, {}, function (data) {
          var container = $('#container-allowance');
          container.html(data);
          container.trigger('change');
      });
    })
  })
</script>
