{% load l10n %}

{% if object_list.count > 0 %}
  <div class="row column table-title">
    Vergoeding
  </div>

  <div class="row column">
    <table id="table-allowance">
      <thead>
        <tr>
          <td>OMSCHRIJVING</td>
          <td>DATUM</td>
          <td>ORGANISATIE/MEETING MET</td>
          <td>BEGINTIJD</td>
          <td>EINDTIJD</td>
          <td>TYPE</td>
          <td>BON</td>
          <td>BEDRAG</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
      {% for item in object_list %}

        <!-- Internal Meetings -->
        {% for meeting in item.internal_meetings.all %}
        <tr>
          <td>{{ item.description }}</td>
          <td>{{ item.date|date:'d-m-Y' }}</td>
          <td>{{ meeting.meeting_with }}</td>
          <td>{{ meeting.start_time|date:'H:i' }}</td>
          <td>{{ meeting.end_time|date:'H:i' }}</td>
          {% if meeting.type == meeting.INTERNAL %}
          <td>INTERN</td>
          {% else %}
          <td>OPVOLGING</td>
          {% endif %}
          <td><a href="{{ item.file.url }}" class="receipt-link" target="_blank">Bekijk</a></td>
          <td class="amount" data-allowance-id="{{ item.pk }}" data-value="{{ item.amount|unlocalize }}">{% if forloop.first %}€ {{ item.amount }}{% endif %}</td>
          <td>
            {% if not readonly %}
            <button type="button" name="btn-open-allowance-modal" class="small hollow button" data-url="{% url 'declarations:internal-allowances-delete' pk=item.pk meeting=meeting.pk %}">Verwijderen</button>
            {% else %}
            <span class="fa fa-check-circle text-success"></span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}

        <!-- External Meetings -->
        {% for meeting in item.external_meetings.all %}
        <tr>
          <td>{{ item.description }}</td>
          <td>{{ item.date|date:'d-m-Y' }}</td>
          <td>{{ meeting.organization }}</td>
          <td>{{ meeting.start_time|date:'H:i' }}</td>
          <td>{{ meeting.end_time|date:'H:i' }}</td>
          <td>UITVOERING</td>
          <td><a href="{{ item.file.url }}" class="receipt-link" target="_blank">Bekijk</a></td>
          <td class="amount" data-allowance-id="{{ item.pk }}" data-value="{{ item.amount|unlocalize }}">{% if forloop.first and item.internal_meetings.count == 0 %}€ {{ item.amount }}{% endif %}</td>
          <td>
            {% if not readonly %}
            <button type="button" name="btn-open-allowance-modal" class="small hollow button" data-url="{% url 'declarations:external-allowances-delete' pk=item.pk meeting=meeting.pk %}">Verwijderen</button>
            {% else %}
            <span class="fa fa-check-circle text-success"></span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if not readonly %}
    <div class="row column text-center">
      <button type="button" class="small button" data-open="modal-expenses">
        <i class="fa fa-plus"></i> Voeg onkosten/bonussen toe
      </button>
    </div>
  {% endif %}

  {% if not readonly %}
    {% include 'common/widgets/widget-modal.html' with id='modal-allowance' button_name='btn-open-allowance-modal' %}
  {% endif %}
{% endif %}
