{% extends "backoffice/base.html" %}
{% load static %}
{% load sass_tags %}

{% block custom-stylesheets %}
  <link href="{% static 'material-design-icons/iconfont/material-icons.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'declarations/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-themes/jquery-ui.min.css' %}">
{% endblock %}

{% block custom-javascript %}
  <script type="application/javascript" src="{% static 'jqueryui/jquery-ui.js' %}"></script>
  <script type="application/javascript" src="{% static 'backoffice/js/datepicker-nl.js' %}"></script>
{% endblock %}

{% block content %}{% endblock %}
