<section id="form-client-bonus">
  <form method="post" action="{{ request.path }}">
    <div class="row column form-group">
      <label class="radio-label">Heb je toestemming van Sharon Kroes? <sup class="required-mark">&ast;</sup></label>
      <div>
        <input type="radio" id="permission-yes" name="permission" value="1">
        <label for="permission-yes">Ja</label>
      </div>
      <div>
        <input type="radio" id="permission-no" name="permission" value="0">
        <label for="permission-no">Nee</label>
      </div>
    </div>

    <div id="form-client-bonus-section-0" class="row column form-group hide">
      <p class="error-message">Vraag eerst toestemming aan Sharon Kroes. Annuleer voor nu de aanvraag.</p>
    </div>

    <div id="form-client-bonus-section-1" class="hide row column">
      {% csrf_token %}

      <div class="row form-group">
        <div class="large-6 column">
          <label for="{{ form.invoice_number.id_for_label }}">{{ form.invoice_number.label }}<sup class="required-mark">&ast;</sup></label>
            {{ form.invoice_number }}
        </div>
        <div class="large-12 column error">
          <span class="error-text">Factuurnummer al gebruikt.</span>
        </div>
      </div>

      <div class="row form-group">
        <div class="large-6 column">
          <label for="{{ form.name.id_for_label }}">{{ form.name.label }}<sup class="required-mark">&ast;</sup></label>
            {{ form.name }}
        </div>
      </div>

      <div class="row form-group">
        <div class="large-6 column">
          <label for="{{ form.amount.id_for_label }}">{{ form.amount.label }}<sup class="required-mark">&ast;</sup></label>
            {{ form.amount }}
        </div>
      </div>
    </div>

    <div class="row column text-right">
      <div class="small button-group">
        <button type="button" class="debat-blue large-3 button" data-close>Annuleren</button>
        <button type="submit" class="large-3 button">Opslaan</button>
      </div>
    </div>
  </form>
</section>

<script>
  $(function () {
    var section = $('#form-client-bonus');
    var formSections = section.find('[id^=form-client-bonus-section]');
    var radioButtons = section.find('[name="permission"]');
    var form = section.find('form');

    radioButtons.on('click', function () {
      formSections.toggleClass('hide', true);
      var selector = "#form-client-bonus-section-" + $(this).val();
      $(selector).toggleClass('hide', false);
    });

    form.on('submit', function (e) {
      var url = $(this).attr('action');
      $.post(url, $(this).serialize(), function (data) {
        var container = $('#container-client-bonus');
        container.html(data);
        container.trigger('change');
        form.closest('.reveal').foundation('close');
        $('.error').hide();
      }).fail(function() {
        $('.error').show()
      });
      e.preventDefault();
    })
  })
</script>
