{% load l10n %}

{% if object_list.count > 0 %}
  <div class="row column table-title">
    Klantbonus
  </div>

  <div class="row column">
    <table id="table-client-bonus">
      <thead>
      <tr>
        <td>FACTUURNUMMER</td>
        <td>KLANTNAAM</td>
        <td>BEDRAG</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      {% for item in object_list.all %}
        <tr>
          <td>{{ item.invoice_number }}</td>
          <td>{{ item.name }}</td>
          <td class="amount" data-value="{{ item.amount|unlocalize }}">€ {{ item.amount }}</td>
          <td class="text-right">
            {% if not readonly %}
              <button type="button" name="btn-open-client-modal" class="small hollow button" data-url="{% url 'declarations:client-bonuses-delete' declaration=item.declaration.pk pk=item.pk %}">
                Verwijderen
              </button>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if not readonly %}
    <div class="row column text-center">
      <button type="button" class="small button" data-open="modal-expenses">
        <i class="fa fa-plus"></i> Voeg onkosten/bonussen toe
      </button>
    </div>
  {% endif %}

  {% if not readonly %}
    {% include 'common/widgets/widget-modal.html' with id='modal-client-bonus' button_name='btn-open-client-modal' %}
  {% endif %}
{% endif %}
