{% include 'declarations/base.html' %}

{% block content %}
  <div class="row">
    <div class="large-2 column">
      <form action="{{ request.path }}" method="GET">
        <label for="year">Jaar</label>
        <select name="year" id="year">
          {% for year in year_list %}
          <option value="{{ year }}" {% if selected_year == year %}selected{% endif %}>
            {{ year }}
          </option>
          {% endfor %}
        </select>
      </form>
    </div>
  </div>

  <div class="row column">
    <h4 class="table-headings">DECLARATIE</h4>
  </div>

  <div class="row column">
    <table id="declaration-table" class="table">
      <thead>
        <tr>
          <th width="300">MAAND</th>
          <th>STATUS</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for declaration in object_list %}
          <tr>
            <td>{{ declaration.get_month_display }}</td>
            <td class="{% if declaration.status == declaration.NEED_CHANGES %} text-danger {% else %} text-success {% endif %}">
                {{ declaration.get_status_display }}
            </td>
            <td class="text-right">
              {% if declaration.status == declaration.SUBMITTED %}
                <a href="{% url 'declarations:detail' declaration.pk %}" class="small button hollow">Bekijken</a>
              {% elif declaration.status != declaration.IN_PROGRESS %}
                <a href="{% url 'declarations:update' declaration.pk %}" class="small button hollow">Bewerken</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    $(function() {
      $('#year').change(function() {
        $(this).parent('form').submit();
      });
    });
  </script>
{% endblock %}
