{% extends 'declarations/declaration_base_form.html' %}

{% load static %}

{% block custom-javascript %}
  {{ block.super }}
  <script type="application/javascript" src="{% static 'blueimp-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
  <script type="application/javascript" src="{% static 'blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
{% endblock %}

{% block tabcontent %}
  {% include 'declarations/tabs/tab-expense.html' %}
{% endblock %}
