{% extends 'backoffice/base.html' %}
{% load static %}
{% load sass_tags %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'material-design-icons/iconfont/material-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'declarations/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-themes/jquery-ui.min.css' %}">
{% endblock %}

{% block custom-javascript %}
  <script type="application/javascript" src="{% static 'jqueryui/jquery-ui.js' %}"></script>
  <script type="application/javascript" src="{% static 'backoffice/js/datepicker-nl.js' %}"></script>
{% endblock %}

{% block content %}
  <form id="feedback-form" action="{{ request.path }}" method="POST">
    {% csrf_token %}

    <!-- Feedback form -->
    {% include 'declarations/sections/feedback.html' %}

    <!-- Buttons -->
    <div class="row column form-group">
      <button name="save" type="submit" class="button debat-blue">Tussentijds opslaan</button>
      <button name="submit" type="submit" class="button debat-orange">Definitief inzenden</button>
    </div>

    <!-- Tabs -->
    <div class="row column">
      {% include 'declarations/sections/tabs.html' %}

      <div class="tabs-content">
        {% block tabcontent %}{% endblock %}
      </div>
    </div>

    <!-- Calculations -->
    {% include 'declarations/sections/calculations.html' with object=object %}

    <br>

    <!-- Buttons -->
    <div class="row column form-group">
      <button name="save" type="submit" class="button debat-blue">Tussentijds opslaan</button>
      <button name="submit" type="submit" class="button debat-orange">Definitief inzenden</button>
    </div>
  </form>

  <!-- NOTIFICATION MODAL -->
  {% if messages %}
      {% include 'backoffice/components/modals/modal-notification.html' %}
  {% endif %}

  <div id="modal-travel-expense-container"></div>
  <div class="reveal modal-container" id="modal-travel-expense" data-append-to="#modal-travel-expense-container" data-close-on-click="false" data-multiple-opened="true" data-reveal></div>

  <script>
    $(function() {
      $('#modal-travel-expense').foundation();
      $.datepicker.setDefaults($.extend($.datepicker.regional['nl']));
    })
  </script>
{% endblock %}
