{% extends 'backoffice/base.html' %}
{% load static %}
{% load sass_tags %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'material-design-icons/iconfont/material-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'declarations/sass/style.sass' %}">
{% endblock %}

{% block content %}
  <!-- Feedback form -->
  {% include 'declarations/sections/feedback.html' %}

  <!-- Buttons -->
  {% if review_mode and object.status == object.IN_PROGRESS %}
    <div class="row column form-group">
      <button type="button" name="btn-open-modal" class="debat-blue button" data-url="{% url 'salaries:deny' pk=object.pk %}">Aanpassing vragen</button>
      <a href="{% url 'salaries:approve' pk=object.pk %}" class="button">Accorderen</a>
    </div>
  {% elif review_mode %}
    <div class="row column form-group">
      <a href="{% url 'salaries:overview'%}" class="button">Terug naar overzicht</a>
    </div>
  {% else %}
    <div class="row column form-group">
      <a href="{% url 'declarations:overview'%}" class="button">Terug naar overzicht</a>
    </div>
  {% endif %}

  <br>

  <!-- Tabs -->
  <div class="row column">
    {% include 'declarations/sections/tabs.html' %}

    <div class="tabs-content">
      {% block tabcontent %}{% endblock %}
    </div>
  </div>

  <!-- Calculations -->
  {% include 'declarations/sections/calculations.html' with object=object %}

  <br>

  <!-- Buttons -->
  {% if review_mode and object.status == object.IN_PROGRESS %}
    <div class="row column form-group">
      <button type="button" name="btn-open-modal" class="debat-blue button" data-url="{% url 'salaries:deny' pk=object.pk %}">Aanpassing vragen</button>
      <a href="{% url 'salaries:approve' pk=object.pk %}" class="button">Accorderen</a>
    </div>
  {% elif review_mode %}
    <div class="row column form-group">
      <a href="{% url 'salaries:overview'%}" class="button">Terug naar overzicht</a>
    </div>
  {% else %}
    <div class="row column form-group">
      <a href="{% url 'declarations:overview'%}" class="button">Terug naar overzicht</a>
    </div>
  {% endif %}

  <!-- Modal -->
  {% if review_mode and object.status == object.IN_PROGRESS %}
    {% include 'common/widgets/widget-modal.html' %}
  {% endif %}
{% endblock %}
