<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h5>ELEARNING VERWIJDEREN</h5>

<p>Weet je zeker dat je deze elearning wilt verwijderen?</p>

<form method="post" action="{{ request.path }}">
  {% csrf_token %}

  <div class="row column text-right">
    <div class="small button-group">
      <button type="button" class="debat-blue button" data-close>Annuleren</button>
      <button type="submit" id="btn-elearning-delete" class="debat-orange button">Verwijderen</button>
    </div>
  </div>
</form>
