{% load l10n %}

{% if object_list.count > 0 %}
  <div class="row column">
    <table class="table" id="elearning-table">
      <thead>
        <tr>
          <th>ELEARNING</th>
          <th>CERTIFICAAT</th>
          <th>AANTAL UUR INTERN TARIEF</th>
          <th>
            AANTAL UUR DECLARABEL<br>
            <em>INTERN TARIEF OMGEREKEND</em>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list.all %}
          <tr>
            <td>{{ item.name }}</td>
            <td class="view-cell"><a target="_blank" href="{{ item.certificate.url }}" title="{{ item.name }}">Bekijk</a></td>
            <td>{{ item.hours }}</td>
            <td class="amount" data-hours="{{ item.hours|unlocalize }}" data-value="{{ item.get_amount|unlocalize }}">{{ item.get_amount }}</td>
            <td class="text-right">
              {% if not readonly %}
                <button type="button" name="btn-open-elearning-table-modal" class="small button hollow"
                        data-url="{% url 'declarations:elearning-items-delete' declaration=item.declaration.pk pk=item.pk %}">
                  Verwijderen
                </button>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if not readonly %}
    <div class="row column text-center">
      <button type="button" name="btn-open-elearning-table-modal" class="button" data-url="{% url 'declarations:elearning-items-create' pk=object_list.first.declaration.pk %}">
        <span class="fa fa-plus"></span> Voeg elearning toe
      </button>
    </div>
 {% endif %}
{% endif %}

<!-- E-LEARNING MODAL  -->
{% if not readonly %}
  {% include 'common/widgets/widget-modal.html' with id='modal-elearning-table' button_name='btn-open-elearning-table-modal' %}
{% endif %}


{% if not readonly %}
  <script>
    $(function() {
      var containerELearning = $('#container-elearning');
      var internalRate = $('#id_internal_hourly_rate').val();
      var billableRate = $('#id_billable_hourly_rate').val();

      var amountCells = containerELearning.find('.amount');
      amountCells.each(function() {
          var intRate = (isNaN(internalRate)) ? 0 : parseFloat(internalRate);
          var billRate = (isNaN(billableRate)) ? 0 : parseFloat(billableRate);
          var hours = parseFloat($(this).data('hours'));
          var rate = (intRate > 0 && billRate > 0) ? intRate / billRate : 0;
          var totalAmount = hours * rate;
          totalAmount = isNaN(totalAmount) ? 0 : totalAmount;
          $(this).data('value', totalAmount.toFixed(2));
          $(this).text(totalAmount.toFixed(2).replace('.', ','))
        });
    });
  </script>
{% endif %}


