<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row">
  <h5 class="column">ELEARNING TOEVOEGEN</h5>
</div>

<form method="POST" id="add-elearning-form" action="{{ request.path }}" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-group row">
    <div class="large-8 column">
      <label for="{{ form.name.id_for_label }}">{{ form.name.label }} <sup class="required-mark">&ast;</sup></label>
      {{ form.name }}
      <span id="elearning-exist-error" class="error-message hide">Deze elearning is al gedeclareerd. Verwijder deze.</span>
    </div>
  </div>

  <div class="row column form-group">
    {% include 'common/widgets/widget-file-uploader.html' with file_input_label=form.certificate.label %}
  </div>

  <div class="row column text-right">
    <div class="small button-group">
      <button type="button" class="debat-blue large-3 button" data-close>Annuleren</button>
      <button type="submit" class="large-3 button">Opslaan</button>
    </div>
  </div>
</form>

<script>
  var files = [];
  $(function() {
    var form = $("#add-elearning-form");

    form.on('submit', function (e) {
      var url = $(this).attr('action');
      var formData = new FormData(form.get(0));

      for(var i = 0; i < files.length; i++) {
        formData.append('certificate', files[i], files[i].name);
      }

      if (files.length > 0) {
        $.ajax({
          url: url,
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
            success: function() {
              $('#elearning-exist-error').toggleClass('hide', true);
              window.location.replace("{% url 'declarations:e-learning-update' pk=view.kwargs.pk %}");
            },
            error: function() {
              $('#elearning-exist-error').toggleClass('hide', false);
            }
        });
      }
      e.preventDefault();
    })
  });
</script>

