<section id="form-employee-bonus">
  <form method="post" action="{{ request.path }}">
    <div class="row column form-group">
      <label class="radio-label">Heb je toestemming van Ilona Eichhorn? <sup class="required-mark">&ast;</sup></label>
      <div>
        <input type="radio" id="permission-yes" name="permission" value="1">
        <label for="permission-yes">Ja</label>
      </div>
      <div>
        <input type="radio" id="permission-no" name="permission" value="0">
        <label for="permission-no">Nee</label>
      </div>
    </div>

    <div id="form-employee-bonus-section-0" class="row column form-group hide">
      <p class="error-message">Vraag eerst toestemming aan Ilona Eichhorn. Annuleer voor nu de aanvraag.</p>
    </div>

    <div id="form-employee-bonus-section-1" class="hide row column">
      {% csrf_token %}

      <div class="row form-group">
        <div class="large-6 column">
          <label for="{{ form.name.id_for_label }}">{{ form.name.label }}<sup class="required-mark">&ast;</sup></label>
            {{ form.name }}
        </div>
      </div>

      <div class="row column form-group">
        <label class="radio-label">Is het een eerste contract of een contractverlenging?</label>
        {% for choice in form.type %}
          <div>
            {{ choice.tag }}
            <label for="{{ choice.id_for_label}}">{{ choice.choice_label }}</label>
          </div>
        {% endfor %}
      </div>

      <div class="row form-group">
        <div class="large-6 column">
          <label for="employee-bonus-amount">Bonus</label>
          <input type="text" id="employee-bonus-amount" readonly>
        </div>
      </div>
    </div>

    <div class="row column text-right">
      <div class="small button-group">
        <button type="button" class="debat-blue large-3 button" data-close>Annuleren</button>
        <button type="submit" class="large-3 button">Opslaan</button>
      </div>
    </div>
  </form>
</section>

<script>
  $(function () {
    var section = $('#form-employee-bonus');
    var formSections = section.find('[id^=form-employee-bonus-section]');
    var radioButtons = section.find('[name="permission"]');
    var form = section.find('form');
    var typeRadioButtons = section.find('[name=type]');

    radioButtons.on('click', function () {
      formSections.toggleClass('hide', true);
      var selector = "#form-employee-bonus-section-" + $(this).val();
      $(selector).toggleClass('hide', false);
    });

    typeRadioButtons.on('click', function () {
        var categories = {
            'FIRST CONTRACT': 100,
            'CONTRACT EXTENSION': 150
        };
        var category = categories[$(this).val()];
        var readOnlyField = section.find('#employee-bonus-amount');
        readOnlyField.val(category);
    });

    form.on('submit', function (e) {
      var url = $(this).attr('action');
      $.post(url, $(this).serialize(), function (data) {
        var container = $('#container-employee-bonus');
        container.html(data);
        container.trigger('change');
        form.closest('.reveal').foundation('close');
      });
      e.preventDefault();
    })
  })
</script>
