{% load l10n %}

{% if object_list.count > 0 %}
  <div class="row column table-title">
    Onkosten
  </div>

  <div class="row column">
    <table id="table-expense">
      <thead>
      <tr>
        <td>OMSCHRIJVING</td>
        <td>BON</td>
        <td>BEDRAG</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      {% for item in object_list %}
        <tr>
          <td>{{ item.description }}</td>
          <td><a href="{{ item.file.url }}" class="receipt-link" target="_blank">Bekijk</a></td>
          <td class="amount" data-value="{{ item.amount|unlocalize }}">€ {{ item.amount }}</td>
          <td class="text-right">
            {% if not readonly %}
              <button type="button" name="btn-open-expense-modal" class="small hollow button" data-url="{% url 'declarations:expenses-delete' declaration=item.declaration.pk pk=item.pk %}">
                Verwijderen
              </button>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if not readonly %}
    <div class="row column text-center">
      <button type="button" class="small button" data-open="modal-expenses">
        <i class="fa fa-plus"></i> Voeg onkosten/bonussen toe
      </button>
    </div>
  {% endif %}

  {% if not readonly %}
    {% include 'common/widgets/widget-modal.html' with id='modal-expense' button_name='btn-open-expense-modal' %}
  {% endif %}
{% endif %}
