<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h5>ONKOSTEN VERWIJDEREN</h5>

<div id="form-expense-delete">
  <p>Weet u zeker dat u de onkosten wilt verwijderen?</p>

  <div class="row column text-right">
    <div class="small button-group">
      <button type="button" class="debat-blue large-3 button" data-close>Annuleren</button>
      <button type="button" name="btn-submit" class="large-3 button" data-close>Verwijderen</button>
    </div>
  </div>
</div>

<script>
  $(function () {
    var btnSubmit = $('#modal-container-modal-expense [name=btn-submit]');

    btnSubmit.on('click', function (e) {
      var url = "{% url 'declarations:expenses-delete' declaration=object.declaration.pk pk=object.pk %}";
      $.post(url, {}, function (data) {
          var container = $('#container-expense');
          container.html(data);
          container.trigger('change');
      });
    })
  })
</script>
