<section id="form-expense">
  <form method="post" action="{{ request.path }}" enctype="multipart/form-data">
    <div class="row column form-group">
      <label class="radio-label">Heb je toestemming van Ilona Eichhorn of Sharon Kroes voor deze declaratie? <sup class="required-mark">&ast;</sup></label>
      <div>
        <input type="radio" id="permission-ilona" name="permission" value="1">
        <label for="permission-ilona">Ilona Eichhorn</label>
      </div>
      <div>
        <input type="radio" id="permission-sharon" name="permission" value="1">
        <label for="permission-sharon">Sharon Kroes</label>
      </div>
      <div>
        <input type="radio" id="permission-no" name="permission" value="0">
        <label for="permission-no">Geen van beiden</label>
      </div>
    </div>

    <div id="form-expense-section-0" class="row column form-group hide">
      <p class="error-message">Vraag eerst toestemming. Annuleer voor nu deze onkostendeclaratie.</p>
    </div>

    <div id="form-expense-section-1" class="hide row column">
      {% csrf_token %}

      <div class="row form-group">
        <div class="large-6 column">
          <label for="{{ form.description.id_for_label }}">{{ form.description.label }}<sup class="required-mark">&ast;</sup></label>
            {{ form.description }}
        </div>
      </div>

      <div class="row form-group">
        <div class="large-6 column">
          <label for="{{ form.amount.id_for_label }}">{{ form.amount.label }}<sup class="required-mark">&ast;</sup></label>
            {{ form.amount }}
        </div>
      </div>

      <div class="row column form-group">
        {% include 'common/widgets/widget-file-uploader.html' with file_input_label=form.file.label id=form.file.id_for_label %}
      </div>
    </div>

    <div class="row column text-right">
      <div class="small button-group">
        <button type="button" class="debat-blue large-3 button" data-close>Annuleren</button>
        <button type="submit" class="large-3 button">Opslaan</button>
      </div>
    </div>
  </form>
</section>

<script>
  var files = [];

  $(function () {
    var section = $('#form-expense');
    var formSections = section.find('[id^=form-expense-section]');
    var radioButtons = section.find('[name="permission"]');
    var form = $('#form-expense form');

    radioButtons.on('click', function () {
      formSections.toggleClass('hide', true);
      var selector = "#form-expense-section-" + $(this).val();
      $(selector).toggleClass('hide', false);
    });

    form.on('submit', function (e) {
      var url = $(this).attr('action');
      var formData = new FormData(form.get(0));

      for(var i = 0; i < files.length; i++) {
        formData.append('file', files[i], files[i].name);
      }
      if (files.length > 0) {
        $.ajax({
          url: url,
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
            success: function(data) {
              var container = $('#container-expense');
              container.html(data);
              container.trigger('change');
              form.closest('.reveal').foundation('close');
            },
        });
      }
      e.preventDefault();
    })
  })
</script>
