<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4 class="modal-title row column">
  {% if type == 'start_time' %}BEGINTIJD{% endif %}
  {% if type == 'end_time' %}EINDTIJD{% endif %}
</h4>

<div class="row column">
<table class="table">
  <thead>
  <tr>
    <td>NAAM TRAINER</td>
    <td>TIJD</td>
  </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>{{ object.declaration.user.get_full_name }}</td>
      <td>
        {% if type == 'start_time' %}{{ object.start_time }}{% endif %}
        {% if type == 'end_time' %}{{ object.end_time }}{% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<div class="row column">
  <div class="small button-group text-right">
    <button type="button" class="large-3 button" data-close>Ok</button>
  </div>
</div>
