<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4 class="modal-title row column">REISTIJD/KM VERGOEDING</h4>

<form id="form-travel-expense" action="{{ request.path }}?form_prefix={{ request.GET.form_prefix }}" method="post">
  {% csrf_token %}

  <!-- HAS TRAVEL EXPENSES-->
  <div class="row column form-group">
    <label class="radio-label">Heb je meer dan 2 uur reistijd retour of wil je een km vergoeding voor autogebruik?</label>
    <div class="radio-item">
      <input type="radio" id="travel-expense-1" name="{{ request.GET.form_prefix }}-travel-expense" value="1" {% if object.pk %}checked{% endif %}>
      <label for="travel-expense-1">Ja</label>
    </div>
    <div class="radio-item">
      <input type="radio" id="travel-expense-0" name="{{ request.GET.form_prefix }}-travel-expense" value="0">
      <label for="travel-expense-0">Nee</label>
    </div>
  </div>

  <div id="travel-expense-wrapper-0" class="row column text-danger">
    Je hoeft geen details over je reis in te vullen. Klik op annuleren en rond het declaratieformulier verder af.
  </div>

  <div id="travel-expense-wrapper-1">
    {{ form.id }}
    {{ form.date }}

    <!-- TYPE -->
    <div class="row column form-group">
      <label class="radio-label">Wat wil je declareren? <sup class="required-mark">&ast;</sup></label>
      {%  for choice in form.type %}
        <div class="radio-item">
          {{ choice.tag }}
          <label for="{{ choice.id_for_label}}">{{ choice.choice_label }}</label>
        </div>
      {% endfor %}
    </div>

    <!-- IS ONE WAY -->
    <div class="row column form-group">
      <label class="radio-label">Gaat het om retour of enkele reis? <sup class="required-mark"></sup></label>
      {%  for choice in form.is_one_way %}
        <div class="radio-item">
          {{ choice.tag }}
          <label for="{{ choice.id_for_label}}">{{ choice.choice_label }}</label>
        </div>
      {% endfor %}
    </div>

    {% for inline_formset in inlines %}

      {{ inline_formset.management_form }}

      {% with inline_form=inline_formset.0 %}
        {{ inline_form.id }}

        <!-- Departure Location -->
        <div class="row form-group">
          <div class="large-6 column">
            <label for="{{ inline_form.location.id_for_label }}">Vertreklocatie <sup class="required-mark">&ast;</sup></label>
            {{ inline_form.location }}
            <div class="help-text">Vul adres huisnummer, plaats in</div>

            <div class="travel-icons">
              <div class="row column">
                <label for="{{ inline_form.travel_mode.id_for_label }}-bicycling">
                  <input type="radio" name="{{ inline_form.prefix }}-travel_mode" id="{{ inline_form.travel_mode.id_for_label }}-bicycling" value="{{ inline_form.instance.MODE_BIKE }}"
                         {% if inline_form.instance.travel_mode == inline_form.instance.MODE_BIKE %}checked{% endif %}>
                  <i class="material-icons">directions_bike</i>
                </label>

                <label for="{{ inline_form.travel_mode.id_for_label }}-driving">
                  <input type="radio" name="{{ inline_form.prefix }}-travel_mode" id="{{ inline_form.travel_mode.id_for_label }}-driving" value="{{ inline_form.instance.MODE_CAR }}"
                         {% if inline_form.instance.travel_mode == inline_form.instance.MODE_CAR %}checked{% endif %}
                         {% if not inline_form.instance.travel_mode %}checked{% endif %}>
                  <i class="material-icons">directions_car</i>
                </label>

                <label for="{{ inline_form.travel_mode.id_for_label }}-transit">
                  <input type="radio" name="{{ inline_form.prefix }}-travel_mode" id="{{ inline_form.travel_mode.id_for_label }}-transit" value="{{ inline_form.instance.MODE_TRANSIT }}"
                         {% if inline_form.instance.travel_mode == inline_form.instance.MODE_TRANSIT %}checked{% endif %}>
                  <i class="material-icons">directions_transit</i>
                </label>

                <label for="{{ inline_form.travel_mode.id_for_label }}-walking">
                  <input type="radio" name="{{ inline_form.prefix }}-travel_mode" id="{{ inline_form.travel_mode.id_for_label }}-walking" value="{{ inline_form.instance.MODE_WALKING }}"
                         {% if inline_form.instance.travel_mode == inline_form.instance.MODE_WALKING %}checked{% endif %}>
                  <i class="material-icons">directions_walk</i>
                </label>
              </div>

              <br>

              <div class="row column">
                <label for="{{ inline_form.depart_time.id_for_label }}">Tijdstip heenreis <sup class="required-mark">&ast;</sup></label>
                <div class="time-field">{{ inline_form.depart_time }}</div>
              </div>

              <div id="{{ inline_form.prefix }}-return_depart_time_row" class="row column hide">
                <label for="{{ inline_form.return_depart_time.id_for_label }}">Tijdstip terugreis <sup class="required-mark">&ast;</sup></label>
                <div class="time-field">{{ inline_form.return_depart_time }}</div>
              </div>

              <div class="row column">
                <button type="button" class="button hollow btn-add-route">Voeg via locatie toe</button>
              </div>
            </div>
          </div>
        </div>
      {% endwith %}

      <div id="travel_expense_routes_formset">
        {% for inline_form in inline_formset %}
          {% if forloop.counter0 > 1 %}
             {{ inline_form.id }}
             {%  include 'declarations/travelexpense_empty_form.html' with inline_form=inline_form prefix=inline_form.prefix counter=forloop.counter|add:"-2" %}
          {% endif %}
        {% endfor %}
      </div>

      {% with inline_form=inline_formset.1 %}
        {{ inline_form.id }}
        <!-- Arrival Location -->
        <div class="row form-group">
          <div class="large-6 column">
            <label for="{{ inline_form.location.id_for_label }}">Aankomstlocatie <sup class="required-mark">&ast;</sup></label>
            {{ inline_form.location }}
            <div class="help-text">Vul adres huisnummer, plaats in</div>
          </div>
        </div>
      {% endwith %}

      <!-- API call errors -->
      <div id="{{ inline_form.prefix }}-api-error" class="row column text-danger error-message hide"></div>
    {% endfor %}

    <!-- Submit routes -->
    <div class="row form-group">
      <div class="large-3 column">
        <button type="button" id="btn-travel-expense-calculations" class="expanded button route-submit">Bereken</button>
      </div>
    </div>

    <div class="row column">
      <!-- Total Travel Time -->
      <div class="row form-group">
        <div class="large-6 column">
          <label for="id_total-time">Totale reistijd</label>
           {{ form.duration }}
        </div>
      </div>

      <!-- Distance -->
      <div class="row form-group">
        <div class="large-6 column">
          <label for="id_total-distance">Aantal KM</label>
          {{ form.distance }}
          <div class="help-text">Alleen bij vergoeding autogebruik</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row column">
    <div class="small button-group text-right">
      <button type="button" id="btn-travel-expense-cancel" class="debat-blue large-3 button" data-close>Annuleren</button>
      {% if object.pk %}
        <button type="button" id="btn-travel-expense-reset" name="btn-travel-expense-reset" class="debat-blue large-5 button" data-url="{% url 'declarations:travel-expenses-delete' pk=object.pk %}?form_prefix={{ request.GET.form_prefix }}">
          Reistijd/km vergoeding verwijderen
        </button>
      {% endif %}
      <button type="button" id="btn-travel-expense-submit" class="debat-orange large-3 button">Opslaan</button>
    </div>
  </div>

  {{ form.errors }}

  <div class="hide">
    {%  include 'declarations/travelexpense_empty_form.html' with inline_form=inlines.0.empty_form %}
  </div>
</form>

<div id="modal-container-travelexpense"></div>
{% include 'common/widgets/widget-modal.html' with id='confirm-deletion' button_name='btn-travel-expense-reset' append_to='#modal-container-travelexpense'%}

<script>
  $(function () {
    var $form = $('#form-travel-expense');
    var $travelExpenseInput = $('input[name={{ request.GET.form_prefix }}-travel-expense]');
    var $retourInput = $('input[name=is_one_way]');
    var $btnSubmit = $('#btn-travel-expense-submit');
    var $btnReset =  $('#btn-travel-expense-reset');
    var $btnCalculations = $('#btn-travel-expense-calculations');
    var $modal = $form.closest('.reveal');

    $btnSubmit.on('click', function (ev) {
      $.ajax({
        method: "POST",
        url: "{{ request.path }}?form_prefix={{ request.GET.form_prefix }}",
        data: $form.serialize(),
        success: function(data) {
          var formPrefix = data['form_prefix'];
          var updateURL = data['update_url'];
          var objectID = data['object_id'];
          var origin = data['origin'];
          var destination = data['destination'];
          var distance = data['distance'];
          var duration = data['duration'];

          var $btnModal = $('#btn-travel-expenses-'+ formPrefix);
          var $travelExpenseInput = $('#id_' + formPrefix + '-travel_expense');
          var $originInput = $('#id_' + formPrefix + '-origin-display');
          var $destinationInput = $('#id_' + formPrefix + '-destination-display');
          var $distanceInput = $('#id_' + formPrefix + '-distance-display');
          var $durationInput = $('#id_' + formPrefix + '-duration-display');
          var $travelExpenseSection = $('#travel-expense-data-section-' + formPrefix);
          var $declarableTravelTimeInput = $('#id_' + formPrefix + '-declarable_travel_time-display');
          var $startTimeHourInput = $('#id_' + formPrefix + '-start_time_0');

          if ($.isNumeric(distance)) { distance = parseFloat(distance); } else { distance = 0 }
          if ($.isNumeric(duration)) { duration = parseFloat(duration); } else { duration = 0 }

          $distanceInput.data('value', distance);
          $durationInput.data('value', duration);

          $btnModal.data('url', updateURL);
          $btnModal.html('Wijzig reistijd/km vergoeding');

          var declarableTravelTime = calculateDeclarableTravelTime();
          var declarableTravelTimeText = declarableTravelTime.toFixed(2).replace('.', ',') + ' uur';
          var distanceText = distance.toFixed(2).replace('.', ',') + ' km';
          var durationText = duration.toFixed(2).replace('.', ',') + ' uur';

          $declarableTravelTimeInput.data('value', declarableTravelTime);
          $travelExpenseInput.val(objectID);
          $originInput.val(origin);
          $destinationInput.val(destination);
          $distanceInput.val(distanceText);
          $durationInput.val(durationText);
          $declarableTravelTimeInput.val(declarableTravelTimeText);
          $travelExpenseSection.toggleClass('hide', false);
          $startTimeHourInput.trigger('change');
          $distanceInput.trigger('change');
          $modal.foundation('close');
        },
        error: function(error) {},
        complete: function() {}
      });
     });

    $btnCalculations.on('click', function (ev) {
      var $button = $(this);
      $button.html('<i class="fa fa-spinner fa-spin"></i>');
      $button.prop('disabled', true);

      $.ajax({
        method: "POST",
        url: "{% url 'declarations:travel-expenses-calculations' %}",
        data: $form.serialize(),
        success: function(data) {
          $('#id_duration').val(data['total_time']);
          $('#id_distance').val(data['total_distance']);
        },
        error: function(error) {},
        complete: function() {
          $('#id_duration').prop('readonly', false);
          $('#id_distance').prop('readonly', false);
          $button.html('Bereken');
          $button.prop('disabled', false);
        }
      });
    });

    $travelExpenseInput.on('click', function () {
      var value = ($(this).val());
      displayWrapper(value);
    });

    $retourInput.on('click', function () {
      var value = ($(this).val());
      var $hours = $('[id$=return_depart_time_0]');
      var $minutes = $('[id$=return_depart_time_1]');
      $hours.val('0');
      $minutes.val('00');
      displayRetourTimeField(value);
    });

    initBtnDuplicate();

    displayRetourTimeField($retourInput.filter(':checked').val());

    {% if object.pk %} displayWrapper('1'); {% endif %}

    function displayWrapper(value) {
      $('[id^=travel-expense-wrapper]').hide();
      $('#travel-expense-wrapper-' + value).show();

      if (value === '1') {
        $btnSubmit.show();
        $btnReset.show();
      } else {
        $btnSubmit.hide();
        $btnReset.hide();
      }
    }

    function displayRetourTimeField(value) {
      var $field = $('[id$=return_depart_time_row]');
      $field.toggleClass('hide', value !== 'False');
    }

    function initBtnDuplicate() {
      var $btnDuplicate = $('.btn-add-route');
      $btnDuplicate.off('click');
      $btnDuplicate.on('click', addRoute);
    }

    function addRoute() {
      var $totalForms = $('#id_routes-TOTAL_FORMS');
      var index = $totalForms.val();
      var totalAmount = parseInt(index) + 1;
      var clone = $('#travel_expense_routes_empty_form').html()
          .replace(/__prefix__/g, index)
          .replace(/__counter__/g, totalAmount - 2);
      $('#travel_expense_routes_formset').append(clone);
      $totalForms.val(totalAmount);
      initBtnDuplicate();
    }

    function calculateDeclarableTravelTime() {
      var $intHour = $('#id_internal_hourly_rate');
      var $billHour = $('#id_billable_hourly_rate');
      var $durationInput = $('#id_{{ request.GET.form_prefix }}-duration-display');
      var duration = $durationInput.data('value');

      var intHour = 0;
      var billHour = 0;
      if ($.isNumeric($intHour.val())) { intHour = parseFloat($intHour.val()) }
      if ($.isNumeric($billHour.val())) { billHour = parseFloat($billHour.val()) }

      var totalTravelTime = parseFloat(duration);
      var travelTime = (totalTravelTime - 2) * (intHour / billHour);
      travelTime = Math.round(travelTime * 100) / 100;
      travelTime = $.isNumeric(travelTime) ? travelTime : 0;
      return travelTime > 0 ? travelTime : 0;
    }
  });
</script>
