<div id="travel_expense_routes_empty_form">
  <div class="row form-group">
    <div class="large-6 column">
      <label for="{{ inline_form.location.id_for_label }}">Via locatie {{ counter|default:'__counter__' }}</label>
      {{ inline_form.location }}
      <div class="help-text">Vul adres huisnummer, plaats in</div>

      <div class="travel-icons">
        <div class="row column">
          <label for="{{ inline_form.prefix }}-travel_mode-bicycling">
            <input type="radio" name="{{ inline_form.prefix }}-travel_mode" id="{{ inline_form.prefix }}-travel_mode-bicycling" value="BIKE"
                   {% if inline_form.instance.travel_mode == inline_form.instance.MODE_BIKE %}checked{% endif %}>
            <i class="material-icons">directions_bike</i>
          </label>

          <label for="{{ inline_form.prefix }}-travel_mode-driving">
            <input type="radio" name="{{ inline_form.prefix }}-travel_mode" id="{{ inline_form.prefix }}-travel_mode-driving" value="CAR"
                   {% if inline_form.instance.travel_mode == inline_form.instance.MODE_CAR %}checked{% endif %}
                   {% if not inline_formset.instance.travel_mode %}checked{% endif %}>
            <i class="material-icons">directions_car</i>
          </label>

          <label for="{{ inline_form.prefix }}-travel_mode-transit">
            <input type="radio" name="{{ inline_form.prefix }}-travel_mode" id="{{ inline_form.prefix }}-travel_mode-transit" value="TRANSIT"
                   {% if inline_form.instance.travel_mode == inline_form.instance.MODE_TRANSIT %}checked{% endif %}>
            <i class="material-icons">directions_transit</i>
          </label>

          <label for="{{ inline_form.prefix }}-travel_mode-walking">
            <input type="radio" name="{{ inline_form.prefix }}-travel_mode" id="{{ inline_form.prefix }}-travel_mode-walking" value="WALKING"
                   {% if inline_form.instance.travel_mode == inline_form.instance.MODE_WALKING %}checked{% endif %}>
            <i class="material-icons">directions_walk</i>
          </label>
        </div>

        <br>

        <div class="row column">
          <label for="{{ inline_form.depart_time.id_for_label }}">Tijdstip heenreis <sup class="required-mark">&ast;</sup></label>
          <div class="time-field">{{ inline_form.depart_time }}</div>
        </div>

        <div id="{{ inline_form.prefix }}-return_depart_time_row" class="row column">
          <label for="{{ inline_form.return_depart_time.id_for_label }}">Tijdstip terugreis <sup class="required-mark">&ast;</sup></label>
          <div class="time-field">{{ inline_form.return_depart_time }}</div>
        </div>

        <div class="row column">
          <button type="button" class="button hollow btn-add-route">Voeg via locatie toe</button>
        </div>
      </div>
    </div>
  </div>
</div>
