<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<form id="form-travel-expense-delete" method="post">
  <p class="modal-content">Weet je zeker dat je de reistijd/km vergoeding wilt verwijderen?</p>

  <div class="row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="button" id="btn-travel-expense-delete" class="debat-orange button">Verwijderen</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function () {
    var $form = $('#form-travel-expense-delete');
    var $btnSubmit = $('#btn-travel-expense-delete');
    var $modals = $('.reveal');
    var $travelExpenseSection = $('#travel-expense-data-section-{{ request.GET.form_prefix }}');
    var createURL = '{% url "declarations:travel-expenses-create" %}?form_prefix={{ request.GET.form_prefix }}';

    $btnSubmit.on('click', function (ev) {
      ev.preventDefault();

      $.ajax({
        method: "POST",
        url: "{{ request.path }}",
        data: $form.serialize(),
        success: function(data) {
          var $btnModal = $('#btn-travel-expenses-{{ request.GET.form_prefix }}');
          var $travelExpenseInput = $('#id_{{ request.GET.form_prefix }}-travel_expense');
          var $typeInput = $('#id_{{ request.GET.form_prefix }}-type');
          var $distanceInput = $('#id_{{ request.GET.form_prefix }}-distance-display');
          $distanceInput.data('value', 0);
          $distanceInput.val('0');

          $typeInput.trigger('change');
          $distanceInput.trigger('change');
          $travelExpenseSection.toggleClass('hide', true);
          $modals.foundation('close');

          $btnModal.data('url', createURL);
          $btnModal.html('Voeg reistijd/km vergoeding toe');
          $travelExpenseInput.val('');
        },
        error: function(error) {},
        complete: function() {}
      });
    })
  })
</script>
