<div id="container-modal-delete-{{ inline_form.prefix }}"></div>
<div class="reveal" id="modal-delete-{{ inline_form.prefix }}" data-append-to="#container-modal-delete-{{ inline_form.prefix }}" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <p class="modal-content">{{ description }}</p>

  <div class="row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="button" name="btn-delete-form" class="debat-orange button">Verwijderen</button>
      </div>
    </div>
  </div>
</div>

<script>
    $('#modal-delete-{{ inline_form.prefix }}').foundation();
</script>
