<div class="small reveal" id="modal-expenses" data-close-on-click="false" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <h4 class="modal-title row column">ONKOSTEN/BONUSSEN</h4>

  <div class="row column form-group">
    <label class="radio-label">Wat wil je declareren? <sup class="required-mark">&ast;</sup></label>
    <div>
      <input type="radio" id="allowance" name="charge_item" data-url="{% url 'declarations:allowance-create' pk=object.pk %}">
      <label for="allowance">Lunch/Diner/Dagvergoeding</label>
    </div>
    <div>
      <input type="radio" id="expenses" name="charge_item" data-url="{% url 'declarations:expenses-create' pk=object.pk %}">
      <label for="expenses">Onkosten</label>
    </div>
    <div>
      <input type="radio" id="employee-bonus" name="charge_item" data-url="{% url 'declarations:employee-bonuses-create' pk=object.pk %}">
      <label for="employee-bonus">Medewerkersbonus</label>
    </div>
    <div>
      <input type="radio" id="client-bonus" name="charge_item" data-url="{% url 'declarations:client-bonuses-create' pk=object.pk %}">
      <label for="client-bonus">Klantbonus</label>
    </div>
  </div>

  <div id="section-container">
    <div class="row column text-right">
      <div class="small button-group">
        <button type="button" class="debat-blue large-3 button" data-close>Annuleren</button>
      </div>
    </div>
  </div>

  <div id="section-container-empty" class="hide">
    <div class="row column text-right">
      <div class="small button-group">
        <button type="button" class="debat-blue large-3 button" data-close>Annuleren</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    var modal = $('#modal-expenses');
    modal.foundation();

    modal.on('closed.zf.reveal', function () {
      $('#modal-expenses input[name="charge_item"]').prop('checked', false);
      var cloneRow = $('#section-container-empty .row').clone();
      $('#section-container').html(cloneRow);
    });

    $('#modal-expenses input[name="charge_item"]').on('click', function () {
        var url = $(this).data('url');
        $('#section-container').load(url);
    });
  })
</script>
