@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

.logo-container
  padding-top: 1rem
  padding-bottom: 1rem
  background-color: #FFFFFF

  img
    width: 10rem

.page-banner
  margin-bottom: 4rem

.confirmation-page-container, .expired-page-container
  font-size: 1.5rem
  font-weight: 600

  .flaticon-check
    font-size: 8rem
    color: $debat-green

  .flaticon-circle-1
    font-size: 8rem
    color: $debat-orange


.training-update-table
  font-size:  14px
  color: $debat-blue

  tr:first-child td
    padding: 0
    margin-bottom: 0
    font-size: 16px
    font-weight: 500

  tr:nth-child(2)
    td
      border: solid 1px $debat-light-grey

      &:first-child
        border: none
        vertical-align: middle
        width: 150px

  .hidden-row
    padding-top: 30px

    label
      color: $debat-blue

    .row
      margin-bottom: 20px

.participant-information-container
  margin-bottom: 20px
  font-weight: 400

  label
    font-weight: 500

.attendance-list
  tbody td
    padding: 0.8rem

    &:first-child
      padding-bottom: 2rem