@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

#form-add-training
  a[name="add-training"]
    color: $debat-orange

    span
      font-size: 0.6rem
      border: 1px solid $debat-orange
      padding: 0.2rem 0.3rem
      border-radius: 3px


    &:hover
      color: $debat-dark-orange

      span
        border-color: $debat-dark-orange

  .debat-blue
    background-color: #FFFFFF
    color: $debat-blue
    border-color: $debat-dark-blue

#ongoing-trainings
  table tbody tr td select
    display: inline-block
    width: 175px
    margin-bottom: 5px
    color: $debat-blue

  .details-row
    & > td
      border-bottom: 1px solid $debat-dark-grey
      border-top: 1px solid $debat-dark-grey
      padding: 0

    table
      margin-bottom: 0

    .attendee-option
      margin-bottom: 4px

      a
        color: $debat-orange

        .icon-border
          text-align: center
          font-size: 12px
          border: solid 1px $debat-orange
          padding: 2px 1px 2px 3px
          border-radius: 3px
          margin-right: 5px

  .remove-button
    font-size: 10px

  .add-trainer-container
    display: inline-block
    width: 50px
    height: 35px

  a[name="add-trainer"], a[name="remove-trainer"]
    span
      font-size: 0.6rem
      padding: 14px 12px 12px 12px
      border: 1px solid $debat-light-grey
      border-radius: 3px

  a[name="add-trainer"]
    color: $debat-blue

  a[name="remove-trainer"]
    color: $debat-red

  .trainer-options-container
    padding: 0.6rem 0

    > a
      margin-right: 10px
      color: $debat-blue

  a.link
    color: $debat-blue
    text-decoration: underline

#cancel-training-date-modal
  input[type="submit"].button
    padding: 0.55rem 1rem

.button
  line-height: 1.2
