{% extends "admin/change_form.html" %}
{% block object-tools-items %}

    <li>
        <a href="{% url 'admin:sync_form' pk=original.pk %}" class="grp-state-focus">Sync form</a>
    </li>
    <li>
        <a href="{% url 'admin:sync_webhooks' pk=original.pk %}" class="grp-state-focus">Sync Webhooks</a>
    </li>
    <li>
        <a href="{% url 'admin:sync_questions' pk=original.pk %}" class="grp-state-focus">Sync Questions</a>
    </li>
    <li>
        <a href="{% url 'admin:sync_submissions' pk=original.pk %}" class="grp-state-focus">Sync Submissions</a>
    </li>

    {{ block.super }}

{% endblock %}