{% extends 'planning/emails/base.html' %}

{% block content %}
  <div
    style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div
      style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.get_full_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    </div>

    <div style="padding-left: 24px; margin-top: 12px; margin-bottom: 24px;">
      <p style="font-size: 14px; line-height: 17px">
        <span style="color: #FB6600;">1.</span>
        Voor de komende maand met iedereen contact gehad?
      </p>
      <p style="font-size: 14px; line-height: 17px;">
        <span style="color: #FB6600;">2.</span>
        Zijn er nog verschuivingen geweest?
      </p>
      <p style="font-size: 14px; line-height: 17px">
        <span style="color: #FB6600;">3.</span>
        Vergeet na een training deelnemers niet via debat.nl/feedback te laten weten wat ze er van vonden!
      </p>
      <p style="font-size: 14px; line-height: 17px">
        <span style="color: #FB6600;">4.</span>
        <span style="color: #FF0000;">Let op:</span> Opties staan niet in het overzicht.
      </p>
    </div>
    <br>
    <p style="margin: 0;font-size: 14px;line-height: 17px">
      Contact opnemen? De gegevens staan in de briefingsmodule.
    </p>
    <div style="margin-top: 24px; margin-bottom: 24px;">
      <table style="border: 1px solid #ccc; border-radius: 3px; width: 100%; text-align: left; font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;">
        <tr style="font-size: 12px; font-weight: 700; border-bottom: 1px solid #ccc;">
          <th style="font-weight: normal; padding:14px 5px">DATUM DELIVERY</th>
          <th style="font-weight: normal; padding:14px 5px">ORGANISATIE</th>
          <th style="font-weight: normal; padding:14px 5px">TRAINERS</th>
        </tr>
        {% for delivery in deliveries %}
        <tr style="font-size: 14px;">
          <td style="padding:14px 12px;">{{ delivery.order_date|date:'d-m-Y' }}</td>
          <td style="padding:14px 12px;">
            {{ delivery.organization.name }} <br>
            {{ delivery.product }} <br>
            {{ delivery.responsible.name }} <br>
          </td>
          <td style="padding:14px 12px;">
            {% for trainer_name in delivery.get_trainer_names %}
              {{ forloop.counter }}: {{ trainer_name }} <br>
            {% endfor %}
          </td>
        </tr>
        {% empty %}
        <tr style="font-size: 14px;">
          <td colspan="5" style="padding:14px 12px; text-align: center;">Er zijn nog geen deliverables.</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
