<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div id="edit-modal-container">
    <div class="row column">
        <h5>LES TOEVOEGEN</h5>
    </div>
    <form action="{% url 'debatnl_online:e_learning:lesson' course_id chapter_id %}add/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="chapter_id" value="{{ chapter_id }}" required>
        <div class="row column">
            <label for="name">
                Naam
                <input type="text" id="name" name="name" value="" required>
            </label>
            <label for="sequence">
                Volgorde
                <input type="number" id="sequence" name="sequence" value="">
            </label>
            <label for="first-lesson">
                Eerste les
                <input type="hidden" name="is_first_lesson" value="0">
                <input type="checkbox" name="is_first_lesson" value="1">
            </label>
            <label for="video">
                Video
                <input type="file" id="video" name="video" value="">
            </label>
        </div>
        <div class="row footer">
            <div class="large-offset-6 large-3 no-left-padding column">
                <input type="submit" class="small debat-orange expanded button" value="Opslaan">
            </div>
            <div class="large-3 no-left-padding column">
                <a class="small expanded debat-blue button" data-close> Annuleren </a>
            </div>
        </div>
    </form>
</div>