<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<h5>INTAKE VERWIJDEREN</h5>

<form action="{% url 'intakes:delete' pk=intake.id %}" method="post">
    {% csrf_token %}

    <p>Weet u zeker dat u de intake wilt verwijderen?</p>

    <div class="row footer">
        <div class="large-offset-6">
            <div class="large-6 no-left-padding column">
                 <input type="submit" class="small debat-orange expanded button" value="Ja">
            </div>
            <div class="large-6 no-left-padding column">
                <a class="small expanded debat-blue button" data-close> Nee </a>
            </div>
        </div>
    </div>
</form>