<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>DATA WIJZIGEN</h5>
</div>

<form id="form-update-dates" action="{% url 'intakes:update-dates' pk=form.instance.id %}" method="post">
    {% csrf_token %}

    {% with id='trainers_report_date' label='Op welke datum moeten(en) de trainer(s) de inzendingen ontvangen?' disabled=form.instance.trainers_report_date_passed %}
        {% include 'common/widgets/widget-date-selector.html' with id=id label=label days=days years=years required=required disabled=disabled obj=form.instance.trainers_report_date %}
    {% endwith %}

    {% with id='report_date' label='Op welke datum moet de rapportage naar de klant verzonden worden?' disabled=form.instance.report_date_passed %}
        {% include 'common/widgets/widget-date-selector.html' with id=id label=label days=days years=years required=required disabled=disabled obj=form.instance.report_date %}
    {% endwith %}

    {% with selector='update-reminders'%}
        {{ formset_reminders.management_form }}

        <div id="{{ selector }}-container">
            <div class="{{ selector }}-container">
                {% for form in formset_reminders %}
                    {{ form.id }}

                    <div class="row {{ selector }}-row">
                        {% with 0index=forloop.counter0|stringformat:"s" index=forloop.counter|stringformat:"s" %}
                            {% with id='reminders-'|add:0index|add:'-date' label='Reminder '|add:index disabled=form.instance.date_passed %}
                                {% include 'common/widgets/widget-date-selector.html' with id=id label=label days=days years=years required=required disabled=disabled obj=form.instance.date %}
                            {% endwith %}
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>

            {% with add_text='Datum reminder toevoegen' remove_text='Datum reminder verwijderen' prefix=formset_reminders.get_default_prefix %}
                {% include 'common/widgets/widget-duplicate-fields.html' with id=selector add_text=add_text remove_text=remove_text prefix=prefix %}
            {% endwith %}
        </div>
    {% endwith %}

    <div class="row footer">
        <div class="large-offset-4 large-4 no-right-padding column">
            <input type="submit" class="small expanded debat-orange add-button button" value="Opslaan">
        </div>
        <div class="large-4 column">
            <input type="button" class="small expanded debat-blue button" value="Annuleren" data-close>
        </div>
    </div>
</form>
