<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>TRAINER(S) WIJZIGEN</h5>
</div>

<form id="form-update-trainers" action="{% url 'intakes:update-trainers' pk=form.instance.id %}" method="post">
    {% csrf_token %}

    <div class="row column">
        <div id="trainer-row" class="row column">
            <label for="trainers">
                Trainers
                <span class="multi-select">
                    {% for trainer in trainers %}
                        <label>
                            <input type="checkbox" name="trainers" value="{{ trainer.pk }}" {% if trainer in form.instance.trainers.all %}checked{% endif %}>
                            {{ trainer.get_full_name }}
                        </label>
                    {% endfor %}
                </span>
            </label>
        </div>
    </div>

    <div class="row footer">
        <div class="large-offset-4 large-4 no-right-padding column">
            <input type="submit" class="small expanded debat-orange add-button button" value="Opslaan">
        </div>
        <div class="large-4 column">
            <input type="button" class="small expanded debat-blue button" value="Annuleren" data-close>
        </div>
    </div>
</form>
