<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

 <div class="row column">
    <h5>INTAKE TOEVOEGEN</h5>
 </div>

<div class="row column">
    <label for="jotform-id">
        JOTform ID
        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="Elk formulier heeft een uniek nummer dat na de link form.jotform.com staat. Vul dit nummer hier in.">
            <span class="fi flaticon-question-in-circular-button"></span>
        </span>
        <input type="text" id="jotform-id" name="jotform-id" maxlength="150" required>
    </label>
</div>

<div class="row">
    <div class="large-8 column">
        <span id="form-id-error" class="error-message" hidden>Het formulier met deze ID is niet gevonden.</span>
    </div>
    <div class="large-4 column">
        <input id="btn-retrieve-questions" type="button" class="small expanded debat-orange button" value="Gegevens ophalen">
    </div>
</div>

<div id="form-container"></div>

<script>
    $(function() {
           $('#btn-retrieve-questions').click(function () {
            var input = $('#jotform-id');

            if (input.val()) {
                $('#form-id-error').hide();
                $.get("{% url 'intakes:create' %}", {'form-id': input.val()})
                    .done(function (data) {
                        $('#form-container').html(data);
                    })
                    .fail(showError)
            } else {
                showError();
            }
        });

        function showError() {
            $('#form-id-error').show();
            $('#form-container').html('');
        }
    });
</script>