{% extends "admin/change_form.html" %}
{% block object-tools-items %}
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_create_offer_reminder' pk=original.pk %}" class="grp-state-focus">
            Send Create Offer Reminder
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_review_offer_reminder' pk=original.pk %}" class="grp-state-focus">
            Send Review Offer Reminder
        </a>
    </li>
    {{ block.super }}
{% endblock %}