{% extends "admin/change_list.html" %}
{% block object-tools-items %}

    <li>
        <a href="{% url 'admin:sync_briefings_deliverables' %}" class="grp-state-focus">
            Sync Deliverables with WebCRM
        </a>
    </li>

    {{ block.super }}

{% endblock %}