{% extends "admin/change_form.html" %}
{% block object-tools-items %}
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_max_trainers_email' pk=original.pk %}" class="grp-state-focus">
            Send Max. Trainers Notification
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_add_briefing_email' pk=original.pk %}" class="grp-state-focus">
            Send Add Briefing Reminder
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_two_weeks_for_delivery_email' pk=original.pk %}" class="grp-state-focus">
            Send Two Weeks Left For Delivery Reminder
        </a>
    </li>
    {{ block.super }}
{% endblock %}
