<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>{{ modal_title }}</h5>
</div>

<form id="form-offer" action="{{ request.path }}" method="post">
    {% csrf_token %}

    <div class="row column">
        <label for="editor">
            Wie gaat de offerte maken?
            <select id="editor" title name="editor" required>
                <option value="" disabled selected>--</option>
                {% for editor in editors %}
                    <option value="{{ editor.pk }}" {% if editor == form.instance.editor %} selected {% endif %}>
                        {{ editor.get_full_name }}
                    </option>
                {% endfor %}
            </select>
        </label>
    </div>

    <div class="row column">
        <fieldset class="radio-buttons">
            <legend> Is deze offerte via een website-aanvraag, informatieverzoek via Phonecare of Springest-lead binnen gekomen?</legend>

            <input type="radio" name="type" id="type" value="{{ form.instance.TYPE_PHONECARE_SPRINGEST }}"
                   {% if form.instance.type == form.instance.TYPE_PHONECARE_SPRINGEST %}checked{% endif %} required>

            <label for="type">Ja</label>
            <input type="radio" name="type" id="other_type" value=""
                   {% if offer and form.instance.type != form.instance.TYPE_PHONECARE_SPRINGEST %}checked{% endif %} required>
            <label for="other_type">Nee</label>
        </fieldset>
    </div>

    <div class="row column">
        <label for="organization">
            Organisatie
            <input type="text" id="organization" name="organization" maxlength="150" value="{{ form.instance.organization }}" required>
        </label>
    </div>
    <div class="row column">
        <label for="contact-person">
            Contactpersoon
            <input type="text" id="contact-person" name="contact_person" maxlength="150" value="{{ form.instance.contact_person }}" required>
        </label>
    </div>
    <div class="row column">
        <label for="photo">
            Welke foto moet er gebruikt worden?
            <div class="multi-select">
                {% for photo in photos|dictsort:"order" %}
                    <div>
                        <input type="radio" id="radio-{{ photo.id }}" name="photo" value="{{ photo.id }}" {% if photo == form.instance.photo %}checked{% endif %} required>
                        <label for="radio-{{ photo.id }}">
                            <img src="{{ photo.image.url }}" />
                        </label>
                    </div>
                {% endfor %}
                <div>
                    <input type="radio" id="radio-own-image" name="photo" value="" checked required>
                    <label for="radio-own-image">
                        Foto opdrachtgever
                    </label>
                </div>
            </div>
        </label>
    </div>
    <div class="row column">
        <label for="title">
            Welke titel komt er boven de foto?
            <input type="text" id="title" name="title" maxlength="150" value="{{ form.instance.title }}" required>
        </label>
    </div>
    <div class="row column">
        <label for="delivery-responsible-name">
            Delivery responsible naam
            <input type="text" id="delivery-responsible-name" name="delivery_responsible_name" value="{{ form.instance.delivery_responsible_name }}" maxlength="150" required>
        </label>
    </div>
    <div class="row column">
        <label for="delivery-responsible-email">
            Delivery responsible e-mail
            <input type="email" id="delivery-responsible-email" name="delivery_responsible_email" value="{{ form.instance.delivery_responsible_email }}" maxlength="150" required>
        </label>
    </div>
    <div class="row column">
        <label for="question-background">
            Achtergrond van de vraag
            <textarea id="question-background" name="question_background" rows="15" required>{{ form.instance.question_background }}</textarea>
        </label>
    </div>
    <div class="row column">
        <label for="project-structure">
            Opbouw programma
            <textarea id="project-structure" name="program_structure"  rows="15" required>{{ form.instance.program_structure }}</textarea>
        </label>
    </div>
    <div class="row column">
        <fieldset class="radio-buttons">
            <legend>Wordt er specifieke trainers voorgesteld?</legend>
            <input type="radio" name="is_trainer_proposed" id="is_trainer_proposed" value="1" {% if form.instance.is_trainer_proposed %}checked{% endif %}>
            <label for="is_trainer_proposed">Ja</label>
            <input type="radio" name="is_trainer_proposed" id="is_not_trainer_proposed" value="0" {% if not form.instance.is_trainer_proposed %}checked{% endif %}>
            <label for="is_not_trainer_proposed">Nee</label>
        </fieldset>
    </div>
    <div id="trainer-row" class="row column" hidden>
        <label for="trainers">
            Trainers
            <span class="multi-select">
                {% for trainer in trainers %}
                    <label>
                        <input type="checkbox" name="trainers" value="{{ trainer.pk }}" {% if trainer in form.instance.trainers.all %}checked{% endif %}>
                        {{ trainer.get_full_name }}
                    </label>
                {% endfor %}
            </span>
        </label>
    </div>

    <div class="investment-container">
        <div class="row column">
            <label class="title"> Investeringsomvang </label>
        </div>

        {{ formset_investments.management_form }}

        {% for form in formset_investments%}
            <div class="investment-row">
                {{ form.id }}
                <div class="row column investment-subject">
                    <label>
                        <span>Onderdeel {{ forloop.counter }}</span>
                        <textarea name="{{ form.subject.html_name  }}" rows="7" required>{{ form.instance.subject }}</textarea>
                    </label>
                </div>
                <div class="row column investment-range">
                    <label>
                        <span>Investering onderdeel {{ forloop.counter }}</span>
                        <textarea name="{{ form.range.html_name }}" rows="7" required>{{ form.instance.range }}</textarea>
                    </label>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="large-offset-4 large-4 column no-right-padding">
            <input type="button" id="add-investment-button" class="tiny expanded debat-orange button" value="Onderdeel toevoegen">
        </div>
        <div class="large-4 column">
            <input type="button" id="remove-investment-button" class="tiny expanded debat-blue button" value="Onderdeel verwijderen">
        </div>
    </div>

    <hr>

    <div class="row footer">
        <div class="large-offset-4 large-4 no-left-padding column">
            <input type="submit" class="expanded debat-orange add-button button" value="{{ button_text }}">
        </div>
        <div class="large-4 column">
            <input type="button" id="reset-button" class="small expanded debat-blue button" value="Annuleren" data-close>
        </div>
    </div>
</form>

<script>
    $(function() {
        {% if form.instance.is_trainer_proposed %} $('#trainer-row').show(); {% endif %}

        $('input[name="is_trainer_proposed"]').change(function () {
            var value = $(this).val();

            if (value === '1') {
                $('#trainer-row').show();
            } else {
                $('#trainer').val('');
                $('#trainer-row').hide();
            }
        });

        $('#add-investment-button').click(function () {
            var container =  $(".investment-container");
            var cloned = $('.investment-row').first().clone();
            cloned.find('textarea').each(function () {
                $(this).val("");
            });

            container.append(cloned);
            calculateIndex('investments', container);
        });

        $('#remove-investment-button').click(function () {
            var container =  $(".investment-container");
            var rows = $('.investment-row');

            if (rows.length > 1) {
                rows.last().remove();
                calculateIndex('investments', container);
            }
        });

        function calculateIndex(prefix, container) {
            container.find('.investment-subject textarea').each(function (index) {
                updateElementIndex(this, prefix, index);
                var labelSpan = $(this).parent().children('span');
                var labelText = labelSpan.text().trim();
                labelSpan.text(labelText.slice(0, -1) + (index + 1));
            });

            container.find('.investment-range textarea').each(function (index) {
                updateElementIndex(this, prefix, index);
                var labelSpan = $(this).parent().children('span');
                var labelText = labelSpan.text().trim();
                labelSpan.text(labelText.slice(0, -1) + (index + 1));
            });

            $('[name="investments-TOTAL_FORMS"]').val(container.find('.investment-row').length);
        }

        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+)');
            var replacement = prefix + '-' + ndx;
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }
    });
</script>
