<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4 class="modal-title column">BESCHIKBAARHEID DOORGEVEN</h4>

<form method="POST" action="{{ request.path }}" id="absence-schedule-create-form" class="planning-forms">
    {% csrf_token %}

  <input type="hidden" name="start_date" id="id_form-start-date" value="{{ object.start_date|date:"d-m-Y"  }}" required>
  <input type="hidden" name="end_date" id="id_form-end-date" value="{{ object.end_date|date:"d-m-Y" }}" required>

  <!-- EMPLOYEE -->
  <div class="row">
    <div class="large-6 column">
      Offerteschrijver
      <select name="employee" title required>
          <option selected disabled>--</option>
          {% for editor in editors %}
            <option value="{{ editor.pk }}" {% if object.employee.pk == editor.pk %} selected {% endif %}>{{ editor.get_full_name }}</option>
          {% endfor %}
      </select>
    </div>
  </div>

  <!-- STARTDATE FIELD -->
  <div class="row">
    <div class="large-6 column">
      Niet beschikbaar vanaf
      <input type="text" class="date-field" id="start-date-field" data-alt-field="id_form-start-date" autocomplete="off" title required>
      <div class="date-picker-container"></div>
    </div>
  </div>

  <!-- ENDDATE FIELD -->
  <div class="row">
    <div class="large-6 column">
      Niet beschikbaar t/m
      <input type="text" class="date-field" id="end-date-field" data-alt-field="id_form-end-date" autocomplete="off" title required>
      <div class="date-picker-container"></div>
    </div>
  </div>

  <div class="row button-row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button class="debat-orange button" type="submit">Opslaan</button>
      </div>
    </div>
  </div>
</form>

<script>
    $(function(){
        // Initialize date pickers
        $.datepicker.setDefaults(
            $.extend(
                $.datepicker.regional['nl']
            )
        );
        // Initialize the first date field input
        initDatepicker("#start-date-field", "#id_form-start-date");
        initDatepicker("#end-date-field", "#id_form-end-date");
        function initDatepicker(fieldId, altField) {
            var dateField = $(fieldId);
            dateField.datepicker({
                dateFormat: 'dd-mm-yy',
                altFormat: 'yy-mm-dd',
                altField: altField,
                beforeShow: function(textbox, instance) {
                    var containers = $(textbox).parent().find('.date-picker-container');
                    if (containers.length > 0) {
                        var container = containers[0];
                        $('#ui-datepicker-div').detach().appendTo(container);
                    }
                }
            });
            {% if object %}
              dateField.datepicker('setDate', $(altField).val());
            {% endif %}
        }
    });
</script>
