<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4 class="modal-title column"></h4>

<form method="POST" action="{% url 'offers:delete-absence-schedule' object.pk %}" id="absence-schedule-delete-form-{{ object.pk }}" class="absence-schedule-forms">
  {% csrf_token %}

  <p class="text-center">
    Weet je zeker dat je deze gegevens wilt verwijderen?
  </p>

  <div class="row button-row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button class="debat-orange button" type="submit">Opslaan</button>
      </div>
    </div>
  </div>
</form>
