<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>{{ modal_title }}</h5>
</div>

<form id="form-organization" action="{{ request.path }}" method="post">
    {% csrf_token %}

    <input type="hidden" id="id" name="id" value="{{ form.initial.id }}" required>
    <input type="hidden" id="organization" name="organization" value="{{ form.initial.organization }}" required>
    <input type="hidden" id="video_url" name="video_url" value="{{ form.initial.video_url }}">
    <input type="hidden" id="vimeo_video_id" name="vimeo_video_id" value="{{ form.initial.vimeo_video_id|default_if_none:'' }}">

    <div class="row column">
        <label for="name">
            Titel
            <input type="text" id="title" name="title" maxlength="150" value="{{ form.initial.title }}" required>
        </label>
    </div>

    <div class="row column">
        <label for="name">
            Omschrijving
            <textarea id="description" name="description" rows="10" required>{{ form.initial.description }}</textarea>
        </label>
    </div>

    <div class="row column">
        <label for="name">
            Video
            <input type="file" id="video" name="file" disabled>
        </label>
    </div>

    <div class="row footer">
        <div class="large-offset-4 large-4 column">
            <input type="submit" class="small expanded debat-orange add-button button" value="{{ button_text }}">
        </div>
        <div class="large-4 column">
            <input type="button" id="reset-button" class="small expanded debat-blue button" value="Annuleren" data-close>
        </div>
    </div>
</form>

<script>
    $(function () {
        var videoInput = $('#video');

        videoInput.filepond({
           instantUpload: true,
           labelIdle: ['Sleep uw bestanden of <span class="filepond--label-action">Bladeren</span>'],
           labelFileProcessing: ['Bezig'],
           labelFileProcessingComplete: ['Upload klaar'],
           labelFileProcessingError	: ['Iets ging mis'],
           labelTapToCancel: ['Klik om te annuleren'],
           labelTapToUndo: ['Klik om te verwijderen'],
           labelTapToRetry: ['Klik om opnieuw te proberen'],
            server: {
                url: '{{ pre_signed_post.url }}',
                revert: function () {
                    $('#video_url').val('');
                },
                fetch: null,
                process: function (fieldName, file, metadata, load, error, progress, abort) {
                    progress(true);

                    $.get('{% url 'debatnl_online:sign_s3_upload_url' %}?file_name=' + file.name)
                        .fail(error)
                        .done(function(data) {
                            var formData = new FormData();
                            $.each(data['fields'], function (key, value) {
                                formData.set(key, value);
                            });

                            formData.set('file', file);

                            var request = new XMLHttpRequest();
                            request.upload.onprogress = function (ev) {
                                progress(true, ev.loaded, ev.total);
                                if (ev.loaded === ev.total) {
                                    load(file);
                                    $('#video_url').val(data['fields']['key']);
                                }
                            };
                            request.upload.onerror = function () {error('Iets ging verkeerd!')};

                            request.open('POST', data['url']);
                            request.send(formData);
                        });

                    return { abort: abort }
                }
            }
        });
    });
</script>