<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h4>OPVOLGING VERZENDEN</h4>
</div>

<form method="POST" id="setup-step2-form" action="{% url 'follow_ups:followup-setup-step2' object.pk %}">
  {% csrf_token %}
  {{ formset.management_form }}

  <div class="row">
    <div class="large-10 column intro">
      <p>Wanneer moeten de infographics verzonden worden?</p>
    </div>
  </div>

  <div class="row">
    <div class="large-10 column intro">
      <p class="italic">
        De eerste infographic wordt volgende week dinsdag verzonden.
        Daarna bouwen we een interval in van 12 weken. Dit is te wijzigen.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="large-10 column">
      <table>
        {% for form in formset %}
        <tr>
          <td>
            <input
              type="hidden"
              name="form-{{ forloop.counter0 }}-infographic"
              value="{{ form.infographic.value }}"
            />
            <span>{{ form.initial.infographic.label }}</span>
          </td>
          <td width="160">
            <input
              type="hidden"
              name="form-{{ forloop.counter0 }}-date"
              id="id_form-{{ forloop.counter0 }}-date"
              value="{{ form.date.value.date|date:'Y-m-d' }}"
              required
            />

            <div class="input-group">
              <span class="input-group-label">
                <i class="fa fa-calendar"></i>
              </span>
              <input
                type="text"
                class="date-field input-group-field"
                id="date-field-{{ forloop.counter0 }}"
                date-alt-field="id_form-{{ forloop.counter0 }}-date"
                value="{{ form.date.value.date|date:'d-m-Y' }}"
                autocomplete="off" title required
              />
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  {% for training in trainings %}
    <div class="row column">
      <table class="setup-table">
        <thead>
          <tr>
            <th></th>
            <th>{{ training.name }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for infographic in training.infographics.all %}
          <tr>
            <td class="text-center">
              <div class="checkbox">
                <input
                  type="checkbox" id="id-{{ training.pk }}-{{ infographic.pk }}"
                  name="infographics"
                  value="{{ infographic.pk }}"
                />
                <label for="id-{{ training.pk }}-{{ infographic.pk }}" class="check-label">
                  <span class="check-label-box"></span>
                </label>
              </div>
            </td>
            <td>
              <label for="id-{{ training.pk }}-{{ infographic.pk }}">{{ infographic.label }}</label>
            </td>
            <td class="text-right">
              <a href="{{ infographic.file.url }}" target="_blank" class="button hollow small">Bekijk Infographic</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3" class="text-center">
              Er zijn nog geen infographics.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}

  <div class="row button-row">
    <div class="large-offset-4 large-8 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="button" class="debat-orange button back-btn">Vorige</button>
        <button type="button" class="debat-orange button next-btn">Volgende</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function() {
    var $modal = $('#modal-container-follow-up');
    var $form = $('#setup-step2-form');

    $('.date-field').each(function() {
      var altFieldName = $(this).attr('date-alt-field');
      var $altField = $('#' + altFieldName);

      $(this).datepicker({
        dateFormat: 'dd-mm-yy',
        altFormat: 'yy-mm-dd',
        altField: '#' + altFieldName
      });
    });

    $('.back-btn').click(function() {
      var url = "{% url 'follow_ups:followup-setup-step1' object.pk %}";
      $.get(url, function(data) {
        $modal.html(data);
      });
    });

    $('.next-btn').click(function() {
      $.ajax({
        method: 'POST',
        url: $form.attr('action'),
        data: $form.serialize(),
        success: function(data) {
          $modal.html(data);
        }
      });
    });
  });
</script>
