<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h4>OPVOLGING BERICHT SCHRIJVEN</h4>
</div>

<form method="POST" id="setup-step3-form" action="{% url 'follow_ups:followup-setup-step3' object.pk %}">
  <div class="row button-row">
    <div class="large-offset-4 large-8 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="button" class="debat-orange button back-btn">Vorige</button>
        <button type="submit" class="debat-orange button next-btn">Volgende</button>
      </div>
    </div>
  </div>

    {% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}
      <section class="form">
        <div class="row column">
          <span class="infographic-label">{{ form.subject.value }}</span>
        </div>

        <!-- Hidden Fields -->
        <input type="hidden" name="form-{{ forloop.counter0 }}-follow_up" value="{{ object.pk }}">
        <input type="hidden" name="form-{{ forloop.counter0 }}-type" value="{{ form.type.value }}">
        <input type="hidden" name="form-{{ forloop.counter0 }}-button_text" value="{{ form.button_text.value }}">
        <input type="hidden" name="form-{{ forloop.counter0 }}-button_url" value="{{ form.button_url.value }}">

        <input
                type="hidden"
                name="form-{{ forloop.counter0 }}-date"
                id="id_form-{{ forloop.counter0 }}-date"
                value="{{ form.date.value|date:'Y-m-d' }}"
                required
        />

        <!-- Date -->
        <div class="row form-group">
          <div class="large-6 column">
            <div class="input-group">
              <span class="input-group-label">
                <i class="fa fa-calendar"></i>
              </span>
              <input
                      type="text"
                      class="date-field"
                      id="date-field-{{ forloop.counter0 }}"
                      date-alt-field="id_form-{{ forloop.counter0 }}-date"
                      value="{{ form.date.value|date:'d-m-Y' }}"
                      autocomplete="off"
                      title required
              />
            </div>

            <div class="date-picker-container"></div>
          </div>
        </div>

        <!-- Subject -->
        <div class="row form-group">
          <div class="large-6 column">
            <label for="id_form-{{ forloop.counter0 }}-subject">Onderwerpregel email</label>
            <input
                    type="text"
                    name="form-{{ forloop.counter0 }}-subject"
                    id="id_form-{{ forloop.counter0 }}-subject"
                    value="{{ form.subject.value }}"
            />
          </div>
        </div>

        <!-- Message -->
        <div class="row column form-group">
          <p class="text-email-salutation">Beste {{ object.opportunity.person.name }}, </p>
          <textarea
                  name="form-{{ forloop.counter0 }}-message"
                  id="id_form-{{ forloop.counter0 }}-message"
                  data-infographic="{{ form.subject.value }}"
                  cols="40" rows="10" title></textarea>
        </div>

        <div class="row column message-closing">
          <p>Met vriendelijke groeten, </p>
          <p>{{ admin.get_full_name }}</p>
        </div>
      </section>
    {% endfor %}

  <div class="row button-row">
    <div class="large-offset-4 large-8 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="button" class="debat-orange button back-btn">Vorige</button>
        <button type="submit" class="debat-orange button next-btn">Volgende</button>
      </div>
    </div>
  </div>
</form>

<script>
    $(function() {
        var $modal = $('#modal-container-follow-up');
        var $form = $('#setup-step3-form');

        $('.date-field').each(function () {
            var altFieldName = $(this).attr('date-alt-field');
            var $altField = $('#' + altFieldName);

            $(this).datepicker({
                dateFormat: 'dd-mm-yy',
                altFormat: 'yy-mm-dd',
                altField: '#' + altFieldName
            });
        });

        $('.back-btn').click(function () {
            var url = "{% url 'follow_ups:followup-setup-step2' object.pk %}";
            $.get(url, function (data) {
                $modal.html(data);
            });
        });

        // TinyMCE
        tinymce.remove();

        $('textarea').each(function() {
            var infographicLabel = $(this).data('infographic');
            var defaultMessage = getDefaultMessage(infographicLabel);
            $(this).html(defaultMessage);

            tinymce.init({
                selector: '#' + $(this).attr('id'),
                menubar: false,
                statusbar: false,
                height: 200,
                toolbar: [
                    'undo redo | styleselect | bold italic | alignleft  aligncenter alignright'
                ]
            });
        });

        function getDefaultMessage(infographicTitle) {
            var message = `
        Namens {{ object.opportunity.assigned_to.name}} stuur ik u hierbij een infographic \
        met als thema “${infographicTitle}” waarin een aantal \
        technieken verder worden uitgewerkt. Deze kunt u indien gewenst verder \
        onder deelnemers verspreiden.
        <br><br>
        Indien er nog vragen zijn, laat het gerust weten.
        `;
            return message;
        }
    });
</script>
