<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h4>OPVOLGING TOEVOEGEN</h4>
</div>

<form method="POST" id="setup-step1-form" action="{% url 'follow_ups:followup-setup-step1' object.pk %}">
  {% csrf_token %}
  <div class="row column">
    <h6>Wat wil je naar de klant sturen?</h6>
    <p>Infographics</p>
  </div>

  {% for training in trainings %}
    <div class="row column">
      <table class="setup-table">
        <thead>
          <tr>
            <th></th>
            <th>{{ training.name }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for infographic in training.infographics.all %}
          <tr>
            <td class="text-center">
              <div class="checkbox">
                <input
                  type="checkbox" id="id-{{ training.pk }}-{{ infographic.pk }}"
                  name="infographics"
                  value="{{ infographic.pk }}"
                />
                <label for="id-{{ training.pk }}-{{ infographic.pk }}" class="check-label">
                  <span class="check-label-box"></span>
                </label>
              </div>
            </td>
            <td>
              <label for="id-{{ training.pk }}-{{ infographic.pk }}">{{ infographic.label }}</label>
            </td>
            <td class="text-right">
              <a href="{{ infographic.file.url }}" target="_blank" class="button hollow small">Bekijk Infographic</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3" class="text-center">
              Er zijn nog geen infographics.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}

  <div class="row button-row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="button" class="debat-orange button next-btn" disabled>Volgende</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function() {
    var checkboxes = $('[type=checkbox]');
    var btn = $('.next-btn');
    var form = $('#setup-step1-form');
    var modal = $('#modal-container-follow-up');

    checkboxes.click(function () {
      checkboxes.is(':checked') ? btn.removeAttr('disabled') : btn.attr('disabled', true);
    });

    btn.click(function() {
      $.ajax({
        method: "POST",
        url: form.attr('action'),
        data: form.serialize(),
        success: function(data) {
          modal.html(data);
        }
      });
    });

  });
</script>
