{% load static %}
{% load sass_tags %}
{% load assets %}
{% load raven %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Debat.NL – Back-Office</title>

  {# BASE STYLESHEETS #}
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'backoffice/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

  {# ADDITIONAL STYLESHEETS #}
  {% block custom-stylesheets %}{% endblock %}

  {# BASE JAVASCRIPT #}

  {% if not debug %}
    <script src="https://cdn.logrocket.io/LogRocket.min.js" crossorigin="anonymous"></script>
    <script>
      window.LogRocket && window.LogRocket.init('duupn0/debatnl-backoffice');
      LogRocket.identify('{{ request.user.id }}', {
        name: '{{ request.user.get_full_name }}',
        email: '{{ request.user.email }}',
      });
    </script>
  {% endif %}

  <script type="application/javascript" src="{% static 'raven-js/dist/raven.js' %}"></script>
  <script>Raven.config('{% sentry_public_dsn %}').install()</script>
  <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/foundation.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'jquery-validation/dist/jquery.validate.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'jquery-validation/dist/localization/messages_nl.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/base.js' %}"></script>
  <script type="application/javascript">
    moment.locale('nl');
    jQuery.validator.messages.required = "";
    jQuery.validator.messages.email = "";
  </script>

  {# ADDITIONAL JAVASCRIPT #}
  {% block custom-javascript %}{% endblock %}
</head>
<body>
{% include 'backoffice/header.html' %}
{% include 'backoffice/sidebar.html' %}

<div class="content">
  {% block content %}{% endblock %}
</div>

</body>
</html>
