{% load static %}

<div id="header" data-sticky-container>
  <div data-sticky data-options="marginTop:0;" data-check-every="1" data-sticky-on="small" style="width:100%">
    <div class="row expanded row-header">
      <div class="large-12 column">
        <div class="logo-container">
          <img src="{% static 'img/logo.png' %}">
        </div>
      </div>
      <div class="large-12 column">
        <ul class="menu">
          <li>
            <a id="menu-toggle" data-toggle="sidebar"> <span>MENU</span> <span class="fa fa-chevron-down fa-fw"></span> </a>
          </li>
        </ul>
        <ul class="right menu">
          <li><a id="logout-btn" href="{% url 'logout' %}" class="hollow button">Uitloggen</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#header').foundation();
  })
</script>

