{% load has_group %}

<div class="off-canvas position-left" id="sidebar" data-off-canvas data-transition="overlap">
  <ul class="vertical menu accordion-menu">

    {% if request.user|has_group:"schedules" %}
      <li>
        <a href="{% url 'schedules:overview' %}" class="{% if 'schedules' in request.path %}selected{% endif %}">
          BESCHIKBAARHEID
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"briefings" %}
      <li>
        <a href="{% url 'briefings:overview' %}" class="{% if 'briefings' in request.path %}selected{% endif %}">
          BRIEFINGS
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"ccd" %}
      <li>
        <a href="{% url 'ccd:overview' %}" class="{% if 'ccd' in request.path %}selected{% endif %}">
          CCD
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"backoffice" %}
      <li>
        <a href="{% url 'configuration:overview' %}" class="{% if 'configuration' in request.path %}selected{% endif %}">
          CONFIGURATIE
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"debatnl_online" %}
      <li>
        <a class="submenu-toggle {% if 'debatnl-online' in request.path %}selected{% endif %}">
          DEBAT.NL ONLINE <span class="fa fa-chevron-right fa-fw"></span>
        </a>
        <ul class="vertical menu submenu">
          <li><a href="{% url 'debatnl_online:users:overview' %}" class="{% if 'users' in request.path %}selected{% endif %}">GEBRUIKERS</a></li>
          <li><a href="{% url 'debatnl_online:e_learning:overview' %}" class="{% if 'e-learning' in request.path %}selected{% endif %}">E-LEARNING</a></li>
          <li><a href="{% url 'debatnl_online:learning_goals:overview' %}" class="{% if 'learning-goals' in request.path %}selected{% endif %}">LEERDOELEN</a></li>
        </ul>
      </li>
    {% endif %}

    {% if request.user|has_group:"declarations" %}
      <li>
        <a href="{% url 'declarations:overview' %}" class="{% if 'declarations' in request.path %}selected{% endif %}">
          DECLARATIE
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"feedback" %}
      <li>
        <a href="{% url 'feedback:overview' %}" class="{% if 'feedback' in request.path %}selected{% endif %}">
          FEEDBACK
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"intakes" %}
      <li>
        <a href="{% url 'intakes:overview' %}" class="{% if 'intakes' in request.path %}selected{% endif %}">
          INTAKES
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"marketing" %}
      <li>
        <a class="submenu-toggle {% if 'marketing' in request.path %}selected{% endif %}">
          MARKETING <span class="fa fa-chevron-right fa-fw"></span>
        </a>
        <ul class="vertical menu submenu">
          <li><a href="{% url 'marketing:kpi:overview' %}" class="{% if 'kpi' in request.path %}selected{% endif %}">KPI</a></li>
          <li><a href="{% url 'marketing:seo:overview' %}" class="{% if 'seo' in request.path %}selected{% endif %}">SEO</a></li>
        </ul>
      </li>
    {% endif %}

    {% if request.user|has_group:"offers" %}
      <li>
        <a href="{% url 'offers:overview' %}" class="{% if 'offers' in request.path %}selected{% endif %}">
          OFFERTES
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"education" %}
      <li>
        <a href="{% url 'education:overview' %}" class="{% if 'education' in request.path %}selected{% endif %}">
          OPLEIDING
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"follow_ups" %}
      <li>
        <a href="{% url 'follow_ups:overview' %}" class="{% if 'follow-ups' in request.path %}selected{% endif %}">
          OPVOLGING
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"planning" %}
      <li>
        <a href="{% url 'planning:overview' %}" class="{% if 'planning' in request.path %}selected{% endif %}">
          PLANNING
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"salaries" %}
      <li>
        <a href="{% url 'salaries:overview' %}" class="{% if 'salaries' in request.path %}selected{% endif %}">
          SALARIS
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"scans" %}
      <li>
        <a href="{% url 'scans:overview' %}" class="{% if 'scans' in request.path %}selected{% endif %}">
          SCANS
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:'debatnl_mobile' %}
      <li>
        <a href="{% url 'debatnl_mobile:organization-overview' %}" class="{% if 'debatnl-mobile' in request.path %}selected{% endif %}">
          SKILLSTRACKER
        </a>
      </li>
    {% endif %}

    {% if request.user|has_group:"debatnl_registration" %}
      <li>
        <a href="{% url 'debatnl_registration:overview' %}" class="{% if 'debatnl-registration' in request.path %}selected{% endif %}">
          TRAININGEN
        </a>
      </li>
    {% endif %}
  </ul>
</div>

<script>
  $(function () {
    var sidebar = $('#sidebar');
    sidebar.foundation();

    $('.submenu-toggle').click(function () {
      var submenu = $(this).parent().find('.submenu');
      if (submenu) submenu.toggleClass('active');
    });

    sidebar.on('closed.zf.offcanvas', function(){
      var submenus = $(this).find('.submenu');
      submenus.toggleClass('active', false);
    });
  })
</script>
