{% load has_role %}

<div class="list-title">{{ title }}</div>
<ul class="person-list">
  {% for user in object_list|has_role:role %}
    <li>
      <button name="btn-open-modal" class="name" data-url="{% url 'users:update' user.pk %}">{{ user.first_name }} {{ user.last_name }}</button>
      <div class="info">{{ user.email }}</div>
      <div class="info">{{ user.profile.phone }}</div>
    </li>
  {% empty %}
    <li>
      <div class="info">Er zijn geen contactpersonen.</div>
    </li>
  {% endfor %}
</ul>
