{% load has_group %}
{% load has_role %}

<div class="list-title">{{ title }}</div>
<ul class="person-list">
  {% for user in object_list|has_role:role %}
    <li>
      <button name="btn-open-modal" class="name" data-url="{% url 'users:update' user.pk %}">{{ user.first_name }} {{ user.last_name }}</button>
      <div class="info">{{ user.email }}</div>
      <div class="info">{{ user.profile.phone }}</div>

      <form id="{{ role }}-{{ user.id }}" data-url="{% url 'users:profile-update' user.profile.id %}" data-disabled=true>
        {% csrf_token %}

        <div class="options-row">
          {% if user|has_group:'briefings' %}
            <div class="row">
              <div class="small-9 column">
                <label for="id_briefings-{{ user.id }}" class="text-left">Alle briefings</label>
              </div>
              <div class="small-3 column text-right">
                <div class="checkbox">
                  <input type="checkbox" id="id_briefings-{{ user.id }}" name="briefings" disabled
                    {% if user|has_permission:"Can see all briefings" %} checked {% endif %}/>
                  <label for="id_briefings-{{ user.id }}" class="check-label">
                    <span class="check-label-box"></span>
                  </label>
                </div>
              </div>
            </div>
          {% endif %}

          {% if user|has_group:'feedback' %}
            <div class="row">
              <div class="small-9 column">
                <label for="id_feedback_trainers-{{ user.id }}" class="text-left">Alle feedback</label>
              </div>
              <div class="small-3 column text-right">
                <div class="checkbox">
                  <input type="checkbox" id="id_feedback_trainers-{{ user.id }}" name="feedback_trainers" disabled
                          {% if user|has_permission:"Can see all trainers" %} checked {% endif %}/>
                  <label for="id_feedback_trainers-{{ user.id }}" class="check-label">
                    <span class="check-label-box"></span>
                  </label>
                </div>
              </div>
            </div>
          {% endif %}

          {% if user|has_group:'education' %}
            <div class="row">
              <div class="small-9 column">
                <label for="id_learning_goals-{{ user.id }}" class="text-left">Alle opleidingen</label>
              </div>
              <div class="small-3 column text-right">
                <div class="checkbox">
                  <input type="checkbox" id="id_learning_goals-{{ user.id }}" name="learning_goals" disabled
                          {% if user|has_permission:"Can see all learning goals" %} checked {% endif %}/>
                  <label for="id_learning_goals-{{ user.id }}" class="check-label">
                    <span class="check-label-box"></span>
                  </label>
                </div>
              </div>
            </div>
          {% endif %}

          {% if user|has_group:'follow_ups' %}
            <div class="row">
              <div class="small-9 column">
                <label for="id_follow_ups-{{ user.id }}" class="text-left">Alle opvolging</label>
              </div>
              <div class="small-3 column text-right">
                <div class="checkbox">
                  <input type="checkbox" id="id_follow_ups-{{ user.id }}" name="follow_ups" disabled
                          {% if user|has_permission:"Can see all follow_ups" %} checked {% endif %}/>
                  <label for="id_follow_ups-{{ user.id }}" class="check-label">
                    <span class="check-label-box"></span>
                  </label>
                </div>
              </div>
            </div>
          {% endif %}

          {% if user|has_group:'education' %}
            <div class="row">
              <div class="small-9 column">
                <label for="id_edit_learning_goals-{{ user.id }}" class="text-left">Opleidingen bewerken</label>
              </div>
              <div class="small-3 column text-right">
                <div class="checkbox">
                  <input type="checkbox" id="id_edit_learning_goals-{{ user.id }}" name="edit_learning_goals" disabled
                          {% if user|has_permission:"Can edit all learning goals" %} checked {% endif %}/>
                  <label for="id_edit_learning_goals-{{ user.id }}" class="check-label">
                    <span class="check-label-box"></span>
                  </label>
                </div>
              </div>
            </div>
          {% endif %}
        </div>

        <div class="row">
          <div class="small-12 column">
          <div class="text-right button-section">
            {% if not user.profile.hubstaff_user_id %}
              <a name="btn-open-modal" class="hollow button btn-hubstaff with-loader" data-url="{% url 'users:profile-hubstaff-update' user.profile.pk %}">
                Koppel aan Hubstaff
              </a>
            {% else %}
              <a name="btn-open-modal" class="hollow button btn-hubstaff" data-url="{% url 'users:profile-hubstaff-remove' user.profile.pk %}">
                Verwijder Hubstaff
              </a>
            {% endif %}

            {% if user|has_group:'briefings' or user|has_group:'feedback' or user|has_group:'follow_ups' %}
              <div class="toggle-edit-button-{{ role }} toggle-edit-button" data-id="{{ role }}-{{ user.id }}">
                <span class="fi flaticon-pencil"></span>
              </div>
            {% endif  %}
          </div>
        </div>
      </form>
    </li>
  {% empty %}
    <li>
      <div class="info">Er zijn geen trainers.</div>
    </li>
  {% endfor %}
</ul>

{% include 'common/widgets/widget-embeded-form.html' with category=role %}
