{% include 'declarations/base.html' %}

{% block content %}
  <div class="row">
    <div class="large-2 column">
      <form action="{{ request.path }}" method="GET">
        <label for="year">Jaar</label>
        <select name="year" id="year">
          {% for year in year_list %}
          <option value="{{ year }}" {% if selected_year == year %}selected{% endif %}>
            {{ year }}
          </option>
          {% endfor %}
        </select>
      </form>
    </div>
  </div>

  <div class="row column">
    <h4 class="table-headings">DECLARATIE</h4>
  </div>

  <div class="row column">
    <table id="declaration-table" class="table">
      <thead>
        <tr>
          <th width="300">MAAND</th>
          <th>NAAM MEDEWERKER</th>
          <th>STATUS</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for declaration in object_list %}
          <tr>
            <td>{{ declaration.get_month_display }}</td>
            <td>{{ declaration.user.get_full_name }}</td>
            <td>
              {% if declaration.status == declaration.IN_PROGRESS %}
                <span class="text-warning">Nog accorderen</span>
              {% elif declaration.status == declaration.NEED_CHANGES %}
                <span class="text-danger">Aanpassing gevraagd</span>
              {% else %}
                <span class="text-success">Akkoord</span>
              {% endif %}
            </td>
            <td class="text-right">
              <a href="{% url 'salaries:detail' declaration.pk %}" class="small button hollow">Bekijken</a>
            </td>
          </tr>
        {% empty %}
           <tr>
            <td colspan="4" class="text-center">Er zijn nog geen declaraties.</td>
           </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    $(function() {
      $('#year').change(function() {
        $(this).parent('form').submit();
      });
    });
  </script>
{% endblock %}
