{% extends "backoffice/base.html" %}
{% load static %}
{% load assets %}
{% load sass_tags %}

{% block custom-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'intakes/sass/style.sass' %}">
{% endblock %}

{% block content %}
    <section>
        <div class="row">
            <div class="large-3 column">
                <a name="intake-option" class="debat-orange small expanded button" data-url="{% url 'intakes:form' %}">
                    <span class="fi flaticon-signs"></span>
                    Nieuwe intake toevoegen
                </a>
            </div>
        </div>
    </section>

    <div class="row column">
      {% include "intakes/components/ongoing-intakes.html" %}
    </div>

    <div class="row column">
      {% include "intakes/components/finished-intakes.html" %}
    </div>

    <div class="tiny reveal" id="modal" data-close-on-click="false" data-reveal></div>

    <script>
        $(function () {
            var modal = $('#modal');
            modal.foundation();

            $('a[name=intake-option]').click(function () {
                var url = $(this).data('url');
                var size = $(this).data('size');

                $.get(url, function(data) {
                    modal.removeClass();
                    modal.addClass(size + ' reveal');
                    modal.html(data);
                    modal.foundation('open');
                });
            });

            $("a.link").click(function () {
                var id = $(this).data('id');
                var container = $("#details-" + id);
                var link = $(this);

                container.toggle();

                if (container.is(":visible")) {
                    link.text('Verberg details')
                } else {
                    link.text('Toon details')
                }
            })
        })
    </script>
{% endblock %}
