{% extends 'common/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste Ilona,</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    </div>
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        De volgende delivery heeft een product waarvoor momenteel geen handout beschikbaar is:
      </p>

      <ul style="padding-left: 32px; padding-top: 8px; list-style-type: none">
        <li style="font-size: 14px; line-height: 20px;"><span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span> <strong>Datum training:</strong> {{ delivery.order_date|date:'d-m-Y' }}</li>

        <li style="font-size: 14px; line-height: 20px;"><span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span> <strong>Organizatie:</strong> {{ delivery.organization.name }}</li>

        <li style="font-size: 14px; line-height: 20px;"><span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span> <strong>Trainer(s):</strong>

          <ul style="padding-left: 32px; padding-top: 8px; list-style-type: none">
            {% for trainer in delivery.trainers.all %}
              <li style="font-size: 14px; line-height: 20px;"><span style="color: #FB6600; font-weight: bold;">-</span> {{ trainer.name }}</li>
            {% endfor %}
          </ul>
        </li>
      </ul>

      <p style="margin: 0; margin-top: 12px; font-size: 14px;line-height: 17px">Deelnemers hebben om een handout gevraagd. Je kunt of deelnemers van deze delivery een van onderstaande naslagwerken sturen of zelf een handout verzenden:</p>
    </div>
  </div>

  <table style="width: 100%; margin-top: 12px">
    {% for training in trainings %}
      {% if forloop.first %}<tr>{% endif %}
      {% if forloop.counter0|divisibleby:2 %}</tr><tr>{% endif %}
      <td>
        {% include "handouts/emails/button.html" with button_url=url|add:'&training='|add:training.name button_value=training.name %}
      </td>
      {% if forloop.last %}</tr>{% endif %}
    {% endfor %}
  </table>
{% endblock %}
