{% extends 'common/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.get_full_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    </div>
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Olaf is in de war. We hebben namelijk een trainer die bij meerdere deliveries staan, dus we weten niet zo goed welke handout we naar wie moeten sturen. Kun jij Olaf helpen?
      </p>
    </div>
  </div>

  {% include "common/emails/button.html" with button_url=url button_value="Olaf helpen" %}
{% endblock %}
