{% extends 'common/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ handout_request.trainee_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    </div>
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Er is op deze datum helaas geen training bekend in ons systeem. Indien u een handout wilt verzoek ik u vriendelijk om te bellen met 023 562 99 72 en naar Ilona Eichhorn te vragen. Zij kan u verder helpen.
      </p>

      <p style="margin: 0; margin-top: 12px; font-size: 14px;line-height: 17px">Excuses voor het ongemak. Laat het vooral weten indien er nog vragen zijn.</p>
    </div>
  </div>
{% endblock %}
