{% extends 'debatnl_registration/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ recipient.name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Van harte welkom bij de training {{ recipient.registration.training }}!
        Hieronder vindt u alle relevante informatie.
      </p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">Tijd van 09.30 – 17:00, inloop is om 09:00</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">Datum training:</p>
      <ul>
        {% for training_date in training_dates %}
          <li style="font-size: 14px; line-height: 14px;"> {{ training_date.date | date:"d-m-Y" }} </li>
        {% endfor %}
      </ul>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">Locatie is Restaurant Seven, Mariaplaats 7 3511 LH Utrecht</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Maatwerkprogramma</b></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">We willen graag uw persoonlijke leerdoelen centraal stellen. Vul daarom hieronder de digitale intake in.</p>
    </div>
  </div>

  {% include "debatnl_registration/emails/button.html" with button_url=button_url button_value="Naar de digitale intake" %}

  {% if with_travel_directions %}
    {% include "debatnl_registration/emails/travel_directions.html" %}

    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
      <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
        <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">Ik wens u een hele fijne training toe.</p>
      </div>
    </div>
  {% endif %}

  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Knop werkt niet?</b></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">Als je niet op de bovenstaande knop kunt klikken, kopieer en plak de onderstaande link in je browser.<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px"><a href="{{ button_url }}" target="_blank">{{ button_url }}</a></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    </div>
  </div>
{% endblock %}
