{% extends 'debatnl_registration/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ recipient.name }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Wij hopen dat u genoten heeft van de training {{ recipient.registration.training }}.</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        </div>
    </div>

    {% if recipient.registration.training == 'Ontspannen Presenteren' %}
        <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
            <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
                <p style="margin: 0;font-size: 14px;line-height: 17px">
                    We zien in de praktijk dat de volgende stap is om ook in meetings, discussies en vergaderingen een
                    krachtige en overtuigende boodschap neer te kunnen zetten en om te leren gaan met uw
                    gesprekspartner. We nodigen u daarom uit voor de training Bewust Beinvloeden, zien we u snel weer?
                </p>
                <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            </div>
        </div>
    {% else %}
        <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
            <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
                <p style="margin: 0;font-size: 14px;line-height: 17px">
                    We zien in de praktijk dat het werken aan uw non-verbale charisma en meer technieken leren om uw
                    boodschap krachtig over te brengen een logische vervolgstap is. We nodigen u daarom uit voor de
                    training Ontspannen Presenteren, zien we u snel weer?
                </p>
                <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            </div>
        </div>
    {% endif %}

    {% include "debatnl_registration/emails/button.html" with button_url=button_url button_value=button_text %}

{% endblock %}
