{% extends 'debatnl_registration/emails/base.html' %}
{% load i18n %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Beste {{ recipient.first_name }} {{ recipient.last_name }},
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">De volgende deelnemer heeft voor een geannuleerde training de volgende keuze gemaakt:</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                <b>Naam</b>: {{ participant.name }} <br>
                <b>Email</b>: {{ participant.email }} <br>

                {% if data.option %} <b>Optie keuze</b>: Optie {{ data.option }} <br>{% endif %}
                {% if data.new_planned_training %} <b>Nieuwe data</b>:

                    {% language 'nl' %}
                        {% if data.option == '1' %}
                            {% for training_date in data.new_planned_training.training_dates.all %}
                                {% if training_date.sequence != 0 %}
                                    {{ training_date.date|date:"d F Y" }} {% if not forloop.last %} en {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if data.option == '2' %}
                            {% for training_date in data.new_planned_training.training_dates.all %}
                                {{ training_date.date|date:"d F Y" }}{% if forloop.revcounter > 2 %}, {% endif %}
                                {% if forloop.revcounter == 2 %} en {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endlanguage %}
                    <br>
                {% endif %}

                {% if data.coaching_date %}
                    {% language 'nl' %}
                        <b>Coaching datum</b>:
                        {{ data.coaching_date|date:"d F Y" }}
                        {{ data.coaching_time }}
                        <br>
                    {% endlanguage %}
                {% endif %}

                {% if data.invoice_choice %}
                    <b>Factuur al overgemaakt?</b>: {{ data.invoice_choice }} <br>
                {% endif %}

                {% if data.name %}
                    <b>Naam</b>: {{ data.name }} <br>
                {% endif %}

               {% if data.email %}
                    <b>E-mail</b>: {{ data.email }} <br>
                {% endif %}

                {% if data.invoice_number %}
                    <b>Factuurnummer</b>: {{ data.invoice_number }} <br>
                {% endif %}

                {% if data.bank_account_number %}
                    <b>Bankrekeningnummer</b>: {{ data.bank_account_number }} <br>
                {% endif %}

                {% if data.account_holder_name %}
                    <b>Ter name van</b>: {{ data.account_holder_name }} <br>
                {% endif %}

                {% if data.reference %}
                    <b>Uw referentie</b>: {{ data.reference }} <br>
                {% endif %}
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Alle mails zijn automatisch aangepast. Indien de deelnemer nieuwe data wil, pas ze aan in het CRM. </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Wil de deelnemer geld terug? Check eerst of de factuur nog niet betaald is.
                Is die wel betaald, crediteer deze dan en voeg de juiste referenties toe.
                Is deze niet betaald? Crediteer de factuur dan en letter deze af.
            </p>
       </div>
    </div>
{% endblock %}
