{% extends 'debatnl_registration/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Beste {{ recipient.first_name }} {{ recipient.last_name }},
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px"> We hebben nog geen reactie voor de volgende data: </p>
            <ul>
                {% for training_date in planned_training.training_dates.all %}
                    <li style="font-size: 14px; line-height: 14px;"> {{ training_date.date | date:"d-m-Y" }} </li>
                {% endfor %}
            </ul>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px"> Deze data dienen op de website ingevoerd te worden. Verwijder eventueel oude data. </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Let op: De eerste dag is de training voor de eendaagse, voeg deze toe op de pagina van de 1 daagse
                en voeg ook de data op de pagina van de 3 daagse toe.
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px"> De data dienen in de volgende volgorde geplaatst te worden: </p>
            <ul>
                <li style="font-size: 14px; line-height: 14px;"> Linksboven de meest recente datum </li>
                <li style="font-size: 14px; line-height: 14px;"> Linksonder de datum daarna </li>
                <li style="font-size: 14px; line-height: 14px;"> Rechtsboven de datum daarna </li>
                <li style="font-size: 14px; line-height: 14px;"> Rechtsonder de datum daarna </li>
            </ul>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Let erop dat alle grijze blokken even groot zijn en bevestig hieronder dat de pagina’s up to date zijn.
            </p>
        </div>
    </div>

    {% include "debatnl_registration/emails/button.html" with button_url=button_url button_value="Data op website aangepast" %}
{% endblock %}
