{% extends 'debatnl_registration/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Beste {{ recipient.first_name }} {{ recipient.last_name }},
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Voor de training {{ planned_training.training.name }} moeten we wegens te weinig deelnemers de volgende training annuleren:</p>
            <ul>
                {% for training_date in training_dates %}
                    <li style="font-size: 14px; line-height: 14px;"> {{ training_date.date|date:"d-m-Y" }} </li>
                {% endfor %}
            </ul>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Excuses voor het ongemak en dank voor het vrijhouden van de data.</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>

            {% if exclude_first_date %}
                <p style="margin: 0;font-size: 14px;line-height: 17px">LET OP: Dag 1 gaat dus wel door.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
