{% extends 'debatnl_registration/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ recipient.name }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                In de bijlage heb ik een certificaat voor u van de training {{ training.name }} die u onlangs gevolgd heeft.
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
       </div>
    </div>

    {% if amount_training_days == 1 %}
        <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
            <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
                <p style="margin: 0;font-size: 14px;line-height: 17px">
                    Doet u ook samen met de rest van de groep mee met dag 2 en 3? Hieronder vindt u het programma:
                </p>
            </div>
        </div>

        {% include "debatnl_registration/emails/button.html" with button_url=schedule_url button_value="Het programma" %}

        <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
            <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
                <p style="margin: 0;font-size: 14px;line-height: 17px">U kunt zich aanmelden via onderstaande link:</p>
            </div>
        </div>

        {% include "debatnl_registration/emails/button.html" with button_url=registration_url button_value="Nu aanmelden" %}
    {% endif %}
{% endblock %}