{% extends 'debatnl_registration/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Beste {{ recipient.name }},
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Dag 2 en dag 3 van de training {{ planned_training.training.name }} gaan wegens te weinig deelnemers helaas niet door.</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Dag 1 van deze training gaat echter wel gewoon door.</b></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Onze excuses voor dit ongemak. We bieden u ter compensatie de volgende opties:</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Optie 1: Volg dag 1, verschuif dag 2 en dag 3</b></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                U kunt dag 1 volgen en dag 2 en 3 op een later tijdstip volgen.
                Zo kunt u wel snel beginnen met uw training.
                Ter compensatie bieden we u bij het kiezen van deze optie ook een kosteloze coaching van 2 uur aan bij u op locatie.
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Optie 2: Verschuif de gehele training</b></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                U kunt de gehele training naar een ander moment verschuiven.
                Ter compensatie bieden we u bij het kiezen van deze optie ook een kosteloze coaching van 2 uur aan bij u op locatie.
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Optie 3: Geld terug</b></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Uiteraard kunt u er ook voor kiezen om uw geld terug te vragen.
            </p>
       </div>
    </div>

    {% include "debatnl_registration/emails/button.html" with button_url=button_url button_value="Keuze maken" %}

    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">Excuses voor het ongemak.</p>
        </div>
    </div>
{% endblock %}
