{% extends 'debatnl_registration/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Beste {{ recipient.first_name }} {{ recipient.last_name }},
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Voor de training op {{ training_date.date|date:"d-m-Y" }} hebben we de volgende informatie:</p>
            <ul>
                <li style="font-size: 14px; line-height: 14px;"> Aantal deelnemers: {{ training_date.attendees.all|length }} </li>
                <li style="font-size: 14px; line-height: 14px;">
                    Dieetwensen:
                    <ul>
                        {% for attendee in training_date.attendees.all %}
                            {% if attendee.dietary_wishes %}
                                <li>{{ attendee.name}} : {{ attendee.dietary_wishes }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        </div>
    </div>
{% endblock %}
