{% extends 'common/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Beste {{ recipient.first_name }} {{ recipient.last_name }},
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Helaas moeten wij voor de volgende data de zaal annuleren wegens te weinig deelnemers:</p>
            <ul>
                {% for training_date in training_dates %}
                    <li style="font-size: 14px; line-height: 14px;"> {{ training_date.date | date:"d-m-Y" }} </li>
                {% endfor %}
            </ul>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Let op: Indien op deze datum meerdere zalen zijn geboekt annuleren we slechts 1 zaal.</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Bevestig met de knop hieronder de annulering, zodat we zeker weten dat die goed doorgekomen is.</p>
        </div>
    </div>

    {% include "debatnl_registration/emails/button.html" with button_url=button_url button_value="Annulering bevestigen" %}
{% endblock %}

{% block footer %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
      <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
        <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Knop werkt niet?</b></p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">Als je niet op de bovenstaande knop kunt klikken, kopieer en plak de onderstaande link in je browser.<br></p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        <p style="margin: 0;font-size: 14px;line-height: 17px"><a href="{{ button_url }}" target="_blank">{{ button_url }}</a></p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      </div>
    </div>
{% endblock %}
