{% extends 'debatnl_registration/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ recipient.name }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Binnenkort volgt u de training {{ recipient.registration.training }}.
                Hieronder vindt u voor uw gemak alle gegevens:
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Tijd van 09.30 – 17:00, inloop is om 09:00</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Datum training:</p>
            <ul>
                {% for training_date in training_dates %}
                    <li style="font-size: 14px; line-height: 14px;"> {{ training_date.date|date:"d-m-Y" }} </li>
                {% endfor %}
            </ul>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Locatie is Restaurant Seven, Mariaplaats 7 3511 LH Utrecht</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        </div>
    </div>

    {% include "debatnl_registration/emails/travel_directions.html" %}
{% endblock %}
