{% extends 'debatnl_registration/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                DIT IS EEN AUTOMATISCH BERICHT
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Beste {{ recipient.first_name }} {{ recipient.last_name }},
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Voor de volgende training hebben we momenteel {{ training_date.attendees.all|length}} deelnemers:
            </p>
            <ul>
                <li style="font-size: 14px; line-height: 14px;"> {{ training_date.planned_training.training.name }} : {{ training_date.date|date:"d-m-Y" }} </li>
            </ul>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Boek of een extra zaal bij of besluit in overleg met Ilona dat dit niet nodig is.
                Bevestig hieronder dat er een keuze gemaakt is.
            </p>

            {% include "debatnl_registration/emails/button.html" with button_url=button_url button_value="Keuze gemaakt" %}
        </div>
    </div>
{% endblock %}
