{% extends 'debatnl_registration/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Beste {{ recipient.first_name }} {{ recipient.last_name }},
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Voor de volgende data is de zaal bevestigd.</p>
            <ul>
                {% for training_date in planned_training.training_dates.all %}
                    <li style="font-size: 14px; line-height: 14px;"> {{ training_date.date | date:"d-m-Y" }} </li>
                {% endfor %}
            </ul>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Let op: Update Jotform met de nieuwe data en bevestig dat hieronder.</b></p>
        </div>
    </div>

    {% include "debatnl_registration/emails/button.html" with button_url=button_url button_value="Jotform is up to date" %}
{% endblock %}
