{% extends 'debatnl_registration/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">AUTOMATISCH BERICHT</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Beste {{ recipient.first_name }} {{ recipient.last_name }},
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Voor de training {{ planned_training.training.name }} willen wij graag voor de volgende data de gebruikelijke zaal boeken:</p>
            <ul>
                {% for training_date in training_dates %}
                    <li style="font-size: 14px; line-height: 14px;"> {{ training_date.date | date:"d-m-Y" }} </li>
                {% endfor %}
            </ul>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px"> Reageer met de knoppen hieronder en <b>reageer niet</b> op deze email.</p>
        </div>
    </div>

    {% include "debatnl_registration/emails/button.html" with button_url=accept_url button_value="De zaal is WEL beschikbaar" %}
    {% include "debatnl_registration/emails/button.html" with button_url=deny_url button_value="De zaal is NIET beschikbaar" %}

    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Knop werkt niet?</b></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Als u niet op de bovenstaande knoppen kunt klikken, kopieer en plak de gepaste link in uw browser.</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">De zaal is WEL beschikbaar: <a href="{{ accept_url }}" target="_blank">{{ accept_url }}</a></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">De zaal is NIET beschikbaar: <a href="{{ deny_url }}" target="_blank">{{ deny_url }}</a></p>
        </div>
    </div>
{% endblock %}
