{% extends 'debatnl_registration/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                DIT IS EEN AUTOMATISCH BERICHT
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Beste {{ recipient.first_name }} {{ recipient.last_name }},
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Voor de training {{ training_date.planned_training.training.name }} op {{ training_date.date|date:"d-m-Y" }} wachten we nog op de informatie wie er wel en niet aanwezig was.
                Deze gebruiken we om deelnemers een certificaat door te geven.
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Geef daarom zo snel mogelijk de aanwezigheid van de deelnemers door via onderstaande button.
            </p>

            {% include "debatnl_registration/emails/button.html" with button_url=button_url button_value="Aanwezigheid doorgeven" %}
        </div>
    </div>
{% endblock %}
