<span class="large-12 column {{ id }}-label">
    {{ label }}
</span>

<span class="large-4 columns">
    {% if disabled %}
        <input type="hidden" name="{{ id }}_day" value="{{ obj.day }}" />
    {% endif  %}

    <select title name="{{ id }}_day" {% if required %} required {% endif %} {% if disabled %} disabled {% endif %}>
        <option value="" disabled selected>Dag</option>
        {% for day in days %}
            <option value="{{ day }}" {% if day == obj.day %}selected{% endif %}>{{ day }}</option>
         {% endfor %}
    </select>
</span>

<span class="large-4 columns">
    {% if disabled %}
        <input type="hidden" name="{{ id }}_month" value="{{ obj.month }}" />
    {% endif  %}

    <select title name="{{ id }}_month" {% if required %} required {% endif %} {% if disabled %} disabled {% endif %}>
        <option value="" disabled selected>Maand</option>
        <option value="1" {% if 1 == obj.month %}selected{% endif %}>Januari</option>
        <option value="2" {% if 2 == obj.month %}selected{% endif %}>Februari</option>
        <option value="3" {% if 3 == obj.month %}selected{% endif %}>Maart</option>
        <option value="4" {% if 4 == obj.month %}selected{% endif %}>April</option>
        <option value="5" {% if 5 == obj.month %}selected{% endif %}>Mei</option>
        <option value="6" {% if 6 == obj.month %}selected{% endif %}>Juni</option>
        <option value="7" {% if 7 == obj.month %}selected{% endif %}>Juli</option>
        <option value="8" {% if 8 == obj.month %}selected{% endif %}>Augustus</option>
        <option value="9" {% if 9 == obj.month %}selected{% endif %}>September</option>
        <option value="10" {% if 10 == obj.month %}selected{% endif %}>Oktober</option>
        <option value="11" {% if 11 == obj.month %}selected{% endif %}>November</option>
        <option value="12" {% if 12 == obj.month %}selected{% endif %}>December</option>
    </select>
</span>

<span class="large-4 columns end">
    {% if disabled %}
        <input type="hidden" name="{{ id }}_year" value="{{ obj.year }}" />
    {% endif  %}

    <select title name="{{ id }}_year" {% if required %} required {% endif %} {% if disabled %} disabled {% endif %}>
        <option value="" disabled selected>Jaar</option>
        {% for year in years %}
            <option value="{{ year }}" {% if year == obj.year %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
    </select>
</span>