<div id="widget-file-upload" class="row column widget-file-upload">

  <!-- Video Upload Widget -->
  <div class="row column file-upload-group">
    <label>{{ label }}</label>
    <div class="row">
      <div class="medium-8 column">
        <input type="text" class="upload-display" placeholder="Kies een bestand" title disabled />
      </div>
      <div class="medium-4 column">
        <label for="file-input" class="blue button upload-button expanded">Bladeren</label>
        <input type="file" id="file-input" class="file-upload" accept="video/*" />
        <input type="hidden" name="file_s3_location">
        <input type="hidden" name="file_name" value="{{ file_name|default_if_none:"" }}">
        <input type="hidden" name="file_size" value="{{ file_size|default_if_none:"" }}">
      </div>
    </div>
  </div>

  <!-- Uploaded File Preview -->
  <div id="file-container" class="file-container">
    <div class="file-container-row">
      <span class="fa fa-file-movie-o file-icon text-danger" id="file-icon"></span>
      <div class="file-information">
        <div class="row column">
          <div class="small-8 column" id="left-column">
            <div class="file-name"></div>
            <div class="file-size"></div>
          </div>

          <div class="small-4 column" id="right-column">
            <span class="fi flaticon-check"></span>
            <a class="delete-button">
              <span class="fi flaticon-close-button"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    var selectedFile;
    var isChanged = false;

    var widget = $('#widget-file-upload');
    var filefield = widget.find('input[type=file]');
    var s3LocationField = widget.find('input[name=file_s3_location]');
    var fileNameField = widget.find('input[name=file_name]');
    var fileSizeField = widget.find('input[name=file_size]');
    var btnDelete = widget.find('.delete-button');
    var btnUpload = widget.find('.upload-button');

    drawFile();

    filefield.change(function(e) {
      selectedFile = e.target.files[0];
      if (selectedFile) {
        changeButtonState(true);
        requestPresignedUrl();
        isChanged = true
      }
    });

    btnDelete.click(function() {
      selectedFile = null;
      filefield.val('');
      s3LocationField.val('');
      fileNameField.val('');
      fileSizeField.val('');
      filefield.trigger("change");
      drawFile();
    });

    function requestPresignedUrl() {
      var url = "{% url 'debatnl_mobile:sign_s3_upload_url' %}?file_name=" + selectedFile.name;
      $.get(url).done(uploadToS3);
    }

    function uploadToS3(data) {
      var formData = new FormData();
      $.each(data['fields'], function (key, value) {
        formData.set(key, value);
      });

      formData.set('file', selectedFile);

      var request = new XMLHttpRequest();
      request.upload.onprogress = function (ev) {
        if (ev.loaded === ev.total) {
          s3LocationField.val(data['fields']['key']);
          fileNameField.val(selectedFile.name);
          fileSizeField.val(selectedFile.size);
          drawFile();
          changeButtonState(false);
        }
      };
      request.upload.onerror = function () { error('Iets ging verkeerd!') };
      request.open('POST', data['url']);
      request.send(formData);
    }

    function changeButtonState(isUploading) {
      btnUpload.attr('disabled', isUploading);
      filefield.attr('disabled', isUploading);

      if (isUploading) {
        btnUpload.html('<i class="fa fa-spinner fa-spin"></i> Uploaden...');
      } else {
        btnUpload.html('Bladeren');
      }
    }

    // To draw/display file selected for upload
    function drawFile() {
      if (!fileNameField.val() || !fileSizeField.val()) {
        $('#file-container').hide();
      } else {
        var fileName =  fileNameField.val();
        fileName = fileName.length <= 30 ? fileName : fileName.slice(0, 30) + '...';

        var fileSize = parseInt(fileSizeField.val());
        fileSize = (fileSize/1000000).toFixed(2) + 'MB';

        $('.file-name').text(fileName);
        $('.file-size').text(fileSize);
        $('#file-container').show();
      }
    }
  })
</script>
