<div class="widget-file-uploader input-group">
  <label>{{ file_input_label|default:"Bijlage (docx, pdf, jpg, png)" }}</label>
  <div class="row">
    <div class="large-8 column">
      <input type="text" id="upload-display" class="upload-display" placeholder="Kies een bestand"
             title disabled/>
    </div>
    <div class="large-4 column">
      <label for="{{ id|default:'file-upload' }}" class="blue button expanded">Bladeren</label>
      <input type="file" id="{{ id|default:'file-upload' }}" name="files[]"
             accept=".doc,.docx,image/jpeg,image/jpg,image/png,application/pdf" {% if multiple %}multiple{% endif %}>
    </div>
  </div>

  <div class="row column">
    <div id="{{ id|default:'file' }}-container" class="file-container"></div>
  </div>
</div>

<script>
  $(function() {
    var $fileField = $('#{{ id|default:'file-upload' }}');
    var container = $('#{{ id|default:"file" }}-container');

    // Initialize multi-file upload jQuery Widget
    $fileField.fileupload({
      add: function (e, data) {
        $.each(data.files, function (index, file) {
          {% if multiple %}
            files.push(file);
          {% else %}
            files.pop();
            files.push(file);
          {% endif %}
        });
        redrawFilesList();
      }
    });

    function redrawFilesList() {
      container.html('');

      for(var i = 0; i < files.length; i++) {
        var file = files[i];
        var size = (file.size/1000000).toFixed(2) + 'MB';
        var rowContainer = $('<div/>').attr('id', 'file-container-row-' + i).addClass('file-container-row');

        var iconClass;
        switch(file.type) {
          case 'image/jpeg':
            iconClass = 'fa-file-photo-o';
            break;
          case 'image/jpg':
            iconClass = 'fa-file-photo-o';
            break;
          case 'image/png':
            iconClass = 'fa-file-photo-o';
            break;
          case 'application/pdf':
            iconClass = 'fa-file-pdf-o text-danger';
            break;
          default:
            iconClass = 'fa-file';
        }

        var icon = $('<span/>').addClass('fa ' + iconClass + ' file-icons');
        rowContainer.append(icon);

        var fileInfo = $('<div/>').addClass('file-information');
        fileInfo.append($('<div/>').attr('id', 'file-name-' + i).addClass('file-name').html(file.name));
        fileInfo.append($('<div/>').attr('id', 'file-size-' + i).addClass('file-size').html(size));

        rowContainer.append(fileInfo);
        rowContainer.append($('<div class="fi flaticon-check"></div>'));

        var deleteButton = $('<a/>').attr({'id': 'delete-button-' + i, 'data-index': i})
          .addClass('delete-button')
          .html('<span class="fi flaticon-close-button"></span>');

        rowContainer.append(deleteButton);
        container.append(rowContainer);

        deleteButton.on('click', {'idx': i}, function (e) {
          files.splice(e.data.idx, 1);
          redrawFilesList(container, files);
        });
      }
    }
  });
</script>
