<div class="row">
    <div class="large-offset-4 large-4 column no-right-padding">
        <input type="button" id="{{ id }}-add-button" class="tiny expanded debat-orange button" value="{{ add_text }}">
    </div>
    <div class="large-4 column">
        <input type="button" id="{{ id }}-remove-button" class="tiny expanded debat-blue button" value="{{ remove_text }}">
    </div>
</div>

<script>
    $(function () {
        var container = $('.{{ id }}-container');
        var originalRow = $('.{{ id }}-row').first();

        $('#{{ id }}-add-button').click(function () {
            var cloned = originalRow.clone();
            cloned.find('select').val("");
            cloned.find('select').attr('disabled', false);

            container.append(cloned);
            calculateIndex(container);
        });

        $('#{{ id }}-remove-button').click(function () {
            var rows = $('.{{ id }}-row');
            var lastRow = rows.last();

            if (rows.length > 1 && lastRow.has('select:disabled').length === 0) {
                lastRow.remove();
                calculateIndex(container);
            }
        });

        function calculateIndex(container) {
            container.find('.{{ id }}-row').each(function (index) {
                updateElementIndex($(this), index);
                var labelSpan = $(this).find('span[class$="-label"]');
                var labelText = labelSpan.text().trim();
                labelSpan.text(labelText.slice(0, -1) + (index + 1));
            });

            $('#id_{{ prefix }}-TOTAL_FORMS').val(container.find('.{{ id }}-row').length);
        }

        function updateElementIndex(row, ndx) {
            row.find('input, select').each(function () {
                var prefix = '{{ prefix }}';
                var id_regex = new RegExp('(' + prefix + '-\\d+)');
                var replacement = prefix + '-' + ndx;
                if (this.name) this.name = this.name.replace(id_regex, replacement);
            });
        }
    });
</script>