<div class="reveal modal-container"
     id="modal-container-{{ id }}"
     {% if append_to %} data-append-to="{{ append_to }}" {% endif %}
     data-close-on-click="false" data-multiple-opened="true" data-reveal></div>

<script>
  $(function(){
    var modal = $('#modal-container-{{ id }}');
    modal.foundation();

    var buttonSelector = '[name=btn-open-modal]';

    {% if button_name %}
      buttonSelector = '[name={{ button_name}}]';
    {% endif %}

    $(buttonSelector).click(function () {
      var btn = this;
      var url = $(btn).data('url');
      var buttonText = $(btn).html();
      var loaderIcon = "<i class='fa fa-refresh fa-spin'></i>";

      if ($(btn).hasClass('with-loader')) {
        $(btn).html(buttonText + loaderIcon);
      }

      $.get(url, function(data) {
        modal.html(data);
        modal.foundation('open');
        $(btn).html(buttonText);
      });
    });
  });
</script>
