@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

.button
  margin-bottom: 0

label[for="id_trainer"]
  font-size: 14px
  font-weight: 500

.required
  color: $debat-red

.checkbox
  margin-top: 5px
  margin-bottom: 0

  input[type=checkbox]:disabled + .check-label .check-label-box
    cursor: default

  input[type=checkbox]:disabled:checked + .check-label .check-label-box
    opacity: 0.6
    background-color: #FB6600
    border: 2px solid #FB6600
