@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

.investment-details
  h5
    font-size: 0.8rem
    padding-bottom: 2.5px
    margin-bottom: 0

  .detail, .detail h5
    font-size: 12px

.detail
  padding-bottom: 1rem

  h5
    font-size: 0.8rem
    padding: 0
    margin: 0

  ul
    margin-bottom: 0

  pre
    font-family: $montserrat
    font-weight: 400
    word-wrap: break-word
    width: 80%
    white-space: pre-wrap

.multi-select
  max-height: 10rem

  img
    height: 75px
    width: 160px

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before
      top: 30px

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after
      top: 34px

.details-row td
  border-bottom: 1px solid $debat-dark-grey
  border-top: 1px solid $debat-dark-grey

.investment-container
  .title
    padding-bottom: 2.5px

#form-offer
  select
    padding: 0.5rem

  label
    color: $debat-blue

    &[for="radio-own-image"]
      padding-top: 15px
      padding-bottom: 15px

      &:before
        top: 16px

      &:after
        top: 20px

#create-absence-schedule-btn
  line-height: 9px

#modal-container-create-absence-schedule
  overflow: visible

.absence-schedule-forms p
  font-size: 20px
  font-weight: 500
  padding-bottom: 80px
  padding-top: 80px
