{% extends "admin/change_form.html" %}
{% block object-tools-items %}
  <li style="float: none; margin-bottom: 15px">
    <a
      href="{% url 'admin:send_page_selection_email' pk=original.pk %}"
      class="grp-state-focus">
      Send Handout Page Selection E-mail
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a
      href="{% url 'admin:send_no_delivery_by_training_email' pk=original.pk %}"
      class="grp-state-focus">
      Send No Corresponding Delivery By Training E-mail
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a
      href="{% url 'admin:send_second_no_delivery_by_training_email' pk=original.pk %}"
      class="grp-state-focus">
      Send Second No Corresponding Delivery By Training E-mail
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a
      href="{% url 'admin:send_trainer_not_assigned_email' pk=original.pk %}"
      class="grp-state-focus">
      Send Trainer Not Assigned E-mail
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a
      href="{% url 'admin:send_mismatched_deliveries_email' pk=original.pk %}"
      class="grp-state-focus">
      Send Mismatched Deliveries E-mail
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a
      href="{% url 'admin:send_handout_download_email' pk=original.handout.pk %}"
      class="grp-state-focus">
      Send Handout Download E-mail
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a
      href="{% url 'admin:send_unknown_deliveries_email' pk=original.pk %}"
      class="grp-state-focus">
      Send Unknown Deliveries E-mail
    </a>
  </li>
  {{ block.super }}
{% endblock %}
