{% extends "admin/change_list.html" %}
{% block object-tools-items %}
  <li>
    <a href="{% url 'admin:generate_handout_requests' %}" class="grp-state-focus">
      Generate Handout Requests
    </a>
  </li>
  {{ block.super }}
{% endblock %}
