<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row">
  <h5 class="column">AANPASSING VRAGEN</h5>
</div>

<form method="POST" action="{{ request.path }}">
  {% csrf_token %}

  <div class="form-group row column">
    <label for="{{ form.feedback.id_for_label }}">Wat moet {{ declaration.user.get_full_name }} aanpassen?</label>
    {{ form.feedback }}
  </div>

  <div class="row column text-right">
    <div class="small button-group">
      <button type="button" class="debat-blue large-3 button" data-close>Annuleren</button>
      <button type="submit" class="large-3 button" data-close>Opslaan</button>
    </div>
  </div>
</form>
