@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

table
  th
    padding-left: 2rem !important
    padding-right: 2rem !important

    .page-title
      font-size: 18px
      font-weight: 400

  thead
    tr:first-child
      th
        padding-top: 2rem

  .block
    display: inline-block
    width: 10px
    height: 10px
    margin-left: 15px

    &.green
      background-color: #3c763d

    &.orange
      background-color: $debat-orange

    &.red
      background-color: $debat-red

.table-reports
  .icon
    padding: 0
    width: 47px

    .fa
      font-size: 34px

  .button
    margin-bottom: 0



// VARS
$circle-width: 0.08em
$circle-width-hover: 0.04em

// colors default
$primary-color: #307bbb
$secondary-color: #ccc
$bg-color: #f5f5f5

$primary-color-green: #4db53c
$primary-color-orange: #dd9d22


// colors dark skin
$primary-color-dark: #c6ff00
$secondary-color-dark: #777
$bg-color-dark: #666

$primary-color-green-dark: #5fd400
$primary-color-orange-dark: #e08833


// CIRCLE
// classes 2 extend
.rect-auto
  clip: rect(auto, auto, auto, auto)


.pie
  position: absolute
  border: $circle-width solid $primary-color
  width: 1 - (2 * $circle-width)
  height: 1 - (2 * $circle-width)
  clip: rect(0em, 0.5em, 1em, 0em)
  border-radius: 50%
  transform: rotate(0deg)

.pie-fill
  transform: rotate(180deg)

// main
.c100
  *, *:before, *:after
    box-sizing: content-box


  position: relative
  font-size: 120px
  width: 1em
  height: 1em
  border-radius: 50%
  float: left
  margin: 0 0.1em 0.1em 0
  background-color: $secondary-color

  // center circle to its parent
  &.center
    float: none
    margin: 0 auto


  // bigger size
  &.big
    font-size: 240px


  // smaller size
  &.small
    font-size: 80px


  // centered value inside circle
  > span
    position: absolute
    z-index: 1
    left: 0
    top: 0
    width: 5em
    line-height: 5em
    font-size: 0.2em
    color: $secondary-color
    display: block
    text-align: center
    white-space: nowrap
    transition: all 0.2s ease-out

  // background inside the circle
  &:after
    position: absolute
    top: $circle-width
    left: $circle-width
    display: block
    content: " "
    border-radius: 50%
    background-color: $bg-color
    width: 1 - (2 * $circle-width)
    height: 1 - (2 * $circle-width)
    transition: all 0.2s ease-out

  // the slice (mask)
  .slice
    position: absolute
    width: 1em
    height: 1em
    clip: rect(0em, 1em, 1em, 0.5em)

  // circle to show the status
  .bar
    @extend .pie

  // loop to create all needed elements automatically
  @for $j from 51 through 100

    &.p#{$j}
      .slice
        @extend .rect-auto


    &.p#{$j}
      .bar:after
        @extend .pie-fill


    &.p#{$j}
      .fill
        @extend .pie
        @extend .pie-fill

  // loop to rotate all 100 circles
  @for $j from 1 through 100
    &.p#{$j}
      .bar
        transform: rotate((360/100*$j) + deg)


  // hover styles
  &:hover
    cursor: default

    > span
      width: 3.33em
      line-height: 3.33em
      font-size: 0.3em
      color: $primary-color


    &:after
      top: $circle-width-hover
      left: $circle-width-hover
      width: 1 - (2 * $circle-width-hover)
      height: 1 - (2 * $circle-width-hover)

  &.green
    .bar, .fill
      border-color: #3c763d

    > span
      color: #3c763d

  &.orange
    .bar, .fill
      border-color: $debat-orange

    > span
      color: $debat-orange

  &.red
    .bar, .fill
      border-color: $debat-red

    > span
      color: $debat-red
