{% extends 'debatnl_online/base.html' %}
{% load static %}
{% load sass_tags %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'debatnl_online/sass/style.sass' %}">
  <link rel="stylesheet" href="{% static 'filepond/dist/filepond.min.css' %}">
{% endblock %}

{% block custom-javascript %}
  <script type="application/javascript" src="{% static 'filepond/dist/filepond.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'jquery-filepond/filepond.jquery.js' %}"></script>
  <script type="application/javascript" src="{% static 'formdata-polyfill/formdata.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="small reveal" id="modal" data-close-on-click="false" data-reveal></div>

  <section>
    <h3 class="page-title text-center">{{ organization.name }}</h3>
  </section>

  <div class="row columns">
    {% include "debatnl_online/components/learning_goals/goals/table.html" with goals=organization.goals %}
  </div>

  <div class="row columns">
    {% include "debatnl_online/components/learning_goals/roles/table.html" with persons=organization.participants role_name='PARTICIPANT'%}
  </div>

  <div class="row columns">
    {% include "debatnl_online/components/learning_goals/roles/table.html" with persons=organization.managers role_name='MANAGER' %}
  </div>

  <div class="row columns">
    {% include "debatnl_online/components/learning_goals/organizations/table_message.html" %}
  </div>

  <div class="row columns">
    {% include "debatnl_online/components/learning_goals/email_templates/table.html" %}
  </div>

  {{ block.super }}
{% endblock %}

