{% if not organization.welcome_message %}
  <section>
    <div class="row">
      <div class="large-3 column">
        <a name="option" class="debat-orange small expanded button" data-url="{% url 'debatnl_online:learning_goals:organizations:create_message' organization=organization.id %}">
          <span class="fi flaticon-signs"></span>
          Voeg melding toe
        </a>
      </div>
    </div>
  </section>
{% endif %}


<section>
  <H5>MELDING BIJ INLOG</H5>

  <table>
    <thead>
    <tr class="table-row">
      <td>OMSCHRIJVING</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    {% if organization.welcome_message %}
      <tr>
        <td><pre>{{ organization.welcome_message }}</pre></td>
        <td width="200" class="text-right">
          <a name="option" class="tiny hollow button" data-url="{% url 'debatnl_online:learning_goals:organizations:update_message' organization=organization.id %}">
            Wijzigen
          </a>
          <a name="option" class="tiny hollow button" data-url="{% url 'debatnl_online:learning_goals:organizations:delete_message' organization=organization.id %}">
            Verwijderen
          </a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td class="text-center" colspan="2">Er is geen melding na het inloggen.</td>
      </tr>
    {% endif %}
    </tbody>
  </table>
</section>
