<section>
  <div class="row">
    <div class="large-3 column">
      <a name="organization-option" class="debat-orange small expanded button" data-url="{% url 'debatnl_online:learning_goals:organizations:create' %}">
        <span class="fi flaticon-signs"></span>
        Voeg opdrachtgever toe
      </a>
    </div>
  </div>
</section>

<div class="tiny reveal" id="modal" data-close-on-click="false" data-reveal></div>

<section>
  <div class="row column">
    <H5>OPDRACHTGEVERS</H5>
  </div>

  <div class="row column">
    <table>
      <thead>
      <tr class="table-row">
        <td width="130"></td>
        <td>NAAM</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      {% for organization in organizations %}
        <tr>
          <td width="130">
            <a name="organization-option" class="edit-button" data-url="{% url 'debatnl_online:learning_goals:organizations:update' organization=organization.id %}">
              <span class="fi flaticon-pencil"></span>
            </a>
            <a name="organization-option" class="remove-button" data-url="{% url 'debatnl_online:learning_goals:organizations:delete' organization=organization.id %}">
              <span class="fi flaticon-close-button"></span>
            </a>
          </td>
          <td><a href="{% url 'debatnl_online:learning_goals:organizations:details' organization=organization.id %}">{{ organization.name }}</a></td>
          <td></td>
        </tr>
      {% empty %}
        <tr>
          <td class="text-center" colspan="6">Er zijn geen opdrachtgevers.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<script>
  $(function () {
    var modal = $('#modal');
    modal.foundation();

    $('a[name=organization-option]').click(function () {
      var url = $(this).data('url');

      $.get(url, function(data) {
        modal.html(data);
        modal.foundation('open');
      });
    });
  })
</script>
