@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

.detail-item
  margin-bottom: 28px

.detail-item-heading
  margin-bottom: 6px

.detail-item-body
  padding: 6px
  border: 1px solid $debat-light-grey
  border-radius: 2px

.detail-item-table
  border: 1px solid $debat-light-grey
  margin-bottom: 0

  thead
    border-bottom: 1px solid $debat-light-grey

  th
    font-weight: normal
    color: $debat-blue
    padding: 14px

    &.date-column
      width: 150px

  td
    padding: 12px 14px

.followup-tables
  th
    font-weight: 400
    color: #082F4F
    padding: 1rem 2rem
    border-bottom: 1px solid #ccc

  .button
    margin-bottom: 0
    border-color: #a0a0a0
    color: $debat-orange

  .button:hover
    color: #fff
    border-color: $debat-light-grey
    background-color: $debat-orange

.full-bg
  width: 100%
  max-width: initial

#card-container
  .card
    padding: 40px

.page-followup-setup
  .detail-item-body
    background-color: #E7E7E7

  .detail-item-body,
  .detail-item-heading
    font-size: 14px

  table,
  table thead,
  table tr,
  table td
    background-color: #E7E7E7
    border-color: $debat-grey

  table,
  table th
    color: #000 !important

#form-create-followup-event
  label
    font-weight: 500
    font-size: 14px
    margin-bottom: 4px

  .text-email-salutation
    margin-top: 18px

  .modal-footer
    margin-top: 40px

#button-url-field-group
  .input-group-label
    border-bottom-left-radius: 4px
    border-top-left-radius: 4px

  .input-group-field
    border-bottom-left-radius: 0 !important
    border-top-left-radius: 0 !important

.back-btn
  margin-bottom: 30px


#setup-step1-form
  h6
    font-family: $montserrat
    font-size: 14px
    margin-bottom: 48px

    &+p
      font-family: $montserrat
      margin-bottom: 6px

  .setup-table
    border: 1px solid $debat-light-grey
    margin-bottom: 28px

    thead
      border-bottom: 1px solid $debat-light-grey

      th
        color: $debat-blue
        font-family: $montserrat
        font-weight: normal
        text-align: left
        padding: 16px 6px

      th:first-child
        width: 42px

    tbody
      .checkbox
        margin-bottom: 0

      td
        padding: 12px 6px
        label
          color: $debat-blue
          cursor: pointer
          margin-bottom: 4px

        .button
          line-height: 0.4rem
          margin-bottom: 4px


#setup-step2-form
  .italic
    font-style: italic

  table
    margin-top: 20px

    td
      padding: 0

      span
        background-color: $debat-light-grey
        border-radius: 2px
        display: inline-block
        padding: 10px 12px
        margin-bottom: 14px

      .input-group
        position: relative

        .input-group-label
          display: table-cell
          background-color: transparent
          border: none
          position: absolute
          font-size: 18px
          bottom: -11px

        .input-group-field
          text-align: center

#setup-step3-form
  section
    margin-top: 24px
    border-bottom: 1px solid $debat-light-grey

  section:last-of-type
    border-bottom: none
    margin-bottom: 24px

  .form-group
    margin-bottom: 12px

  .message-closing
    p
      margin-bottom: 12px

  .infographic-label
    display: inline-block
    padding: 8px 12px
    background-color: #ccc
    border-radius: 2px
    color: #000000
    margin-bottom: 10px

  label
    color: $debat-blue

  input
    color: $debat-blue

  .input-group
    position: relative

    .input-group-label
      background-color: transparent
      border: none
      position: absolute
      font-size: 18px
      bottom: -11px
      border-radius: 2px
      display: inline-block
      padding: 10px 12px
      margin-bottom: 14px

    .input-group-field
      text-align: center

  .date-field
    padding-left: 36px
