<section id="ongoing-trainings">
    <H5>LOPENDE TRAININGEN</H5>

    <table>
        <thead>
        <tr class="table-row">
            <td></td>
            <td>DATUM TRAINING</td>
            <td>TYPE TRAINING</td>
            <td>DAG</td>
            <td>STATUS ZAAL</td>
            <td>TRAINER(S)</td>
            <td>DETAILS</td>
        </tr>
        </thead>
        <tbody>
        {% for training_date in training_dates %}
            <tr>
                <td width="95">
                    <a name="cancel-training-date" class="remove-button" data-url="{% url 'debatnl_registration:cancel_training_date' pk=training_date.id %}">
                        <span class="fi flaticon-close-button"></span>
                    </a>
                </td>
                <td width="150">{{ training_date.date|date:"d-m-Y" }}</td>
                <td>{{ training_date.planned_training.training.name }} </td>
                <td width="175"> Dag {{ training_date.sequence|add:'1' }} van {{ training_date.planned_training.training_dates.all|length }}</td>

                    {% with training_date.planned_training.hall_status as hall_status %}
                        {% if hall_status == 'AVAILABLE' %} <td class="text-success">Beschikbaar </td> {% endif %}
                        {% if hall_status == 'NOT AVAILABLE' %} <td class="text-danger">Niet beschikbaar </td> {% endif %}
                        {% if hall_status == 'PENDING' %} <td class="text-warning">In aanvraag </td> {% endif %}
                    {% endwith %}

                <td id="column-trainer-{{ training_date.id }}" width="300">
                    <form id="form-{{ training_date.id }}" data-id="{{ training_date.id }}" class="trainer-selection-container">
                        {% for training_date_trainer in training_date.trainers.all %}
                            <div class="trainer-row-container">
                                <select title name="{{ training_date.id }}_trainer_{{ forloop.counter0 }}" data-id="{{ training_date.id }}" required>
                                     <option value="" disabled selected>Kies trainer</option>
                                    {% for trainer in trainers %}
                                        <option value="{{ trainer.pk }}" {% if trainer == training_date_trainer %} selected {% endif %}>
                                            {{ trainer.get_full_name }}
                                        </option>
                                    {% endfor %}
                                </select>

                                <div class="add-trainer-container">
                                    {% if forloop.first %}
                                        <a name="add-trainer" data-id="{{ training_date.id }}"> <span class="fi flaticon-signs"></span> </a>
                                        <a name="remove-trainer" data-id="{{ training_date.id }}" hidden> <span class="fi flaticon-close-button"></span> </a>
                                    {% else %}
                                        <a name="remove-trainer" data-id="{{ training_date.id }}"> <span class="fi flaticon-close-button"></span> </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </form>

                    <div class="trainer-options-container" hidden>
                        <a name="save-trainers" data-id="{{ training_date.id }}" data-url="{% url 'debatnl_registration:add_trainers' pk=training_date.id %}"> Opslaan </a>
                        <a name="cancel-trainers" data-id="{{ training_date.id }}"> Annuleren </a>
                    </div>
                </td>
                <td width="150">
                    <a class="link" data-id="{{ training_date.id }}">Toon details</a>
                </td>
            </tr>
            <tr id="details-{{ training_date.id }}" class="details-row" hidden>
                <td colspan="7">
                    <table>
                    <thead>
                        <tr class="table-row">
                            <td>NAAM DEELNEMER</td>
                            <td>EMAIL</td>
                            <td>DIEETWENSEN</td>
                            <td></td>
                        </tr>
                    </thead>
                        <tbody>
                            {% for attendee in training_date.attendees.all %}
                                <tr>
                                    <td> {{ attendee.name }} </td>
                                    <td> {{ attendee.email }} </td>
                                    <td> {{ attendee.dietary_wishes }} </td>
                                    <td>
                                        <div class="attendee-option">
                                            <a name="cancel-attendee-attendance" data-url="{% url 'debatnl_registration:cancel_attendance' pk=training_date.id attendee_id=attendee.id %}">
                                                <span class="icon-border">
                                                    <span class="fi flaticon-close-button"></span>
                                                </span>

                                                Deelname annuleren
                                            </a>
                                        </div>
                                        <div class="attendee-option">
                                            <a name="change-attendee-training" data-url="{% url 'debatnl_registration:change_attendee_training' pk=training_date.id attendee_id=attendee.id %}">
                                                <span class="icon-border">
                                                    <span class="fi flaticon-pencil"></span>
                                                </span>
                                                Datum/Training wijzigen
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% empty  %}
                                <tr>
                                    <td class="text-center" colspan="4"> Er zijn nog geen deelnemers. </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="text-center" colspan="7">Er is geen lopende training.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

<div class="small reveal" id="cancel-training-date-modal" data-reveal>
{#    {% include 'debatnl_registration/components/modals/modal-cancel-training-date.html' %}#}
</div>

<div class="tiny reveal" id="change-attendee-training-modal" data-reveal>
    {% include 'debatnl_registration/components/modals/modal-change-attendee-training.html' %}
</div>

<div class="tiny reveal" id="cancel-attendee-attendance-modal" data-reveal>
    {% include 'debatnl_registration/components/modals/modal-cancel-attendee-attendance.html' %}
</div>

{#<div class="tiny reveal" id="cancel-first-training-date-modal" data-reveal>#}
{#    {% include 'debatnl_registration/components/modals/modal-cancel-first-training-date.html' %}#}
{#</div>#}

<script>
    $(function () {
        $("#cancel-training-date-modal").foundation();
        $("#change-attendee-training-modal").foundation();
        $("#cancel-attendee-attendance-modal").foundation();
        $("#cancel-first-training-date-modal").foundation();

        var tempTrainerState = {};
        initTrainersCurrentState();
        initTrainerEvents();

        $("a[name='cancel-training-date']").click(function () {
            var modal = $('#cancel-training-date-modal');
            var url = $(this).data('url');

            $.get(url, function(data) {
                    modal.html(data);
                    modal.foundation('open');
            });
        });

        $("a[name='cancel-attendee-attendance']").click(function () {
            var cancelModal = $('#cancel-attendee-attendance-modal');
            var url = $(this).data('url');

            var form = cancelModal.find("form");
            form.prop('action', url);

            cancelModal.foundation('open');
        });

        $("a[name='change-attendee-training']").click(function () {
            var changeModal = $('#change-attendee-training-modal');
            var url = $(this).data('url');

            var form = changeModal.find("form");
            form.prop('action', url);

            changeModal.foundation('open');
        });

        function initTrainersCurrentState() {
            $("[id^=form-]").each(function () {
                var id = $(this).data('id');
                saveTrainersCurrentState(id);
            });
        }

        function initTrainerEvents() {
            $("a[name='add-trainer']").unbind().click(addTrainer);
            $("a[name='remove-trainer']").unbind().click(removeTrainer);
            $(".trainer-selection-container select").unbind().change(changeTrainer);
            $("a[name='cancel-trainers']").unbind().click(cancelTrainers);
            $("a[name='save-trainers']").unbind().click(saveTrainers);
        }

        function saveTrainersCurrentState(training_date_id) {
            tempTrainerState[training_date_id] = $('#form-' + training_date_id).clone();
        }

        function enableTrainerOptions(training_date_id) {
            $("#column-trainer-" + training_date_id + " .trainer-options-container").show();
        }

        function disableTrainerOptions(training_date_id) {
            $("#column-trainer-" + training_date_id + " .trainer-options-container").hide();
        }

        function addTrainer() {
            var id = $(this).data('id');
            var cloned = $('#form-' + id + ' .trainer-row-container').last().clone();
            var clonedSelect = cloned.children('select');
            var clonedOptions = cloned.find(".add-trainer-container");

            var clonedName = clonedSelect.attr("name");
            var clonedId = clonedName.split("_").pop();

            clonedSelect.attr("name", id + "_trainer_" +(Number(clonedId) + 1));
            clonedSelect.val(clonedSelect.find("option:first").val());
            cloned.appendTo("#column-trainer-" + id + " .trainer-selection-container");
            clonedOptions.children("a[name='add-trainer']").hide();
            clonedOptions.children("a[name='remove-trainer']").show();

            clonedOptions.unbind().click(removeTrainer);

            enableTrainerOptions(id);
        }

        function changeTrainer() {
             var id = $(this).data('id');
             enableTrainerOptions(id);
        }

        function removeTrainer() {
            var id = $(this).data('id');
            var container = $(this).parent();
            var selector = container.parent().children('select');
            selector.remove();
            container.remove();

            enableTrainerOptions(id);
        }

        function cancelTrainers() {
            var id = $(this).data('id');
            $('#form-' + id).remove();
            $('#column-trainer-' + id).prepend(tempTrainerState[id]);
            disableTrainerOptions(id);
            initTrainerEvents();
            saveTrainersCurrentState(id);
        }

        function saveTrainers() {
            var id = $(this).data('id');
            var url = $(this).data('url');

            var trainers =  $("select[name^='" +id + "_trainer_']");

            var emptyTrainers = trainers.filter(function(){
                return !$(this).val();
            });

            if (emptyTrainers.length === 0) {
                $.post(url, $('#form-' + id).serialize());

                disableTrainerOptions(id);
                saveTrainersCurrentState(id);
            }
        }
    })
</script>
