<section>
    <H5>INTAKES AFGEROND</H5>

    <table>
        <thead>
            <tr class="table-row">
                <td>ORGANISATIE</td>
                <td>CONTACTPERSOON</td>
                <td>DATUM INZENDING</td>
                <td>DETAILS</td>
            </tr>
        </thead>
        <tbody>
        {% for intake in finished_intakes %}
            <tr>
                <td>{{ intake.organization }}</td>
                <td>{{ intake.contact_person }}</td>
                <td>{{ intake.trainers_report_date|date:"d-m-Y" }}</td>
                <td>
                    <a class="link" data-id="{{ intake.id }}">Toon details</a>
                </td>
            </tr>
            <tr id="details-{{ intake.id }}" class="details-row" hidden>
                <td colspan="5">
                    {% include 'intakes/components/sections/intake-details.html'%}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="text-center" colspan="5">Er zijn geen afgeronde intakes.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>