<section>
    <H5>INTAKES LOPEND</H5>

    <table>
        <thead>
            <tr class="table-row">
                <td>ORGANISATIE</td>
                <td>CONTACTPERSOON</td>
                <td>DATUM INZENDING</td>
                <td>DETAILS</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {% for intake in ongoing_intakes %}
            <tr>
                <td>{{ intake.organization }}</td>
                <td>{{ intake.contact_person }}</td>
                <td>{{ intake.trainers_report_date|date:"d-m-Y" }}</td>
                <td>
                    <a class="link" data-id="{{ intake.id }}">Toon details</a>
                </td>
                <td>
                    <a name="edit-intake" class="edit-button" data-url="{% url 'intakes:update' pk=intake.id %}">
                        <span class="fi flaticon-pencil"></span>
                        <span class="description">Wijzigen</span>
                    </a>

                    <a name="delete-intake" class="remove-button" data-url="{% url 'intakes:delete' pk=intake.id %}">
                        <span class="fi flaticon-close-button"></span>
                        <span class="description">Verwijderen</span>
                    </a>
                </td>
            </tr>
            <tr id="details-{{ intake.id }}" class="details-row" hidden>
                <td colspan="5">
                    {% include 'intakes/components/sections/intake-details.html'%}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="text-center" colspan="5">Er zijn geen lopende intakes.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

<div class="reveal" id="modal" data-reveal></div>

<script>
    $(function () {
        var modal = $('#modal');
        modal.foundation();

        $('.edit-button, .remove-button').click(function () {
            var url = $(this).data('url');
            $.get(url, function(data) {
                modal.html(data);
                modal.foundation('open');
            });
        });
    });
</script>
