{% extends 'ccd/base.html' %}

{% block content %}
<div class="row">
  <div class="large-offset-1 large-10 column">
    <h4 id="overview-heading">CHECK, CHECK DUBBELCHECK</h4>
    <div class="card" id="overview-card">
      <div class="card-section">
        <p id="lead-title">Wie ontvangt een CCD en Purchase order?</p>
        {% for person in person_list %}
          <div class="checkbox">
            <input type="checkbox" id="person-{{ person.pk }}" class="checkbox" {% if person.is_active %}checked{% endif %} data-url="{% url 'ccd:person-update' person.pk %}">
            <label for="person-{{ person.pk }}" class="check-label">
              <span class="check-label-box"></span>
              <span class="check-label-text">{{ person.get_full_name }}</span>
            </label>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('input[type=checkbox]').change(function(){
      var url = $(this).data('url');
      var isActive = $(this).is(':checked');

      $.ajax({
        type: 'POST',
        url: url,
        data: {
          "csrfmiddlewaretoken": "{{ csrf_token }}",
          "is_active": isActive
        }
      });
    });
  });
</script>
{% endblock content %}
