<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>{{ modal_title }}</h5>
</div>

<form id="form-organization" action="{{ request.path }}" method="post">
    {% csrf_token %}

    <input type="hidden" id="id" name="id" value="{{ form.initial.id }}" required>

    <div class="row column">
        <label for="name">
            Naam
            <input type="text" id="name" name="name" maxlength="150" value="{{ form.initial.name }}" required>
        </label>
    </div>

    <div class="row footer">
        <div class="large-offset-4 large-4 no-left-padding column">
            <input type="submit" class="small expanded debat-orange add-button button" value="{{ button_text }}">
        </div>
        <div class="large-4 column">
            <input type="button" id="reset-button" class="small expanded debat-blue button" value="Annuleren" data-close>
        </div>
    </div>
</form>
