<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4 class="modal-title column">BESCHIKBAARHEID TRAINERS</h4>

<div class="row">
  <div class="large-9 column">
    <table id="legend">
      <thead>
      <tr>
        <td class="text-center" colspan="2"> LEGENDA </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center color-available"> Beschikbaar </td>
        <td class="text-center color-unknown"> Liever niet beschikbaar </td>
      </tr>

      <tr>
        <td class="text-center color-unavailable"> Niet beschikbaar </td>
        <td class="text-center color-vacation"> Vakantie </td>
      </tr>

      <tr>
        <td colspan="2" class="text-center color-blank"> Geen beschikbaarheid doorgegeven </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

{% for trainer in trainer_list %}
  <div class="row column">
    <h5 class="trainer-title">{{ trainer.full_name }}</h5>

    <div class="availability-table-container">
      <table class="availability-month-overview">
        <thead>
        <tr>
          <td></td>
          <td class="text-center">
            {{ delivery.previous_date|date:'d' }}
            {% include 'planning/components/widgets/month_selector.html' with month=delivery.previous_date|date:'m' %}
          </td>
          <td class="text-center">
            {{ delivery.date|date:'d' }}
            {% include 'planning/components/widgets/month_selector.html' with month=delivery.date|date:'m' %}
          </td>
          <td class="text-center">
            {{ delivery.next_date|date:'d' }}
            {% include 'planning/components/widgets/month_selector.html' with month=delivery.next_date|date:'m' %}
          </td>
        </tr>
        </thead>
        <tbody>
        <tr class="daypart-row">
          <td>Ochtend</td>

          {% if trainer.previous.vacation %}
            <td><div class="availability-day color-vacation"></div></td>
          {% else %}
            {% if trainer.previous.morning == 'AV' %}
              <td><div class="availability-day color-available"></div></td>
            {% elif trainer.previous.morning == 'NA' %}
              <td><div class="availability-day color-unavailable"></div></td>
            {% elif trainer.previous.morning == 'PN' %}
              <td><div class="availability-day color-unknown"></div></td>
            {% else %}
              <td><div class="availability-day color-blank"></div></td>
            {% endif %}
          {% endif %}

          {% if trainer.current.vacation %}
            <td><div class="availability-day color-vacation"></div></td>
          {% else %}
            {% if trainer.current.morning == 'AV' %}
              <td><div class="availability-day color-available"></div></td>
            {% elif trainer.current.morning == 'NA' %}
              <td><div class="availability-day color-unavailable"></div></td>
            {% elif trainer.current.morning == 'PN' %}
              <td><div class="availability-day color-unknown"></div></td>
            {% else %}
              <td><div class="availability-day color-blank"></div></td>
            {% endif %}
          {% endif %}

          {% if trainer.next.vacation %}
            <td><div class="availability-day color-vacation"></div></td>
          {% else %}
            {% if trainer.next.morning == 'AV' %}
              <td><div class="availability-day color-available"></div></td>
            {% elif trainer.next.morning == 'NA' %}
              <td><div class="availability-day color-unavailable"></div></td>
            {% elif trainer.next.morning == 'PN' %}
              <td><div class="availability-day color-unknown"></div></td>
            {% else %}
              <td><div class="availability-day color-blank"></div></td>
            {% endif %}
          {% endif %}
        </tr>
        <tr class="daypart-row">
          <td>Middag</td>

          {% if trainer.previous.vacation %}
            <td><div class="availability-day color-vacation"></div></td>
          {% else %}
            {% if trainer.previous.afternoon == 'AV' %}
              <td><div class="availability-day color-available"></div></td>
            {% elif trainer.previous.afternoon == 'NA' %}
              <td><div class="availability-day color-unavailable"></div></td>
            {% elif trainer.previous.afternoon == 'PN' %}
              <td><div class="availability-day color-unknown"></div></td>
            {% else %}
              <td><div class="availability-day color-blank"></div></td>
            {% endif %}
          {% endif %}

          {% if trainer.current.vacation %}
            <td><div class="availability-day color-vacation"></div></td>
          {% else %}
            {% if trainer.current.afternoon == 'AV' %}
              <td><div class="availability-day color-available"></div></td>
            {% elif trainer.current.afternoon == 'NA' %}
              <td><div class="availability-day color-unavailable"></div></td>
            {% elif trainer.current.afternoon == 'PN' %}
              <td><div class="availability-day color-unknown"></div></td>
            {% else %}
              <td><div class="availability-day color-blank"></div></td>
            {% endif %}
          {% endif %}


          {% if trainer.next.vacation %}
            <td><div class="availability-day color-vacation"></div></td>
          {% else %}
            {% if trainer.next.afternoon == 'AV' %}
              <td><div class="availability-day color-available"></div></td>
            {% elif trainer.next.afternoon == 'NA' %}
              <td><div class="availability-day color-unavailable"></div></td>
            {% elif trainer.next.afternoon == 'PN' %}
              <td><div class="availability-day color-unknown"></div></td>
            {% else %}
              <td><div class="availability-day color-blank"></div></td>
            {% endif %}
          {% endif %}
        </tr>
        <tr class="daypart-row">
          <td>Avond</td>

          {% if trainer.previous.vacation %}
            <td><div class="availability-day color-vacation"></div></td>
          {% else %}
            {% if trainer.previous.evening == 'AV' %}
              <td><div class="availability-day color-available"></div></td>
            {% elif trainer.previous.evening == 'NA' %}
              <td><div class="availability-day color-unavailable"></div></td>
            {% elif trainer.previous.evening == 'PN' %}
              <td><div class="availability-day color-unknown"></div></td>
            {% else %}
              <td><div class="availability-day color-blank"></div></td>
            {% endif %}
          {% endif %}

          {% if trainer.previous.vacation %}
            <td><div class="availability-day color-vacation"></div></td>
          {% else %}
            {% if trainer.current.evening == 'AV' %}
              <td><div class="availability-day color-available"></div></td>
            {% elif trainer.current.evening == 'NA' %}
              <td><div class="availability-day color-unavailable"></div></td>
            {% elif trainer.current.evening == 'PN' %}
              <td><div class="availability-day color-unknown"></div></td>
            {% else %}
              <td><div class="availability-day color-blank"></div></td>
            {% endif %}
          {% endif %}

          {% if trainer.previous.vacation %}
            <td><div class="availability-day color-vacation"></div></td>
          {% else %}
            {% if trainer.next.evening == 'AV' %}
              <td><div class="availability-day color-available"></div></td>
            {% elif trainer.next.evening == 'NA' %}
              <td><div class="availability-day color-unavailable"></div></td>
            {% elif trainer.next.evening == 'PN' %}
              <td><div class="availability-day color-unknown"></div></td>
            {% else %}
              <td><div class="availability-day color-blank"></div></td>
            {% endif %}
          {% endif %}
        </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endfor %}

<div class="row button-row">
  <div class="large-offset-9 large-3 column">
    <button type="button" class="expanded debat-blue small button" data-close> Sluiten </button>
  </div>
</div>
