<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4 class="modal-title column">DELIVERY WIJZIGEN</h4>

<form method="POST" action="{% url 'planning:delivery-update' object.pk %}" id="delivery-update-form" class="planning-forms">
  {% csrf_token %}

  <input type="hidden" name="id" value="{{ object.pk }}" required>
  <input type="hidden" name="date" id="date" value="{{ object.date|date:"d-m-Y" }}"  required>

  <!-- DATE FIELD -->
  <div class="row">
    <div class="large-6 column">
      {{ form.date.label_tag }}
      <input type="text" class="date-field" id="date-field" data-alt-field="date" title required>
      <div class="date-picker-container"></div>
    </div>
  </div>

  <!-- ORGANIZATION FIELD -->
  <div class="row column">
    {{ form.organization.label_tag }}
    <input type="text" name="organization" id="organization" value="{{ object.organization }}" title required>
  </div>

  <!-- TIME FIELD -->
  <div class="row column">
    {{ form.time.label_tag }}
    <input type="text" name="time" id="time" value="{{ object.time}}" maxlength="90" required title>
  </div>

  <!-- LOCATION FIELD -->
  <div class="row column">
    {{ form.location.label_tag }}
    <input type="text" name="location" id="location" value="{{ object.location}}" title required>
  </div>

  <!-- DESCRIPTION FIELD -->
  <div class="row column">
    {{ form.description.label_tag }}
    <textarea name="description" cols="40" rows="10" id="description" title required>{{ object.description }}</textarea>
  </div>

  <!-- TRAINER_AMOUNT FIELD -->
  <div class="row">
    <div class="large-6 column">
      {{ form.trainer_amount.label_tag }}
      <input type="number" name="trainer_amount" id="trainer_amount" value="{{ object.trainer_amount}}" title required>
    </div>
  </div>

  <div class="row button-row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="submit" id="delivery-submit-btn" class="debat-orange button">Opslaan</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function(){
    // Initialize the first date field input
    var dateField = $('#date-field');
    dateField.datepicker({
      dateFormat: 'dd-mm-yy',
      altFormat: 'yy-mm-dd',
      altField: '#date',
      beforeShow: function(textbox, instance) {
        var containers = $(textbox).parent().find('.date-picker-container');
        if (containers.length > 0) {
          var container = containers[0];
          $('#ui-datepicker-div').detach().appendTo(container);
        }
      }
    });
    dateField.datepicker('setDate', $('#date').val());
  });
</script>
