<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<form id="delete-form-pr-{{ object.pk }}" method="POST" action="{% url 'planning:planning-request-delete' object.pk %}">
  {% csrf_token %}

  <div class="row column">
    {% if object.type == object.OPTION %}
      <div class="modal-body">
        <div>Weet je zeker dat je de opties wilt verwijderen? De trainers worden automatisch ingelicht.</div>
      </div>
    {% else %}
      <div class="modal-body">
        <div> Check bij het verwijderen van een planningsverzoek het volgende:</div>
        <div> 1. Is deze ook verwijderd in het CRM? </div>
        <div> 2. Zijn de trainers op de hoogte? </div>
      </div>
    {% endif %}
  </div>

  <div class="row button-row">
    <div class="large-offset-4 large-8 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="submit" class="debat-orange button">Verwijderen</button>
      </div>
    </div>
  </div>
</form>

<script>
    $(function () {
        $('#delete-form-pr-{{ object.pk }}').submit(function() {
          $(this).find("button[type='submit']").prop('disabled',true);
        });
    })
</script>
