<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h4 class="modal-title column">PLANNINGSVERZOEK INVOEREN</h4>

<form method="POST" action="{{ request.path }}" id="planning-create-form" class="planning-forms">
  {% csrf_token %}
  {{ form.management_form }}

  <input type="hidden" id="current-form-number" value="0">

  {% for f in form %}
    <section class="formset-section" id="form-{{ forloop.counter0 }}">
      <!-- Date Input Hidden Field -->
      <input type="hidden" name="form-{{ forloop.counter0 }}-date" id="id_form-{{ forloop.counter0 }}-date" required>

      <!-- DATE FIELD -->
      <div class="row">
        <div class="large-6 column">
          {{ f.date.label_tag }}
          <input type="text" class="date-field" id="date-field-{{ forloop.counter0 }}" data-alt-field="id_form-{{ forloop.counter0 }}-date" autocomplete="off" title required>
          <div class="date-picker-container"></div>
        </div>
      </div>

      <!-- ORGANIZATION FIELD -->
      <div class="row column">
        {{ f.organization.label_tag }}
        <input type="text" name="form-{{ forloop.counter0 }}-organization" id="id_form-{{ forloop.counter0 }}-organization"  title required>
      </div>

      <!-- TIME FIELD -->
      <div class="row column">
        {{ f.time.label_tag }}
        <input type="text" name="form-{{ forloop.counter0 }}-time" id="id_form-{{ forloop.counter0 }}-time" maxlength="90" required title>
      </div>

      <!-- LOCATION FIELD -->
      <div class="row column">
        {{ f.location.label_tag }}
        <input type="text" name="form-{{ forloop.counter0 }}-location" id="id_form-{{ forloop.counter0 }}-location" required title>
      </div>

      <!-- DESCRIPTION FIELD -->
      <div class="row column">
        {{ f.description.label_tag }}
        <textarea name="form-{{ forloop.counter0 }}-description" cols="40" rows="10" id="id_form-{{ forloop.counter0 }}-description" title required></textarea>
      </div>

      <!-- Opmerkingen voor Ilona -->
      <div class="row column">
        {{ f.notes.label_tag }}
        <textarea name="form-{{ forloop.counter0 }}-notes" cols="40" rows="10" id="id_form-{{ forloop.counter0 }}-notes" title></textarea>
      </div>

      <!-- TRAINER_AMOUNT FIELD -->
      <div class="row">
        <div class="large-6 column">
          {{ f.trainer_amount.label_tag }}
          <input type="number" name="form-{{ forloop.counter0 }}-trainer_amount" id="id_form-{{ forloop.counter0 }}-trainer_amount" title required>
        </div>
      </div>
    </section>
  {% endfor %}

  <div class="row icons-row">
    <div class="large-6 column">
      <a class="next-form-btn"><span class="fa fa-plus-square-o"></span> Nieuwe delivery toevoegen</a>
    </div>

    <div class="large-6 column end delete-form-column">
      <a class="delete-form-btn"><span class="fa fa-minus-square-o"></span> Laatste delivery verwijderen</a>
    </div>
  </div>

  <div class="row button-row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button class="debat-orange button" type="submit">Opslaan</button>
      </div>
    </div>
  </div>
</form>

<div id="empty-row">
  {% include 'planning/components/sections/empty_form.html' with formset=form %}
</div>

<script>
  $(function(){
    // Initialize date pickers
    $.datepicker.setDefaults(
      $.extend(
        $.datepicker.regional['nl']
      )
    );

    // Initialize the first date field input
    initFirstDatepicker();

    // Add next form
    $('.next-form-btn').click(function(){
      var totalForm = Number($('#id_form-TOTAL_FORMS').val());
      var currentFormNumber = Number($('#current-form-number').val());
      var nextFormNumber = currentFormNumber + 1;
      var emptyForm = $('#empty-row').clone();
      var newRow = $(emptyForm.html().replace(/__prefix__/g, nextFormNumber));

      $('#form-' + currentFormNumber).after(newRow);
      $('#id_form-TOTAL_FORMS').val(totalForm + 1);
      $('#current-form-number').val(nextFormNumber);
      $('.delete-form-column').show();

      initFirstDatepicker();
      var dateField = newRow.find('.date-field');
      dateField.attr('id', '');

      dateField.datepicker({
        dateFormat: 'dd/mm/yy',
        altFormat: 'yy-mm-dd',
        altField:'#id_form-' + nextFormNumber + '-date',
        beforeShow: function(textbox, instance) {
          var containers = $(textbox).parent().find('.date-picker-container');
          if (containers.length > 0) {
            var container = containers[0];
            $('#ui-datepicker-div').detach().appendTo(container);
          }
        }
      });
    });

    // Remove last form
    $('.delete-form-btn').click(function(){
      var totalFormNumer = Number($('#id_form-TOTAL_FORMS').val());
      var currentFormNumber  = Number($('#current-form-number').val());
      var updatedFormNumber = currentFormNumber - 1;

      $('#form-' + currentFormNumber).remove();
      $('#current-form-number').val(updatedFormNumber);
      $('#id_form-TOTAL_FORMS').val(totalFormNumer - 1);

      if (updatedFormNumber  === 0){
        $('.delete-form-column').hide();
      }
      initFirstDatepicker();
    });

    function initFirstDatepicker() {
      var dateField0 = $('#date-field-0');
      dateField0.datepicker({
        dateFormat: 'dd/mm/yy',
        altFormat: 'yy-mm-dd',
        altField:'#id_form-0-date',
        beforeShow: function(textbox, instance) {
          var containers = $(textbox).parent().find('.date-picker-container');
          if (containers.length > 0) {
            var container = containers[0];
            $('#ui-datepicker-div').detach().appendTo(container);
          }
        }
      });
    }
  });
</script>
