<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h5 class="modal-title column">
  {% if planning_request.status == planning_request.PENDING %}
    OPENSTAANDE PLANNING

    {% if planning_request.type == planning_request.IMMEDIATE %}
      SPOED
    {% elif planning_request.type == planning_request.SHORT_TERM %}
      REGULIER
    {% else %}
      LANGE TERMIJN
    {% endif %}

  {% elif planning_request.status == planning_request.WAITING_FOR_APPROVAL %}
    PLANNING TE BEVESTIGEN
  {% else %}
    PLANNING GEREED
  {% endif%}
</h5>

<form method="POST" action="{% url 'planning:planning-request-detail' planning_request.pk %}" id="planning-request-form">
  {% csrf_token %}

  {% with delivery_count=planning_request.deliveries.count %}
    <input type="hidden" name="form-TOTAL_FORMS" value="{{ delivery_count }}" id="id_form-TOTAL_FORMS">
  {% endwith %}

  <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
  <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
  <input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">

  <div class="row hollow-button-containers">
    <div class="large-7 column">
      {% if planning_request.status != planning_request.PENDING %}
        <button type="button" id="edit-toggle-btn" class="small button hollow">Heropenen</button>
      {% endif %}
    </div>
  </div>

  {% for delivery in planning_request.deliveries.all %}
  <div id="form-{{ forloop.counter0 }}">
    {% if planning_request.status == planning_request.PENDING %}
      <div class="row hollow-button-containers">
        <div class="large-8 column">
          <div class="small button-group">
            <button type="button" class="button hollow modal-button" data-url="{% url 'planning:delivery-update' delivery.pk %}">Wijzigen</button>
            <button type="button" class="button hollow modal-button" data-url="{% url 'planning:availability-detail' delivery.pk %}">Beschikbaarheid checken</button>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row hollow-button-containers availability-btn-container">
      <div class="large-8 column">
        <div class="small button-group">
          <button type="button" class="button hollow modal-button" data-url="{% url 'planning:availability-detail' delivery.pk %}">Beschikbaarheid checken</button>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="large-6 column">
        <p class="card-label">Delivery responsible</p>
        <div class="card">
          <div class="card-section">
            <pre>{{ delivery.planning_request.created_by.get_full_name }}</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-6 column">
        <p class="card-label">Datum bijeenkomst</p>
        <div class="card">
          <div class="card-section">
            {{ delivery.date|date:'d-m-Y' }}
          </div>
        </div>
      </div>
    </div>

    <div class="row column">
      <p class="card-label">Organisatie</p>
      <div class="card">
        <div class="card-section">
          {{ delivery.organization }}
        </div>
      </div>
    </div>

    <div class="row column">
      <p class="card-label">Begintijd zonder eerder aanwezig</p>
      <div class="card">
        <div class="card-section">
          {{ delivery.time }}
        </div>
      </div>
    </div>

    <div class="row column">
      <p class="card-label">Locatie</p>
      <div class="card">
        <div class="card-section">
          <pre>{{ delivery.location }}</pre>
        </div>
      </div>
    </div>

    <div class="row column">
      <p class="card-label">Korte omschrijving</p>
      <div class="card">
        <div class="card-section">
          <pre>{{ delivery.description }}</pre>
        </div>
      </div>
    </div>

    <div class="row column">
      <p class="card-label">Opmerkingen voor Ilona</p>
      <div class="card">
        <div class="card-section">
          <pre>{{ delivery.notes }}</pre>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-6 column">
        <p class="card-label">Aantal trainers/gespreksleiders</p>
        <div class="card">
          <div class="card-section trainer-amount">
            {{ delivery.trainer_amount|stringformat:'02d' }}
          </div>
        </div>
      </div>
    </div>

    <!-- Hidden Delivery Field -->
    <input type="hidden" name="form-{{ forloop.counter0 }}-delivery" value="{{ delivery.pk }}" id="id_form-{{ forloop.counter0 }}-delivery">

    <!-- Employee Trainer list -->
    <div class="row column">
      <p class="card-label">Trainers/Gespreksleiders</p>
      {% for employee in employee_list %}
        <div class="checkbox">
          <input type="checkbox"
            {% if employee in delivery.trainers.all %} checked {% endif %}
            {% if planning_request.status != planning_request.PENDING %} disabled {% endif %}
                 name="form-{{ forloop.parentloop.counter0 }}-employee"
                 value="{{ employee.pk }}"
                 id="id_form-{{ forloop.parentloop.counter0 }}-employee_{{ forloop.counter0 }}"
                 class="toggle-item">
            <label for="id_form-{{ forloop.parentloop.counter0 }}-employee_{{ forloop.counter0 }}" class="check-label">
              <span class="check-label-box"></span>
              <span class="check-label-text">
                <!-- Status Icons -->
                {% if planning_request.status == planning_request.WAITING_FOR_APPROVAL and employee in delivery.trainers.all %}
                  {% if employee.pk in delivery.get_confirmed_trainers %}
                  <span class="fi flaticon-circle text-success status-icon"></span>&nbsp;
                  {% elif employee.pk not in delivery.get_confirmed_trainers %}
                  <span class="fi flaticon-circle text-danger status-icon"></span>&nbsp;
                  {% endif %}
                {% endif %}

                {{ employee.get_full_name }}
              </span>
            </label>
        </div>
      {% endfor %}
    </div>

    {% if not forloop.last %}
      <div class="row column"><hr></div>
    {% endif %}
  </div>
  {% endfor %}

  <div class="row button-row">
    <div class="large-offset-4 large-8 column toggle-column" {% if planning_request.status != planning_request.PENDING %} hidden {% endif %}>
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="button" class="debat-orange button toggle-item-btn">Planning afronden</button>
      </div>
    </div>

    <div class="large-offset-9 large-3 column toggle-column" {% if planning_request.status == planning_request.PENDING %} hidden {% endif %}>
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
      </div>
    </div>
  </div>
</form>

<!-- Availability Detail Modal -->
<div class="reveal detail-modal" id="delivery-detail-modal" data-close-on-click="false" data-multiple-opened="true" data-reveal></div>

<!-- Warning pop-up modal -->
{% include 'planning/components/notifications/trainers_mismatch.html' %}


<script>
  $(function(){
    var form = $('#planning-request-form');
    var modal = $('#delivery-detail-modal');
    var warningModal = $('#notification-warning-modal');

    modal.foundation();
    warningModal.foundation();

    $('#detail-planning-request-modal').on('closed.zf.reveal', function(){
        modal.remove();
        warningModal.remove();
    });

    $('.modal-button').click(function(){
      var url = $(this).data('url');
      $.get(url, function(data){
        modal.html(data);
        modal.foundation('open');
      });
    });

    $('.toggle-item-btn').click(function(){
      var misMatch = false;  // Selected trainers no. to trainer amount field
      var formSections = $('#planning-request-form [id^="form-"]');
      for (var i = 0; i < formSections.length; i++) {
        var formSection = $(formSections[i]);
        var trainerAmount = parseInt(formSection.find('.trainer-amount').text());
        var selectedTrainers = formSection.find('.toggle-item:checked').length;
        if (trainerAmount !== selectedTrainers) {
          misMatch = true;
          break;
        }
      }

      if (misMatch) {
        warningModal.foundation('open');
        warningModal.on('closed.zf.reveal', function(){
          form.submit();
        });
      } else {
          form.submit();
      }
    });

    {% if planning_request.status != planning_request.PENDING %}
      $('#edit-toggle-btn').click(function () {
        var form = $(this).parents('form');
        var toggleItems = form.find('.toggle-item');
        var toggleColumns = form.find('.toggle-column');
        var checkBtnContainer = $('.availability-btn-container');

        $(this).hide();
        toggleItems.removeAttr("disabled");
        toggleColumns.toggle();
        checkBtnContainer.show();
      });
    {% endif %}
  });
</script>
