<button type="button" data-close aria-label="Close modal" class="close-button">
  <span aria-hidden="true">&times;</span>
</button>

<h4 class="modal-title column">PLANNINGSVERZOEK INVOEREN</h4>

<form id="process-type-form" method="POST">
  {% csrf_token %}
  <div class="row column">
    <fieldset>
      <legend>Wat wil je doen?</legend>

      <!-- Definitive Planning Request Input -->
      <div class="form-group">
        <input
          type="radio"
          id="id_process_1"
          name="process"
          value="DE"
          class="radio"
        />
        <label for="id_process_1">Definitief planningsverzoek</label>
      </div>

      <!-- Request Planning Option Input -->
      <div class="form-group">
        <input
          type="radio"
          id="id_process_2"
          name="process"
          value="OP"
          class="radio"
        />
        <label for="id_process_2">Optie aanvragen</label>
      </div>
    </fieldset>
  </div>
  <div class="row button-row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="button" class="debat-orange button next-btn" disabled>Volgende</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function() {
    var modal = $('#create-form-modal');
    var form = $('#process-type-form');
    var nextBtn = form.find('.next-btn');

    // Enable `Volgende` button when radio buttons are checked
    form.find('input:radio').on('click', function() {
      nextBtn.removeAttr('disabled');
    });

    // Submit Form
    nextBtn.click(function() {
      $.ajax({
        method: "POST",
        url: "{% url 'planning:process-type' %}",
        data: form.serialize(),
        success: function(data) {
          modal.html(data);
        }
      });
    });
  });
</script>
