@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

#notification-modal
  .modal-body
    padding: 80px 10px
    font-size: 18px
    color: $debat-blue

    span
      color: $debat-red
      font-weight: 500

  .button-row
    padding-top: 16px
    padding-bottom: 16px

#legend
  color: #FFFFFF
  background-color: #FFFFFF
  border-radius: 4px
  border: 1px solid $debat-blue
  border-collapse: separate
  padding: 10px

  thead tr:first-child
    td
      width: 50%

  td
    padding: .5rem .625rem .625rem

.color-available
 background-color: #7ecf40

.color-unavailable
 background-color: #cd1327

.color-vacation
 background-color: #3aa7ea

.color-unknown
 background-color: #f3a43c

.color-blank
 background-color: #000000

.availability-month-overview
  border-radius: 4px
  border: 2px solid $debat-light-grey
  border-collapse: separate
  margin-bottom: 0
  border-spacing: 0

  td
    padding: 0
    width: 130px
    height: 35px

  thead
    td
      border-bottom: 2px solid $debat-light-grey
      text-transform: uppercase

  tbody
    td
      padding: 1px

  tbody:before,
  tbody:after
    content: "-"
    display: block
    line-height: 1em
    color: transparent

  tr
    td
      &:last-child
        width: 145px
        padding-right: 15px

      &:first-child
        padding-left: 15px
        width: auto

  .availability-day
    width: 100%
    height: 100%

    &:hover
      cursor: hand

#notification-availability-saved
  i
    font-size: 100px
    color: $debat-green

.overview-title
  font-weight: 600
  text-transform: uppercase

.table-heading
  padding-top: 20px
  padding-bottom: 0

.availability-table-container
  padding: 15px
  background-color: #FFFFFF
  margin-bottom: 15px

#vacation-modal-body
  fieldset
    margin-bottom: 10px

  label
    color: $debat-blue
    margin-bottom: 4px

  .text-info
    font-size: 16px
    margin-top: 60px
    margin-bottom: 40px

  .button-row
    margin-top: 42px

  #step4-form
    footer
      margin-top: 30px
      margin-bottom: 100px

  #step5-form
    .error-message
      display: none

  #step7-form
    fieldset
      margin-bottom: 120px

  #step10-form
    .mark
      background-color: $debat-light-grey
      border-radius: 2px
      display: inline-block
      line-height: 2
      padding: 6px 12px
      margin-bottom: 18px

    #requested-hours
      width: 75%

#leave-of-absence-saved
  padding: 50px 0 60px

  i
    font-size: 100px
    color: $debat-green

  p
    font-size: 18px
    margin-bottom: 0
