{% extends "admin/change_form.html" %}

{% block object-tools-items %}
  {% if original.has_availability %}
    <li style="float: none; margin-bottom: 15px">
      <a href="{% url 'admin:send_request_availability_reminder' pk=original.pk %}" class="grp-state-focus">
        Send Request Availability Reminder
      </a>
    </li>
  {% endif %}

  {{ block.super }}
{% endblock %}
