{% extends "admin/change_form.html" %}

{% block object-tools-items %}
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_user_invitation_email' pk=original.pk %}" class="grp-state-focus">
      Send Invitation E-mail
    </a>
  </li>

  {{ block.super }}
{% endblock %}
