<h5>SCANS AFGEROND</h5>

<table class="scan-overview-table">
  <thead>
  <tr class="table-row">
    <td>DEADLINE</td>
    <td>ORGANISATIE</td>
    <td>TRAINER</td>
    <td>TITEL VERSLAG</td>
    <td>DELIVERY RESPONSIBLE</td>
    <td class="text-center">STATUS</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  {% for scan in finished_scans %}
    <tr>
      <td>{{ scan.deadline_at|date:'d-m-Y' }}</td>
      <td>{{ scan.organization }}</td>
      <td>{{ scan.trainer.get_full_name }}</td>
      <td>{{ scan.title }}</td>
      <td>{{ scan.dr_name }}</td>
      <td class="text-center">
          <span title="Ingediend" class="fi flaticon-circle text-success"></span>
      </td>
      <td>
        <a name="btn-open-modal" class="hollow small expanded button" data-url="{% url 'scans:details' pk=scan.pk %}">Details weergeven</a>
      </td>
    </tr>
  {% empty %}
    <tr>
      <td class="text-center" colspan="7">Er zijn geen afgeronde scans.</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
