{% extends "backoffice/base.html" %}
{% load sass_tags %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'scans/sass/base.sass' %}">
{% endblock %}

{% block content %}

  <div class="row column">
    {% include 'scans/components/ongoing-scans.html' %}
  </div>

  <div class="row column">
    {% include 'scans/components/finished-scans.html' %}
  </div>

  {% include 'common/widgets/widget-modal.html' %}
{% endblock %}
