{% extends "admin/change_form.html" %}
{% block object-tools-items %}
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_changed_briefing_email' pk=original.pk %}" class="grp-state-focus">
            Send Briefing Changed Email
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_new_briefing_added_email' pk=original.pk %}" class="grp-state-focus">
            Send New Briefing Added Email
        </a>
    </li>
    {{ block.super }}
{% endblock %}