<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div id="edit-modal-container">
    <div class="row column">
        <h5>HOOFDSTUK WIJZIGEN</h5>
    </div>
    <form action="{% url 'debatnl_online:e_learning:chapter' course_id %}{{ chapter.id }}/change/" method="post">
        {% csrf_token %}
        <div class="row column">
            <label for="name">
                Naam
                <input type="text" id="name" name="name" value="{{ chapter.name }}" required>
            </label>
            <label for="name">
                Volgorde
                <input type="number" id="sequence" name="sequence" value="{{ chapter.sequence }}">
            </label>
        </div>
        <div class="row footer">
            <div class="large-offset-6 large-3 no-left-padding column">
                <input type="submit" class="small debat-orange expanded button save-button" value="Opslaan">
            </div>
            <div class="large-3 no-left-padding column">
                <a class="small expanded debat-blue button" data-close> Annuleren </a>
            </div>
        </div>
    </form>
</div>