<section>
  <div class="row">
    <div class="large-3 column">
      <a name="option" class="debat-orange small expanded button" data-url="{% url 'debatnl_online:learning_goals:goals:create' organization=view.kwargs.organization %}">
        <span class="fi flaticon-signs"></span>
        Voeg leerdoel toe
      </a>
    </div>
  </div>
</section>

<section>
  <H5>LEERDOELEN</H5>

  <table>
    <thead>
    <tr class="table-row">
      <td>TITEL</td>
      <td>OMSCHRIJVING</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    {% for goal in goals %}
      <tr>
        <td>{{ goal.title }}</td>
        <td>{{ goal.description }}</td>
        <td width="200" class="text-right">
          <a name="option" class="tiny hollow button" data-url="{% url 'debatnl_online:learning_goals:goals:update' organization=view.kwargs.organization pk=goal.id %}">
            Bewerken
          </a>
          <a name="option" class="tiny hollow button" data-url="{% url 'debatnl_online:learning_goals:goals:delete' organization=view.kwargs.organization pk=goal.id %}">
            Verwijderen
          </a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td class="text-center" colspan="3">Er zijn geen leerdoelen.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
