{% extends 'offers/public/base.html' %}
{% load humanize i18n static %}

{% block content %}
  <div class="success-page-container">
    <div class="large-5 large-centered text-center">
      <span class="fi flaticon-circle-2"></span>
      <h2> Bedankt voor uw keuze! </h2>
      <hr>
      {% if view.request.GET.status == 'DENIED' %}
        <h5> De aanpassingen zijn verzonden. </h5>
      {% else %}
        <h5> Succes met de offerte! </h5>
      {% endif %}
    </div>
  </div>
{% endblock %}

