{% extends 'admin/change_form.html' %}

{% block object-tools-items %}
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_new_client_bonus_email' pk=original.pk %}" class="grp-state-focus">
      Send New Client Bonus E-mail
    </a>
  </li>
  {{ block.super }}
{% endblock %}
