{% extends 'intakes/emails/base.html' %}

{% block content %}
<div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
  <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
    <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.get_full_name }},</p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">
      In de bijlage vindt u een rapportage met een eerste indruk van de antwoorden die uit de digitale intake
      naar voren zijn gekomen. Let op: Aangezien deelnemers de tijd en moeite hebben genomen om de intake in
      te vullen verwachten ze ook dat er tijdens de training iets mee gedaan wordt.
    </p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">Dat kan op de volgende manieren:</p>
    <ul>
      <li style="font-size: 14px; line-height: 14px;">
        Bedank de deelnemers voor het invullen
      </li>
      <li style="font-size: 14px; line-height: 14px;">
        Geef een korte impressie wat er naar voren is gekomen
      </li>
      <li style="font-size: 14px; line-height: 14px;">
        Bij kleine groepen maak je alsnog een rondje, maar refereer je af en toe aan de intake
      </li>
      <li style="font-size: 14px; line-height: 14px;">
        Gebruik de cases die in de intake staan
      </li>
    </ul>
    <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">Alvast veel leesplezier gewenst.</p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
  </div>
</div>

{% include "intakes/emails/multiple_buttons.html" with button_url=insight_url button_value="Download PDF antwoorden" %}
{% include "intakes/emails/multiple_buttons.html" with button_url=submission_url button_value="Download PDF inzendingen" %}

<p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>

<div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
  <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
    <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Knoppen werkt niet?</b></p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">Als je niet op de bovenstaande knoppen kunt klikken, kopieer en plak de gepaste link in je browser.<br></p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">
      PDF antwoorden: <a href="{{ insight_url }}" target="_blank">{{ insight_url }}</a>
    </p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">
      PDF inzendingen: <a href="{{ submission_url }}" target="_blank">{{ submission_url }}</a></p>
    <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
  </div>
</div>
{% endblock %}
