{% extends 'intakes/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">Beste  {{ email_obj.sender.first_name }} {{ email_obj.sender.last_name }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Over vier dagen is de deadline voor de digitale intake van {{ intake.organization }}.
                Controle heeft laten zien dat de intake nog door niemand is ingevuld.
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Onderneem de volgende acties:</p>
            <ul>
                <li style="font-size: 14px; line-height: 14px;">
                    Verwittig de contactpersoon hier onmiddellijk van
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    Verschuif de deadline indien mogelijk met een aantal dagen
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    Vul de nieuwe deadline in Olaf in, trainers worden automatisch geïnformeerd
                </li>
            </ul>
        </div>
    </div>
{% endblock %}