{% extends 'intakes/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.get_full_name }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Hierbij de antwoorden die de deelnemers hebben ingevuld. Let op: Aangezien deelnemers de tijd en moeite
                hebben genomen om de intake in te vullen verwachten ze ook dat er tijdens de training iets mee gedaan
                wordt.
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Dat kan op de volgende manieren:</p>
            <ul>
                <li style="font-size: 14px; line-height: 14px;">
                    Bedank de deelnemers voor het invullen
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    Geef een korte impressie wat er naar voren is gekomen
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    Bij kleine groepen maak je alsnog een rondje, maar refereer je af en toe aan de intake
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    Gebruik de cases die in de intake staan
                </li>
            </ul>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Veel succes met de training!</p>
        </div>
    </div>

    {% include "intakes/emails/button.html" with button_url=report_url button_value="Download PDF" %}
{% endblock %}