{% extends 'intakes/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.get_full_name }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Voor {{ intake.organization }} vullen de deelnemers vooraf een digitale intake in. De deadline voor
                deze intake is {{ intake.trainers_report_date|date:"d-m-Y" }}. Je ontvangt dan de inzendingen en een
                rapportage met een overzicht van de antwoorden per vraag.
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Onderneem de volgende acties:</p>
            <ul>
                <li style="font-size: 14px; line-height: 14px;">
                    Ben je trainer 1 in de “Met iedereen contact gehad?”. Neem dan aan de hand van de intake contact op
                    met de contactpersoon en refereer er actief aan
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    Doe dit zo snel mogelijk na het verschijnen van de intake, stuur nu alvast een mail om een
                    belafspraak in te plannen met de contactpersoon als je trainer 1 bent
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    Neem de inzendingen zorgvuldig voor de training door
                </li>
            </ul>
        </div>
    </div>
{% endblock %}