{% extends 'intakes/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ intake.contact_person }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                In de bijlage vindt u een rapportage met een eerste indruk van de antwoorden die uit de digitale intake
                naar voren zijn gekomen.
            </p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Alvast veel leesplezier gewenst.</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        </div>
    </div>
{% endblock %}