<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>{{ modal_title }}</h5>
</div>

<form id="form-student" action="{{ request.path }}" method="post">
    {% csrf_token %}

    <input type="hidden" id="id" name="id" value="{{ form.initial.id }}" required>

    <div class="row column">
        <label for="name">
            Participant

            <select name="user_id" {% if is_update_mode %} disabled {% endif %} required>
                {% if is_update_mode %}
                    <option value="{{ form.initial.user_id }}" disabled selected> {{ form.initial.first_name }} {{ form.initial.last_name }}</option>
                {% else %}
                    <option value="" disabled selected>--</option>
                    {% for user in users %}
                        <option value="{{ user.id }}" {% if form.initial.user_id == user.id %} selected {% endif %}>{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </label>
    </div>

    <div class="row column">
        <label for="courses">
            Inschrijven voor:
            <span class="multi-select">
                {% for course in courses %}
                    <label>
                        <input type="checkbox" name="courses" value="{{ course.id }}" {% for enrolment in form.initial.enrolments %} {% if course.id == enrolment.course %} checked {% endif %} {% endfor %}>
                        {{ course.name }}
                    </label>
                {% endfor %}
            </span>
        </label>
    </div>

    <div class="row footer">
        <div class="large-offset-4 large-4 no-left-padding column">
            <input type="submit" class="small expanded debat-orange add-button button" value="{{ button_text }}">
        </div>
        <div class="large-4 column">
            <input type="button" id="reset-button" class="small expanded debat-blue button" value="Annuleren" data-close>
        </div>
    </div>
</form>
