<section>
  <div class="row column">
    <H5>
      PARTICIPANTEN
      <a name="option" class="float-right small button" data-url="{% url 'debatnl_online:e_learning:participants:create' %}">
        Voeg participant toe
      </a>
    </H5>
  </div>

  <div class="row column">
    <table>
      <thead>
      <tr class="table-row">
        <td></td>
        <td>ACHTERNAAM</td>
        <td>VOORNAAM</td>
        <td>E-MAIL</td>
        <td>INGESCHREVEN VOOR</td>
      </tr>
      </thead>
      <tbody>
      {% for participant in participants %}
        <tr>
          <td width="130">
            <a name="option" class="edit-button" data-url="{% url 'debatnl_online:e_learning:participants:update' pk=participant.id %}">
              <span class="fi flaticon-pencil"></span>
            </a>
            <a name="option" class="remove-button" data-url="{% url 'debatnl_online:e_learning:participants:delete' pk=participant.id %}">
              <span class="fi flaticon-close-button"></span>
            </a>
          </td>
          <td>{{ participant.last_name }}</td>
          <td>{{ participant.first_name }}</td>
          <td>{{ participant.email }}</td>
          <td>
            {% for enrolment in participant.enrolments %}
              {{ enrolment.name }} <br>
            {% empty %}
              --
            {% endfor %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td class="text-center" colspan="7">Er zijn nog geen participanten.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>
