{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debat.NL – Back-Office</title>

    {# STYLESHEETS #}
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'users/sass/style.sass' %}">
</head>
<body>

{# CONTAINER #}
<div class="container">
    <div class="row">

        {# DEBAT.NL LOGO #}
        <div class="logo">
            <img alt="Debat.NL Logo" src="{% static 'img/logo.png' %}">
        </div>
    </div>

    {# FORM CONTAINER #}
    <div class="form-container">
        <div class="row">

            {# HEADER #}
            <div class="header">
                {% block header %} {% endblock %}
            </div>

            {# SUBHEADER #}
            <div class="sub-header">
                {% block sub-header %} {% endblock %}
            </div>
        </div>

        {# FORM #}
        {% block form %} {% endblock %}

        {# FOOTER #}
        <div class="row">
            <div class="footer text-right">
                {% block footer %} {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
