{% extends "registration/base.html" %}

{% block header %}
    Log in
{% endblock %}

{% block form %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="email" name="username" placeholder="E-mail adres" required="" id="id_username">
        <input type="password" name="password" placeholder="Wachtwoord" required="" id="id_password">
        <span class="fi flaticon-user"></span>
        <span class="fi flaticon-locked"></span>
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" class="expanded button" value="Log in" />
    </form>
{% endblock %}

{% block footer %}
    <a href="{% url 'password_reset' %}"> Wachtwoord vergeten? </a>

    {% if form.errors %}
        <div class="text-danger"> De inloggegevens zijn onjuist. </div>
    {% endif %}
{% endblock %}
