{% extends "registration/base.html" %}

{% block header %}
    Wachtwoord vergeten?
{% endblock %}

{% block sub-header %}
    <div class="top-space">
        Geen zorgen! Vul uw e-mail in en wij sturen u een link om uw wachtwoord te wijzigen.
    </div>
{% endblock %}

{% block form %}
    <form class="reset-password" action="{{ request.path }}" method="post">
        {% csrf_token %}

        <input type="email" name="email" placeholder="E-mail adres" required id="id_email">

        <span class="fi flaticon-new-email-outline"></span>
        <input type="submit" class="expanded button" value="Verstuur verzoek" />
    </form>
{% endblock %}

{% block footer %}
    <div class="text-danger">
        {{ form.email.errors }}
    </div>
{% endblock %}
