{% extends "registration/base.html" %}
{% load i18n static %}

{% block header %}
    Wachtwoord wijzigen
{% endblock %}

{% block sub-header %}
    <div class="top-space">
        Gebruik tenminste 8 tekens en een hoofdletter.
    </div>
{% endblock %}

{% block form %}
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}

        <input type="password" name="new_password1" placeholder="Nieuw wachtwoord" required="" id="id_password">
        <input type="password" name="new_password2" placeholder="Herhaal nieuw wachtwoord" required="" id="id_repeat_password">

        <span class="fi flaticon-locked"></span>
        <span class="fi flaticon-locked"></span>
        <input type="submit" class="button expanded" value="Wijzig Wachtwoord" />
    </form>
{% endblock %}

{% block footer %}
    <div class="text-danger">
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
    </div>
{% endblock %}
