{% extends "registration/base.html" %}

{% block header %}
    E-mail verstuurd
{% endblock %}

{% block sub-header %}
    <div class="top-space">
        Er is een e-mail gestuurd naar je e-mailadres. Volg de instructies in de e-mail om je wachtwoord opnieuw in te stellen.
    </div>
{% endblock %}

{% block form %}
    <a href="{% url 'login' %}" class="expanded button"> Terug naar login pagina </a>
{% endblock %}
