{% extends "registration/base.html" %}

{% block header %}
    Wachtwoord gewijzigd
{% endblock %}

{% block sub-header %}
    <div class="top-space">
        Uw wachtwoord is gewijzigd.
    </div>
{% endblock %}

{% block form %}
    <a href="{% url 'login' %}" class="expanded button"> Terug naar login pagina </a>
{% endblock %}
