{% extends "registration/base.html" %}

{% block header %}
    De tijd is verlopen
{% endblock %}

{% block sub-header %}
    <div class="top-space">
        De tijd is verlopen om uw wachtwoord te kunnen wijzigen. Vraag opnieuw een e-mail aan.
    </div>
{% endblock %}

{% block form %}
    <a href="{% url 'login' %}" class="expanded button"> Terug naar login pagina </a>
{% endblock %}
