<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>HUBSTAFF KOPPELEN</h5>
</div>

<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <div class="row column">
        <label for="hubstaff_user_id">
            Aan welke account in Hubstaff wil je deze trainer koppelen?
            <select name="hubstaff_user_id">
              <option value="">--</option>
              {% for hubstaff_user in hubstaff_users %}
                <option value="{{ hubstaff_user.id }}" {% if hubstaff_user.id == object.hubstaff_user_id %} selected {% endif %}>
                  {{ hubstaff_user.name }}
                </option>
              {% endfor %}
            </select>
        </label>
    </div>

    <div class="row footer">
        <div class="large-offset-6 large-3 no-left-padding column">
            <input type="submit" class="small debat-orange expanded button" value="Opslaan">
        </div>
        <div class="large-3 no-left-padding column">
            <a class="small expanded debat-blue button" data-close> Annuleren </a>
        </div>
    </div>
</form>
