<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<h5><br></h5>
<p>Wil je het Hubstaff account dat aan deze trainer is gekoppeld verwijderen?</p>

<div class="row footer">
  <div class="large-offset-6">
    <form method="POST" action="{{ request.path }}">
      {% csrf_token %}
      <input type="hidden" name="hubstaff_user_id" value="">

      <div class="large-6 no-left-padding column">
          <button type="submit" class="small debat-orange expanded button">OK</button>
      </div>
      <div class="large-6 no-left-padding column">
          <a class="small expanded debat-blue button" data-close>Annuleren</a>
      </div>
    </form>
  </div>
</div>
