<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

 <div class="row column">
    <h5>NIEUWE TRAINING INVOEREN</h5>
 </div>

<form id="form-add-training" action="{% url 'debatnl_registration:add' %}" method="post">
    {% csrf_token %}

    <div class="row column">
        <label for="training">
            Type training
            <select id="training" name="training" required>
                <option value="" disabled selected>Kies type training</option>
                {% for training in trainings %}
                    <option value="{{ training.id }}">{{ training.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    {% for n in date_count %}
        <div class="row">
            <div class="large-12 columns">
                <hr>
                Dag {{ n|add:"1" }}
            </div>

            <span class="large-4 columns">
                 <select title name="date_{{ n }}_day" required>
                    <option value="" disabled selected>Dag</option>
                    {% for day in days %}
                        <option value="{{ day |stringformat:"02d" }}">{{ day |stringformat:"02d" }}</option>
                    {% endfor %}
                </select>
            </span>

            <span class="large-4 columns">
                <select title name="date_{{ n }}_month" required>
                    <option value="" disabled selected>Maand</option>
                    {% for month in months %}
                        <option value="{{ month |stringformat:"02d" }}">{{ month |stringformat:"02d" }}</option>
                    {% endfor %}
                </select>
            </span>

           <span class="large-4 columns end">
                <select title name="date_{{ n }}_year" required>
                    <option value="" disabled selected>Jaar</option>
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </span>
        </div>

        <div id="date-{{ n }}-trainers-container">
            <div class="row">
                <div class="small-12 column">
                    <label for="trainer"> Trainer </label>
                </div>

                <div class="small-10 columns">
                    <select id="trainer" name="date_{{ n }}_trainer_0" required>
                        <option value="" disabled selected>Kies trainer</option>
                        {% for trainer in trainers %}
                            <option value="{{ trainer.pk }}">{{ trainer.get_full_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="small-2 columns">
                    <label class="middle remove-button" data-date="{{ n }}" hidden>
                        <span class="fi flaticon-close-button"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row column">
            <a name="add-training" data-date="{{ n }}">
                <span class="fi flaticon-signs"></span>
                Nieuwe trainer toevoegen
            </a>
        </div>
    {% endfor %}

    <div class="row footer">
        <div class="large-offset-4 large-4 no-right-padding column">
            <input type="button" class="small expanded debat-blue button" value="Annuleren" data-close>
        </div>
        <div class="large-4 column">
            <input type="submit" class="small expanded debat-orange add-button button" value="Opslaan">
        </div>
    </div>
</form>

<script>
    $(function() {
        $("a[name='add-training']").click(function () {
            var dateId = $(this).data('date');
            var trainerRows = $("#date-" + dateId + "-trainers-container .row");

            toggle_remove_button(dateId, true);

            var cloned = trainerRows.first().clone();

            cloned.find('select').each(function () {
                var selectName = $(this).attr("name");
                $(this).attr("name", selectName.slice(0, -1) + trainerRows.length)
            });

            var button = cloned.find('.remove-button').first();
            button.data("date", dateId);

            cloned.appendTo("#date-" + dateId + "-trainers-container");
        });

        $("#form-add-training").on('click', '.remove-button', function () {
            var dateId = $(this).data('date');
            var trainerRows = $("#date-" + dateId + "-trainers-container .row");

            if (trainerRows.length > 1) {
                $(this).parents('.row').remove();
            }

            if (trainerRows.length === 2) {
                toggle_remove_button(dateId, false)
            }
        });

        function toggle_remove_button(dateId, hide) {
            var firstRow = $("#date-" + dateId + "-trainers-container .row").first();
            var button = firstRow.find('.remove-button').first();
            button.toggle(hide);
        }
    })
</script>
