<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>&nbsp;</h5>
</div>

<p>
    Gaat dag 1 wel door?
</p>

<div class="row footer">
    <div class="small-6 no-left-padding column">
        <a name="confirm-cancel-training-date" data-choice="YES" class="small debat-orange expanded button">
            Dag 1 gaat WEL door
        </a>
    </div>
    <div class="small-6 no-left-padding column">
        <a name="confirm-cancel-training-date" data-choice="NO" class="small debat-orange expanded button">
            Dag 1 gaat NIET door
        </a>
    </div>
</div>