<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>&nbsp;</h5>
</div>

{% if object.sequence == 0 %}
    <p>
        Weet u het zeker? Na bevestiging worden de volgende zaken gedaan:
        <ul>
            <li> Alle trainingsdagen worden geannuleerd. </li>
            <li> Trainer wordt op de hoogte gesteld. </li>
            <li> Zaal wordt geannuleerd. </li>
            <li> Deelnemers ontvangen een alternatief aanbod. </li>
        </ul>
    </p>
{% else %}
    <p>
        Weet je zeker dat je deze dag wilt verwijderen?
        Informeer de deelnemers zelf over het niet doorgaan van deze dag.
    </p>
{% endif %}

<div class="row footer">
    <div class="large-offset-6">
        <div class="large-6 no-left-padding column">
            <form method="post" action="{% url 'debatnl_registration:cancel_training_date' pk=object.pk %}">
                {% csrf_token %}
                <input type="submit" name="submit" class="small debat-orange expanded button" value="Ja"/>
            </form>
        </div>
        <div class="large-6 no-left-padding column">
            <a class="small expanded debat-blue button" data-close> Nee </a>
        </div>
    </div>
</div>