<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<form id="change-attendance-form" method="post">
    {% csrf_token %}
    <div class="row column">
        <h5>WAT WORDT DE NIEUWE TRAININGSDAG?</h5>
    </div>
    <div class="row column">
        <label for="training">
            Type training
            <select id="training" name="training" required>
                <option value="" disabled selected>Type training</option>
                {% for training in trainings %}
                    <option value="{% url 'debatnl_registration:available_training_dates' pk=training.id %}">{{ training.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <div id="available-dates-container" class="row column"></div>
    <br>
    <div class="row column">
        LET OP: Verschuif de deelnemer handmatig van elke trainingsdag.
    </div>

    <div class="row footer">
        <div class="large-offset-4">
            <div class="large-6 no-left-padding column">
                 <input type="submit" class="small debat-orange expanded button" value="Opslaan">
            </div>
            <div class="large-6 no-left-padding column">
                <a class="small expanded debat-blue button" data-close> Annuleren </a>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {
        $('#training').change(function () {
            var url = $(this).val();

            $.get(url, function(data) {
                $('#available-dates-container').html(data);
            });
        });
    })
</script>