<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<form method="post">
    {% csrf_token %}
     <div class="row column">
        <h5>&nbsp;</h5>
     </div>

    <p>
        Alle toekomstige mails zullen verwijderd worden, zeker weten?
    </p>

    <div class="row footer">
        <div class="large-offset-6">
            <div class="large-6 no-left-padding column">
                 <input type="submit" class="small debat-orange expanded button" value="Ja">
            </div>
            <div class="large-6 no-left-padding column">
                <a class="small expanded debat-blue button" data-close> Nee </a>
            </div>
        </div>
    </div>
</form>