{% load l10n %}

<div class="form-container">
  <div class="row column">
    <div class="form-title">SALES- EN INTERNE MEETING ({{ index }})</div>

    {% if not readonly %}
      <span class="float-right">
        <button type="button" class="hollow button delete-button" data-open="modal-delete-{{ inline_form.prefix }}">Verwijderen</button>
      </span>
    {% endif %}
  </div>

  <div class="form">
    {{ inline_form.id }}

    {% if inline_form.initial.webcrm_delivery_id %}
      <input type="hidden" name="{{ inline_form.prefix }}-webcrm_delivery_id" value="{{ inline_form.initial.webcrm_delivery_id }}">
    {% endif %}

    <!-- Type -->
    <div class="row form-group">
      <div class="large-4 column">
        <label for="{{ inline_form.type.id_for_label }}">Sales of interne meeting? <sup class="required-mark">&ast;</sup></label>
        {% if readonly %}
          <input type="text" value="{{ item.type }}" title readonly>
        {% elif inline_form.initial.webcrm_delivery_id %}
          <input type="text" value="{{ inline_form.initial.type }}" title readonly>
          <input type="hidden" name="{{ inline_form.prefix }}-type" value="{{ inline_form.initial.type }}">
        {% else %}
          {{ inline_form.type }}
          {% if inline_form.errors.type %}<div class="error-message">{{ inline_form.errors.type }}</div>{% endif %}
        {% endif %}
      </div>

      {% if review_mode %}
        <div class="large-1 column end">
          {% if item.webcrm_delivery_id %}
            <i class="fa fa-check-circle indicator"></i>
          {% else %}
            <i class="fa fa-times-circle indicator"></i>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <!-- Meeting with -->
    <div class="row form-group">
      <div class="large-4 column">
        <label for="{{ inline_form.meeting_with.id_for_label }}">Meeting met <sup class="required-mark">&ast;</sup></label>
        {% if readonly %}
          <input type="text" value="{{ item.meeting_with }}" title readonly>
        {% elif inline_form.initial.webcrm_delivery_id %}
          <input type="text" value="{{ inline_form.initial.meeting_with }}" title readonly>
          <input type="hidden" name="{{ inline_form.prefix }}-meeting_with" value="{{ inline_form.initial.meeting_with }}">
        {% else %}
          {{ inline_form.meeting_with }}
          {% if inline_form.errors.meeting_with %}<div class="error-message">{{ inline_form.errors.meeting_with }}</div>{% endif %}
        {% endif %}
      </div>

      {% if review_mode %}
        <div class="large-1 column end">
          {% if item.webcrm_delivery_id %}
            <i class="fa fa-check-circle indicator"></i>
          {% else %}
            <i class="fa fa-times-circle indicator"></i>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <!-- Meeting date -->
    <div class="row form-group">
      <div class="large-4 column">
        <label for="date-field">Datum <sup class="required-mark">&ast;</sup></label>

        {% if readonly %}
          <input type="text" value="{{ item.date|date:'d-m-Y' }}" title readonly>
        {% elif inline_form.initial.webcrm_delivery_id %}
          <input type="text" value="{{ inline_form.initial.date|date:'d-m-Y' }}" title readonly>
          <input type="hidden" name="{{ inline_form.prefix }}-date" value="{{ inline_form.initial.date|date:'d-m-Y' }}">
        {% else %}
          <input type="text" class="date-field" id="{{ inline_form.date.id_for_label }}-field" data-alt-field="{{ inline_form.date.id }}" autocomplete="off">
          <input type="hidden" name="{{ inline_form.prefix }}-date" value="{{ inline_form.initial.date|date:'d-m-Y' }}" id="{{ inline_form.date.id_for_label }}">
          {% if inline_form.errors.date %}<div class="error-message">{{ inline_form.errors.date }}</div>{% endif %}
        {% endif %}
      </div>
    </div>

    <!-- Start Time -->
    <div class="row form-group">
      <div class="large-4 column time-field">
        <label for="{{ inline_form.start_time.id_for_label }}">Begintijd <sup class="required-mark">&ast;</sup></label>
        {% if readonly %}
          <input type="text" value="{{ item.start_time }}" title readonly>
        {% else %}
          {{ inline_form.start_time }}
          {% if inline_form.errors.start_time %}<div class="error-message">{{ inline_form.errors.start_time }}</div>{% endif %}
        {% endif %}
      </div>
    </div>

    <!-- End Time -->
    <div class="row form-group">
      <div class="large-4 column time-field">
        <label for="{{ inline_form.end_time.id_for_label }}">Eindtijd <sup class="required-mark">&ast;</sup></label>
        {% if readonly %}
          <input type="text" value="{{ item.end_time }}" title readonly>
        {% else %}
          {{ inline_form.end_time }}
          {% if inline_form.errors.end_time %}<div class="error-message">{{ inline_form.errors.end_time }}</div>{% endif %}
        {% endif %}
      </div>
    </div>

    <div class="row form-group">
      <div class="large-4 column end">
        <label>Totale uren declarabel</label>
        <input type="text" id="id_{{ inline_form.prefix }}-total_declarable_hours-display"
               value="{% if readonly and item %}{{ item.get_total_declarable_hours|default:0 }}{% else %}{{ inline_form.instance.get_total_declarable_hours|default:0 }}{% endif %} uur"
               data-value="{{ inline_form.instance.get_total_declarable_hours|default:0|unlocalize }}" readonly>
      </div>
    </div>

    {{ inline_form.travel_expense }}

    <div id="travel-expense-data-section-{{ inline_form.prefix }}"
         {% if not readonly and not inline_form.instance.travel_expense %}class="hide"{% endif %}
         {% if readonly and not item.travel_expense %}class="hide"{% endif %}>
      <div class="row form-group">
        <div class="large-4 column">
          <label>Vertreklocatie</label>
          <input type="text" id="id_{{ inline_form.prefix }}-origin-display"
                 value="{% if readonly and item %}{{ item.travel_expense.routes.first.location }}{% else %}{{ inline_form.instance.travel_expense.routes.first.location }}{% endif %}" title readonly>
        </div>
        <div class="large-4 column end">
          <label>Aankomstlocatie</label>
          <input type="text" id="id_{{ inline_form.prefix }}-destination-display"
                 value="{% if readonly and item %}{{ item.travel_expense.routes.last.location }}{% else %}{{ inline_form.instance.travel_expense.routes.last.location }}{% endif %}" title readonly>
        </div>
      </div>

      <div class="row form-group">
        <div class="large-2 column">
          <label>Aantal KM</label>
          <input type="text" id="id_{{ inline_form.prefix }}-distance-display"
                 value="{% if readonly and item %}{{ item.travel_expense.distance }}{% else %}{{ inline_form.instance.travel_expense.distance }}{% endif %} km"
                 data-value="{{ inline_form.instance.travel_expense.distance|default:0|unlocalize }}" title readonly>
        </div>

        {% if review_mode %}
          <div class="large-1 column">
            {% if item.travel_expense.distance|unlocalize == item.travel_expense.get_total_distance_and_duration.0|unlocalize %}
              <i class="fa fa-check-circle indicator"></i>
            {% else %}
              <i class="fa fa-times-circle indicator"></i>
            {% endif %}
          </div>
        {% endif %}

        <div class="large-2 column">
          <label>Totale reistijd</label>
          <input type="text" id="id_{{ inline_form.prefix }}-duration-display"
                 value={% if readonly and item %}{{ item.travel_expense.duration }}{% else %}{{ inline_form.instance.travel_expense.duration }}{% endif %} uur"
                 data-value="{{ inline_form.instance.travel_expense.duration|default:0|unlocalize }}" title readonly>
        </div>

        {% if review_mode %}
          <div class="large-1 column">
            {% if item.travel_expense.duration|unlocalize in item.travel_expense.get_total_distance_and_duration.1|unlocalize %}
              <i class="fa fa-check-circle indicator"></i>
            {% else %}
              <i class="fa fa-times-circle indicator"></i>
            {% endif %}
          </div>
        {% endif %}

        <div class="large-2 column end">
          <label>Reistijd declarabel</label>
          <input type="text" id="id_{{ inline_form.prefix }}-declarable_travel_time-display"
                 value="{% if readonly and item %}{{ item.get_declarable_travel_time }}{% else %}{{ inline_form.instance.get_declarable_travel_time }}{% endif %} uur"
                 data-value="{{ inline_form.instance.get_declarable_travel_time|default:0|unlocalize }}" readonly title>
        </div>
      </div>
    </div>

    {% if not readonly %}
      <div class="row form-group">
        <div class="large-4 column">
          {% if inline_form.instance.travel_expense %}
            <button type="button" id="btn-travel-expenses-{{ inline_form.prefix }}" name="btn-open-modal-travel-expense-internal" class="expanded button" data-url="{% url 'declarations:travel-expenses-update' pk=inline_form.instance.travel_expense.pk %}?form_prefix={{ inline_form.prefix }}" data-prefix="{{ inline_form.prefix }}">
              Wijzig reistijd/km vergoeding
            </button>
          {% else %}
            <button type="button" id="btn-travel-expenses-{{ inline_form.prefix }}" name="btn-open-modal-travel-expense-internal" class="expanded button" data-url="{% url 'declarations:travel-expenses-create' %}?form_prefix={{ inline_form.prefix }}" data-prefix="{{ inline_form.prefix }}">
              Voeg reistijd/km vergoeding toe
            </button>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>

  {% if not readonly %}
    {{ inline_form.DELETE }}
    {% include 'declarations/components/modals/modal-delete.html' with description='Weet je het zeker dat je de hele bijeenkomst wilt verwijderen?' %}
  {% endif %}
</div>

{% if not readonly %}
  <script>
    $(function () {
      var $typeInput = $('#{{ inline_form.type.id_for_label }}');
      var $startTimeHourInput = $('#id_{{ inline_form.prefix }}-start_time_0');
      var $startTimeMinutesInput = $('#id_{{ inline_form.prefix }}-start_time_1');
      var $endTimeHourInput = $('#id_{{ inline_form.prefix }}-end_time_0');
      var $endTimeMinutesInput = $('#id_{{ inline_form.prefix }}-end_time_1');

      var fields = [$typeInput, $startTimeHourInput, $startTimeMinutesInput, $endTimeHourInput, $endTimeMinutesInput];

      $(fields).each(function(_, jQobj) {
        $(jQobj).on('change', function () {
          var $totalDeclarableHoursDisplay = $('#id_{{ inline_form.prefix }}-total_declarable_hours-display');
          var declarableHours = calculateInternalTotalDeclarableHours();
          $totalDeclarableHoursDisplay.val(declarableHours.toFixed(2).replace('.', ',') + ' uur');
          $totalDeclarableHoursDisplay.data('value', declarableHours.toFixed(2));
          $totalDeclarableHoursDisplay.trigger('change');
        });
      });

      $([$('#id_internal_hourly_rate'), $('#id_billable_hourly_rate')]).each(function(_, jQobj) {
        $(jQobj).on('change', function () {
          var $travelExpenseSection = $('#travel-expense-data-section-{{ inline_form.prefix }}');

          if ($travelExpenseSection.is(":visible")) {
            var $declarableTravelTimeInput = $('#id_{{ inline_form.prefix }}-declarable_travel_time-display');
            var declarableTravelTime = calculateDeclarableTravelTime();
            var declarableTravelTimeText = declarableTravelTime.toFixed(2).replace('.', ',') + ' uur';
            $declarableTravelTimeInput.data('value', declarableTravelTime);
            $declarableTravelTimeInput.val(declarableTravelTimeText);
          }
        });
      });

      function calculateInternalTotalDeclarableHours() {
        var $startHour = $('#id_{{ inline_form.prefix }}-start_time_0');
        var $startMinutes = $('#id_{{ inline_form.prefix }}-start_time_1');
        var $endHour = $('#id_{{ inline_form.prefix }}-end_time_0');
        var $endMinutes = $('#id_{{ inline_form.prefix }}-end_time_1');
        var $intHour = $('#{{ form.internal_hourly_rate.id_for_label }}');
        var $billHour = $('#{{ form.billable_hourly_rate.id_for_label }}');
        var $declarableTravelTime = $('#id_{{ inline_form.prefix }}-declarable_travel_time-display');

        var intHour = 0;
        var billHour = 0;
        if ($.isNumeric($intHour.val())) { intHour = parseFloat($intHour.val()) }
        if ($.isNumeric($billHour.val())) { billHour = parseFloat($billHour.val()) }

        var startTime = 0;
        if ($.isNumeric($startHour.val()) && $.isNumeric($startMinutes.val())) {
            startTime = (parseInt($startHour.val()) * 60) + parseInt($startMinutes.val());
        }

        var endTime = 0;
        if ($.isNumeric($endHour.val()) && $.isNumeric($endMinutes.val())) {
            endTime = (parseInt($endHour.val()) * 60) + parseInt($endMinutes.val());
        }

        var travelTime = 0;
        if ($declarableTravelTime.length > 0 && $declarableTravelTime.is(":visible")) {
          var declarableTravelTime = $declarableTravelTime.data('value');
          travelTime = $.isNumeric(declarableTravelTime) ? parseFloat(declarableTravelTime) : 0;
        }

        var deltaTime = (endTime - startTime) / 60;
        var declarable_hours = (deltaTime * (intHour / billHour)) + travelTime;
        return !isNaN(declarable_hours) ? Math.round(declarable_hours * 100) / 100 : 0;
      }

      function calculateDeclarableTravelTime() {
        var $intHour = $('#id_internal_hourly_rate');
        var $billHour = $('#id_billable_hourly_rate');
        var $durationInput = $('#id_{{ inline_form.prefix }}-duration-display');
        var duration = $durationInput.data('value');

        var intHour = 0;
        var billHour = 0;
        if ($.isNumeric($intHour.val())) { intHour = parseFloat($intHour.val()) }
        if ($.isNumeric($billHour.val())) { billHour = parseFloat($billHour.val()) }

        var totalTravelTime = parseFloat(duration);
        var travelTime = (totalTravelTime - 2) * (intHour / billHour);
        travelTime = Math.round(travelTime * 100) / 100;
        return $.isNumeric(travelTime) ? travelTime : 0;
      }
    })
  </script>
{% endif %}
