<form method="post" action="{{ request.path }}" id="allowance-form" enctype="multipart/form-data">
  {% csrf_token %}
  <!-- Date -->
  <input type="hidden" id="id_date" name="date" value="{{ form.date.value|date:'Y-m-d'|default_if_none:'' }}" required>

  <div class="row">
    <div class="column large-12" id="instruction-text">
      <p>Om welke bijeenkomsten gaat het (minimaal twee)? Alleen de volgende sessies tellen mee:</p>
      <ul>
        <li>Fysieke opvolgingsafspraak</li>
        <li>Fysieke uitvoeringssessie</li>
      </ul>
    </div>
  </div>

  <!-- Meetings -->
  <div class="row column">
    <div class="row column meeting-table-label">Bijeenkomst</div>
    <div id="meeting-table-container">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>DATUM<br>BIJEENKOMST</th>
            <th class="meeting-with">ORGANISATIE/MEETING MET</th>
            <th class="text-center">BEGINTIJD</th>
            <th class="text-center">EINDTIJD</th>
            <th>TYPE</th>
          </tr>
        </thead>
        <tbody>
          <!-- Internal Meetings -->
          {% if form.internal_meetings.field.queryset.count == 0 and form.external_meetings.field.queryset.count == 0 %}
          <tr>
            <td colspan="6" class="text-center empty-col"><br>Geen Bijeenkomst</td>
          </tr>
          {% endif %}

          <!-- Internal meetings -->
          {% for meeting in form.internal_meetings.field.queryset %}
          <tr>
            <td>
              <div class="checkbox">
                <input type="checkbox" class="checkbox" id="id_internal_meetings_{{ forloop.counter0 }}"
                  name="internal_meetings" value="{{ meeting.pk }}"
                  data-start-hour="{{ meeting.start_time|date:'H'|default_if_none:'' }}"
                  data-end-hour="{{ meeting.end_time|date:'H'|default_if_none:'' }}" />
                <label for="id_internal_meetings_{{ forloop.counter0 }}" class="check-label">
                  <span class="check-label-box"></span>
                </label>
              </div>
            </td>
            <td>{{ meeting.date|date:'d-m-Y' }}</td>
            <td>{{ meeting.meeting_with }}</td>
            <td class="text-center">{{ meeting.start_time|date:'H:i'|default_if_none:'-' }}</td>
            <td class="text-center">{{ meeting.end_time|date:'H:i'|default_if_none:'-' }}</td>

            {% if meeting.type == 'Interne meeting' %}
            <td>INTERN</td>
            {% else %}
            <td>OPVOLGING</td>
            {% endif %}
          </tr>
          {% endfor %}

          <!-- External Meetings -->
          {% for meeting in form.external_meetings.field.queryset %}
          <tr>
            <td>
              <div class="checkbox">
                <input type="checkbox" class="checkbox" id="id_external_meetings_{{ forloop.counter0 }}"
                  name="external_meetings" value="{{ meeting.pk }}"
                  data-start-hour="{{ meeting.start_time|date:'H'|default_if_none:'' }}"
                  data-end-hour="{{ meeting.end_time|date:'H'|default_if_none:'' }}" />
                <label for="id_external_meetings_{{ forloop.counter0 }}" class="check-label">
                  <span class="check-label-box"></span>
                </label>
              </div>
            </td>
            <td>{{ meeting.date|date:'d-m-Y' }}</td>
            <td>{{ meeting.organization }}</td>
            <td class="text-center">{{ meeting.start_time|date:'H:i'|default_if_none:'-' }}</td c>
            <td class="text-center">{{ meeting.end_time|date:'H:i'|default_if_none:'-' }}</td>
            <td>UITVOERING</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <div id="form-allowance-section-expense" class="hide">
    <div class="row column meeting-table-label" id="table-description"></div>

    <!-- Upload file -->
    <div class="row form-group" id="expense-upload-group">
      <div class="column large-8">
        {% include 'common/widgets/widget-file-uploader.html' with file_input_label='Upload bon' id=form.file.id_for_label %}
      </div>
    </div>

    <!-- Amount -->
    <div class="form-group" id="amount-group">
      <div class="row column">
        <label for="id_amount"></label>
      </div>
      <div class="row">
        <div class="column large-4">
          <div class="input-group">
            <span class="input-group-label">&euro;</span>
            <input type="number" name="amount" id="id_amount" class="input-group-field" step="0.01" required>
          </div>
        </div>
      </div>
    </div>

    <div class="row column text-right">
      <div class="small button-group">
        <button type="button" class="debat-blue large-3 button" data-close>Annuleren</button>
        <button type="submit" class="large-3 button">Opslaan</button>
      </div>
    </div>
  </div>
</form>

<script>
  var files = [];
  $(function() {
    var form = $('#allowance-form');
    var expenseForm = form.find('#form-allowance-section-expense');
    var checkboxes = form.find('[type=checkbox]');
    var tableDescription, expenseDescription, maxAmount;

    checkboxes.click(function() {
      var checked = checkboxes.filter(':checked');
      if (checked.length >= 2) {
        var endHours = [];

        checked.each(function() {
          var endHour = parseInt($(this).data('end-hour'));
          if (!isNaN(endHour)) endHours.push(endHour);
        });

        if (endHours.some(h => h >= 20) && endHours.some(h => h <= 13)) {
          expenseDescription = 'Dagvergoeding';
          tableDescription = 'Je hebt recht op een dagvergoeding van maximaal 25 euro.';
          maxAmount = 25;
        } else if (endHours.some(h => h > 20) && endHours.every(h => h > 13)) {
          expenseDescription = 'Dinervergoeding';
          tableDescription = 'Je hebt recht op een dinervergoeding van maximaal 22 euro.';
          maxAmount = 22;
        } else if (endHours.every(h => h < 20)) {
          expenseDescription = 'Lunchvergoeding';
          tableDescription = 'Je hebt recht op een koffie/lunchvergoeding van maximaal 15 euro.';
          maxAmount = 15;
        }
      } else {
        expenseDescription = undefined;
        tableDescription = undefined;
        maxAmount = undefined;
      }
      toggleExpenseForm();
    });

    form.on('submit', function (e) {
      var url = $(this).attr('action');
      var formData = new FormData(form.get(0));

      for (var i = 0; i < files.length; i++) {
        formData.append('file', files[i], files[i].name);
      }

      if (files.length > 0) {
        $.ajax({
          url: url,
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function (data) {
            var container = $('#container-allowance');
            container.html(data);
            container.trigger('change');
            form.closest('.reveal').foundation('close');
          },
        });
      }
      e.preventDefault();
    });

    function toggleExpenseForm() {
      if (expenseDescription === undefined || maxAmount == undefined) {
        expenseForm.addClass('hide');
      } else {
        var maxAmountLabel = maxAmount.toFixed(2).replace('.', ',');
        var amountLabel = expenseDescription + " (maximaal &euro;" + maxAmountLabel + ")";
        amountLabel += "<sup class='required-mark'>&ast;</sup>";
        $('label[for=id_amount]').html(amountLabel);
        $('#table-description').html(tableDescription);
        $('#id_amount').attr('max', maxAmount);
        expenseForm.removeClass('hide');
      }
    }
  });
</script>
