{% load l10n %}

<div class="form-container">
    {{ inline_form.id }}

    <!-- Hubstaff Hours -->
    <div class="row form-group">
      <div class="large-3 column">
        <label for="{{ inline_form.hours.id_for_label }}">Hubstaff uren <sup class="required-mark">&ast;</sup></label>
        {% if readonly %}
          <input type="text" value="{{ item.hours }}" title readonly>
        {% else %}
          {% if hubstaff_work_time %}
            <input type="text" value="{{ hubstaff_work_time.hours }}" title readonly>
            <input type="hidden" id="{{ inline_form.hours.id_for_label }}" name="{{ inline_form.prefix }}-hours" value="{{ hubstaff_work_time.hours }}" title>
          {% else %}
            {{ inline_form.hours }}
          {% endif %}
        {% endif %}
      </div>

      {% if review_mode and item.from_api %}
        <div class="large-1 column end">
          <i class="fa fa-check-circle indicator"></i>
        </div>
      {% endif %}
    </div>

    <!-- Hubstaff Minutes -->
    <div class="row form-group">
      <div class="large-3 column">
        <label for="{{ inline_form.minutes.id_for_label }}">Hubstaff minuten <sup class="required-mark">&ast;</sup></label>
        {% if readonly %}
          <input type="text" value="{{ item.minutes }}" title readonly>
        {% else %}
          {% if hubstaff_work_time %}
            <input type="text" value="{{ hubstaff_work_time.minutes }}" title readonly>
            <input type="hidden" id="{{ inline_form.minutes.id_for_label }}" name="{{ inline_form.prefix }}-minutes" value="{{ hubstaff_work_time.minutes }}">
          {% else %}
            {{ inline_form.minutes }}
          {% endif %}
        {% endif %}
      </div>

      {% if review_mode and item.from_api %}
        <div class="large-1 column end">
          <i class="fa fa-check-circle indicator"></i>
        </div>
      {% endif %}
    </div>

    {% if not readonly and hubstaff_work_time %}
      <input type="hidden" id="{{ inline_form.from_api.id_for_label }}" name="{{ inline_form.prefix }}-from_api" value="1">
    {% endif %}

    <!-- Totaal uren declarabel (Readonly) -->
    <div class="row form-group">
      <div class="large-3 column">
        <label for="total-declarable-hour">Totaal uren declarabel tarief</label>
        {% if readonly %}
          <input type="text" value="{{ item.get_total_billable_hour|default:'0,00' }}" title readonly>
        {% else %}
          <input type="text" id="total-billable-hour" value="{{ inline_form.instance.get_total_billable_hour|default:'0,00' }}" data-value="{{ inline_form.instance.get_total_billable_hour|unlocalize }}" title readonly>
        {% endif %}
      </div>
    </div>
</div>

{% if not readonly %}
  <script>
    $(function() {
      var $internalRate = $('#id_internal_hourly_rate');
      var $billableRate = $('#id_billable_hourly_rate');
      var $hour = $('#{{ inline_form.hours.id_for_label }}');
      var $minutes = $('#{{ inline_form.minutes.id_for_label }}');
      var $totalBillableHour = $('#total-billable-hour');
      var initialHubstaffTotalHours = {{ inline_form.instance.get_total_billable_hour|default:0|unlocalize }};
      var totalHours = initialTotalHours - initialHubstaffTotalHours;

      calculateHubstaffDeclarableHours();

      $([$internalRate, $billableRate, $hour, $minutes]).each(function(_, jQobj) {
        $(jQobj).on('change keyup', function () {
           calculateHubstaffDeclarableHours();
        });
      });

      function calculateHubstaffDeclarableHours() {
        var hourInDecimals = parseFloat($hour.val()) + (parseFloat($minutes.val()) / 60);
        var rate = parseFloat($internalRate.val()) / parseFloat($billableRate.val());
        var totalAmount = hourInDecimals * rate;
        totalAmount = isNaN(totalAmount) ? 0 : totalAmount;
        $totalBillableHour.data('value', totalAmount.toFixed(2));
        $totalBillableHour.val(totalAmount.toFixed(2).replace('.', ','));

        var totalAmountHours = totalHours + totalAmount;
        $('#total-amount-hours').val(totalAmountHours.toFixed(2).replace('.', ','))
      }
    });
  </script>
{% endif %}
