{% load l10n %}

<div class="form-container">
  <div class="row column">
    <div class="form-title">BIJEENKOMST ({{ index }})</div>
    {% if not readonly %}
      <span class="float-right">
        <button type="button" class="hollow button delete-button" data-open="modal-delete-{{ inline_form.prefix }}">Verwijderen</button>
      </span>
    {% endif %}
  </div>

  <div class="form">
    {{ inline_form.id }}

    {% if inline_form.initial.webcrm_delivery_id %}
      <input type="hidden" name="{{ inline_form.prefix }}-webcrm_delivery_id" value="{{ inline_form.initial.webcrm_delivery_id }}">
    {% endif %}

    <!-- Meeting date -->
    <div class="row form-group">
      <div class="large-4 column">
        <label for="date-field">Datum <sup class="required-mark">&ast;</sup></label>
        {% if readonly %}
          <input type="text" value="{{ item.date|date:'d-m-Y' }}" title readonly>
        {% elif inline_form.initial.webcrm_delivery_id %}
          <input type="text" value="{{ inline_form.initial.date|date:'d-m-Y' }}" title readonly>
          <input type="hidden" name="{{ inline_form.prefix }}-date" value="{{ inline_form.initial.date|date:'d-m-Y' }}">
        {% else %}
          <input type="text" class="date-field" id="{{ inline_form.date.id_for_label }}-field" data-alt-field="{{ inline_form.date.id }}" autocomplete="off">
          <input type="hidden" name="{{ inline_form.prefix }}-date" value="{{ inline_form.initial.date|date:'d-m-Y' }}" id="{{ inline_form.date.id_for_label }}">
          {% if inline_form.errors.date %}<div class="error-message">{{ inline_form.errors.date }}</div>{% endif %}
        {% endif %}
      </div>

      {% if review_mode %}
        <div class="large-1 column end">
          {% if item.webcrm_delivery_id %}
            <i class="fa fa-check-circle indicator"></i>
          {% else %}
            <i class="fa fa-times-circle indicator"></i>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <!-- Organization -->
    <div class="row form-group">
      <div class="large-4 column">
        <label for="{{ inline_form.organization.id_for_label }}">Organisatie <sup class="required-mark">&ast;</sup></label>
        {% if readonly %}
          <input type="text" value="{{ item.organization }}" title readonly>
        {% elif inline_form.initial.webcrm_delivery_id %}
          <input type="text" name="{{ inline_form.prefix }}-organization"  value="{{ inline_form.initial.organization }}" title readonly>
        {% else %}
          {{ inline_form.organization }}
          {% if inline_form.errors.organization %}<div class="error-message">{{ inline_form.errors.organization }}</div>{% endif %}
        {% endif %}
      </div>

      {% if review_mode %}
        <div class="large-1 column end">
          {% if item.webcrm_delivery_id %}
            <i class="fa fa-check-circle indicator"></i>
          {% else %}
            <i class="fa fa-times-circle indicator"></i>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <!-- Type -->
    <div class="row form-group">
      <div class="large-4 column">
        <label for="{{ inline_form.type.id_for_label }}">Type <sup class="required-mark">&ast;</sup></label>
        {% if readonly %}
          <input type="text" value="{{ item.type }}" title readonly>
        {% elif inline_form.initial.webcrm_delivery_id and inline_form.initial.type %}
          <input type="text" id="{{ inline_form.type.id_for_label }}" name="{{ inline_form.prefix }}-type"  value="{{ inline_form.initial.type }}" title readonly>
        {% else %}
          {{ inline_form.type }}
          {% if inline_form.errors.type %}<div class="error-message">{{ inline_form.errors.type }}</div>{% endif %}
        {% endif %}
      </div>

      {% if review_mode %}
        <div class="large-1 column end">
          {% if item.webcrm_delivery_id %}
            <i class="fa fa-check-circle indicator"></i>
          {% else %}
            <i class="fa fa-times-circle indicator"></i>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <!-- Write period -->
    <div class="row form-group">
      <div class="large-4 column">
        <label for="{{ inline_form.write_period.id_for_label }}">Additionele (schrijf)tijd</label>
        {% if readonly %}
          <input type="text" value="{{ item.write_period }}" title readonly>
        {% else %}
          {{ inline_form.write_period }}
          {% if inline_form.errors.write_period %}<div class="error-message">{{ inline_form.errors.write_period }}</div>{% endif %}
        {% endif %}
        <div class="help-text">ALLEEN gebruiken bij scan of toestemming Ilona</div>
      </div>
    </div>

    <!-- Start Time -->
    <div class="row form-group">
      <div class="large-4 column time-field">
        <label for="{{ inline_form.start_time.id_for_label }}">Begintijd <sup class="required-mark">&ast;</sup></label>
        {% if readonly %}
           <input type="text" value="{{ item.start_time }}" title readonly>
        {% else %}
          {{ inline_form.start_time }}
        {% endif %}
      </div>

      {% if review_mode and item.webcrm_delivery_id %}
        {% if item.is_start_time_same_for_all_trainers %}
          <div class="large-1 column end">
            <i class="fa fa-check-circle indicator"></i>
          </div>
        {% else %}
          <div class="large-1 column">
            <i class="fa fa-times-circle indicator"></i>
          </div>

          <div class="large-3 column end">
            <button type="button" name="btn-open-modal" class="hollow small button indicator-button" data-url="{% url 'declarations:external-meeting-time-difference' pk=item.webcrm_delivery_id %}?type=start_time">
              Verschillende begintijden bekijken
            </button>
          </div>
        {% endif %}
      {% endif %}

      {% if review_mode and not item.webcrm_delivery_id %}
        <div class="large-1 column end">
          <i class="fa fa-times-circle indicator"></i>
        </div>
      {% endif %}
    </div>

    <!-- End Time -->
    <div class="row form-group">
      <div class="large-4 column time-field">
        <label for="{{ inline_form.end_time.id_for_label }}">Eindtijd <sup class="required-mark">&ast;</sup></label>
        {% if readonly %}
          <input type="text" value="{{ item.end_time }}" title readonly>
        {% else %}
          {{ inline_form.end_time }}
        {% endif %}
      </div>

      {% if review_mode and item.webcrm_delivery_id %}
        {% if item.is_end_time_same_for_all_trainers %}
          <div class="large-1 column end">
            <i class="fa fa-check-circle indicator"></i>
          </div>
        {% else %}
          <div class="large-1 column">
            <i class="fa fa-times-circle indicator"></i>
          </div>
          <div class="large-3 column end">
            <button type="button" name="btn-open-modal" class="hollow small button indicator-button" data-url="{% url 'declarations:external-meeting-time-difference' pk=item.webcrm_delivery_id %}?type=end_time">
              Verschillende eindtijden bekijken
            </button>
          </div>
        {% endif %}
      {% endif %}

      {% if review_mode and not item.webcrm_delivery_id %}
        <div class="large-1 column end">
          <i class="fa fa-times-circle indicator"></i>
        </div>
      {% endif %}
    </div>

    <div class="row form-group">
      <div class="large-4 column end">
        <label>Totale uren declarabel</label>
        <input type="text" id="id_{{ inline_form.prefix }}-total_declarable_hours-display"
               value="{% if readonly and item %}{{ item.get_total_declarable_hours|default:0 }}{% else %}{{ inline_form.instance.get_total_declarable_hours|default:0 }}{% endif %} uur"
               data-value="{{ inline_form.instance.get_total_declarable_hours|default:0|unlocalize }}" readonly>
      </div>
    </div>

    {{ inline_form.travel_expense }}

    <div id="travel-expense-data-section-{{ inline_form.prefix }}"
         {% if not readonly and not inline_form.instance.travel_expense %}class="hide"{% endif %}
         {% if readonly and not item.travel_expense %}class="hide"{% endif %}>
      <div class="row form-group">
        <div class="large-4 column">
          <label>Vertreklocatie</label>
          <input type="text" id="id_{{ inline_form.prefix }}-origin-display"
                 value="{% if readonly and item %}{{ item.travel_expense.routes.first.location }}{% else %}{{ inline_form.instance.travel_expense.routes.first.location }}{% endif %}" title readonly>
        </div>
        <div class="large-4 column end">
          <label>Aankomstlocatie</label>
          <input type="text" id="id_{{ inline_form.prefix }}-destination-display"
                 value="{% if readonly and item %}{{ item.travel_expense.routes.last.location }}{% else %}{{ inline_form.instance.travel_expense.routes.last.location }}{% endif %}" title readonly>
        </div>
      </div>

      <div class="row form-group">
        <div class="large-2 column">
          <label>Aantal KM</label>
          <input type="text" id="id_{{ inline_form.prefix }}-distance-display"
                 value="{% if readonly and item %}{{ item.travel_expense.distance }}{% else %}{{ inline_form.instance.travel_expense.distance }}{% endif %} km"
                 data-value="{{ inline_form.instance.travel_expense.distance|default:0|unlocalize }}" title readonly>
        </div>

      {% if review_mode %}
        <div class="large-1 column">
          {% if item.travel_expense.distance|unlocalize == item.travel_expense.get_total_distance_and_duration.0|unlocalize %}
            <i class="fa fa-check-circle indicator"></i>
          {% else %}
            <i class="fa fa-times-circle indicator"></i>
          {% endif %}
        </div>
      {% endif %}

        <div class="large-2 column">
          <label>Totale reistijd</label>
          <input type="text" id="id_{{ inline_form.prefix }}-duration-display"
                 value={% if readonly and item %}{{ item.travel_expense.duration }}{% else %}{{ inline_form.instance.travel_expense.duration }}{% endif %} uur"
                 data-value="{{ inline_form.instance.travel_expense.duration|default:0|unlocalize }}" title readonly>
        </div>

      {% if review_mode %}
        <div class="large-1 column">
          {% if item.travel_expense.duration|unlocalize in item.travel_expense.get_total_distance_and_duration.1|unlocalize %}
            <i class="fa fa-check-circle indicator"></i>
          {% else %}
            <i class="fa fa-times-circle indicator"></i>
          {% endif %}
        </div>
      {% endif %}

        <div class="large-2 column end">
          <label>Reistijd declarabel</label>
          <input type="text" id="id_{{ inline_form.prefix }}-declarable_travel_time-display"
                 value="{% if readonly and item %}{{ item.get_declarable_travel_time }}{% else %}{{ inline_form.instance.get_declarable_travel_time }}{% endif %} uur"
                 data-value="{{ inline_form.instance.get_declarable_travel_time|default:0|unlocalize }}" readonly title>
        </div>
      </div>
    </div>

    {% if not readonly %}
      <div class="row form-group">
        <div class="large-4 column">
          {% if inline_form.instance.travel_expense %}
            <button type="button" id="btn-travel-expenses-{{ inline_form.prefix }}" name="btn-open-modal-travel-expense-external" class="expanded button" data-url="{% url 'declarations:travel-expenses-update' pk=inline_form.instance.travel_expense.pk %}?form_prefix={{ inline_form.prefix }}" data-prefix="{{ inline_form.prefix }}">
              Wijzig reistijd/km vergoeding
            </button>
          {% else %}
            <button type="button" id="btn-travel-expenses-{{ inline_form.prefix }}" name="btn-open-modal-travel-expense-external" class="expanded button" data-url="{% url 'declarations:travel-expenses-create' %}?form_prefix={{ inline_form.prefix }}" data-prefix="{{ inline_form.prefix }}">
              Voeg reistijd/km vergoeding toe
            </button>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>

  {% if not readonly %}
    {{ inline_form.DELETE }}
    {% include 'declarations/components/modals/modal-delete.html' with description='Weet je het zeker dat je de hele bijeenkomst wilt verwijderen?' %}
  {% endif %}
</div>

{% if not readonly %}
  <script>
    $(function () {
      var $typeInput = $('#{{ inline_form.type.id_for_label }}');
      var $startTimeHourInput = $('#id_{{ inline_form.prefix }}-start_time_0');
      var $startTimeMinutesInput = $('#id_{{ inline_form.prefix }}-start_time_1');
      var $endTimeHourInput = $('#id_{{ inline_form.prefix }}-end_time_0');
      var $endTimeMinutesInput = $('#id_{{ inline_form.prefix }}-end_time_1');
      var $writePeriod = $('#{{ inline_form.write_period.id_for_label }}');

      var fields = [$typeInput, $startTimeHourInput, $startTimeMinutesInput, $endTimeHourInput, $endTimeMinutesInput, $writePeriod];

      $(fields).each(function(_, jQobj) {
        $(jQobj).on('change', function () {
          var $totalDeclarableHoursDisplay = $('#id_{{ inline_form.prefix }}-total_declarable_hours-display');
          var declarableHours = calculateExternalTotalDeclarableHours();
          $totalDeclarableHoursDisplay.val(declarableHours.toFixed(2).replace('.', ',') + ' uur');
          $totalDeclarableHoursDisplay.data('value', declarableHours.toFixed(2));
          $totalDeclarableHoursDisplay.trigger('change');
        });
      });

      $([$('#id_internal_hourly_rate'), $('#id_billable_hourly_rate')]).each(function(_, jQobj) {
        $(jQobj).on('change', function () {
          var $travelExpenseSection = $('#travel-expense-data-section-{{ inline_form.prefix }}');

          if ($travelExpenseSection.is(":visible")) {
            var $declarableTravelTimeInput = $('#id_{{ inline_form.prefix }}-declarable_travel_time-display');
            var declarableTravelTime = calculateDeclarableTravelTime();
            var declarableTravelTimeText = declarableTravelTime.toFixed(2).replace('.', ',') + ' uur';
            $declarableTravelTimeInput.data('value', declarableTravelTime);
            $declarableTravelTimeInput.val(declarableTravelTimeText);
          }
        });
      });

      function calculateExternalTotalDeclarableHours() {
        var $startHour = $('#id_{{ inline_form.prefix }}-start_time_0');
        var $startMinutes = $('#id_{{ inline_form.prefix }}-start_time_1');
        var $endHour = $('#id_{{ inline_form.prefix }}-end_time_0');
        var $endMinutes = $('#id_{{ inline_form.prefix }}-end_time_1');
        var $writePeriod = $('#{{ inline_form.write_period.id_for_label }}');
        var $type = $('#{{ inline_form.type.id_for_label }}');
        var $declarableTravelTime = $('#id_{{ inline_form.prefix }}-declarable_travel_time-display');

        var startTime = 0;
        if ($.isNumeric($startHour.val()) && $.isNumeric($startMinutes.val())) {
            startTime = (parseInt($startHour.val()) * 60) + parseInt($startMinutes.val());
        }

        var endTime = 0;
        if ($.isNumeric($endHour.val()) && $.isNumeric($endMinutes.val())) {
            endTime = (parseInt($endHour.val()) * 60) + parseInt($endMinutes.val());
        }

        var writePeriod = 0;
        if ($.isNumeric($writePeriod.val())) {
            writePeriod = parseFloat($writePeriod.val());
        }

        var travelTime = 0;
        if ($declarableTravelTime.length > 0 && $declarableTravelTime.is(":visible")) {
          var declarableTravelTime = $declarableTravelTime.data('value');
          travelTime = $.isNumeric(declarableTravelTime) ? parseFloat(declarableTravelTime) : 0;
        }

        var deltaTime = (endTime - startTime) / 60;
        var declarable_hours = writePeriod + deltaTime + travelTime;

        var calculations = {
            "{{ inline_form.instance.ZIEK_WACHTDAG }}": 0,
            "{{ inline_form.instance.SCAN }}": declarable_hours,
            "{{ inline_form.instance.COACHING }}": 0.5 + declarable_hours,
            "{{ inline_form.instance.ZIEK_70 }}": 0.7 * declarable_hours,
            "{{ inline_form.instance.TRAINING }}": 1 + declarable_hours,
        };
        var calculationAmount = calculations[$type.val()];
        return calculationAmount ? Math.round(calculationAmount * 100) / 100 : 0;
      }

      function calculateDeclarableTravelTime() {
        var $intHour = $('#id_internal_hourly_rate');
        var $billHour = $('#id_billable_hourly_rate');
        var $durationInput = $('#id_{{ inline_form.prefix }}-duration-display');
        var duration = $durationInput.data('value');

        var intHour = 0;
        var billHour = 0;
        if ($.isNumeric($intHour.val())) { intHour = parseFloat($intHour.val()) }
        if ($.isNumeric($billHour.val())) { billHour = parseFloat($billHour.val()) }

        var totalTravelTime = parseFloat(duration);
        var travelTime = (totalTravelTime - 2) * (intHour / billHour);
        travelTime = Math.round(travelTime * 100) / 100;
        return $.isNumeric(travelTime) ? travelTime : 0;
      }
    })
  </script>
{% endif %}
