{% extends "backoffice/base.html" %}
{% load static %}
{% load assets %}

{% block custom-stylesheets %}{% endblock %}

{% block custom-javascript %}
  <script type="text/javascript" src="{% static 'backoffice/js/configuration.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 column">
      <H4> TRAININGEN </H4>
    </div>
  </div>

  <div class="row">
    <div class="large-12 column">
      {% include "backoffice/components/table-trainings.html" %}
    </div>
  </div>

  <div class="row">
    <div class="large-offset-7 large-5 column text-right">
      <a name="btn-open-modal" class="debat-orange small button" data-url="{% url 'configuration:user-modify' %}">
        <span class="fi flaticon-signs"></span>
        Gebruiker toevoegen/verwijderen
      </a>
      <a name="btn-open-modal" class="debat-blue small button" data-url="{% url 'configuration:training-create' %}">
        <span class="fi flaticon-signs"></span>
        Rij toevoegen
      </a>
    </div>
  </div>

  <div class="row">
    <div class="large-12 column">
      <H4> GEBRUIKERS </H4>
    </div>
  </div>

  <div class="row">
    {# COLUMN: TRAINERS #}
    <div class="large-4 column">
      {% include "backoffice/user_trainers_list.html" with role="TRAINER" title="TRAINERS" %}
    </div>

    {# COLUMN: EDITORS #}
    <div class="large-4 column">
      {% include "backoffice/user_common_list.html" with role="REDACTEUR" title="REDACTIE" %}
    </div>

    {# COLUMN: CONTACT PERSONS #}
    <div class="large-4 column">
      {% include "backoffice/user_common_list.html" with role="ADMINISTRATIEF CONTACT" title="ADMINISTRATIEF CONTACT" %}
      {% include "backoffice/user_common_list.html" with role="ZAAL CONTACTPERSOON" title="ZAAL CONTACTPERSOON" %}
      {% include "backoffice/user_common_list.html" with role="WEBSITE CONTACTPERSOON" title="WEBSITE CONTACTPERSOON" %}
    </div>
  </div>

  <!-- Common Modal -->
  {% include 'common/widgets/widget-modal.html' %}

  <!-- NOTIFICATION MODAL -->
  {% if messages %}
    {% include 'backoffice/components/modals/modal-notification.html' %}
  {% endif %}
{% endblock %}
