<fieldset class="tabs" id="tab-1">
  <p class="labels">Zijn er nog andere deliveries waarvoor je een scan wilt toevoegen?</p>
  <table id="deliverables-table">
    <tr>
      <th colspan="2">ORGANISATIENAAM</th>
      <th>DATUM</th>
      <th>BIJEENKOMST</th>
      <th>OMSCHRIJVING</th>
    </tr>

    <tbody>
    {% for deliverable in pending_deliverables %}
      <tr>
        <td class="text-center">
          <input type="checkbox" class="deliverable-checkboxes" name="deliverables" value="{{ deliverable.pk }}" title multiple="multiple">
        </td>
        <td>{{ deliverable.delivery.organization }}</td>
        <td>{{ deliverable.delivery.order_date|date:'d-m-y' }}</td>
        <td>{{ deliverable.delivery.product }}</td>
        <td>{{ deliverable.delivery.description }}</td>
      </tr>
    {% empty %}
      <tr class="empty-row">
        <td colspan="5">Er zijn geen gerelateerde deliverables.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="row footer next-btn-row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="button" id="next-btn" class="debat-orange button">Volgende</button>
      </div>
    </div>
  </div>
</fieldset>
