<fieldset class="tabs" id="tab-2">
  <div class="row">
    <p class="column large-12 labels">Hoeveel scans moeten er geschreven worden?</p>
    <div class="end column large-2">
      <select id="scan-count" title>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
  </div><!-- /.row -->

  {% for form in formset %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    <section class="scan-forms" id="form-{{ forloop.counter0 }}">
      <h5>Scan {{ forloop.counter }}</h5>

      <div class="row input-group">
        <div class="column large-12">
          <label for="id_form-{{ forloop.counter0 }}-title">Titel</label>
          <input type="text" id="id_form-{{ forloop.counter0 }}-title" name="form-{{ forloop.counter0 }}-title" required>
        </div>
      </div>

      <div class="row input-group">
        <div class="column">
          <p class="labels">Type</p>
          <input type="radio" name="form-{{ forloop.counter0 }}-type" id="id_form-{{ forloop.counter0 }}-type_0" value="{{ form.instance.FRACTION_SCAN }}" checked><label for="id_form-{{ forloop.counter0 }}-type_0">Fractiescan</label>
          <br>
          <input type="radio" name="form-{{ forloop.counter0 }}-type" id="id_form-{{ forloop.counter0 }}-type_1" value="{{ form.instance.DEBAT_SCAN }}"><label for="id_form-{{ forloop.counter0 }}-type_1">Debatscan</label>
          <br>
          <input type="radio" name="form-{{ forloop.counter0 }}-type" id="id_form-{{ forloop.counter0 }}-type_2" value="{{ form.instance.CHAIRMAN_SCAN }}"><label for="id_form-{{ forloop.counter0 }}-type_2">Voorzitterscan</label>
        </div>
      </div>

      <div class="row input-group">
        <div class="column large-12">
          <label for="id_form-{{ forloop.counter0 }}-issues">Wat zijn de aandachtspunten?</label>
          <textarea name="form-{{ forloop.counter0 }}-issues" id="id_form-{{ forloop.counter0 }}-issues" cols="10" rows="10" class="tinymce-textareas "></textarea>
        </div>
      </div>

      <div class="row input-group">
        <div class="column large-5">
          <label for="date-field-{{ forloop.counter0 }}">Deadline</label>
          <input type="text" class="date-field" id="date-field-{{ forloop.counter0 }}" data-alt-field="id_form-{{ forloop.counter0 }}-deadline_at" autocomplete="off" required>

          <!-- Hidden Date-Alt Field -->
          <input type="hidden" name="form-{{ forloop.counter0 }}-deadline_at" id="id_form-{{ forloop.counter0 }}-deadline_at" required>
          <div class="date-picker-container"></div>
        </div>
      </div>

      <div class="row input-group">
        <div class="column large-12">
          <p class="labels">Wie moet het verslag indienen?</p>
          {% for trainer in trainers %}
            <input type="radio" id="id_form-{{ forloop.parentloop.counter0 }}-trainer_{{ trainer.pk }}" class="trainers" name="form-{{ forloop.parentloop.counter0 }}-trainer" value="{{ trainer.pk }}" required>
            <label for="id_form-{{ forloop.parentloop.counter0 }}-trainer_{{ trainer.pk }}">{{ trainer.get_full_name }}</label>
            <br>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endfor %}

  <div class="row footer">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="submit" id="submit-btn" class="debat-orange button">Opslaan</button>
      </div>
    </div>
  </div>
</fieldset>
