{% with form=formset.empty_form %}


  <section class="scan-forms extra-forms" id="form-__prefix__">
    <hr>

    <h5>Scan __title_prefix__ </h5>

    <input type="hidden" name="form-__prefix__-organization" value="{{ selected_deliverable.delivery.organization.name }}">
    <input type="hidden" name="form-__prefix__-dr_name" value="{{ selected_deliverable.delivery.responsible.name }}">
    <input type="hidden" name="form-__prefix__-dr_email" value="{{ selected_deliverable.delivery.responsible.email }}">

    <div class="row input-group">
      <div class="column large-12">
        <label for="id_form-__prefix__-title">Titel</label>
        <input type="text" id="id_form-__prefix__-title" name="form-__prefix__-title" required>
      </div>
    </div>

    <div class="row input-group">
      <div class="column">
        <p class="labels">Type</p>
        <input type="radio" name="form-__prefix__-type" id="id_form-__prefix__-type_0" value="FS" checked><label for="id_form-__prefix__-type_0">Fractiescan</label>
        <br>
        <input type="radio" name="form-__prefix__-type" id="id_form-__prefix__-type_1" value="DS"><label for="id_form-__prefix__-type_1">Debatscan</label>
        <br>
        <input type="radio" name="form-__prefix__-type" id="id_form-__prefix__-type_2" value="CS"><label for="id_form-__prefix__-type_2">Voorzitterscan</label>
      </div>
    </div>

    <div class="row input-group">
      <div class="column large-12">
        <label for="id_form-__prefix__-issues">Wat zijn de aandachtspunten?</label>
        <textarea name="form-__prefix__-issues" id="id_form-__prefix__-issues" cols="10" rows="10" class="tinymce-textareas "></textarea>
      </div>
    </div>

    <div class="row input-group">
      <div class="column large-5">
        <label for="id_form-__prefix__-deadline_at">Deadline</label>
        <input type="text" class="date-field" id="date-field-__prefix__" data-alt-field="id_form-__prefix__-deadline_at" autocomplete="off" required>

        <!-- Hidden Date-Alt Field -->
        <input type="hidden" name="form-__prefix__-deadline_at" id="id_form-__prefix__-deadline_at" required>
        <div class="date-picker-container"></div>
      </div>
    </div>

    <div class="row input-group">
      <div class="column large-12">
        <p class="labels">Wie moet het verslag indienen?</p>
        {% for trainer in trainers %}
          <input type="radio" id="id_form-__prefix__-trainer_{{ trainer.pk }}" class="trainers" name="form-__prefix__-trainer" value="{{ trainer.pk }}">
          <label for="id_form-__prefix__-trainer_{{ trainer.pk }}">{{ trainer.get_full_name }}</label>
          <br>
        {% endfor %}
      </div>
    </div>
  </section>
{% endwith %}
