<h4 class="modal-title column">VERLOF AANVRAGEN</h4>

<form method="POST" action="{{ request.path }}" id="step1-form">
  {% csrf_token %}
  <fieldset class="row column">
    <legend>Gaat het om betaald of onbetaald verlof?</legend>
    <div class="form-group">
      <input type="radio" name="is_paid" class="radio yes-inputs" id="paid-yes" value="{{ form.YES }}" required>
      <label for="paid-yes">Betaald</label>
    </div>

    <div class="form-group">
      <input type="radio" name="is_paid" class="radio no-inputs" id="paid-no" value="{{ form.NO }}" required>
      <label for="paid-no">Onbetaald</label>
    </div>
  </fieldset>

  <div class="row button-row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="button" class="debat-orange button step-btn" disabled>Toevoegen</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function(){
    // Form Validation
    var $form = $('#step1-form');
    $form.change(function() {
      var valid;
      valid = $form.find('input[name=is_paid]').is(':checked');

      // Toggle submit button
      $form.find('.step-btn').attr('disabled', !valid);
    });
  });
</script>
