<h4 class="modal-title column">VERLOF AANVRAGEN</h4>

<form method="POST" action="{{ request.path }}" id="step7-form">
  {% csrf_token %}
  <fieldset class="row column">
    <legend>Wat voor type contract heb je?</legend>

    <!-- Nulurencontract -->
    <div class="form-group">
      <input
        type="radio"
        name="contract_type"
        class="radio"
        id="zero-hour"
        value="{{ form.ZERO_HOUR }}"
        required>
      <label for="zero-hour">Nulurencontract</label>
    </div>

    <!-- Min-max contract -->
    <div class="form-group">
      <input
        type="radio"
        name="contract_type"
        class="radio"
        id="min-max"
        value="{{ form.MIN_MAX }}"
        required>
      <label for="min-max">Min-max contract (minimum aantal uur per maand)</label>
    </div>

    <!-- Full-time contract -->
    <div class="form-group">
      <input
        type="radio"
        name="contract_type"
        class="radio"
        id="full-time"
        value="{{ form.FULL_TIME }}"
        required />
      <label for="full-time">Full-time contract</label>
    </div>
  </fieldset>

  <div class="row button-row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button back-btn" data-previous="{{ previous }}">Vorige</button>
        <button type="button" class="debat-orange button step-btn" disabled>Volgende</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function(){
    // Form Validation
    var $form = $('#step7-form');
    $form.change(function() {
      var valid;
      valid = $form.find('input[name=contract_type]').is(':checked');

      // Toggle submit button
      $form.find('.step-btn').attr('disabled', !valid);
    });
  });
</script>
