<div id="step8-form">
  <div class="row column">
    <div class="text-info">
      <p>Helaas, je aanvraag is afgewezen. Je hebt onvoldoende saldo. Indien je het hier niet mee eens bent, neem contact op met de volgende mensen:</p>
      <ul>
        <li>Je wilt onbetaald verlof = Ilona</li>
        <li>Je bent het niet met het saldo eens = de office-manager</li>
      </ul>
    </div>
  </div>

  <div class="row button-row">
    <div class="large-offset-8 large-4 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-orange button" data-close>Afronden</button>
      </div>
    </div>
  </div>
</div>
