<div id="leave-of-absence-saved" class="text-center">
  <div><i class="fi flaticon-check"></i></div>
  <p>Je aanvraag is in behandeling genomen.</p>
  <p>Zodra er definitief akkoord is ontvang je een email.</p>
</div>

<div class="row button-row">
  <div class="large-offset-8 large-4 column">
    <div class="small expanded button-group">
      <button type="button" class="debat-orange button" data-close>Afronden</button>
    </div>
  </div>
</div>
