<h4 class="modal-title column">VERLOF AANVRAGEN</h4>

<form method="POST" action="{{ request.path }}" id="step4-form">
  {% csrf_token %}
  <fieldset class="row column">
    <legend>Heb je voldoende verlofsaldo opgebouwd voor betaald verlof of maak je gebruik van kraam-of zorgverlof? <sup>*</sup></legend>

    <div class="form-group">
      <input type="radio" name="leave_balance" class="radio yes-inputs" id="leave-balance-yes" value="{{ form.YES }}" required>
      <label for="leave-balance-yes">Ja</label>
    </div>

    <div class="form-group">
      <input type="radio" name="leave_balance" class="radio no-inputs" id="leave-balance-no" value="{{ form.NO }}" required>
      <label for="leave-balance-no">Nee</label>
    </div>
  </fieldset>

  <footer class="row column">
    <sup>*</sup>Het actuele verlofsaldo vind je onderaan op de loonstrook.
  </footer>

  <div class="row button-row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" name="back" class="debat-blue button back-btn" data-previous="{{ previous }}">Vorige</button>
        <button type="button" class="debat-orange button step-btn" disabled>Volgende</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function(){
    // Form Validation
    var $form = $('#step4-form');
    $form.change(function() {
      var valid;
      valid = $form.find('[name=leave_balance]').is(':checked');

      // Toggle submit button
      $form.find('.step-btn').attr('disabled', !valid);
    });
  });
</script>
