<h4 class="modal-title column">VERLOF AANVRAGEN</h4>

<form method="POST" action="{{ request.path }}?step=10" id="step10-form">
  {% csrf_token %}
  <input type="hidden" name="allowed_hours" value="{{ request.session.allowed_hours }}">
  <fieldset class="row column">
    <legend>
      Je hebt op jaarbasis minimaal recht op het volgende verlofsaldo:
    </legend>

    <div class="mark">
      {{ request.session.allowed_hours }} uur
    </div>

    <div class="form-group large-7">
      {{ form.requested_hours.errors }}
      {{ form.requested_hours.label_tag }}
      {{ form.requested_hours }}
    </div>
  </fieldset>

  <div class="row button-row">
    <div class="large-offset-8 large-4 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-orange button step-btn" disabled>Volgende</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function() {
    // Form validation
    var $hour = $('#id_requested_hours');
    $hour.on('change keyup', function() {
      var valid;
      valid = $(this).val().trim() != '';
      $('#step10-form .step-btn').attr('disabled', !valid);
    });
  });
</script>
