<h4 class="modal-title column">VERLOF AANVRAGEN</h4>

<form method="POST" action="{{ request.path }}?step=9" id="step9-form">
  {% csrf_token %}
  <fieldset class="row column">
    <legend>
      Op hoeveel uur werk heb je maandelijks minimaal recht?
    </legend>

    <div class="form-group large-6">
      {{ form.hours.errors }}
      {{ form.hours.label_tag }}
      {{ form.hours }}
    </div>
  </fieldset>

  <div class="row button-row">
    <div class="large-offset-8 large-4 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-orange button step-btn" disabled>Volgende</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function() {
    // Form validation
    var $hour = $('#id_hours');
    $hour.on('change keyup', function() {
      var valid;
      valid = $(this).val().trim() != '';
      $('#step9-form .step-btn').attr('disabled', !valid);
    });
  });
</script>
