<div id="step11-form">
  <div class="row column">
    <div class="text-info">
      <p>Helaas, je aanvraag is afgewezen omdat je te weinig saldo hebt.</p>
      <p>Je kunt eventueel aan Ilona toestemming voor onbetaald verlof aanvragen.</p>
    </div>
  </div>

  <div class="row button-row">
    <div class="large-offset-8 large-4 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-orange button" data-close>Afronden</button>
      </div>
    </div>
  </div>
</div>
