<div id="step3-form">
  <div class="row column">
    <div class="text-info">
      <p>Verschuif <strong>na toestemming</strong> de bijeenkomsten waar het om gaat. Toestemming kun je van de volgende mensen krijgen:</p>
      <ul>
        <li>Trainingen/voorbereidende afspraken = Ilon</li>
        <li>Opvolgingsafspraken met klanten = Ruud</li>
        <li>Interne meetings = De persoon met wie je de meeting hebt</li>
      </ul>
      <p>Daarna kun je de verlofaanvraag nogmaals indienen. Voor nu is deze afgewezen.</p>
    </div>
  </div>

  <div class="row button-row">
    <div class="large-offset-8 large-4 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-orange button" data-close>Afronden</button>
      </div>
    </div>
  </div>
</div>
