<h4 class="modal-title column">VERLOF AANVRAGEN</h4>

<form method="POST" action="{{ request.path }}" id="step2-form">
  {% csrf_token %}
  <!-- Future Training Schedule -->
  <fieldset class="row column">
    <legend>Heb je op de verlofdata al trainingen ingepland staan?</legend>

    <div class="form-group">
      <input type="radio" name="training" class="radio yes-inputs" id="training-yes" value="{{ form.YES }}" required>
      <label for="training-yes">Ja</label>
    </div>

    <div class="form-group">
      <input type="radio" name="training" class="radio no-inputs" id="training-no" value="{{ form.NO }}" required>
      <label for="training-no">Nee</label>
    </div>
  </fieldset>

  <!-- Future Client Appointement -->
  <fieldset class="row column">
    <legend>Heb je op de verlofdata al afspraken met opdrachtgevers ingepland staan?</legend>

    <div class="form-group">
      <input type="radio" name="appointement" class="radio yes-inputs" id="appointement-yes" value="{{ form.YES }}" required>
      <label for="appointement-yes">Ja</label>
    </div>

    <div class="form-group">
      <input type="radio" name="appointement" class="radio no-inputs" id="appointement-no" value="{{ form.NO }}" required>
      <label for="appointement-no">Nee</label>
    </div>
  </fieldset>

  <!-- Internal Meeting -->
  <fieldset class="row column">
    <legend>Heb je op de verlofdata al interne meetings ingepland staan?</legend>

    <div class="form-group">
      <input type="radio" name="meeting" class="radio yes-inputs" id="meeting-yes" value="{{ form.YES }}" required>
      <label for="meeting-yes">Ja</label>
    </div>

    <div class="form-group">
      <input type="radio" name="meeting" class="radio no-inputs" id="meeting-no" value="{{ form.NO }}" required>
      <label for="meeting-no">Nee</label>
    </div>
  </fieldset>

  <div class="row button-row">
    <div class="large-offset-8 large-4 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-orange button step-btn" disabled>Volgende</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function(){
    // Form validation
    var $form = $('#step2-form');
    $form.change(function(){
      var training, appointement, meeting;
      var valid = false;

      training = $form.find('input[name=training]').is(':checked');
      appointement = $form.find('input[name=appointement]').is(':checked');
      meeting = $form.find('input[name=meeting]').is(':checked');

      if (training && appointement && meeting) valid = true;

      // Toggle submit button
      $form.find('.step-btn').attr('disabled', !valid);
    });
  });
</script>
