<h4 class="modal-title column">VERLOF AANVRAGEN</h4>

<form method="POST" action="{{ request.path }}" id="step5-form" class="vaction-period-create-form">
  {% csrf_token %}

  <!-- Hidden Date Fields -->
  <input type="hidden" name="start_date" id="alt_start_date">
  <input type="hidden" name="end_date" id="alt_end_date">
  <input type="hidden" name="type" value="{{ form.type.initial }}">

  <div class="row column error-message">
    De datum van het veld 'Datum t/m' moet gelijk of later zijn dan de datum van het veld 'Datum van'.
  </div>

  <div class="form-group row">
    <div class="column large-6">
      {{ form.start_date.errors }}
      <label for="id_start_date">Datum van</label>
      <input type="text" id="id_start_date" class="date-field" data-alt-field="alt_start_date" autocomplete="off" required>
    </div>
  </div>

  <div class="form-group row">
    <div class="column large-6">
      {{ form.end_date.errors }}
      <label for="id_end_date">Datum t/m</label>
      <input type="text" id="id_end_date" class="date-field" date-alt-field="alt_end_date" autocomplete="off" required>
    </div>
  </div>

  <div class="form-group row">
    <div class="column large-6">
      {{ form.amount_hours.errors }}
      <label for="id_amount_hours">Totaal aantal uuf verlof</label>
      {{ form.amount_hours }}
    </div>
  </div>

  <div class="form-group row">
    <div class="column large-10">
      {{ form.reason.errors }}
      <label for="reason">Reden van het verlof</label>
      {{ form.reason }}
    </div>
  </div>

  <div class="row button-row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" name="back" class="debat-blue button back-btn" data-previous="{{ previous }}">Vorige</button>
        <button type="submit" class="debat-orange button step-btn" disabled>Volgende</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function () {
    var startDateField = $("#id_start_date");
    var endDateField = $("#id_end_date");
    var errorMessage = $("#step5-form .error-message");
    var submitButton = $("#step5-form button[type=submit]");

    // Initialize date pickers
    $.datepicker.setDefaults($.extend($.datepicker.regional["nl"]));
    startDateField.datepicker({dateFormat: "dd/mm/yy", altFormat: "yy-mm-dd", altField: "#alt_start_date"});
    endDateField.datepicker({dateFormat: "dd/mm/yy", altFormat: "yy-mm-dd", altField: "#alt_end_date"});
    $(".date-field").change(function () {
      errorMessage.hide()
    });

    // Form validation
    $('#step5-form').on('change keyup', function(){
      var valid = true;
      var startDate = moment(startDateField.datepicker('getDate'));
      var endDate = moment(endDateField.datepicker('getDate'));

      $(this).find(':input[required]').each(function(){
        $(this).val().trim() === '' ? valid = false : null;
      });
      if (startDate.isValid() && endDate.isValid() && endDate.isBefore(startDate)) {
        valid = false;
        errorMessage.show();
      }
      $(this).find('.step-btn').attr('disabled', !valid);
    });

    $('#step5-form').submit(function (e) {
      //stop submitting the form to see the disabled button effect
      e.preventDefault();

      //disable the submit button
      submitButton.attr("disabled", true);

      return true;
    });
  });
</script>
