{% extends "admin/change_form.html" %}
{% block object-tools-items %}
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_email_no_event_setup' pk=original.pk %}" class="grp-state-focus">
      Send No Event Setup E-mail
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:update_webcrm_opportunity_order_date' pk=original.pk %}" class="grp-state-focus">
      Update Opportunity OrderDate on WebCRM
    </a>
  </li>
  {{ block.super }}
{% endblock %}
