<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>{{ modal_title }}</h5>
</div>

<form id="form-email-template" action="{{ request.path }}" method="post">
    {% csrf_token %}

    <input type="hidden" id="id" name="id" value="{{ form.initial.id }}" required>
    <input type="hidden" id="organization" name="organization" value="{{ form.initial.organization }}" required>
    <input type="hidden" id="type" name="type" value="{{ form.initial.type }}" required>
    <input type="hidden" id="role" name="role" value="{{ form.initial.role }}" required>
    <input type="hidden" id="sender_name" name="sender_name" value="{{ sender.get_full_name }}" required>
    <input type="hidden" id="sender_email" name="sender_email" value="{{ sender.email }}" required>

    <div class="row column">
        <label for="subject">
            Onderwerp
            <input type="text" id="subject" name="subject" value="{{ form.initial.subject }}" required>
        </label>
    </div>

    <div class="row column">
        <hr>
        <div class="pre-email-text">Beste <span>[Ontvanger]</span>,</div>
    </div>

    <div class="row column">
        <label for="description">
            <textarea id="description" name="description" rows="10" required>{{ form.initial.description }}</textarea>
        </label>
    </div>

    {% if form.initial.type == 'INVITATION' %}
        <div class="row column">
            <div class="post-email-text">
                <span>[KNOP: Aanmelden]</span><br><br>

                Met vriendelijke groet,<br>
                {{ sender.get_full_name|default:'Debat.NL' }}<br><br>

                Knop werkt niet?<br>
                Als u niet op de bovenstaande knop kunt klikken, kopieer en plak de onderstaande link in uw browser.<br><br>
                <span>[LINK]</span>
            </div>
            <br>
            <br>
        </div>
    {% endif %}

    {% if form.initial.type == 'PRE' %}
        <div class="row column">
            <div class="post-email-text">
                <span>[DOEL]</span><br><br>

                Met vriendelijke groet,<br>
                {{ sender.get_full_name|default:'Debat.NL' }}<br><br>

                Knop werkt niet?<br>
                Als u niet op de bovenstaande knop kunt klikken, kopieer en plak de onderstaande link in uw browser.<br><br>
                <span>[LINK]</span>
            </div>
            <br>
            <br>
        </div>
    {% endif %}

    {% if form.initial.type == 'POST' or form.initial.type == 'DURING' %}
        <div class="row column">
            <div class="post-email-text">
                <span>[DOEL]</span><br><br>
                <span>[KNOP: Ja, gelukt] [KNOP: Nee, niet behaald]</span><br><br>
                Knoppen werken niet?<br>
                Kopieer en plak de geschikte link in je browser.<br><br>
                Ja, gelukt: <span>[LINK]</span><br>
                Nee, niet behaald: <span>[LINK]</span><br><br>
                Met vriendelijke groet,<br>
                {{ sender.get_full_name|default:'Debat.NL' }}
            </div>
            <br>
            <br>
        </div>
    {% endif %}

    <div class="row footer">
        <div class="large-offset-4 large-4 no-left-padding column">
            <input type="submit" class="small expanded debat-orange add-button button" value="{{ button_text }}">
        </div>
        <div class="large-4 column">
            <input type="button" id="reset-button" class="small expanded debat-blue button" value="Annuleren" data-close>
        </div>
    </div>
</form>
