<fieldset class="tab">
  {{ form.deliverables.label }}
  <table id="deliverableListTable" oninput="this.className = ''">
    <tr>
      <th colspan="2">ORGANISATIENAAM</th>
      <th>DATUM</th>
      <th>BIJEENKOMST</th>
      <th>OMSCHRIJVING</th>
    </tr>

    <tbody>
      {% for deliverable in pending_deliverables %}
        <tr>
          <td class="text-center">
            <input type="checkbox" class="deliverableCheckBoxes" name="deliverables"
                     value="{{ deliverable.id }}">
          </td>
          <td>{{ deliverable.delivery.organization.name }}</td>
          <td>{{ deliverable.delivery.order_date|date:'d-m-y' }}</td>
          <td>{{ deliverable.delivery.product }}</td>
          <td>{{ deliverable.delivery.description }}</td>
        </tr>
      {% empty %}
        <tr class="empty-row">
            <td colspan="5">Er zijn geen gerelateerde deliverables.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</fieldset>
