<fieldset class="tab">
    <div class="row column input-group">
        <label for="time" class="large-5">
            Tijd
            <sup class="required-marker">*</sup>
            <input type="text" name="time" id="time" class="plain-inputfields" required
                   oninput="this.className = 'plain-inputfields'">
        </label>
    </div>

    <div class="row column input-group">
        <label for="address" class="large-5">
            Adres locatie
            <sup class="required-marker">*</sup>
            <textarea name="address" id="address" class="plain-textareas" rows="5" required
                      oninput="this.className = 'plain-textareas'"></textarea>
        </label>
    </div>

    <div class="row">
        <p class="column">
            <sup class="required-marker">*</sup>
            Verplichte velden
        </p>
    </div>
</fieldset>