<fieldset class="tab">
    <div class="row column large-6">
      <p class="card-label">Trainer(s)/Gespreksleider(s)</p>
      <div class="card">
        <ul class="card-section">
          {% for trainer in deliverable.delivery.trainers.all %}
            <li>{{ trainer.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row column input-group">
        <label for="reason">
            Wat is de doelgroep en het doel?
            <sup class="required-marker">*</sup>
            <textarea name="reason" id="reason" cols="10" rows="10" required oninput="this.className = ''"
                      class="tinymce-textareas "></textarea>
        </label>
    </div>

    <div class="row column input-group">
        <label for="program">
            Wat is het programma?
            <sup class="required-marker">*</sup>
            <textarea name="program" id="program" cols="30" rows="10" required oninput="this.className = ''"
                      class="tinymce-textareas "></textarea>
        </label>
    </div>

    <div class="input-group">
        <label>Bijlage (docx, pdf, jpg, png)</label>
        <div class="row">
            <div class="large-6 column">
                <input type="text" id="upload-display" class="upload-display" placeholder="Kies een bestand"
                       title disabled/>
            </div>
            <div class="large-4 column end">
                <label for="file-upload" class="blue button expanded">Bladeren</label>
                <input type="file" id="file-upload" name="files[]"
                       accept="image/jpeg,image/jpg,image/png,application/pdf" required multiple>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-10 column">
            <div id="file-container" class="file-container"></div>
        </div>
    </div>

    <div class="row">
        <p class="column">
            <sup class="required-marker">*</sup>
            Verplichte velden
        </p>
    </div>
</fieldset>
