<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <div class="confirm-body">
    <span>Let op:</span> Bij het wijzigen van deze briefing ontvangen alle trainers een notificatie.
    <br><br>
    Wil je verder gaan?
  </div>
</div>

<div class="row footer">
  <div class="large-offset-6 large-6 column">
    <div class="small expanded button-group">
      <a class="debat-blue button" data-close>Annuleren</a>
      <a name="btn-open-modal-change" id="btn-confirm" class="debat-orange button"
         data-url="{% url 'briefings:briefing-update' deliverable.id deliverable.briefing.id %}" data-close>
        Ok
      </a>
    </div>
  </div>
</div><!-- /.row -->

<script>
  $(function() {
    var submitButton = $('#btn-confirm');
    var modals = submitButton.parents('.reveal');

    if (modals.length > 1) {
      $(modals[1]).on('closed.zf.reveal', function() {
        $(modals[0]).foundation('destroy');
        $(modals[0]).remove();
        $(modals[1]).off('closed.zf.reveal');
      });
    }
  })
</script>
