<div id="form-__prefix__" class="form initial-form">
  <input type="hidden" name="questions-__prefix__-id" id="id_questions-__prefix__-id">

  <div class="row">
    <div class="column large-8">
      <label for="id_questions-__prefix__-question">Vraag __prefix_form_counter__</label>
      <textarea name="questions-__prefix__-question" id="id_questions-__prefix__-question" rows="5" required></textarea>
    </div>
  </div>
</div>
