<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div id="vacation-modal-body">
  {% include 'schedules/components/modals/steps/step1.html' %}
</div>


<script>
  $(function() {
     var $modalBody = $('#vacation-modal-body');

    // Next button
    $(document).on('click', '.step-btn', function() {;
      var $form = $modalBody.find('form');
      var url = $form.attr('action');

      $.ajax({
        type: $form.attr('method'),
        url: url,
        data: $form.serialize(),
        success: function(data) {
          $modalBody.html(data);
        }
      });
    });

    // Back button
    $(document).on('click', '.back-btn', function() {
      var url = $(this).data('previous');

      $.ajax({
        type: 'GET',
        url: url,
        success: function(data) {
          $modalBody.html(data);
        }
      })
    });
  });
</script>
