// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Raleway:500,700|Montserrat:300,400,500,700')
@import "../fonts/_flaticon.scss"

// FONTS
$raleway: 'Raleway', sans-serif
$montserrat: 'Montserrat', sans-serif

// COLORS
$background-color: #f4f4f4
$debat-light-grey: #D7D7D7
$debat-grey: #9B9A9B
$debat-dark-grey: #a1a1a1
$debat-darker-grey: #696969
$debat-blue: #082F4F
$debat-dark-blue: #08162d
$debat-orange: #FB6600
$debat-dark-orange: #914700
$debat-red: #FF0000
$debat-green: #7ED221

html, body
  height: 100%
  background-color: $background-color
  font-family: $montserrat
  color: $debat-blue

html.white
  background-color: #FFFFFF

  body
    background-color: #FFFFFF


/* ---- INPUTS ---- */

input[type=text],
input[type=email],
input[type=number],
textarea
  border-radius: 4px

.multi-select
  display: block
  border: 1px solid $debat-light-grey
  border-radius: 4px
  overflow: auto
  max-height: 5.6rem
  margin-bottom: 1.5rem
  padding: 0.5rem 1rem

  label
    display: block

  input
    margin-bottom: 0

.checkbox
  display: inline-block
  margin-bottom: 1rem

  input[type=checkbox]
    position: absolute
    opacity: 0

    &:checked + .check-label
      .check-label-box
        background-color: $debat-orange
        border: 2px solid $debat-orange

        &:after
          content: ''
          display: block
          position: absolute
          top: -1px
          left: 4px
          width: 6px
          height: 12px
          border: solid #FFFFFF
          border-width: 0 2px 2px 0
          transform: rotate(45deg)

      .check-label-text
        &:after
          width: 85%

    &:disabled + .check-label
      .check-label-box
        border-color: #ebebeb

    &:disabled:checked + .check-label
      .check-label-box
        background-color: #ebebeb

  .check-label-box
    display: flex
    align-self: center
    position: relative
    height: 18px
    width: 18px
    border: 1px solid $debat-dark-grey
    border-radius: 2px
    cursor: pointer

  .check-label-text
    display: flex
    align-self: center
    position: relative
    cursor: pointer
    padding: 0.5rem 1.5rem 0.5rem 0.5rem

  .check-label
    margin: 0
    display: inline-flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: center

input[type="radio"]:checked,
input[type="radio"]:not(:checked)
  position: absolute
  left: -9999px

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
  position: relative
  padding-left: 28px
  cursor: pointer
  line-height: 20px
  display: inline-block
  margin-right: 15px
  margin-left: 0
  margin-bottom: 10px

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before
  content: ''
  position: absolute
  left: 0
  top: 0
  width: 16px
  height: 16px
  border: 1px solid $debat-grey
  border-radius: 100%

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after
  content: ''
  width: 8px
  height: 8px
  background: $debat-orange
  position: absolute
  top: 4px
  left: 4px
  border-radius: 100%
  -webkit-transition: all 0.2s ease
  transition: all 0.2s ease

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before
  border: 1px solid #ebebeb

[type="radio"]:disabled:checked + label:after,
[type="radio"]:disabled:not(:checked) + label:after
  background: #ebebeb

[type="radio"]:not(:checked) + label:after
  opacity: 0
  -webkit-transform: scale(0)
  transform: scale(0)

[type="radio"]:checked + label:after
  opacity: 1
  -webkit-transform: scale(1)
  transform: scale(1)

[type="radio"]:checked + label:before
  border: 2px solid $debat-orange

[type="radio"]:checked:disabled + label:before
  border: 2px solid #ebebeb


.switch
  height: 3rem
  overflow: hidden
  width: 4.2rem
  position: relative
  display: inline-block
  margin: -0.5rem 0 0 0
  padding: 0

  .switch-label
    width: 100%
    font-size: 0.5rem
    text-transform: uppercase
    text-align: center
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    color: #999
    position: absolute
    bottom: 0
    left: 0
    right: 0

  input.toggle
    visibility: hidden

  input.toggle + label
    width: 4rem
    border-radius: 4rem
    visibility: visible

  input.toggle + label:hover
    cursor: pointer

  input.toggle:disabled + label:before
    background-color: rgba(0, 0, 0, 0.1)

  input.toggle:disabled + label:before.dark, .dark input.toggle:disabled + label:before
    background-color: rgba(255, 255, 255, 0.075)

  input.toggle:disabled + label:after
    background-color: #F5F5F5
    box-shadow: 0 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.2)

  input.toggle:disabled + label:after.dark, .dark input.toggle:disabled + label:after
    background-color: #464646

  input.toggle + label:before,
  input.toggle + label:after
    display: block
    position: absolute
    top: 0
    left: 0
    bottom: 0
    content: ""

  input.toggle + label:before
    right: 1rem
    left: 0.5rem
    top: 0.8rem
    bottom: 1.8rem
    border-radius: 5rem
    height: 1rem
    transition: background 0.3s
    background-color: rgba(0, 0, 0, 0.2)

  input.toggle + label:before.dark, .dark input.toggle + label:before
    background-color: rgba(255, 255, 255, 0.2)

  input.toggle + label:after
    width: 1.6rem
    height: 1.6rem
    top: 0.5rem
    left: 0.3rem
    background-color: #F3F3F3
    border-radius: 100%
    box-shadow: 0 0.1rem 0.25rem 0rem rgba(0, 0, 0, 0.3)
    -webkit-transition: all 0.3s cubic-bezier(0.915, 0.01, 0.075, 0.995)
    -moz-transition: all 0.3s cubic-bezier(0.915, 0.01, 0.075, 0.995)
    -o-transition: all 0.3s cubic-bezier(0.915, 0.01, 0.075, 0.995)
    transition: all 0.3s cubic-bezier(0.915, 0.01, 0.075, 0.995)

  input.toggle + label:after.dark, .dark input.toggle + label:after
    background-color: #b4b4b4

  input.toggle:checked + label:before
    background-color: rgba(251, 102, 0, 0.51)
    opacity: 0.5

  input.toggle:checked + label:after
    background-color: #FB6600
    margin-left: 1.5rem
    box-shadow: none

select
  border-radius: 4px
  color: $debat-blue
  font-size: 0.8rem
  padding-left: 1.2rem
  background: #FFFFFF url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiM2OTY5NjkiLz4KICA8L2c+Cjwvc3ZnPgo=) no-repeat right 0.5rem center
  background-size: 10px

.widget-file-uploader
  input[type=file]
    display: none

  .file-container
    .file-information
      text-align: left

    .file-icons
      font-size: 40px

    .download-button
      font-size: 20px

    .delete-button
      padding-top: 12px

    .fa
      font-size: 40px

    .fi
      &.flaticon-check
        text-align: center
        font-size: 30px

      &.flaticon-close-button
        font-size: 15px

.time-field select
  width: auto
  display: inline-block

/* ---- HEADERS ---- */

h5
  padding-bottom: 0.5rem
  font-weight: 500
  font-family: $montserrat

/* ---- BUTTONS ---- */

.edit-button, .remove-button, .up-button, .down-button
  color: $debat-orange
  margin-bottom: 7px

  span.fi
    border: 1px solid $debat-light-grey
    padding: 0.2rem 0.4rem
    border-radius: 3px

  &.active
    span.fi
      background-color: $debat-orange
      border-color: $debat-orange
      color: #FFFFFF

  &:hover
    cursor: pointer
    color: $debat-orange

    & span.fi
      color: #FFFFFF
      background-color: $debat-orange
      border-color: $debat-orange

.delete-button
  color: $debat-grey

  span
    padding: 0.3rem 0.3rem
    border-radius: 3px

  &:hover
    cursor: pointer
    color: $debat-red

.button
  background-color: $debat-orange
  border-radius: 0.2rem
  line-height: 0.4rem

  &:hover
    background-color: $debat-dark-orange

  &:focus
    background-color: $debat-orange
    outline: none

  &.debat-blue:focus
    background-color: $debat-blue

  &.disabled, &:disabled
    background-color: $debat-orange

    &:hover
      background-color: $debat-orange

    &.success
      background-color: $debat-green

  &.hollow
    color: $debat-orange
    border-color: #a0a0a0

    &:hover
      color: $debat-dark-orange
      border-color: $debat-dark-orange

/* ---- TABLE ---- */

table
  border-collapse: collapse
  margin-bottom: 2.5rem
  font-size: 0.8rem

  thead
    background-color: #FFFFFF
    border: none

    tr.table-row
      td
        font-weight: 600
        padding: 1.5rem 2rem 1rem 2rem
        border-bottom: solid 1px $debat-light-grey

  tbody
    border: none

    tr:nth-child(even)
      background-color: #FFFFFF

    td
      padding: 1rem 2rem


/* ---- MODALS ---- */

.reveal
  font-family: $montserrat
  font-size: 0.8rem

  h5
    padding-top: 1rem
    font-size: 1rem

  form
    padding-top: 0

  input, select, textarea, label
    font-family: $montserrat
    font-size: 0.8rem

  select
    color: #000000

  .footer
    padding-top: 1.5rem

/* ---- PUBLIC PAGES ---- */

.widget-file-upload
  .file-information
    flex-grow: 1
    padding-left: 0
    padding-right: 0

/* ---- PUBLIC PAGES ---- */

.public-menu
  width: 100%
  background-color: #FFFFFF

.logo-container
  padding-top: 1rem
  padding-bottom: 1rem

  img
    width: 10rem

.page-banner
  margin-bottom: 4rem

.success-page-container,
.expired-page-container
  .flaticon-check
    font-size: 100px
    color: $debat-green

  .flaticon-circle-1
    font-size: 100px
    color: $debat-orange


/* ---- ERRORS ---- */

label.error
  font-size: 12px
  margin-bottom: 5px
  color: $debat-red

input.error
  border-color: $debat-red
  margin-bottom: 5px



/* ---- MISC. ---- */

.text-success
  font-size: 0.9rem
  color: #22bb5b

.text-warning
  font-size: 0.9rem
  color: #ffae00

.text-danger
  font-size: 0.9rem
  color: #cc4b37

.no-left-padding
  padding-left: 0 !important

.no-right-padding
  padding-right: 0 !important

.reveal:focus
  outline: none

.debat-blue
  background-color: $debat-blue

.debat-orange
  background-color: $debat-orange

pre
  font-family: $montserrat
  font-weight: 400
  white-space: pre-wrap
  word-wrap: break-word
