{% extends "backoffice/base.html" %}
{% load sass_tags has_group %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'education/sass/style.sass' %}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-3 column">
      <label for="id_trainer">Trainer</label>
      {% if user|has_permission:"Can see all learning goals" %}
        <select id="id_trainer" name="trainer" title>
          {% for user in users %}
            <option value="{{ user.pk }}" {% if selected_user == user %}selected{% endif %}>{{ user.get_full_name }}</option>
          {% endfor %}
        </select>
      {% else %}
        <select title disabled>
          <option>{{ request.user.get_full_name }}</option>
        </select>
      {% endif %}
    </div>
    <div class="large-2 column text-right">
      {% if user|has_permission:"Can edit all learning goals" %}
        <br>
        <button name="btn-open-modal" class="debat-orange small button" data-url="{% url 'education:create' %}?{{ request.GET.urlencode }}">
          <span class="fi flaticon-signs"></span>
          Toevoegen
        </button>
      {% endif %}
    </div>
  </div>

  <br>

  <div class="row column">
    <h5>OPLEIDINGSDASHBOARD</h5>
    <table>
      <thead>
      <tr class="table-row">
        <td></td>
        <td>VOLGORDE</td>
        <td>LEERDOEL</td>
        <td>OMSCHRIJVING</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      {% for learning_goal in object_list %}
        <tr>
          <td>
              <div class="checkbox">
                {% if user|has_permission:"Can edit all learning goals" %}
                  <input type="checkbox" id="id_finished_by-{{ learning_goal.pk }}" name="finished_by"
                          {% if selected_user in learning_goal.finished_by.all %} checked {% endif %}
                         data-url="{% url "education:update-finished-by" learning_goal.pk %}"/>
                {% else %}
                  <input type="checkbox" id="id_finished_by-{{ learning_goal.pk }}" disabled
                          {% if selected_user in learning_goal.finished_by.all %} checked {% endif %}/>
                {% endif %}
                <label for="id_finished_by-{{ learning_goal.pk }}" class="check-label">
                  <span class="check-label-box"></span>
                </label>
              </div>
          </td>
          <td>{{ learning_goal.order }}</td>
          <td>{{ learning_goal.name }}</td>
          <td width="600">{{ learning_goal.description }}</td>
          <td class="text-right">
            {% if user|has_permission:"Can edit all learning goals" %}
              <button name="btn-open-modal" class="debat-orange small hollow button" data-url="{% url 'education:update' learning_goal.pk %}?{{ request.GET.urlencode }}">
                Bewerken
              </button>
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5" class="text-center">Er zijn geen leerdoelen ingesteld.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'common/widgets/widget-modal.html' %}

  <script>
    $(function () {
      {% if user|has_permission:"Can see all learning goals" %}
        $('#id_trainer').on('change', function () {
          var value = $(this).val();
          window.location.href = '{{ request.path }}?user=' + value;
        });
      {% endif %}

      {% if user|has_permission:"Can edit all learning goals" %}
        $('input[name=finished_by]').on('change', function () {
          var url = $(this).data('url');
          var action = $(this).is(":checked") ? 'ADD' : 'REMOVE';
          var data = {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "user": "{{ selected_user.pk }}",
            "action": action
          };
          $.post(url, data);
        });
      {% endif %}
    })
  </script>
{% endblock %}
