<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h5>OPLEIDING</h5>
</div>

<form action="{{ request.path }}?{{ request.GET.urlencode }}" method="post">
  {% csrf_token %}

  <div class="row column">
    <label for="{{ form.position.id_for_label }}">
      Voor welke functie wil je een leerdoel toevoegen?<span class="required">*</span>
    </label>
  </div>
  <div class="row">
    <div class="large-4 column">
      {{ form.position}}
    </div>
  </div>

  <div class="row column">
    <label for="{{ form.name.id_for_label }}">
      Titel<span class="required">*</span>
      {{ form.name }}
    </label>
  </div>

  <div class="row column">
    <label for="{{ form.description.id_for_label }}">
      Omschrijving<span class="required">*</span>
      {{ form.description }}
    </label>
  </div>

  <div class="row">
    <div class="large-4 column">
      <label for="{{ form.order.id_for_label }}">
        Volgorde<span class="required">*</span>
        {{ form.order }}
      </label>
    </div>
  </div>

  <div class="row footer">
    <div class="large-offset-6 large-3 no-left-padding column">
      <a class="small expanded debat-blue button" data-close> Annuleren </a>
    </div>
    <div class="large-3 no-left-padding column">
      <input type="submit" class="small debat-orange expanded button" value="Opslaan">
    </div>
  </div>
</form>
