{% extends 'offers/public/base.html' %}
{% load static %}

{% block content %}
    <div class="page-banner">
        <img class="full-bg" src="{% static 'offers/img/banner-presentation.jpg' %}" alt="">
    </div>

    {% if status == "SUCCESSFUL" %}
        <div class="success-page-container">
            <div class="large-5 large-centered text-center">
                <span class="fi flaticon-circle-2"></span>
                <h2> Bedankt voor het uploaden van de offerte!</h2>
            </div>
        </div>
    {% else %}
        <div class="column">
            <form action="{% url 'offers:upload' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ email }}">
                <input type="hidden" name="token" value="{{ token }}">

                <div class="row columns">
                    <div class="large-offset-2">
                        <h5> OFFERTE </h5>
                    </div>
                </div>

                {% include 'offers/public/upload-offer/upload-button.html' with pk=offer.id %}

                <div class="large-offset-2">
                    <div class="row form-submission-row" hidden>
                        <div class="large-offset-4 large-2 column">
                            <input type="submit" class="expanded button" value="Verzenden">
                        </div>
                    </div>
                </div>
            </form>
            <footer></footer>
        </div>

        <script>
            $(function() {
              $('section#file-attribute-{{ offer.id }}').on('change keyup', function() {
                  var $fileName = $('#file-name-{{ offer.id}}');
                  var $fileYear = $('#file-year-{{ offer.id }}');
                  var $submissionRow = $(".form-submission-row");

                  if($fileName.val() !== '' && $fileYear.val() !== '') {
                    $submissionRow.show();
                  } else {
                    $submissionRow.hide();
                  }

              });
            });
        </script>
    {% endif %}
{% endblock %}
