<section class="checklist-container">
    <div class="large-offset-2">
        <div class="row">
            <div class="large-8 columns">
                <label class="text-left middle">1. Is de juiste foto gebruikt?</label>
            </div>
            <div class="large-4 columns">
                <div class="switch">
                  <input id="toggle1-{{ pk }}" type="checkbox" class="toggle checkbox-{{ pk }}" title required>
                  <label class="toggle-switch" for="toggle1-{{ pk }}"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <label class="text-left middle">2. Klopt de datum op het voorblad?</label>
            </div>
            <div class="large-4 columns">
                <div class="switch">
                  <input id="toggle2-{{ pk }}" type="checkbox" class="toggle checkbox-{{ pk }}" title required>
                  <label class="toggle-switch" for="toggle2-{{ pk }}"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <label class="text-left middle">3. Is de regelafstand 1,3?</label>
            </div>
            <div class="large-4 columns">
                <div class="switch">
                  <input id="toggle3-{{ pk }}" type="checkbox" class="toggle checkbox-{{ pk }}" title required>
                  <label class="toggle-switch" for="toggle3-{{ pk }}"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <label class="text-left middle">4. Is het lettertype Calibri 12?</label>
            </div>
            <div class="large-4 columns">
                <div class="switch">
                  <input id="toggle4-{{ pk }}" type="checkbox" class="toggle checkbox-{{ pk }}" title required>
                  <label class="toggle-switch" for="toggle4-{{ pk }}"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <label class="text-left middle">5. Heb je een spellingscheck gedaan?</label>
            </div>
            <div class="large-4 columns">
                <div class="switch">
                  <input id="toggle5-{{ pk }}" type="checkbox" class="toggle checkbox-{{ pk }}" title required>
                  <label class="toggle-switch" for="toggle5-{{ pk }}"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <label class="text-left middle">6. Zijn de koppen oranje en de tekst blauw?</label>
            </div>
            <div class="large-4 columns">
                <div class="switch">
                  <input id="toggle6-{{ pk }}" type="checkbox" class="toggle checkbox-{{ pk }}" title required>
                  <label class="toggle-switch" for="toggle6-{{ pk }}"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 columns">
                <label class="text-left middle">7.  Is het een Word document?</label>
            </div>
            <div class="large-4 columns">
                <div class="switch">
                  <input id="toggle7-{{ pk }}" type="checkbox" class="toggle checkbox-{{ pk }}" title required>
                  <label class="toggle-switch" for="toggle7-{{ pk }}"></label>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="file-attribute-{{ pk }}" hidden>
    <hr>
    <div class="large-offset-2">

        <h5> UPLOADEN OFFERTE </h5>

        <div class="row">
          <div class="large-6 columns">
            <label for="file-name-{{ pk }}">Naam map</label>
            <input type="text" id="file-name-{{ pk }}" name="file_location_name">
          </div>
        </div>

        <div class="row">
          <div class="large-6 columns">
            <label for="file-name-{{ pk }}">Jaartal map</label>
            <input type="text" id="file-year-{{ pk }}" name="file_location_year">
          </div>
        </div>
    </div>
</section>

<script>
    $(function() {
        $(".checkbox-{{ pk }}").change(function(){
            var $fileSection = $('section#file-attribute-{{ pk }}');
            var $submissionRow = $('.form-submission-row');

            if($(".checkbox-{{ pk }}").not(':checked').length === 0) {
                $fileSection.show();
            } else {
                $fileSection.hide();
                $submissionRow.hide();
                $('#file-name-{{ pk }}').val('');
                $('#file-year-{{ pk }}').val('');
            }
        });
    });
</script>
