{% load static %}
{% load sass_tags %}
{% load assets %}
{% load raven %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Debat.NL – Back-Office</title>

  {# BASE STYLESHEETS #}
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'backoffice/sass/style.sass' %}">

  {# BASE JAVASCRIPT #}
  <script>Raven.config('{% sentry_public_dsn %}').install()</script>
  <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/foundation.min.js' %}"></script>
</head>

<body>
  <div class="header">
    <div class="row column">
      {# LOGO #}
      <div class="logo-container">
        <img src="{% static 'img/logo.png' %}">
      </div>
    </div>
  </div>

  <div class="row column">
    <div class="page-banner">
      <img class="full-bg" src="{% static 'img/banner-presentation.jpg' %}" alt="">
    </div>
  </div>

  <div class="row">
    <div class="success-page-container">
      <div class="large-5 large-centered text-center">
        <span class="fi flaticon-check"></span>
        <h5> Dank voor het invoeren. </h5>
      </div>
    </div>
  </div>
</body>
