{% extends 'common/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Olaf heeft zojuist een verlofaanvraag binnen gekregen. Het gaat om de volgende aanvraag:
        <ul>
          <li style="font-size: 14px; line-height: 14px;">
            Datum van: {{vacation_period.start_date|date:'d-m-Y' }}
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            Datum t/m: {{vacation_period.end_date|date:'d-m-Y' }}
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            Betaald verlof: {% if vacation_period.type == vacation_period.PAID %} Ja {% else %} Nee {% endif %}
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            Totaal aantal uur verlof: {{ vacation_period.amount_hours }}
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            Reden van het verlof: {{ vacation_period.reason }}
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Geeft hieronder aan of deze wel of niet akkoord is:
      </p>
    </div>
  </div>

  {% with approval_url=url|add:'?status=APPROVED' denied_url=url|add:'?status=DENIED' %}
    {% include "common/emails/button.html" with button_url=approval_url button_value="Wel akkoord" %}
    {% include "common/emails/button.html" with button_url=denied_url button_value="Niet akkoord" %}

    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
      <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
        <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Knoppen werkt niet?</b></p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">Als je niet op de bovenstaande knoppen kunt klikken, kopieer en plak de gepaste link in je browser.<br></p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">
          Wel Akkoord: <a href="{{ approval_url }}" target="_blank">{{ approval_url }}</a>
        </p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">
          Niet Akkoord: <a href="{{ denied_url }}" target="_blank">{{ denied_url }}</a></p>
        <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      </div>
    </div>
  {% endwith %}

{% endblock %}
