{% extends 'common/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste heer/mevrouw,</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Graag geven wij de afwezigheid van de volgende persoon door:
        <ul>
          <li style="font-size: 14px; line-height: 14px;">
            Naam: {{ vacation_period.user.get_full_name }}
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            Datum van: {{vacation_period.start_date|date:'d-m-Y' }}
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            Datum t/m: {{vacation_period.end_date|date:'d-m-Y' }}
          </li>
        </ul>
      </p>
    </div>
  </div>
{% endblock %}
