{% extends 'common/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }} {{ email_obj.recipient.last_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        De volgende verlofaanvraag is zojuist goedgekeurd.
        <ul>
          <li style="font-size: 14px; line-height: 14px;">
            Datum van: {{vacation_period.start_date|date:'d-m-Y' }}
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            Datum t/m: {{vacation_period.end_date|date:'d-m-Y' }}
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            Betaald verlof: {% if vacation_period.type == vacation_period.PAID %} Ja {% else %} Nee {% endif %}
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            Totaal aantal uur verlof: {{ vacation_period.amount_hours }}
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            Reden van het verlof: {{ vacation_period.reason }}
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Vergeet deze niet op het declaratieformulier in te vullen van deze maand. Ook als het verlof over een andere maand gaat, vul je het zo snel mogelijk in. Zo hebben we een actueel saldo van je verlofopbouw.
      </p>
    </div>
  </div>
{% endblock %}
