{% load planning_tags %}

<h5 class="table-heading">NIET BESCHIKBAAR</h5>
<table id="absence-schedule-table" class="delivery-overview-table table">
  <thead>
  <tr>
    <th>OFFERTESCHRIJVER</th>
    <th>NIET BESCHIKBAAR VANAF</th>
    <th>NIET BESCHIKBAAR T/M</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for schedule in absence_schedules %}
    <tr>
      <td>{{ schedule.employee.get_full_name }}</td>
      <td>{{ schedule.start_date|date:'d-m-Y' }}</td>
      <td>{{ schedule.end_date|date:'d-m-Y' }}</td>
      <td width="400" class="text-right">
        <button name="btn-absence-schedule" class="button hollow" data-url="{% url 'offers:update-absence-schedule' schedule.pk %}">Wijzigen</button>
        <button name="btn-absence-schedule" class="button hollow" data-url="{% url 'offers:delete-absence-schedule' schedule.pk %}">Verwijderen</button>
      </td>
    </tr>
  {% empty %}
    <tr class="empty-row">
      <td colspan="4" class="text-center">
        Er is nog geen beschikbaarheid doorgegeven.
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
