<section>
    <H5>OFFERTES AFGEROND</H5>

    <table>
        <thead>
            <tr class="table-row">
                <td>ORGANISATIE</td>
                <td>DELIVERY RESPONSIBLE</td>
                <td>WERKDAGEN VOOR AFRONDING</td>
                <td>AFGEROND OP</td>
                <td>DETAILS</td>
            </tr>
        </thead>
        <tbody>
        {% for offer in finished_offers %}
            <tr>
                <td>{{ offer.organization }}</td>
                <td>{{ offer.delivery_responsible_name }}</td>
                <td>{{ offer.finished_time }}</td>
                <td>{{ offer.finished_at|date:'d-m-Y' }}</td>
                <td width="175">
                    <a class="link" data-id="{{ offer.id }}">Toon details</a>
                </td>
            </tr>
            <tr id="details-{{ offer.id }}" class="details-row" hidden>
               {% include 'offers/components/sections/offer-details.html' with offer=offer columns=5 %}
            </tr>
        {% empty %}
            <tr>
                <td class="text-center" colspan="5">Er zijn geen afgeronde offertes.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>