<section>
    <H5>OFFERTES LOPEND</H5>

    <table>
        <thead>
            <tr class="table-row">
                <td></td>
                <td>ORGANISATIE</td>
                <td>DELIVERY RESPONSIBLE</td>
                <td>OFFERTEVERANTWOORDELIJKE</td>
                <td>WERKDAGEN SINDS AANVRAAG</td>
                <td>DETAILS</td>
            </tr>
        </thead>
        <tbody>
        {% for offer in ongoing_offers %}
            <tr>
                <td width="150">
                    <a name="offer-option" class="edit-button" data-url="{% url 'offers:update' pk=offer.id %}">
                        <span class="fi flaticon-pencil"></span>
                    </a>
                    <a name="offer-option" class="remove-button" data-url="{% url 'offers:delete' pk=offer.id %}" data-size="tiny">
                        <span class="fi flaticon-close-button"></span>
                    </a>
                </td>
                <td>{{ offer.organization }}</td>
                <td>{{ offer.delivery_responsible_name }}</td>
                <td>{{ offer.editor.first_name }} {{ offer.editor.last_name }}</td>
                <td>{{ offer.lead_time }}</td>
                <td width="175">
                    <a class="link" data-id="{{ offer.id }}">Toon details</a>
                </td>
            </tr>
            <tr id="details-{{ offer.id }}" class="details-row" hidden>
                {% include 'offers/components/sections/offer-details.html' with offer=offer columns=6 %}
            </tr>
        {% empty %}
            <tr>
                <td class="text-center" colspan="6">Er zijn geen lopende offertes.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>