{% extends "backoffice/base.html" %}
{% load sass_tags %}
{% load static %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'debatnl_mobile/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-themes/jquery-ui.min.css' %}">
{% endblock %}

{% block custom-javascript %}
  <script type="application/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'tinymce/jquery.tinymce.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'jqueryui/jquery-ui.js' %}"></script>
  <script type="application/javascript" src="{% static '@vimeo/player/dist/player.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'backoffice/js/datepicker-nl.js' %}"></script>
{% endblock %}

{% block content %}
  <!-- Check for API connection -->
  {% if not api_connection %}
  <div class="row column">
    {% include 'debatnl_mobile/components/api_callout.html' %}
  </div>
  {% else %}
    {% block overview %}
    {% endblock %}
  {% endif %}

  <!-- Common Modal Widget -->
  {% include 'common/widgets/widget-modal.html' with id='form-modal' %}

  <script>
    $(function(){
      $('#modal-container-form-modal').on('closed.zf.reveal', function(){
        $('#modal-container-feedback-modal').parent('.reveal-overlay').remove();
      });
    });
  </script>
{% endblock %}
