{% extends 'debatnl_mobile/base.html' %}

{% block overview %}
  <div class="row large-12">
    <h2 class="text-center">{{ training.name|upper }}</h2>
  </div>
  <br>

  <!-- Challenge Overview -->
  <div class="row">
    <div class="large-4 column">
      <a href="{% url 'debatnl_mobile:training-overview' training.organization %}" class="back-btn debat-blue small button" id="back-btn"><span class="fa fa-arrow-left"></span> Terug </a> </div>
  </div>

  <div class="row">
    <div class="large-4 column">
      <a name="btn-open-modal" class="debat-orange small button modal-btn" id="add-challenge-btn" data-url="{% url 'debatnl_mobile:challenge-create' training_id %}"><span class="fi flaticon-signs"></span> Maak challenge aan</a>
    </div>
  </div>

  <div class="row column">
    <h4 class="headings table-headings">CHALLENGES</h4>
  </div>

  <div class="row column">
    <table id="challenge-table" class="table">
      <thead>
      <tr>
        <th>NAAM CHALLENGE</th>
        <th class="text-center">VOLGORDE</th>
        <th class="text-center">START DATUM</th>
        <th class="text-center">EIND DATUM</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for challenge in challenge_list %}
        <tr>
          <td>{{ challenge.title }}</td>
          <td class="text-center">{{ challenge.order }}</td>
          <td class="text-center dates" data-date="{{ challenge.start_date }}"></td>
          <td class="text-center dates" data-date="{{ challenge.end_date }}"></td>
          <td class="text-right">
            <a name="btn-open-modal" class="button hollow update-modal-btn" data-url="{% url 'debatnl_mobile:challenge-update' training_id challenge.id %}">Bewerken</a>
            <a name="btn-open-modal" class="button hollow delete-modal-btn" data-url="{% url 'debatnl_mobile:challenge-delete' training_id challenge.id %}">Verwijderen</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5" class="text-center">Er zijn geen challenge.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <br>

  <!-- Participant Overview -->
  <div class="row">
    <div class="large-4 column">
      <a name="btn-open-modal" class="debat-orange small button modal-btn" id="add-participant-modal" data-url="{% url 'debatnl_mobile:participant-create' training_id %}">
        <span class="fi flaticon-signs"></span> Voeg deelnemer toe
      </a>
    </div>
  </div>

  <div class="row column">
    <h4 class="headings table-headings" id="participant-overview">DEELNEMERS</h4>
  </div>

  <div class="row column">
    <table id="participant-table" class="table">
      <thead>
      <tr>
        <th class="badge-column"></th>
        <th>NAAM</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for participant in participant_list %}
        <tr>
          <td class="badge-column">
            {% if participant.profile.pending_submissions > 0 %}
              <span class="badge alert">{{ participant.profile.pending_submissions }}</span>
            {% endif %}
          </td>
          <td>{{ participant.first_name }} {{ participant.last_name }}</td>
          <td class="text-right">
            <a name="btn-open-modal" class="button hollow detail-modal-btn" data-url="{% url 'debatnl_mobile:participant-detail' training_id participant.id %}">Bekijken</a>
            <a name="btn-open-modal" class="button hollow update-modal-btn" data-url="{% url 'debatnl_mobile:participant-update' training_id participant.id %}">Bewerken</a>
            <a name="btn-open-modal" class="button hollow delete-modal-btn" data-url="{% url 'debatnl_mobile:participant-delete' training_id participant.id %}">Verwijderen</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3" class="text-center">Er zijn geen deelnemer.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    $(function(){
      $('.dates').each(function(){
        var formattedDate = moment($(this).data('date'));
        if (formattedDate.isValid()) {
          $(this).text(formattedDate.format('DD-MM-YYYY'));
        }
      });
    });
  </script>
{% endblock %}
