{% extends 'debatnl_mobile/base.html' %}

{% block overview %}
  <div class="row">
    <div class="large-4 column">
      <a name="btn-open-modal" id="add-modal-btn" class="debat-orange small button modal-btn" data-url="{% url 'debatnl_mobile:organization-create' %}"><span class="fi flaticon-signs"></span> Voeg opdrachtgever toe</a>
    </div>
  </div>

  <div class="row column">
    <h4 class="headings table-headings">OPDRACHTGEVER</h4>
  </div>

  <div class="row column">
    <table id="organization-table" class="table">
      <thead>
      <tr>
        <th>NAAM</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for organization in organization_list %}
        <tr>
          <td>{{ organization.name }}</td>
          <td class="text-right">
            <a href="{% url 'debatnl_mobile:training-overview' organization.id %}" class="button hollow detail-modal-btn">Bekijken</a>
            <a name="btn-open-modal" class="button hollow update-modal-btn" data-url="{% url 'debatnl_mobile:organization-update' organization.id %}">Bewerken</a>
            <a name="btn-open-modal" class="button hollow delete-modal-btn" data-url="{% url 'debatnl_mobile:organization-delete' organization.id %}">Verwijderen</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="text-center">Er zijn geen organisation.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
