{% extends 'debatnl_mobile/base.html' %}

{% block overview %}
  <div class="row">
    <div class="large-4 column">
      <a href="{% url 'debatnl_mobile:organization-overview' %}" class="debat-blue small button" id="back-btn"><span class="fa fa-arrow-left"></span> Terug </a>
    </div>
  </div>

  <div class="row">
    <div class="large-4 column">
      <a name="btn-open-modal" class="debat-orange small button modal-btn" id="add-modal-btn" data-url="{% url 'debatnl_mobile:training-create' organization_id %}"><span class="fi flaticon-signs"></span> Voeg training toe</a>
    </div>
  </div>

  <div class="row column">
    <h4 class="headings table-headings">TRAININGEN</h4>
  </div>

  <div class="row column">
    <table id="organization-table" class="table">
      <thead>
      <tr>
        <th>NAAM</th>
        <th>START DATUM</th>
        <th>TRAINER</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for training in training_list %}
        <tr>
          <td>{{ training.name }}</td>
          <td class="training-dates" data-date="{{ training.date }}"></td>
          <td>{{ training.trainer_name }}</td>
          <td class="text-right">
            <a href="{% url 'debatnl_mobile:challenge-overview' training.id %}" class="button hollow detail-modal-btn">Bekijken</a>
            <a name="btn-open-modal" class="button hollow update-modal-btn" data-url="{% url 'debatnl_mobile:training-update' organization_id training.id %}">Bewerken</a>
            <a name="btn-open-modal" class="button hollow delete-modal-btn" data-url="{% url 'debatnl_mobile:training-delete' organization_id training.id %}">Verwijderen</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="text-center">Er zijn geen training.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    $(function(){
      $('.training-dates').each(function(){
        var formattedDate = moment($(this).data('date'));
        if (formattedDate.isValid())
          $(this).text(formattedDate.format('DD-MM-YYYY'));
      });
    });
  </script>
{% endblock %}
