@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

h3.page-title
  margin-bottom: 25px

table
  thead tr.table-row,
  tbody
    td
      padding: 15px

  thead tr.users-row
    height: 70px

  .table-row td
    border-bottom: solid 1px $debat-blue !important

  .button
    margin-bottom: 0

    &:hover
      background-color: $debat-orange !important
      color: #FFFFFF !important
      border-color: $debat-orange !important

#table-email-templates
  width: 100%
  word-wrap: break-word
  table-layout: fixed

  tbody td
    vertical-align: top

  .cell-title
    font-weight: 600 !important

#form-email-template
  textarea
    margin-bottom: 0

#table-email-templates,
#form-email-template
  .table-row .button
    font-weight: 400
