    /*
    Flaticon icon font: Flaticon
    Creation date: 01/07/2017 15:15
    */

    @font-face {
  font-family: "Flaticon";
  src: url("../../fonts/Flaticon.eot");
  src: url("../../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../../fonts/Flaticon.woff") format("woff"),
       url("../../fonts/Flaticon.ttf") format("truetype"),
       url("../../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

  .flaticon-caret-arrow-up:before { content: "\f100"; }
  .flaticon-caret-down:before { content: "\f101"; }
  .flaticon-check:before { content: "\f102"; }
  .flaticon-close-button:before { content: "\f103"; }
  .flaticon-pencil:before { content: "\f104"; }
  .flaticon-circle-2:before { content: "\f105"; }
  .flaticon-question-in-circular-button:before { content: "\f106"; }
  .flaticon-new-email-outline:before { content: "\f107"; }
  .flaticon-circle-1:before { content: "\f108"; }
  .flaticon-circle:before { content: "\f109"; }
  .flaticon-star:before { content: "\f10a"; }
  .flaticon-user:before { content: "\f10b"; }
  .flaticon-locked:before { content: "\f10c"; }
  .flaticon-time:before { content: "\f10d"; }
  .flaticon-signs:before { content: "\f10e"; }
  .flaticon-round-remove-button:before { content: "\f10f"; }

  $font-Flaticon-caret-arrow-up: "\f100";
  $font-Flaticon-caret-down: "\f101";
  $font-Flaticon-check: "\f102";
  $font-Flaticon-close-button: "\f103";
  $font-Flaticon-pencil: "\f104";
  $font-Flaticon-circle-2: "\f105";
  $font-Flaticon-question-in-circular-button: "\f106";
  $font-Flaticon-new-email-outline: "\f107";
  $font-Flaticon-circle-1: "\f108";
  $font-Flaticon-circle: "\f109";
  $font-Flaticon-star: "\f10a";
  $font-Flaticon-user: "\f10b";
  $font-Flaticon-locked: "\f10c";
  $font-Flaticon-time: "\f10d";
  $font-Flaticon-signs: "\f10e";
  $font-Flaticon-round-remove-button: "\f10f";