{% extends "admin/change_form.html" %}
{% block object-tools-items %}
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_new_scan_email' pk=original.pk %}" class="grp-state-focus">
      Send New Scan E-mail
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_upload_email' pk=original.pk %}" class="grp-state-focus">
      Send Upload Trainer Confirmation E-mail
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_dr_upload_email' pk=original.pk %}" class="grp-state-focus">
      Send Upload DR Notification E-mail
    </a>
  </li>

  {% if original.reviews.exists %}
  <li style="float: none; margin-bottom: 15px">
      <a href="{% url 'admin:send_scan_denied_email' pk=original.pk %}" class="grp-state-focus">
          Send Scan Denied E-mail
      </a>
  </li>
  {% endif %}

  <li style="float: none; margin-bottom: 15px">
      <a href="{% url 'admin:send_scan_approved_email' pk=original.pk %}" class="grp-state-focus">
          Send Scan Approved E-mail
      </a>
  </li>

  <li style="float: none; margin-bottom: 15px">
      <a href="{% url 'admin:send_submission_reminder_email' pk=original.pk %}" class="grp-state-focus">
          Send Trainer Scan Submission Reminder
      </a>
  </li>

  <li style="float: none; margin-bottom: 15px">
      <a href="{% url 'admin:send_scan_review_reminder_email' pk=original.pk %}" class="grp-state-focus">
          Send Trainer Scan Review Reminder
      </a>
  </li>
  {{ block.super }}
{% endblock %}
