<div class="reveal" data-reveal id="notification-warning-modal" data-close-on-click="false" data-multiple-opened="true">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="row column">
    <div class="modal-body">
      <span>Let op:</span> Aantal aangevinkte trainers is niet gelijk aan het aantal gevraagde trainers.
      <br>
    </div>
  </div>

  <div class="row button-row">
    <div class="large-offset-8 large-4 column">
      <button class="small expanded debat-orange button" data-close>Ok</button>
    </div>
  </div><!-- /.row -->
</div>
