@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

a.hollow
  background-color: transparent
  -webkit-appearance: none

.table-outline
  border: 1px solid $debat-light-grey

  thead
    border-bottom: 1px solid $debat-light-grey

    th
      color: $debat-blue
      font-weight: normal

.table-headings
  padding-bottom: 0
  margin-top: 12px

.table
  th
    font-weight: 400
    color: #082F4F
    padding: 1rem 2rem
    border-bottom: 1px solid #ccc

  .button
    margin-bottom: 0
    border-color: #a0a0a0
    color: $debat-orange

    &.hollow
      margin-right: 8px

  .button:hover
    color: #fff
    border-color: $debat-light-grey
    background-color: $debat-orange

#modal-container-form-modal
  form
    label
      color: $debat-blue

    .button-group
      margin-top: 48px
      padding-bottom: 16px

.delete-form
  .modal-body
    padding: 80px 10px
    font-size: 18px
    color: $debat-blue

  .button-row
    padding-top: 16px
    padding-bottom: 16px

#participant-table
  tr
    td, th
      padding-left: 6px

  .badge-column
    padding: 0
    text-align: right !important
    width: 28px

#participant-modal-body
  .form-group
    margin-bottom: 10px

    label
      line-height: 2.2
      color: $debat-blue

    input
      border: none
      border-radius: 2px
      background-color: $debat-light-grey
      line-height: 1.2

  #challenge-submission-table
    thead
      th
        padding: 15px 2px 15px 12px
    tbody
      td
        border-bottom: 1px solid $debat-light-grey
        padding: 8px 2px 8px 12px

        &:last-child
          padding-right: 10px

        .fa
          font-size: 22px
          font-weight: light

#feedback-form-container
  .form-group
    margin-bottom: 10px

    video
      width: 100%

    label
      color: $debat-blue
      line-height: 2.2

  .card
    border: none
    margin-bottom: 10px

    .card-title
      color: $debat-blue
      line-height: 2.2

      .check-icon
        font-size: 18px

    .card-body
      color: #0a0a0a
      border-radius: 2px
      padding: 6px
      background-color: $debat-light-grey

    color: $debat-blue
    line-height: 2.2

    .check-icon
      font-size: 18px


#challenge-form
  .form-group
    margin-bottom: 10px

    label
      color: $debat-blue
      line-height: 2.2

  .file-upload-group
    margin-bottom: 0

    .column
      &:first-of-type
        padding-right: 6px

    .end
      padding-left: 0
      margin-left: 0

    label
      &.button
        color: #fff
        line-height: 1.1

    .file-upload
      display: none

#file-container
  display: none

  .file-information
    padding-left: 12px
    text-align: left

  #file-icon
    font-size: 40px

  #right-column
    text-align: center
    padding-top: 2px

    .flaticon-check
      font-size: 20px

    .flaticon-close-button
      font-size: 18px

