{% extends 'common/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        De volgende scan moet aangepast worden
      </p>

      <ul style="padding-left: 32px; padding-top: 8px; list-style-type: none">
        <li style="font-size: 14px; line-height: 14px;"><span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span> {{ scan.organization }} </li>
        <li style="font-size: 14px; line-height: 14px;"><span style="color: #FB6600; font-size: 22px; font-weight: bold;">&rsaquo;</span> {{ scan.title }} </li>
      </ul>
    </div>
  </div>

  <div style="font-size:14px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left; padding-left: 40px;">
    <p style="margin: 0;font-size: 14px;line-height: 17px">{{ feedback|safe }}</p>
  </div>

  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
       Je kunt het verslag uploaden via de module Scans in Olaf.
      </p>
    </div>
  </div>
{% endblock %}
