{% extends 'common/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        {{ email_obj.scan.organization }} wacht op jouw scan, die is inmiddels verstreken.
        Upload je vandaag nog via Olaf en SharePoint de scan? Dank alvast voor de moeite.
      </p>
    </div>
  </div>
{% endblock %}
