{% extends 'common/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Er zijn zojuist deadlines voor je aangemaakt voor het inleveren van scan(s). Je kunt deze vinden
        in de module “Scans”. Bekijk de deadlines en details en noteer ze. Je kunt ze via deze module ook
        weer uploaden.
      </p>
    </div>
  </div>

  {% include "common/emails/button.html" with button_url=url button_value="Scanmodule openen" %}

  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px; font-weight: 600">
        <span style="color: #FF0000;">Let op:</span> Upload altijd je scan op SharePoint onder “Offerte & Oefenen” en dan de map Scans.
        Maak hier de naam van de klant aan en daarbinnen het jaartal (net als bij offertes).
      </p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        In de bijlage is alvast een template te vinden van een scan.
      </p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        Veel succes met schrijven!
      </p>
    </div>
  </div>
{% endblock %}
