{% extends "backoffice/base.html" %}
{% load sass_tags %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'feedback/sass/base.sass' %}">
{% endblock %}

{% block content %}
  <div class="row filter-container">
      {# FILTER: TRAINERS #}
    <div class="medium-1 column no-right-padding">
      <label class="middle" for="trainers"> Trainer </label>
    </div>

    <div class="medium-2 column no-left-padding">
      <select id="trainers">
        <option value="" selected>Alle</option>

        {% for trainer in object_list %}
          <option value="{{ trainer.id }}">
              {% if trainer.first_name %} {{ trainer.first_name }} {% endif %}
              {% if trainer.middle_name %} {{ trainer.middle_name }} {% endif %}
              {% if trainer.last_name %} {{ trainer.last_name }} {% endif %}
          </option>
        {% endfor %}
      </select>
    </div>

      {# FILTER: TRAINERS #}
    <div class="medium-1 column">
      <label class="text-right middle" for="months"> Maand </label>
    </div>

      {# FILTER: MONTHS #}
    <div class="medium-2 column no-left-padding">
      <select id="months">
        <option value="01"> Januari</option>
        <option value="02"> Februari</option>
        <option value="03"> Maart</option>
        <option value="04"> April</option>
        <option value="05"> Mei</option>
        <option value="06"> Juni</option>
        <option value="07"> Juli</option>
        <option value="08"> Augustus</option>
        <option value="09"> September</option>
        <option value="10"> Oktober</option>
        <option value="11"> November</option>
        <option value="12"> December</option>
      </select>
    </div>

      {# FILTER: YEAR #}
    <div class="medium-1 column">
      <label class="text-right middle" for="years"> Jaar </label>
    </div>
    <div class="medium-2 column no-left-padding end">
      <select id="years">
          {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
      </select>
    </div>
  </div>

    {# SECTION: AVERAGE REVIEW SCORE OVERVIEW #}
  <section id="overview-average-review-score">
    <div class="row">
      <div id="overview-container" class="medium-9 column">
          {% include 'feedback/components/overview-average-review-score.html' %}
      </div>
    </div>
  </section>

    {# SECTION: FEEDBACK TABLE #}
  <section id="tables-feedback">
    <div class="row column">
      <h4>DE FEEDBACK</h4>
    </div>

    <div class="row column">
      <div id="table-container" class="row column"></div>
    </div>
  </section>


  <script type="application/javascript">
      $(function() {
          var monthSelector = $('#months');
          var yearSelector = $('#years');
          var trainerSelector = $('#trainers');

          monthSelector.val(moment().format('MM'));
          yearSelector.val(moment().format('YYYY'));

          trainerSelector.change(function () {
              updateMonthlyAverageScore(trainerSelector.val(), monthSelector.val(), yearSelector.val());
              updateTrainingDays(trainerSelector.val(), monthSelector.val(), yearSelector.val());
          });

          trainerSelector.ready(function () {
              updateMonthlyAverageScore(trainerSelector.val(), monthSelector.val(), yearSelector.val());
              updateTrainingDays(trainerSelector.val(), monthSelector.val(), yearSelector.val());
          });

          monthSelector.change(function () {
              updateMonthlyAverageScore(trainerSelector.val(), monthSelector.val(), yearSelector.val());
              updateTrainingDays(trainerSelector.val(), monthSelector.val(), yearSelector.val());
          });

          yearSelector.change(function () {
              updateMonthlyAverageScore(trainerSelector.val(), monthSelector.val(), yearSelector.val());
              updateTrainingDays(trainerSelector.val(), monthSelector.val(), yearSelector.val());
          });
      });

      function updateMonthlyAverageScore(trainerId, month, year) {
          var url = "{% url 'feedback:overview_monthly_average_review_score' %}?trainer_id=" + trainerId + "&month=" + month + "&year=" + year;
          $.get(url, function (data) {
              $("#average-score").html(data.average_score);
              $("#amount-submissions").html(data.amount_submissions);

              for (var key in data.occurrences) {
                  if (data.occurrences.hasOwnProperty(key)) {
                      var occurence = data.occurrences[key];
                      $("#category-" + key + " .line").css('width', occurence.percentage);
                      $("#category-" + key + " .amount").html(occurence.count);
                  }
              }
          });
      }

      function updateTrainingDays(trainerId, month, year) {
          var url = "{% url 'feedback:tables_feedback' %}?trainer_id=" + trainerId  + "&month=" + month + "&year=" + year;
          $.get(url, function (data) {
              var tableContainer = $("#tables-feedback");
              tableContainer.html('');
              tableContainer.append(data);
          });
      }
  </script>
{% endblock %}
