{% load static %}
{% load sass_tags %}
{% load assets %}

<!DOCTYPE html>
<html lang="en" class="grey">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Debat.NL {% endblock %}</title>

  {# BASE STYLESHEETS #}
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'backoffice/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css"  href="{% sass_src 'feedback/sass/base.sass' %}">

  {# BASE JAVASCRIPT #}
  <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/foundation.min.js' %}"></script>
</head>

<body>
<div>
  <div class="page-banner">
    <img class="full-bg" src="{% static 'img/banner-presentation.jpg' %}" alt="">
  </div>
</div>

<div class="row column">
  <div id="card-container">
    <div class="columns large-8 large-offset-2 card">
      <div class="page-container">
        <div class="large-4 large-centered text-center">
          <img src="{% static 'img/handshake.png' %}">
        </div>
        <br>
        <div class="large-12 large-centered text-center">
          <p>Uit het oog, maar nooit uit het hart.</p>
          <p>Veel succes met het toepassen van het geleerde!</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
