{% extends "backoffice/base.html" %}
{% load static %}
{% load assets %}
{% load sass_tags %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-themes/jquery-ui.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'debatnl_registration/sass/style.sass' %}">
{% endblock %}

{% block custom-javascript %}
  <script type="application/javascript" src="{% static 'jqueryui/jquery-ui.js' %}"></script>
  <script type="application/javascript" src="{% static 'backoffice/js/datepicker-nl.js' %}"></script>
{% endblock %}

{% block content %}
  <section>
    <div class="row">
      <div class="large-3 column">
        <button type="button" name="btn-create-planned-training" class="small expanded button" data-url="{% url 'debatnl_registration:add' %}">
          <span class="fi flaticon-signs"></span>
          Nieuwe training invoeren
        </button>
      </div>
    </div>
  </section>

  <div class="row column">
    {% include 'debatnl_registration/components/ongoing-training.html' %}
  </div>

  {% include 'common/widgets/widget-modal.html' with id='modal-training' button_name='btn-create-planned-training' %}

  <script>
    $(function () {
      $("a.link").click(function () {
        var id = $(this).data('id');
        var container = $("#details-" + id);
        var link = $(this);

        container.toggle();

        if (container.is(":visible")) {
          link.text('Verberg details')
        } else {
          link.text('Toon details')
        }
      })
    })
  </script>
{% endblock %}
