<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

 <div class="row column">
    <h5>NIEUWE TRAINING INVOEREN</h5>
 </div>

<form id="form-add-training" action="{% url 'debatnl_registration:add' %}" method="post">
  {% csrf_token %}

  <div class="row column">
    <label for="{{ form.training.id_for_label }}">
      Type training
      {{ form.training }}
    </label>
  </div>

  <div class="row column">
    <label>
      Hoeveel trainingsdagen heeft deze training?
      <select id="field-training-days-amount">
        <option value="">--</option>
        <option value="1">1 dag</option>
        <option value="3">3 dagen</option>
      </select>
    </label>
  </div>

  {{ training_date_formset.management_form }}

  {% for inline_form in training_date_formset %}
    <div class="{% if forloop.first %}container-days-1{% endif %} container-days-3 hide">
      <div class="row columns">
        <hr>
        Dag {{ forloop.counter }}
      </div>


      <div class="row">
        <div class="large-6 columns">
          <input type="text" class="date-field" id="{{ inline_form.date.id_for_label }}" data-alt-field="{{ inline_form.date.id }}-field" autocomplete="off">
          <input type="hidden" name="{{ inline_form.prefix }}-date" value="{{ inline_form.initial.date|date:'d-m-Y' }}" id="{{ inline_form.date.id_for_label }}-field">
        </div>
      </div>

      <div class="row column">
        <label for="trainer">Trainer</label>
      </div>

      <div id="date-{{ forloop.counter0 }}-trainers-container">
        <div class="row">
          <div class="small-10 columns">
            <select name="{{ inline_form.prefix }}-trainers">
              <option value="">Kies trainer</option>
              {% for value, label in inline_form.trainers.field.choices %}
                <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="small-2 columns">
            <label class="middle remove-button" data-date="{{ forloop.counter0 }}" hidden>
              <span class="fi flaticon-close-button"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="row column">
        <a name="add-training" data-date="{{ forloop.counter0 }}">
          <span class="fi flaticon-signs"></span>
          Nieuwe trainer toevoegen
        </a>
      </div>
    </div>
  {% endfor %}

    <div class="row footer">
        <div class="large-offset-4 large-4 no-right-padding column">
            <input type="button" class="small expanded debat-blue button" value="Annuleren" data-close>
        </div>
        <div class="large-4 column">
            <input type="submit" class="small expanded debat-orange add-button button" value="Opslaan">
        </div>
    </div>
</form>

<script>
    $(function() {
      $.datepicker.setDefaults($.extend($.datepicker.regional['nl']));
      initDatePicker(0);
      initDatePicker(1);
      initDatePicker(2);

      $("#field-training-days-amount").on('change', function () {
        var value = $(this).val();
        var selectedContainer = $(".container-days-" + value);
        var containers = $("[class^=container-days-]");
        containers.toggleClass('hide', true);
        containers.find('input').val('');
        containers.find('select').val('');
        containers.find('input').prop('required', false);
        containers.find('select').prop('required', false);

        selectedContainer.toggleClass('hide', false);
        selectedContainer.find('input').prop('required', true);
        selectedContainer.find('select').prop('required', true);
      });

      $("a[name='add-training']").click(function () {
          var dateId = $(this).data('date');
          var trainerRows = $("#date-" + dateId + "-trainers-container .row");

          toggle_remove_button(dateId, true);

          var cloned = trainerRows.first().clone();
          var button = cloned.find('.remove-button').first();
          button.data("date", dateId);

          cloned.appendTo("#date-" + dateId + "-trainers-container");
      });

      $("#form-add-training").on('click', '.remove-button', function () {
          var dateId = $(this).data('date');
          var trainerRows = $("#date-" + dateId + "-trainers-container .row");

          if (trainerRows.length > 1) {
              $(this).parents('.row').remove();
          }

          if (trainerRows.length === 2) {
              toggle_remove_button(dateId, false)
          }
      });

      function toggle_remove_button(dateId, hide) {
          var firstRow = $("#date-" + dateId + "-trainers-container .row").first();
          var button = firstRow.find('.remove-button').first();
          button.toggle(hide);
      }

      function initDatePicker(n) {
        var dateField = $('#id_training_dates-' + n + '-date');
        dateField.datepicker({
          dateFormat: 'dd/mm/yy',
          altFormat: 'yy-mm-dd',
          altField:'#id_training_dates-' + n + '-date-field',
          beforeShow: function(textbox, instance) {
            var containers = $(textbox).parent().find('.date-picker-container');
            if (containers.length > 0) {
              var container = containers[0];
              $('#ui-datepicker-div').detach().appendTo(container);
            }
          }
        });
      }
    })
</script>
