{% extends 'common/public/base.html' %}

{% load static %}

{% block custom-javascript %}
  <script type="application/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'tinymce/jquery.tinymce.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="row column" id="scan-approve-container">
    <div class="large-offset-3 large-6">
      <h6 class="card-labels">Is de tekst van scan {{ scan.organization }} ({{ scan.title }}) goed?</h6>
      <form method="POST" id="scan-approve-form" action="{% url 'scans:approve' scan.pk %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ scan.pk }}">

        <div class="row column">
          <div class="radio">
            <input type="radio" id="is-approved" name="status" value="{{ scan.FINISHED }}" checked required>
            <label for="is-approved">Akkoord</label>
          </div>

          <div class="radio">
            <input type="radio" id="is-denied" name="status" value="{{ scan.PENDING }}" required>
            <label for="is-denied">Aanpassingen nodig</label>
          </div>
        </div>

        <br>

        <div class="row column">
          <textarea name="feedback" id="feedback" cols="30" rows="10" title></textarea>
        </div>

        <br><br>

        <div class="row">
          <div class="large-offset-8 large-4 column">
            <button type="submit" class="small expanded debat-orange button" data-close>Opslaan</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
    $(function(){
      tinymce.init({
        selector: '#feedback',
        menubar: false,
        statusbar: false,
        height: 200,
        toolbar: [
          'undo redo | styleselect | bold italic | alignleft  aligncenter alignright'
        ]
      });

      $('input[type=radio]').click(function(){
        if ($('#is-approved').is(':checked')) $('.mce-tinymce').hide();
        if ($('#is-denied').is(':checked')) $('.mce-tinymce').show();
      });
    });
  </script>

{% endblock %}
