{% extends 'common/public/base.html' %}

{% block content %}
  <div class="row">
    <div class="success-page-container">
      <div class="large-5 large-centered text-center">
        <span class="fi flaticon-check"></span>
        <h5> Succes met de scan. </h5>
      </div>
    </div>
  </div>
{% endblock %}
