@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

.page-container
  background-color: #FFFFFF
  margin-top: 25px
  color: $debat-blue
  line-height: 30px

  .trainer-list
    margin-top: 25px
    margin-bottom: 25px
    background-color: #ededed
    color: $debat-darker-grey
    padding: 25px

#add-button
  color: $debat-orange

  .button-border
    border: solid 1px $debat-light-grey
    font-size: 12px
    padding: 3px 1px 3px 4px
    border-radius: 2px
    margin-right: 10px

  &:hover
    color: $debat-dark-orange