@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

#empty-row
  display: none

#add-scan-form
  label,
  .labels
    color: $debat-blue
    font-weight: 500
    margin-bottom: 8px

  input
    color: $debat-blue
    border-radius: 2px

  select
    color: $debat-blue

  .tabs
    border: none

  .button-row
    margin-top: 60px

  #scan-count
    display: inline-block
    width: 90%

  #deliverables-table
    border: 1px solid #ccc

    th, td
      font-weight: normal

    th
      text-align: left
      text-indent: 0
      padding: 0.8rem 0.4rem 0.8rem 1rem
      border-bottom: 1px solid #ccc

    td
      padding: 0.2rem 0.4rem 0.2rem 1rem

    td:first-child
      padding-top: 1.5rem

    tr.empty-row
      text-align: center
      display: none

      td
        padding: 1.5rem 0

#scan-update-form,
.scans-deliverable-detail
  .card
    background-color: #ededed

    .card-section
      padding: 5px 10px

  .card-label
    margin-bottom: 5px
    font-weight: 500

  .checkbox
    margin-bottom: 5px

    .check-label-text
      padding: 4px 1.5rem 4px 0.5rem

  label
    margin-bottom: 5px

  input
    margin-bottom: 0

.date-picker-container
  position: relative

  #ui-datepicker-div
    position: absolute !important
    top: -15px !important
    left: 0 !important
