@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

.empty-forms
  display: none

a.button
  -webkit-appearance: none

.small-label
  font-family: $montserrat
  font-size: 12px
  color: $debat-blue

#deliverable-table
  th
    font-weight: 600
    padding: 1rem 2rem
    border-bottom: 1px solid #ccc

    &:first-child
      width: 150px

  .modal-btn
    margin-bottom: 0
    border-color: #a0a0a0
    color: $debat-orange

  .status-icons
    span.fi
      font-size: 11px

.invalid
  border: 1px solid #FB6600

.reveal
  .card
    background-color: #ededed

    pre
      display: inline

  .card-label
    margin-bottom: 5px

  .modal-title
    font-weight: 500
    margin-bottom: 20px

  .content-section
    margin-bottom: 60px

  .question-section
    margin-bottom: 40px

    &:last-child
      margin-bottom: 30px

    .file-row
      margin-bottom: 10px

  .fa-cloud-download
    font-size: 25px
    margin-top: 5px
    color: #4A4A4A

  .file-icon
    font-size: 36px

    &.text-primary
      color: #498fe1

  .confirm-body
    padding: 20px 10px
    font-size: 18px
    color: $debat-blue

    span
      color: $debat-red
      font-weight: 500

#file-upload,
.file-upload-widget
  display: none

#add-briefing-form
  .tab
    display: none

  .input-group
    margin-bottom: 14px

  label
    margin-bottom: 8px

  .required-marker
    color: #FB6600

  .button-row
    margin-top: 0.3rem

  #deliverableListTable
    border: 1px solid #ccc
    margin-top: 0.8rem

    th, td
      font-weight: normal

    th
      text-align: left
      text-indent: 0
      padding: 0.8rem 0.4rem 0.8rem 1rem
      border-bottom: 1px solid #ccc

    td
      padding: 0.2rem 0.4rem 0.2rem 1rem

    td:first-child
      padding-top: 1.5rem

    tr.empty-row
      text-align: center

      td
        padding: 1.5rem 0

  #uploadedFilesTable
    margin-top: 12px

    td
      padding-bottom: 8px

    .fa
      font-size: 32px

.file-container
  .file-information
    text-align: left

  .file-icons
    font-size: 40px

  .download-button
    font-size: 20px

  .fa
    font-size: 40px

  .fi.flaticon-check
    text-align: center

#modal-container-add-questions
  #add-question-form
    label
      color: $debat-blue

.white-container
  background-color: #ffffff
  padding-top: 12px
  padding-bottom: 100px


#add-answers-form
  label
    color: $debat-blue
    font-size: 16px
    margin-bottom: 4px
    text-align: left

    &.button
      color: #FFFFFF
      text-align: center
      line-height: 0.9
      font-size: 14px

  .card-label
    font-size: 16px
    color: $debat-blue
    margin-bottom: 4px
    margin-top: 20px

  .card
    margin-bottom: 26px
    .card-section
      background-color: #ededed
      font-size: 16px
      padding: 10px 12px

  .footer
    margin-top: 30px

    .button
      font-size: 14px

.page-banner
  margin-bottom: 32px

#question-success-banner
  h3
    font-size: 1.6rem

  .fi
    color: #22bb5b

#button-tbody
  td
    padding-top: 1.8em
    padding-bottom: 0.6em

    #previous-btn
      margin: 0

