{% extends 'admin/change_form.html' %}

{% block object-tools-items %}
  <li style="float:none; margin-bottom: 15px">
    <a href="{% url 'admin:send_declaration_reminder' pk=original.pk %}" class="grp-state-focus">
      Send Declaration Reminder E-mail
    </a>
  </li>
  {{ block.super }}
{% endblock %}
