<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h5 class="modal-title column">GEBRUIKER VERWIJDEREN</h5>

<form id="user-delete-form" action="{{ request.path }}" method="POST">
  {% csrf_token %}

  <div class="row column">
    <p class="modal-content">Weet je zeker dat je deze gebruiker wilt verwijderen?</p>
  </div>

  <!-- Button group -->
  <div class="row column text-right">
    <div class="small button-group">
      <button type="button" class="debat-blue large-4 button" data-close>Annuleren</button>
      <button type="submit" class="debat-orange large-4 button">Verwijderen</button>
    </div>
  </div>
</form>
