{% url 'users:update' user.pk as current_url %}
{% if current_url == request.path %}
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <h5 class="modal-title column">GEBRUIKER WIJZIGEN</h5>
{% endif %}

<form id="user-create-form" action="{{ request.path }}" method="POST">
  {% csrf_token %}

  <!-- L Name -->
  <div class="row form-group">
    <div class="column large-6">
      <label for="{{ form.first_name.id_for_label }}">Voornaam</label>
      {{ form.first_name }}
    </div>
  </div>

  <!-- Last Name -->
  <div class="row form-group">
    <div class="column large-6">
      <label for="{{ form.last_name.id_for_label }}">Achternaam</label>
      {{ form.last_name }}
    </div>
  </div>

  <!-- E-mail -->
  {# Remove e-mail field when in update mode. #}
  {% if form.email %}
    <div class="row form-group">
      <div class="column large-6">
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
      </div>
    </div>
  {% endif %}

  <!--Phone -->
  <div class="row form-group">
    <div class="column large-6">
      <label for="{{ form.phone.id_for_label }}">Telefoon</label>
      <input type="text" name="{{ form.phone.name }}" id="{{ form.phone.id_for_label }}" value="{{ form.instance.profile.phone }}">
    </div>
  </div>

  <!-- Role -->
  <div class="row column form-group">
    <label>Rollen</label>
    {% for role in form.roles.field.queryset %}
      <div class="checkbox">
        <input
                type="checkbox"
                id="{{ form.roles.auto_id }}-{{ role.pk }}"
                name="{{ form.roles.name }}"
                value="{{ role.pk }}"
                {% if role in form.instance.profile.roles.all %}checked{% endif %}
        />
        <label for="{{ form.roles.auto_id }}-{{ role.pk }}" class="check-label">
          <span class="check-label-box"></span>
          <span class="check-label-text">{{ role.name }}</span>
        </label>
      </div>
    {% endfor %}
  </div>

  <!-- User Groups -->
  <div class="row column form-group">
    <label>Tot welke menu-items heeft deze persoon toegang?</label>
    {% for app_permission in form.app_permissions.field.queryset %}
      <div class="checkbox">
        <input
                type="checkbox"
                id="{{ form.app_permissions.auto_id }}-{{ app_permission.pk }}"
                name="{{ form.app_permissions.name }}"
                value="{{ app_permission.pk }}"
                {% if app_permission in form.instance.profile.app_permissions.all %}checked{% endif %}
        />
        <label for="{{ form.app_permissions.auto_id }}-{{ app_permission.pk }}" class="check-label">
          <span class="check-label-box"></span>
          <span class="check-label-text">{{ app_permission.display_name }}</span>
        </label>
      </div>
    {% endfor %}
  </div>

  <!-- Position -->
  <div class="row form-group">
    <div class="column large-6">
      <label for="{{ form.position.id_for_label }}">Welke functie heeft de gebruiker?</label>
      <select name="{{ form.position.name }}" id="{{ form.position.id_for_label }}">
        {% for widget in form.position.subwidgets %}
          <option value="{{ widget.data.value }}" {% if widget.data.value == form.instance.profile.position %}selected{% endif %}>
            {{ widget.data.label }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <!-- Button group -->
  <div class="row column text-right">
    <div class="small button-group">
      <button type="button" class="debat-blue large-4 button" data-close>Annuleren</button>
      <button type="submit" class="debat-orange large-4 button">
        Gebruiker {% if current_url == request.path %}wijzigen{% else %}aanmaken{% endif %}
      </button>
    </div>
  </div>
</form>
