<form id="user-delete-form" action="{{ request.path }}" method="POST">
  {% csrf_token %}
  {{ formset.management_form }}

  <!-- Users List-->
  <div class="row column form-group">
    <label>Gebruikers</label>
    {% for form in formset %}
      <input type="hidden" name="{{ form.id.html_name }}" id="{{ form.id.id_for_label }}" value="{{ form.id.initial }}"/>
      <div class="checkbox">
        <input type="checkbox" id="{{ form.DELETE.id_for_label }}"  name="{{ form.DELETE.html_name }}"/>
        <label for="{{ form.DELETE.id_for_label }}" class="check-label">
          <span class="check-label-box"></span>
          <span class="check-label-text">{{ form.instance.get_full_name }}</span>
        </label>
      </div>
    {% empty %}
      <br>
      <p class="error-message">Er zijn geen gebruikers om te verwijderen.</p>
    {% endfor %}
  </div>

  <!-- Button group -->
  <div class="row column text-right">
    <div class="small button-group">
      <button type="button" class="debat-blue large-4 button" data-close>Annuleren</button>
      <button type="submit" class="debat-orange large-4 button">Verwijderen</button>
    </div>
  </div>
</form>
