{% with form=formset.empty_form %}
  <section class="formset-section" id="form-__prefix__">
    <div class="row column">
      <br><hr><br>
    </div>

    <!-- Date Input Hidden Field -->
    <input type="hidden" name="form-__prefix__-date" id="id_form-__prefix__-date" required>

    <!-- DATE FIELD -->
    <div class="row">
      <div class="large-6 column">
        {{ form.date.label_tag }}
        <input type="text" class="date-field" id="date-field-__prefix__" data-alt-field="id_form-__prefix__-date" required title>
        <div class="date-picker-container"></div>
      </div>
    </div>

    <!-- ORGANIZATION FIELD -->
    <div class="row column">
        {{ form.organization.label_tag }}
        <input type="text" name="form-__prefix__-organization" id="id_form-__prefix__-organization" required title>
    </div>

    <!-- TIME FIELD -->
    <div class="row column">
        {{ form.time.label_tag }}
        <input type="text" name="form-__prefix__-time" id="id_form-__prefix__-time" maxlength="90" required title>
    </div>

    <!-- LOCATION FIELD -->
    <div class="row column">
      {{ form.location.label_tag }}
      <input type="text" name="form-__prefix__-location" id="id_form-__prefix__-location" required title>
    </div>

    <!-- DESCRIPTION FIELD -->
    <div class="row column">
      {{ form.description.label_tag }}
      <textarea name="form-__prefix__-description" cols="40" rows="10" id="id_form-__prefix__-description" required title></textarea>
    </div>

    <!-- Opmerkingen voor Ilona -->
    <div class="row column">
      {{ form.notes.label_tag }}
      <textarea name="form-__prefix__-notes" cols="40" rows="10" id="id_form-__prefix__-notes" title></textarea>
    </div>

    <!-- TRAINER_AMOUNT FIELD -->
    <div class="row">
      <div class="large-6 column">
        {{ form.trainer_amount.label_tag }}
        <input type="number" name="form-__prefix__-trainer_amount" id="id_form-__prefix__-trainer_amount" required title>
      </div>
    </div>
  </section>
{% endwith %}
