{% load period_tags %}

<div class="row column">
  <div class="overview-title"> {{ period_id|period_date:'1' }} - {{ period_id|period_date:'7' }} </div>
  <div class="availability-table-container">
    <table class="availability-month-overview">
      <thead>
        <tr>
          <td></td>
          <td class="text-center">
            <div>MAANDAG</div>
            <div>{{ period_id|period_date:'1' }}</div>
          </td>
          <td class="text-center">
            <div>DINSDAG</div>
            <div>{{ period_id|period_date:'2' }}</div>
          </td>
          <td class="text-center">
            <div>WOENSDAG</div>
            <div>{{ period_id|period_date:'3' }}</div>
          </td>
          <td class="text-center">
            <div>DONDERDAG</div>
            <div>{{ period_id|period_date:'4' }}</div>
          </td>
          <td class="text-center">
            <div>VRIJDAG</div>
            <div>{{ period_id|period_date:'5' }}</div>
          </td>
          <td class="text-center">
            <div>ZATERDAG</div>
            <div>{{ period_id|period_date:'6' }}</div>
          </td>
          <td class="text-center">
            <div>ZONDAG</div>
            <div>{{ period_id|period_date:'7' }}</div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr class="daypart-row" data-index="1" data-period="{{ period_id }}_MO">
          <td>Ochtend</td>
          <td><div class="availability-day color-available" data-day="monday"></div></td>
          <td><div class="availability-day color-available" data-day="tuesday"></div></td>
          <td><div class="availability-day color-available" data-day="wednesday"></div></td>
          <td><div class="availability-day color-available" data-day="thursday"></div></td>
          <td><div class="availability-day color-available" data-day="friday"></div></td>
          <td><div class="availability-day color-available" data-day="saturday"></div></td>
          <td><div class="availability-day color-available" data-day="sunday"></div></td>
        </tr>
        <tr class="daypart-row" data-index="2" data-period="{{ period_id }}_AF">
          <td>Middag</td>
          <td><div class="availability-day color-available" data-day="monday"></div></td>
          <td><div class="availability-day color-available" data-day="tuesday"></div></td>
          <td><div class="availability-day color-available" data-day="wednesday"></div></td>
          <td><div class="availability-day color-available" data-day="thursday"></div></td>
          <td><div class="availability-day color-available" data-day="friday"></div></td>
          <td><div class="availability-day color-available" data-day="saturday"></div></td>
          <td><div class="availability-day color-available" data-day="sunday"></div></td>
        </tr>
        <tr class="daypart-row" data-index="3" data-period="{{ period_id }}_EV">
          <td>Avond</td>
          <td><div class="availability-day color-available" data-day="monday"></div></td>
          <td><div class="availability-day color-available" data-day="tuesday"></div></td>
          <td><div class="availability-day color-available" data-day="wednesday"></div></td>
          <td><div class="availability-day color-available" data-day="thursday"></div></td>
          <td><div class="availability-day color-available" data-day="friday"></div></td>
          <td><div class="availability-day color-available" data-day="saturday"></div></td>
          <td><div class="availability-day color-available" data-day="sunday"></div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
