<section>
  <div class="row column">
    <H5>
      PROGRAMMA'S
      <a id="create-course-button" class="float-right small button"> Programma toevoegen</a>
    </H5>
  </div>

  <div class="row column">
    <table>
      <thead>
      <tr class="table-row">
        <td>NAAM</td>
        <td>VOLGORDE</td>
        <td>AANTAL CORRECTE VRAGEN NODIG OM TE SLAGEN</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      {% for course in courses %}
        <tr>
          <td>
            <a href="{% url 'debatnl_online:e_learning:course' %}{{ course.id }}/">{{ course.name }}</a>
          </td>
          <td>
            {{ course.sequence }}
          </td>
          <td>
            {{ course.correct_answers_threshold }}
          </td>
          <td  class="text-right">
            <a name='edit-course-button' class="edit-button" data-id="{{ course.id }}">
              <span class="fi flaticon-pencil"></span>
            </a>
            <a name='delete-course-button' class="delete-button" data-id="{{ course.id }}">
              <span class="fi flaticon-close-button"></span>
            </a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td class="text-center" colspan="3">Er zijn nog geen programma's.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="small reveal" id="edit-course-modal" data-reveal></div>
  <div class="small reveal" id="create-course-modal" data-reveal></div>
  <div class="tiny reveal" id="delete-course-modal" data-reveal></div>
</section>

<script>
  $(function() {
    $('#create-course-modal').foundation();
    $('#edit-course-modal').foundation();
    $('#delete-course-modal').foundation();

    $('#create-course-button').click(function () {
      var createModal = $('#create-course-modal');

      $.get('{% url 'debatnl_online:e_learning:course' %}add/', function(data) {
        createModal.html(data);
        createModal.foundation('open');
      });
    });

    $('a[name="edit-course-button"]').click(function () {
      var courseId = $(this).data('id');
      var editModal = $('#edit-course-modal');

      $.get('{% url 'debatnl_online:e_learning:course' %}' + courseId + '/change/', function(data) {
        editModal.html(data);
        editModal.foundation('open');
      });
    });

    $('a[name="delete-course-button"]').click(function () {
      var courseId = $(this).data('id');
      var deleteModal = $('#delete-course-modal');

      $.get('{% url 'debatnl_online:e_learning:course' %}' + courseId + '/delete/', function(data) {
        deleteModal.html(data);
        deleteModal.foundation('open');
      });
    });

    $('#modal-delete-button').click(function () {
      var courseId = $('#delete-course-modal').data('id');
      $.ajax({
        url: '{% url 'debatnl_online:e_learning:course' %}' + courseId + '/delete/',
        type: 'POST',
        success: function () {
          location.reload();
        }
      })
    })
  });
</script>
