<section>
  <div class="row column">
    <H5>
      OEFENTOETS
      <a name="create-{{ identifier }}-button-{{ item.id }}" class="float-right small button"> Oefenvraag toevoegen </a>
    </H5>
  </div>
  <div class="row column">
    <table>
      <thead>
      <tr class="table-row">
        <td>VRAAG</td>
        <td>VOLGORDE</td>
        <td>ANTWOORDEN</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      {% for question in lesson.questions %}
        <tr>
          <td>
            {{ question.question }}
          </td>
          <td>
            {{ question.sequence }}
          </td>
          <td>
            {% for answer in question.answers %}
              {{ answer.answer }}
              {% if answer.is_correct_answer %}
                <span class="fi flaticon-check"></span>
              {% endif %}
              <br>
            {% empty %}
              --
            {% endfor %}
          </td>
          <td class="text-right">
            <a name="edit-{{ identifier }}-button-{{ item.id }}" class="edit-button" data-id="{{ question.id }}">
              <span class="fi flaticon-pencil"></span>
            </a>
            <a name="delete-{{ identifier }}-button-{{ item.id }}" class="delete-button" data-id="{{ question.id }}">
              <span class="fi flaticon-close-button"></span>
            </a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td class="text-center" colspan="4">Er zijn nog geen oefenvragen.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<div class="small reveal" id="create-{{ identifier }}-modal-{{ item.id }}" data-reveal></div>
<div class="small reveal" id="edit-{{ identifier }}-modal-{{ item.id }}" data-reveal></div>
<div class="small reveal" id="delete-{{ identifier }}-modal-{{ item.id }}" data-reveal></div>

<script>
  $(function() {
    $('#create-{{ identifier }}-modal-{{ item.id }}').foundation();
    $('a[name="create-{{ identifier }}-button-{{ item.id }}"]').click(function () {
      var createModal = $('#create-{{ identifier }}-modal-{{ item.id }}');

      $.get('{% url 'debatnl_online:e_learning:lesson_questions' course_id chapter.id lesson.id %}add/', function(data) {
        createModal.html(data);
        createModal.foundation('open');
      });
    });


    $('#edit-{{ identifier }}-modal-{{ item.id }}').foundation();
    $('a[name="edit-{{ identifier }}-button-{{ item.id }}"]').click(function () {
      var itemId = $(this).data('id');
      var editModal = $('#edit-{{ identifier }}-modal-{{ item.id }}');

      $.get('{% url 'debatnl_online:e_learning:lesson_questions' course_id chapter.id lesson.id %}' + itemId + '/change/', function(data) {
        editModal.html(data);
        editModal.foundation('open');
      });
    });

    $('#delete-{{ identifier }}-modal-{{ item.id }}').foundation();
    $('a[name="delete-{{ identifier }}-button-{{ item.id }}"]').click(function () {
      var itemId = $(this).data('id');
      var deleteModal = $('#delete-{{ identifier }}-modal-{{ item.id }}');

      $.get('{% url 'debatnl_online:e_learning:lesson_questions' course_id chapter.id lesson.id %}' + itemId + '/delete/', function(data) {
        deleteModal.html(data);
        deleteModal.foundation('open');
      });
    });

    $('#modal-delete-button-{{ item.id }}').click(function () {
      var itemId = $('#delete-{{ identifier }}-modal-{{ item.id }}').data('id');
      $.ajax({
        url: '{% url 'debatnl_online:e_learning:lesson_questions' course_id chapter.id lesson.id %}' + itemId + '/delete/',
        type: 'POST',
        success: function () {
          location.reload();
        }
      })
    })
  });
</script>
