<section>
    <div class="row column">
      <a id="create-lesson-button" class="button"> Les toevoegen </a>
    </div>
</section>

{% for lesson in chapter.lessons %}
    <section>
        <div class="row column">
            <H5> LES: {{ lesson.name }} </H5>
        </div>

        <div class="row">
            <div class="large-2 column">
                <label> Volgorde: </label>
            </div>
            <div class="large-10 column">
                {{ lesson.sequence }}
            </div>
        </div>

        <div class="row">
            <div class="large-2 column">
                <label> Naam: </label>
            </div>
            <div class="large-10 column">
                {{ lesson.name }}
            </div>
        </div>

        <div class="row">
            <div class="large-2 column">
                <label> Gemiddelde rating: </label>
            </div>
            <div class="large-10 column">
                {{ lesson.average_rating|default:'0' }}
            </div>
        </div>

        <div class="row">
            <div class="large-2 column">
                <label> Is de eerste les: </label>
            </div>
            <div class="large-10 column">
                {% if lesson.is_first_lesson %}
                    Ja
                {% else %}
                    Nee
                {% endif %}
            </div>
        </div>

        <br>
        <div class="row column">
            <a id="edit-lesson-button-{{ lesson.id }}" data-id="{{ lesson.id }}" class="small debat-blue button">
                Les wijzigen
            </a>

            <a id="delete-lesson-button-{{ lesson.id }}" data-id="{{ lesson.id }}" class="small alert button">
                Les verwijderen
            </a>
        </div>
        <br>

        <div class="row column">
            {% include 'debatnl_online/components/lesson-questions.html' with item=lesson identifier='question' %}
        </div>
    </section>

    <div class="small reveal" id="edit-lesson-modal-{{ lesson.id }}" data-reveal></div>
    <div class="small reveal" id="delete-lesson-modal-{{ lesson.id }}" data-reveal></div>

    <script>
        $(function() {
            $('#edit-lesson-modal-{{ lesson.id }}').foundation();
            $('#edit-lesson-button-{{ lesson.id }}').click(function () {
                var lessonId = $(this).data('id');
                var editModal = $('#edit-lesson-modal-{{ lesson.id }}');

                $.get('{% url 'debatnl_online:e_learning:lesson' course_id chapter.id %}' + lessonId + '/change/', function(data) {
                    editModal.html(data);
                    editModal.foundation('open');
                });
            });

            $('#delete-lesson-modal-{{ lesson.id }}').foundation();
            $('#delete-lesson-button-{{ lesson.id }}').click(function () {
                var lessonId = $(this).data('id');
                var deleteModal = $('#delete-lesson-modal-{{ lesson.id }}');

                $.get('{% url 'debatnl_online:e_learning:lesson' course_id chapter.id %}' + lessonId + '/delete/', function(data) {
                    deleteModal.html(data);
                    deleteModal.foundation('open');
                });
            });

            $('#modal-delete-button').click(function () {
                var lessonId = $('#delete-lesson-modal-{{ lesson.id }}').data('id');
                $.ajax({
                    url: '{% url 'debatnl_online:e_learning:lesson' course_id chapter.id  %}' + lessonId + '/delete/',
                    type: 'POST',
                    success: function () {
                        location.reload();
                    }
                })
            })
        });
    </script>
{% endfor %}

<div class="small reveal" id="create-lesson-modal" data-reveal></div>
<script>
    $(function() {
        $('#create-lesson-modal').foundation();
        $('#create-lesson-button').click(function () {
             var createModal = $('#create-lesson-modal');

             $.get("{% url 'debatnl_online:e_learning:lesson' course_id chapter.id %}add/", function(data) {
                createModal.html(data);
                createModal.foundation('open');
            });
        });
    });
</script>


<section>
{#    <H5>#}
{#        LESSEN#}
{#        <a id="create-lesson-button" class="float-right small button"> Nieuwe les </a>#}
{#    </H5>#}
{##}
{#    <table>#}
{#        <thead>#}
{#            <tr class="table-row">#}
{#                <td>NAAM</td>#}
{#                <td>VIDEO</td>#}
{#                <td></td>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for lesson in chapter.lessons %}#}
{#            <tr>#}
{#                <td>#}
{#                    {{ lesson.name }}#}
{#                </td>#}
{#                <td></td>#}
{#                <td class="text-right">#}
{#                    <a name="edit-lesson-button" class="edit-button" data-id="{{ lesson.id }}">#}
{#                        <span class="fi flaticon-pencil"></span>#}
{#                    </a>#}
{#                    <a name="delete-lesson-button" class="delete-button" data-id="{{ lesson.id }}">#}
{#                        <span class="fi flaticon-close-button"></span>#}
{#                    </a>#}
{#                </td>#}
{#            </tr>#}
{#        {% empty %}#}
{#            <tr>#}
{#                <td class="text-center" colspan="7">Er zijn nog geen lessen.</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#    <div class="small reveal" id="edit-lesson-modal" data-reveal></div>#}
{#    <div class="small reveal" id="create-lesson-modal" data-reveal></div>#}
{#    <div class="tiny reveal" id="delete-lesson-modal" data-reveal></div>#}
</section>

<script>
{#    $(function() {#}
{#        $('#create-lesson-modal').foundation();#}
{#        $('#edit-lesson-modal').foundation();#}
{#        $('#delete-lesson-modal').foundation();#}
{##}
{#        $('#create-lesson-button').click(function () {#}
{#             var createModal = $('#create-lesson-modal');#}
{##}
{#             $.get("{% url 'debatnl_online:e_learning:create_lesson' %}", function(data) {#}
{#                createModal.html(data);#}
{#                createModal.foundation('open');#}
{#            });#}
{#        });#}

{#        $('a[name="edit-lesson-button"]').click(function () {#}
{#            var lessonId = $(this).data('id');#}
{#            var editModal = $('#edit-lesson-modal');#}
{##}
{#            $.get("{% url 'debatnl_online:e_learning:edit_lesson' course.id %}" + lessonId + "/", function(data) {#}
{#                editModal.html(data);#}
{#                editModal.foundation('open');#}
{#            });#}
{#        });#}
{##}
{#        $('a[name="delete-lesson-button"]').click(function () {#}
{#            var lessonId = $(this).data('id');#}
{#            var deleteModal = $('#delete-lesson-modal');#}
{##}
{#            $.get("{% url 'debatnl_online:e_learning:delete_lesson' course.id %}" + lessonId + "/", function(data) {#}
{#                deleteModal.html(data);#}
{#                deleteModal.foundation('open');#}
{#            });#}
{#        });#}
{##}
{#        $('#modal-delete-button').click(function () {#}
{#            var lessonId = $('#delete-lesson-modal').data('id');#}
{#            $.ajax({#}
{#                url: '{% url 'debatnl_online:e_learning:delete_lesson' course.id %}' + lessonId + '/',#}
{#                type: 'POST',#}
{#                success: function () {#}
{#                    location.reload();#}
{#                }#}
{#            })#}
{#        })#}
{#    });#}
</script>
