<section>
  <div class="row column">
    <H5>
      GEBRUIKERS
      <a name="create-{{ identifier }}-button" class="float-right small button"> Gebruiker toevoegen</a>
    </H5>
  </div>
  <div class="row column">
    <table>
      <thead>
      <tr class="table-row">
        <td>ACHTERNAAM</td>
        <td>VOORNAAM</td>
        <td>E-MAIL</td>
        <td>INGESCHREVEN VOOR</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      {% for student in students %}
        <tr>
          <td>{{ student.last_name }}</td>
          <td>{{ student.first_name }}</td>
          <td>{{ student.email_address }}</td>
          <td>
            {% for course in student.courses %}
              {{ course.name }} <br>
            {% empty %}
              --
            {% endfor %}
          </td>
          <td class="text-right">
            <a name="edit-{{ identifier }}-button" data-id="{{ student.id }}" class="edit-button"> <span class="fi flaticon-pencil"></span> </a>
            <a name="delete-{{ identifier }}-button" data-id="{{ student.id }}" class="delete-button"> <span class="fi flaticon-close-button"></span> </a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td class="text-center" colspan="7">Er zijn nog geen gebruikers.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<div class="small reveal" id="create-{{ identifier }}-modal" data-reveal></div>
<div class="small reveal" id="edit-{{ identifier }}-modal" data-reveal></div>
<div class="small reveal" id="delete-{{ identifier }}-modal" data-reveal></div>

<script>
  $(function() {
    $('#create-{{ identifier }}-modal').foundation();
    $('a[name="create-{{ identifier }}-button"]').click(function () {
      var createModal = $('#create-{{ identifier }}-modal');

      $.get('{% url 'debatnl_online:e_learning:student' %}add/', function(data) {
        createModal.html(data);
        createModal.foundation('open');
      });
    });


    $('#edit-{{ identifier }}-modal').foundation();
    $('a[name="edit-{{ identifier }}-button"]').click(function () {
      var itemId = $(this).data('id');
      var editModal = $('#edit-{{ identifier }}-modal');

      $.get('{% url 'debatnl_online:e_learning:student' %}' + itemId + '/change/', function(data) {
        editModal.html(data);
        editModal.foundation('open');
      });
    });

    $('#delete-{{ identifier }}-modal').foundation();
    $('a[name="delete-{{ identifier }}-button"]').click(function () {
      var itemId = $(this).data('id');
      var deleteModal = $('#delete-{{ identifier }}-modal');

      $.get('{% url 'debatnl_online:e_learning:student' %}' + itemId + "/delete/", function(data) {
        deleteModal.html(data);
        deleteModal.foundation('open');
      });
    });

    $('#modal-delete-button').click(function () {
      var itemId = $('#delete-{{ identifier }}-modal').data('id');
      $.ajax({
        url: '{% url 'debatnl_online:e_learning:student' %}' + itemId + "/delete/",
        type: 'POST',
        success: function () {
          location.reload();
        }
      })
    })
  });
</script>
