<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h5 class="column">PAGINA VERWIJDEREN</h5>

<form id="form-page" action="{{ request.path }}" method="post">
  {% csrf_token %}

  <div class="row column">
    Weet je zeker dat je de pagina wilt verwijderen?
  </div>

  <div class="row footer">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="submit" class="button">Verwijderen</button>
      </div>
    </div>
  </div>
</form>
