<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h5 class="column">PAGINA UPDATEN</h5>

<form id="create-score-form" method="post">
  {% csrf_token %}

  {{ formset.management_form }}

  <input type="hidden" id="page" name="page" value="{{ page_id }}" required>

  <div class="row column">
    <label for="performance">
      Performance (0 - 100)
      <input type="number" id="performance" name="performance" min="0" max="100" required>
    </label>
  </div>

  <div class="row column">
    <label for="accessibility">
      Accessibility (0 - 100)
      <input type="number" id="accessibility" name="accessibility" min="0" max="100" required>
    </label>
  </div>

  <div class="row column">
    <label for="performance">
      Best practice (0 - 100)
      <input type="number" id="best_practice" name="best_practice" min="0" max="100" required>
    </label>
  </div>

  <div class="row column">
    <label for="performance">
      SEO (0 - 100)
      <input type="number" id="seo" name="seo" min="0" max="100" required>
    </label>
  </div>

  <div class="row column">
    {% include 'common/widgets/widget-file-uploader.html' with file_input_label="Upload rapport" %}
  </div>

  <div class="row footer">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button id="submitBtn" type="submit" class="button">Toevoegen</button>
      </div>
    </div>
  </div>
</form>

<script>
  var files = [];

  $(function () {
    {#$('#submitBtn').click(submitForm);#}

    $("#create-score-form").validate({
      focusCleanup: false,
      submitHandler: function(form) {
        submitForm();
      }
    });

    function  submitForm() {
      var form = document.getElementById('create-score-form');
      var formData = new FormData(form);

      for(var i = 0; i < files.length; i++) {
        formData.append('files', files[i], files[i].name);
      }
      // Send data to server
      $.ajax({
        url: "{{ request.path }}",
        data: formData,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function () {
          location.reload();
        }
      });
    }
  })
</script>
