{% load humanize files %}

<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h5 class="column">DOWNLOAD RAPPORT</h5>

<div class="row column">
  <table class="table-reports">
    {% for report in object.reports.all  %}
      <tr>
        <td class="icon">
          {% if report.get_file_extension == '.pdf' %}
              <span class="fa fa-file-pdf-o text-danger file-icon"></span>
          {% elif report.get_file_extension == '.jpeg' %}
              <span class="fa fa-file-photo-o text-danger file-icon"></span>
          {% elif report.get_file_extension == '.jpg' %}
              <span class="fa fa-file-photo-o text-danger file-icon"></span>
          {% elif report.get_file_extension == '.png' %}
              <span class="fa fa-file-photo-o text-danger file-icon"></span>
          {% else %}
              <span class="fa fa-file text-primary file-icon"></span>
          {% endif %}
        </td>
        <td>
          <div>{{ report|getfilename }}</div>
          <div>{{ report.file.size|filesizeformat}}</div>
        </td>
        <td class="text-right no-right-padding">
          <a href="{{ report.file.url }}" target="_blank" class="small hollow button">Download</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td class="no-left-padding">Er zijn geen rapporten.</td>
      </tr>
    {% endfor %}
  </table>
</div>

<div class="row footer">
  <div class="large-offset-6 large-6 column">
    <div class="small expanded button-group float-right">
      <button type="button" class="debat-blue button" data-close>Annuleren</button>
    </div>
  </div>
</div>
