<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h4>OPVOLGING TOEVOEGEN</h4>
</div>

<form id="form-create-followup-event" method="POST" action="{% url 'follow_ups:followup-event-create' form.initial.follow_up %}">
  {% csrf_token %}

  <input type="hidden" name="follow_up" value="{{ form.initial.follow_up }}">
  <input type="hidden" name="date" id="id_date" required>

  <div class="row">
    <div class="large-6 column">
      <label for="date-field">Datum</label>
      <input type="text" id="date-field" data-alt-field="id_date" required>
      <div class="date-picker-container"></div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 column">
      <label for="id_type">Type</label>
      <select id="id_type" name="type" required>
        <option selected disabled>Kies een type</option>
        <option value="OPEN TRAINING INVITATION">OI uitnodiging</option>
        <option value="INFOGRAPHIC">Infographic</option>
        <option value="OTHER">Overige</option>
      </select>
    </div>
  </div>

  <div class="row column" >
    <label for="subject-field">Onderwerp</label>
    <input type="text" name="subject" id="subject-field" maxlength="50" required>
  </div>

  <div class="row column">
    <label for="id_message">Bericht</label>
    <p class="text-email-salutation">Beste {{ follow_up.opportunity.person.name }}, </p>
    <textarea name="message" cols="40" rows="10" id="id_message" title></textarea>
    <br>
  </div>

  <div class="row column">
    <a id="btn-example" target="_blank" class="debat-orange button hide"></a>
  </div>

  <div class="row column">
    <p>Met vriendelijke groeten, </p>
    <p>{{ admin.get_full_name }}</p>
  </div>

  <div class="row">
    <div class="large-9 column">
      <label for="button-text-field">Naam knop</label>
      <input type="text" name="button_text" id="button-text-field" required>
    </div>
  </div>

  <div class="row">
    <div class="large-9 column">
      <label for="button-url-field">Link knop</label>
      <div id="button-url-field-group" class="input-group">
        <span class="input-group-label">https://</span>
        <input type="text" name="button_url" class="input-group-field" id="button-url-field" required>
      </div>
    </div>
  </div>

  <div class="row modal-footer">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="submit" class="debat-orange button">Opslaan</button>
      </div>
    </div>
  </div>
</form>

<script>
  $(function() {
    $('#button-text-field').keyup(onChangeBtnTextValue);
    $('#button-url-field').keyup(onChangeBtnURLValue);
    $('#id_type').change(onChangeSelectValue);

    // Initialize tinymce editor
    tinymce.remove();

    // Initialize date pickers
    $.datepicker.setDefaults(
      $.extend(
        $.datepicker.regional['nl']
      )
    );

    initDatePicker();
    initTinymce();

    // Function to initialize TinyMCE editor
    function initTinymce() {
      tinymce.init({
        selector: '#id_message',
        menubar: false,
        statusbar: false,
        height: 200,
        toolbar: [
          'undo redo | styleselect | bold italic | alignleft  aligncenter alignright'
        ]
      });
    }

    function initDatePicker() {
      $('#date-field').datepicker({
        dateFormat: 'dd/mm/yy',
        altFormat: 'yy-mm-dd',
        altField:'#id_date',
        beforeShow: function(textbox, instance) {
          var containers = $(textbox).parent().find('.date-picker-container');
          if (containers.length > 0) {
            var container = containers[0];
            $('#ui-datepicker-div').detach().appendTo(container);
          }
        }
      });
    }

    function onChangeBtnTextValue(ev) {
      var btn = $('#btn-example');
      btn.toggleClass('hide', !ev.target.value);
      btn.text(ev.target.value);
    }

    function onChangeBtnURLValue(ev) {
      $('#btn-example').attr('href', 'https://' + ev.target.value);
    }

    function onChangeSelectValue(ev) {
      var defaultValue;

      switch (ev.target.value) {
        case 'OPEN TRAINING INVITATION':
          defaultValue = 'test';
          defaultValue = "<p>Graag nodig ik u namens {{ follow_up.opportunity.assigned_to.name  }} uit voor " +
            "een open training. U kunt hierbij met een kleine groep gericht aan uw vaardigheden werken en zelf de " +
            "volgende stap zetten. De uitnodiging is uiteraard kosteloos. </p>" +
            "<p>Via onderstaande knop bekijkt u het programma en schrijft u zich in. We wensen u alvast veel plezier.</p>";
          break;

        case 'INFOGRAPHIC':
          defaultValue = "<p>Namens {{ follow_up.opportunity.assigned_to.name  }} stuur ik u hierbij een " +
            "infographic die we gemaakt hebben en nuttig kan zijn voor de deelnemers aan de afgelopen sessie. </p> " +
            "<p>Via onderstaande knop kunt u deze downloaden.</p>";
          break;

        default:
          defaultValue = '';
      }

      tinymce.get('id_message').setContent(defaultValue);
    }
  });
</script>
