<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h5 class="modal-title column">OPVOLGING VERWIJDEREN</h5>

<form method="POST" action="{% url 'follow_ups:followup-delete' followup.pk %}">
  {% csrf_token %}

  <div class="row column">
    <p>Weet je zeker dat je de opvolging wilt verwijderen?</p>
    <br>
  </div>

  <div class="row">
    <div class="large-offset-6 large-6 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-blue button" data-close>Annuleren</button>
        <button type="submit" class="debat-orange button">Ok</button>
      </div>
    </div>
  </div>
</form>
