<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h4>OPVOLGING</h4>
</div>

<div class="row detail-item">
  <div class="large-12 column">
    <div class="detail-item-heading">Organisatie</div>
    <div class="detail-item-body">{{ followup.opportunity.organization.name }}</div>
  </div>
</div>

<div class="row detail-item">
  <div class="large-12 column">
    <div class="detail-item-heading">Contactpersoon</div>
    <table class="detail-item-table">
      <thead>
      <tr>
        <th>VOORNAAM</th>
        <th>ACHTERNAAM</th>
        <th>E-MAIL</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ followup.opportunity.person.first_name }}</td>
        <td>{{ followup.opportunity.person.last_name }}</td>
        <td>{{ followup.opportunity.person.email }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row detail-item">
  <div class="large-12 column">
    <div class="detail-item-heading">Afgelopen Deliveries</div>
    <table class="detail-item-table">
      <thead>
      <tr>
        <th class="date-column">DATUM DELIVERY</th>
        <th>MAIN PRODUCT/SERVICE</th>
      </tr>
      </thead>
      <tbody>
      {% for delivery in followup.get_past_deliveries.all %}
        <tr>
          <td>{{ delivery.order_date|date:'d-m-Y' }}</td>
          <td>{{ delivery.product }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2" class="text-center">Er zijn geen deliveries.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row detail-item">
  <div class="large-12 column">
    <div class="detail-item-heading">Toekomstige Deliveries</div>
    <table class="detail-item-table">
      <thead>
      <tr>
        <th class="date-column">DATUM DELIVERY</th>
        <th>MAIN PRODUCT/SERVICE</th>
      </tr>
      </thead>
      <tbody>
      {% for delivery in followup.get_future_deliveries.all %}
        <tr>
          <td>{{ delivery.order_date|date:'d-m-Y' }}</td>
          <td>{{ delivery.product }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2" class="text-center">Er zijn geen deliveries.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row detail-item">
  <div class="large-12 column">
    <div class="detail-item-heading">Automatische opvolging</div>
    <table class="detail-item-table">
      <thead>
      <tr>
        <th class="date-column">VERZEND DATUM</th>
        <th>ONDERWERP EMAIL</th>
      </tr>
      </thead>
      <tbody>
      {% for event in followup.events.all %}
        <tr>
          <td>{{ event.date|date:'d-m-Y' }}</td>
          <td>{{ event.subject }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2" class="text-center">Geen verzending ingepland.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

  <div class="row">
    <div class="large-offset-8 large-4 column">
      <div class="small expanded button-group">
        <button type="button" class="debat-orange button" data-close>OK</button>
      </div>
    </div>
  </div>
