<div class="monthly-score-container">
    <div class="monthly-score-header">
        HET MAANDGEMIDDELDE
    </div>
    <div class="monthly-score-content">
        <div class="stats-container">
            <div id="average-score">0.0</div>
            <div class="description">
                Op basis van <br>
                <span id="amount-submissions">0</span> beoordelingen
            </div>
        </div>
        <div class="graph-container">
            <div class="category" id="category-10">
                <span class="fi flaticon-star"></span>
                <span class="name"> 10 </span>
                <span class="line"></span>
                <span class="amount">0</span>
            </div>
            <div class="category" id="category-9">
                <span class="fi flaticon-star"></span>
                <span class="name"> 9 </span>
                <span class="line"></span>
                <span class="amount">0</span>
            </div>
            <div class="category" id="category-8">
                <span class="fi flaticon-star"></span>
                <span class="name"> 8 </span>
                <span class="line"></span>
                <span class="amount">0</span>
            </div>
            <div class="category" id="category-7">
                <span class="fi flaticon-star"></span>
                <span class="name"> 7 </span>
                <span class="line"></span>
                <span class="amount">0</span>
            </div>
            <div class="category" id="category-6">
                <span class="fi flaticon-star"></span>
                <span class="name"> 6 </span>
                <span class="line"></span>
                <span class="amount">0</span>
            </div>
            <div class="category" id="category-5">
                <span class="fi flaticon-star"></span>
                <span class="name"> 5 </span>
                <span class="line"></span>
                <span class="amount">0</span>
            </div>
        </div>
    </div>
</div>