{% if object_list %}
  <div class="row column">
    <h4>DE FEEDBACK</h4>
  </div>

  <div class="row column">
    <div id="table-container" class="row column">
        {% for training in object_list %}
          <table>
            <thead>
            <tr class="information-row">
              <td>
                <span class="fi flaticon-time"></span> {{ training.date|date:"d-m-Y" }}
              </td>
              <td colspan="2" class="feedback-average-score">
                GEMIDDELDE: <span> {{ training.get_average_score|default_if_none:0.0|floatformat:1 }} </span>
              </td>
              <td>
                  {% if training.has_outtake %}
                    <a class="disabled success expanded button">
                      Digitale outtake aangemaakt
                    </a>
                  {% else %}
                    <a name="btn-outtake-activation" class="expanded button" data-url="{% url 'feedback:activate-training-outtake' training_id=training.id %}">
                      Digitale outtake aanmaken
                    </a>
                  {% endif %}
              </td>
            </tr>
            <tr class="table-row">
              <td>NAAM</td>
              <td class="score">Cijfer</td>
              <td>COMMENTAAR</td>
              <td>VOORNEMEN</td>
            </tr>
            </thead>
            <tbody>
            {% for review in training.reviews.all %}
              <tr>
                <td>{{ review.reviewer_name|default:"--" }}</td>
                <td>{{ review.score|default:"--" }}</td>
                <td>{{ review.comment|default:"--"|safe }}</td>
                <td>{{ review.resolution|default:"--"|safe }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% empty %}
          <table class="table-template">
            <thead>
            <tr class="information-row">
              <td>
                <span class="fi flaticon-time"></span> --
              </td>
              <td colspan="2" class="feedback-average-score">
                GEMIDDELDE: <span> 0.0 </span>
              </td>
              <td></td>
            </tr>
            <tr class="table-row">
              <td>NAAM</td>
              <td>Cijfer</td>
              <td>COMMENTAAR</td>
              <td>VOORNEMEN</td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center" colspan="4"> Er zijn geen trainingen geweest. </td>
            </tr>
            </tbody>
          </table>
        {% endfor %}

    </div>
  </div>

  <script>
      $(function() {
          $("[name='btn-outtake-activation']").not(".disabled").click(function () {
              var button = $(this);

              if(!button.hasClass("disabled")) {
                  button.addClass("disabled");
                  button.text("Bezig...");

                  $.get(button.data("url"), function () {
                      button.addClass("success");
                      button.text("Digitale outtake aangemaakt")
                  })
                      .fail(function() {
                          button.removeClass("disabled in-progress");
                          button.text("Digitale outtake aanmaken");
                      });
              }
          });
      })
  </script>
{% endif %}
