{% extends "admin/change_form.html" %}
{% block object-tools-items %}
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:add_to_mailing_list' pk=original.pk %}" class="grp-state-focus">
            Add to Mailing List
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:add_to_mailing_list' pk=original.pk %}?list_id={{ original.TEST_MAILING_LIST }}" class="grp-state-focus">
            Add to TEST Mailing List
        </a>
    </li>
    {{ block.super }}
{% endblock %}
