@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

.scan-overview-table
  thead tr
    td
      white-space: nowrap

  tbody tr
    td
      &:first-child, &:nth-last-child(2)
        width: 165px

      .flaticon-circle
        font-size: 10px

      .button
        margin-bottom: 4px
        white-space: nowrap

        &:last-child
          margin-bottom: 0

.modal-container
  .card
    background-color: #ededed

    .card-section
      padding: 5px 10px

  .card-label
    margin-bottom: 5px
    font-weight: 500

  .checkbox
    margin-bottom: 5px

    .check-label-text
      padding: 4px 1.5rem 4px 0.5rem

  label
    margin-bottom: 5px

  input
    margin-bottom: 0

#scan-approve-container
  background-color: #ffffff
  padding-top: 30px
  padding-bottom: 100px

  #scan-approve-form
    .mce-tinymce
      display: none

#empty-row
  display: none
