{% extends "admin/change_form.html" %}
{% block object-tools-items %}
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_create_offer_notification' pk=original.pk %}" class="grp-state-focus">
            Send Create Offer Notification
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_create_offer_reminder' pk=original.pk %}" class="grp-state-focus">
            Send Create Offer Reminder
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_changed_offer_notification' pk=original.pk %}" class="grp-state-focus">
            Send Changed Offer Notification
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_removed_offer_notification' pk=original.pk %}" class="grp-state-focus">
            Send Removed Offer Notification
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_review_offer_notification' pk=original.pk %}" class="grp-state-focus">
            Send Review Offer Notification
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_review_offer_reminder' pk=original.pk %}" class="grp-state-focus">
            Send Review Offer Reminder
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_accepted_offer_notification' pk=original.pk %}" class="grp-state-focus">
            Send Accepted Offer Notification
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_denied_offer_notification' pk=original.pk %}" class="grp-state-focus">
            Send Denied Offer Notification
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_marketing_offer_notification' pk=original.pk %}" class="grp-state-focus">
            Send Marketing Offer Notification
        </a>
    </li>
    {{ block.super }}
{% endblock %}
