@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

.edit-button, .remove-button
  display: block

.details-row
  td
    border-bottom: 1px solid $debat-dark-grey
    border-top: 1px solid $debat-dark-grey

  h5
    font-size: 12px
    padding: 0 0 2.5px 0
    margin: 0
    font-weight: 500

  .detail
    padding-bottom: 1rem
    font-size: 12px

    ul
      margin-bottom: 0

#form-update-trainers
  .multi-select
    max-height: 250px