@import "../../../../DebatNL_BackOffice/static/sass/base.sass"

#create-form-btn
  margin-bottom: 30px

#create-form-modal
  .modal-title
    margin-top: 20px
    margin-bottom: 20px

.planning-forms
  .time-fields
    display: inline-block
    width: 70px

  label
    margin-bottom: 6px
    color: $debat-blue

  input
    color: $debat-blue

  select
    color: $debat-blue

  textarea
    color: $debat-blue

  .icons-row
    margin-top: 20px

    a
      color: $debat-grey

      .fa
        color: $debat-orange
        font-size: 14px

    a:hover
      color: $debat-orange

    .delete-form-column
      display: none

  .button-row
    margin-top: 60px

#empty-row
  display: none

#notification-modal,
#delete-planning-request-modal,
#notification-warning-modal,
  .modal-body
    padding: 80px 10px
    font-size: 18px
    color: $debat-blue

    span
      color: $debat-red
      font-weight: 500

  .button-row
    padding-top: 16px
    padding-bottom: 16px

#legend
  color: #FFFFFF
  background-color: transparent
  border-radius: 4px
  border: 1px solid $debat-blue
  border-collapse: separate
  padding: 10px

  thead tr:first-child
    td
      background-color: #DCDCDC
      width: 50%

  td
    padding: .5rem .625rem .625rem

.color-available
 background-color: #7ecf40

.color-unavailable
 background-color: #cd1327

.color-vacation
 background-color: #3aa7ea

.color-unknown
 background-color: #f3a43c

.color-blank
 background-color: #000000

.availability-month-overview
  border-radius: 4px
  border: 2px solid $debat-light-grey
  border-collapse: separate
  margin-bottom: 0
  border-spacing: 0

  td
    padding: 0
    width: 130px
    height: 35px

  thead
    td
      border-bottom: 2px solid $debat-light-grey
      text-transform: uppercase

  tbody
    td
      padding: 1px

  tbody:before,
  tbody:after
    content: "-"
    display: block
    line-height: 1em
    color: transparent

  tr
    td
      &:last-child
        width: 145px
        padding-right: 15px

      &:first-child
        padding-left: 15px
        width: auto

  .availability-day
    width: 100%
    height: 100%

.delivery-overview-table
  th
    font-weight: 400
    color: #082F4F
    padding: 1rem 2rem
    border-bottom: 1px solid #ccc

  tr:last-child
    td
      padding-bottom: 40px

  .empty-row
    td:last-child
      padding-top: 70px
      padding-bottom: 80px
      color: $debat-blue
      font-size: 20px

  .button
    margin-bottom: 0
    border-color: #a0a0a0
    color: $debat-orange
    margin-right: 12px

  .button:hover
    color: #fff
    border-color: $debat-light-grey
    background-color: $debat-orange

.detail-modal
  background-color: #fefefe

  .card
    background-color: #ededed
    border-radius: 2px

  .card-section
    padding: 8px 16px 8px 10px
    min-height: 30px

    .section-label
      margin-bottom: 4px

  .card-label
    margin-bottom: 5px

  .modal-title
    font-weight: 500
    margin-bottom: 20px


  .confirm-body
    padding: 80px 10px
    font-size: 18px
    color: $debat-blue

  .button-row
    padding-top: 50px
    padding-bottom: 20px

.hollow-button-containers
  margin-bottom: 10px
  margin-top: 10px

  .button
    border-color: #a0a0a0
    color: $debat-orange
    font-size: 13px
    line-height: 0.6
    margin-right: 12px
    margin-bottom: 0
    padding-left: 20px
    padding-right: 20px

  .button:hover
    border-color: $debat-light-grey
    background-color: $debat-orange
    color: #fff

.availability-table-container
  padding: 15px
  background-color: #FFFFFF
  margin-bottom: 15px

#availability-detail-modal,
#delivery-detail-modal
  .availability-table-container
    background-color: #FFFFFF
    padding: 0
    margin-bottom: 15px

#availability-detail-modal
  width: 800px

  .modal-title
    padding-top: 24px

  #legend
    thead tr:first-child
      td
        background-color: #ffffff
        width: 50%

  .trainer-title
    font-weight: 400
    margin-bottom: 0

  .availability-month-overview
    border-radius: 4px
    border: 2px solid $debat-light-grey
    border-collapse: separate
    margin-bottom: 0
    border-spacing: 0

    td
      padding: 0
      width: 200px
      height: 35px

    thead
      td
        border-bottom: 2px solid $debat-light-grey
        padding-top: 12px
        padding-bottom: 12px
        font-size: 16px
        font-weight: normal

    tbody
      td
        padding: 1px

    tr
      td
        &:last-child
          width: 200px
          padding-right: 20px

        &:first-child
          padding-left: 20px
          width: auto

    .availability-day
      width: 100%
      height: 100%

.checkbox
  display: block
  height: 22px

  .check-label-box
    border: 1px solid $debat-dark-grey

  input[type=checkbox]:disabled + .check-label
    .check-label-box
      background-color: #ebebeb
      border-color: #ebebeb

.availability-btn-container
  display: none

.status-icon
  font-size: 10px

.date-picker-container
  position: relative

  #ui-datepicker-div
    position: absolute !important
    top: -15px !important
    left: 0 !important


#process-type-form
  fieldset
    margin: 80px 10px

    legend
      color: $debat-blue
      font-size: 13px
      margin-bottom: 12px

    label
      color: $debat-blue
      font-size: 13px

#finalize-option-form
  display: inline-block

  button
    padding: 0.55em 1em !important
