{% load l10n %}

<div class="row form-group">
  <div class="large-2 column">
    <label>Totaal aantal uur</label>
    <input type="text" id="total-amount-hours" value="{{ object.get_total_hours }}" title readonly>
  </div>
  <div class="large-2 column">
    <label>Totaal reiskosten</label>
    <input type="text" id="total-travel-costs" value="€ {{ object.get_total_travel_costs }}" title readonly>
  </div>
  <div class="large-3 column end">
    <label>Totaal onkosten</label>
    <input type="text" id="total-costs" value="€ {{ object.get_total_costs }}" title readonly>
  </div>
</div>

<div class="row form-group">
  <div class="large-2 column">
    <label>Totaal bonussen</label>
    <input type="text" id="total-bonuses" value="€ {{ object.get_total_bonuses }}" title readonly>
  </div>
  <div class="large-2 column">
    <label>Telefoonvergoeding</label>
    <input type="text" id="phone-compensation" value="€ {{ object.get_phone_compensation }}" title readonly>
  </div>
  <div class="large-3 column end">
    <label>Totaal lunch/dinervergoeding</label>
    <input type="text" id="total-allowances" value="€ {{ object.get_total_allowances }}" title readonly>
  </div>
</div>

<div class="row form-group">
  <div class="large-2 column">
    <label>Verlof betaald</label>
    <input type="text" id="paid-vacation" value="{{ object.get_paid_vacations_in_hours }}" title readonly>
  </div>
  <div class="large-2 column end">
    <label>Verlof onbetaald</label>
    <input type="text" id="unpaid-vacation" value="{{ object.get_unpaid_vacations_in_hours }}" title readonly>
  </div>
</div>

<script type="text/javascript">
  var initialTotalHours = {{ object.get_total_hours|default:0|unlocalize }};
  var initialTotalTravelCosts = {{ object.get_total_travel_costs|default:0|unlocalize }};
  var initialTotalCosts = {{ object.get_total_costs|default:0|unlocalize }};
  var initialTotalBonuses = {{ object.get_total_bonuses|default:0|unlocalize }};
  var initialPhoneCompensation = {{ object.get_phone_compensation|default:0|unlocalize }};
  var initialTotalAllowances = {{ object.get_total_allowances|default:0|unlocalize }};
  var initialPaidVacation = {{ object.get_paid_vacations_in_hours|default:0|unlocalize }};
  var initialUnpaidVacation = {{ object.get_unpaid_vacations_in_hours|default:0|unlocalize }};
</script>
