{% load l10n %}

{% localize off %}
<div class="row form-group">
  <div class="large-3 column">
    <label>Naam</label>
    <input type="text" value="{{ object.user.get_full_name }}" title readonly>
  </div>

  <div class="large-3 column">
    <label>Email</label>
    <input type="text" value="{{ object.user.email }}" title readonly>
  </div>

  <div class="large-2 column">
    <label>Maand</label>
    <input type="text" value="{{ object.get_month_display }}" title readonly>
  </div>

  <div class="large-1 column end">
    <label>Jaar</label>
    <input type="text" value="{{ object.year }}" title readonly>
  </div>
</div>

<div class="row">
  <div class="large-6 column">
    <div class="row form-group">
      <!-- Billable Hourly Rate -->
      <div class="large-4 column">
        <label for="id_billable_hourly_rate">Declarabel uurtarief <sup class="required-mark">&ast;</sup></label>
        <div class="input-group">
          {% if readonly %}
            <input type="text" value="€ {{ object.billable_hourly_rate }}" title readonly>
          {% else %}
            <span class="input-group-label">&euro;</span>
            <input
              type="number"
              class="input-group-field"
              id="id_billable_hourly_rate"
              name="billable_hourly_rate"
              value="{{ form.billable_hourly_rate.value|default_if_none:'' }}"
              min="1" step=".01"
              required
            />
          {% endif %}
        </div>
      </div>

      <!-- Internal Hourly Rate -->
      <div class="large-4 column end">
        <label for="id_internal_hourly_rate">Intern uurtarief <sup class="required-mark">&ast;</sup></label>
        <div class="input-group">
          {% if readonly %}
            <input type="text" value="€ {{ object.internal_hourly_rate }}" title readonly>
          {% else %}
            <span class="input-group-label">&euro;</span>
            <input
              type="number"
              class="input-group-field"
              id="id_internal_hourly_rate"
              name="internal_hourly_rate"
              value="{{ form.internal_hourly_rate.value|default_if_none:'' }}"
              min="1" step=".01"
              required
            />
          {% endif %}
        </div>
      </div>
    </div>

    <br>

    <!-- Work Satisfaction -->
    <div class="form-group">
      <div class="row">
        <div class="large-12 column">
          <label for="id_work_satisfaction">
            We zijn benieuwd! Hoe tevreden ben je over jouw werkzaamheden? <sup class="required-mark">&ast;</sup>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-4 column">
          {% if readonly %}
            <input type="text" value="{{ object.work_satisfaction }}" title readonly>
          {% else %}
            {{ form.work_satisfaction}}
          {% endif %}
        </div>

        {% if form.errors.work_satisfaction %}
          <div class="large-12 column">
            <div class="error-message">{{ form.errors.work_satisfaction }}</div>
          </div>
        {% endif %}
      </div>
    </div>

    <br>

    <!-- Company Satisfaction -->
    <div class="form-group">
      <div class="row">
        <div class="large-12 column">
          <label for="id_company_satisfaction">
            En hoe tevreden ben je over de organisatie? <sup class="required-mark">&ast;</sup>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-4 column">
          {% if readonly %}
            <input type="text" value="{{ object.company_satisfaction }}" title readonly>
          {% else %}
            {{ form.company_satisfaction }}
          {% endif %}
        </div>

        {% if form.errors.company_satisfaction %}
          <div class="large-12 column">
            <div class="error-message">{{ form.errors.company_satisfaction }}</div>
          </div>
        {% endif %}
      </div>
    </div>

    <br>

    <!-- Feedback -->
    <div class="row form-group">
      <div class="large-12 column">
        <label for="id_feedback">
          Wat kunnen we doen om jouw werkplezier te vergroten? <sup class="required-mark">&ast;</sup>
        </label>
        <textarea
          name="feedback"
          id="id_feedback"
          placeholder="Hier heb je de ruimte om iets te typen."
          rows="10" required {% if readonly %} readonly {% endif %}>{% if readonly %}{{ object.feedback }}{% else %}{{ form.feedback.value|default_if_none:'' }}{% endif %}</textarea>
      </div>
    </div>

    <div class="row form-group">
      <div class="large-12 column">
        <p><sup class="required-mark">&ast;</sup> verplicht invullen</p>
      </div>
    </div>
  </div>
</div>
{% endlocalize %}
