<ul id="declaration-tabs" class="tabs">
  <li class="tabs-title {% if 'external-meetings' in request.path %}is-active{% endif %}">
    {% if review_mode %}
      <a href="{% url 'salaries:external-meeting-detail' pk=object.pk %}" class="tab">BIJEENKOMSTEN</a>

    {% elif readonly %}
      <a href="{% url 'declarations:external-meeting-detail' pk=object.pk %}" class="tab">BIJEENKOMSTEN</a>
    {% else %}
      <button type="submit" name="next" value="{% url 'declarations:external-meeting-update' pk=object.pk %}" class="tab">BIJEENKOMSTEN</button>
    {% endif %}
  </li>
  <li class="tabs-title {% if 'internal-meetings' in request.path %}is-active{% endif %}">
    {% if review_mode %}
      <a href="{% url 'salaries:internal-meeting-detail' pk=object.pk %}" class="tab">SALES- EN INTERNE MEETINGS</a>
    {% elif readonly %}
      <a href="{% url 'declarations:internal-meeting-detail' pk=object.pk %}" class="tab">SALES- EN INTERNE MEETINGS</a>
    {% else %}
      <button type="submit" name="next" value="{% url 'declarations:internal-meeting-update' pk=object.pk %}" class="tab">SALES- EN INTERNE MEETINGS</button>
    {% endif %}
  </li>
  <li class="tabs-title {% if 'e-learning' in request.path %}is-active{% endif %}">
    {% if review_mode %}
      <a href="{% url 'salaries:e-learning-detail' pk=object.pk %}" class="tab">E-LEARNING</a>

    {% elif readonly %}
      <a href="{% url 'declarations:e-learning-detail' pk=object.pk %}" class="tab">E-LEARNING</a>
    {% else %}
      <button type="submit" name="next" value="{% url 'declarations:e-learning-update' pk=object.pk %}" class="tab">E-LEARNING</button>
    {% endif %}
  </li>
  <li class="tabs-title {% if 'hubstaff' in request.path %}is-active{% endif %}">
    {% if review_mode %}
      <a href="{% url 'salaries:hubstaff-detail' pk=object.pk %}" class="tab">HUBSTAFF UREN</a>

    {% elif readonly %}
       <a href="{% url 'declarations:hubstaff-detail' pk=object.pk %}" class="tab">HUBSTAFF UREN</a>
    {% else %}
      <button type="submit" name="next" value="{% url 'declarations:hubstaff-update' pk=object.pk %}" class="tab">HUBSTAFF UREN</button>
    {% endif %}
  </li>
  <li class="tabs-title {% if 'absences' in request.path %}is-active{% endif %}">
    {% if review_mode %}
      <a href="{% url 'salaries:absence-detail' pk=object.pk %}" class="tab">VERLOFUREN</a>
    {% elif readonly %}
      <a href="{% url 'declarations:absence-detail' pk=object.pk %}" class="tab">VERLOFUREN</a>
    {% else %}
      <button type="submit" name="next" value="{% url 'declarations:absence-update' pk=object.pk %}" class="tab">VERLOFUREN</button>
    {% endif %}
  </li>
  <li class="tabs-title {% if 'expenses' in request.path %}is-active{% endif %}">
    {% if review_mode %}
      <a href="{% url 'salaries:expense-detail' pk=object.pk %}" class="tab">ONKOSTEN/BONUSSEN</a>
    {% elif readonly %}
      <a href="{% url 'declarations:expense-detail' pk=object.pk %}" class="tab">ONKOSTEN/BONUSSEN</a>

    {% else %}
      <button type="submit" name="next" value="{% url 'declarations:expense-update' pk=object.pk %}" class="tab">ONKOSTEN/BONUSSEN</button>
    {% endif %}
  </li>
</ul>
