{% extends "admin/change_form.html" %}
{% block object-tools-items %}
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_participants_report' pk=original.pk %}" class="grp-state-focus">
            Send Participant Report
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_organization_insight_report' pk=original.pk %}" class="grp-state-focus">
            Send Organization Insight Report
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_trainer_insight_report' pk=original.pk %}" class="grp-state-focus">
            Send Trainer Insight Report
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_intake_check' pk=original.pk %}" class="grp-state-focus">
            Send Intake Check E-mail
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_trainer_date_notification' pk=original.pk %}" class="grp-state-focus">
            Send Trainer Date Notification
        </a>
    </li>
    <li style="float: none; margin-bottom: 15px">
        <a href="{% url 'admin:send_trainer_date_change_notification' pk=original.pk %}" class="grp-state-focus">
            Send Trainer Date Change Notification
        </a>
     </li>

    {{ block.super }}
{% endblock %}
