<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>{{ modal_title }}</h5>
</div>

<form id="form-user" action="{{ request.path }}" method="post">
    {% csrf_token %}

    <input type="hidden" id="id" name="id" value="{{ form.initial.id }}" required>

    <div class="row column">
        <label for="name">
            Voornaam
            <input type="text" id="first_name" name="first_name" maxlength="150" value="{{ form.initial.first_name }}" required>
        </label>
    </div>

    <div class="row column">
        <label for="name">
            Achternaam
            <input type="text" id="last_name" name="last_name" maxlength="150" value="{{ form.initial.last_name }}" required>
        </label>
    </div>

    <div class="row column">
        <label for="name">
            E-mail
            <input type="email" id="email" name="email" maxlength="150" value="{{ form.initial.email }}" required>
        </label>
    </div>

    <div class="row column">
        <label for="services">
            Diensten
            <span class="multi-select">
                <label>
                    <input type="checkbox" name="subscriptions" value="E-LEARNING"
                            {% for subscription in form.initial.subscriptions %}{% if subscription.name == 'E-LEARNING' %}checked {% endif %}{% endfor %}
                    >
                    E-Learning
                </label>
                <label>
                    <input type="checkbox" name="subscriptions" value="LEARNING GOALS"
                         {% for subscription in form.initial.subscriptions %}{% if subscription.name == 'LEARNING GOALS' %}checked {% endif %}{% endfor %}
                    >
                    Leerdoelen
                </label>
            </span>
        </label>
    </div>

    <div class="row footer">
        <div class="large-offset-4 large-4 no-left-padding column">
            <input type="submit" class="small expanded debat-orange add-button button" value="{{ button_text }}">
        </div>
        <div class="large-4 column">
            <input type="button" id="reset-button" class="small expanded debat-blue button" value="Annuleren" data-close>
        </div>
    </div>
</form>
