<section>
  <div class="row column">
    <H5>
      GEBRUIKERS
      <a name="option" class="float-right small button" data-url="{% url 'debatnl_online:users:create' %}">
        Voeg gebruiker toe
      </a>
    </H5>
  </div>

  <div class="row column">
    <table>
      <thead>
      <tr class="table-row">
        <td></td>
        <td>ACHTERNAAM</td>
        <td>VOORNAAM</td>
        <td>E-MAIL</td>
        <td>INGESCHREVEN VOOR</td>
      </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td width="130">
            <a name="option" class="edit-button" data-url="{% url 'debatnl_online:users:update' pk=user.id %}">
              <span class="fi flaticon-pencil"></span>
            </a>
            <a name="option" class="remove-button" data-url="{% url 'debatnl_online:users:delete' pk=user.id %}">
              <span class="fi flaticon-close-button"></span>
            </a>
          </td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.email }}</td>
          <td>
            {% for subscription in user.subscriptions %}
              {{ subscription.display_name }} <br>
            {% empty %}
              --
            {% endfor %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td class="text-center" colspan="7">Er zijn nog geen gebruikers.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>
