@import "../../../../DebatNL_BackOffice/static/sass/base.sass"
@import "../../../../DebatNL_BackOffice/static/fonts/flaticon"

body
  display: flex
  align-items: center
  justify-content: center
  height: 100%

.logo
  background-color: $debat-blue
  padding: 1.4rem 1.6rem
  color: #FFF
  font-size: 1.3rem

  img
    height: 3rem

.button
  margin-top: 3rem
  margin-bottom: 0.4rem
  font-weight: 500

.container
  box-shadow: 0 0 5.4rem -0.8rem rgba(0,0,0,0.25)
  width: 28rem
  font-family: $raleway

.form-container
  background-color: #fff
  padding-left: 4rem
  padding-right: 4rem
  padding-bottom: 1rem

.header
  display: block
  color: $debat-blue
  font-size: 1.3rem
  font-weight: 700
  padding: 1.5rem 0 0 0
  text-align: center

.sub-header
  text-align: center
  font-size: 0.9rem

  .top-space
    padding-top: 1rem

form
  padding-top: 2rem
  position: relative

  .errorlist
    display: none

  input
    &[type="email"], &[type="password"],
    &[type="email"]:focus, &[type="password"]:focus
      border: none
      border-bottom: 1px solid $debat-grey
      box-shadow: none
      outline: none
      font-size: 0.9rem
      padding-left: 3rem
      margin-bottom: 1.5rem
      border-radius: 0


  span.fi
    position: absolute
    color: $debat-orange
    left: 0
    font-size: 1.4rem

    &:first-of-type
      top: 2rem

    &:nth-of-type(2)
      top: 6rem

  &.reset-password
    span.fi
      top: 2.2rem

.footer
  padding-bottom: 2rem

  a
    color: $debat-dark-grey
    font-size: 0.8rem

    &:hover
      color: $debat-darker-grey

  .errorlist
    list-style: none
    font-size: 0.9rem
    margin: 0
    text-align: left
