{% extends "admin/change_form.html" %}
{% block object-tools-items %}
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_new_vacation_period_email' pk=original.pk %}" class="grp-state-focus">
      Send New Vacation Period Email
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_approved_vacation_period_email' pk=original.pk %}" class="grp-state-focus">
      Send Approved Vacation Period Email
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_denied_vacation_period_email' pk=original.pk %}" class="grp-state-focus">
      Send Denied Vacation Period Email
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_phonecare_vacation_period_email' pk=original.pk %}" class="grp-state-focus">
      Send PhoneCare Vacation Period Email
    </a>
  </li>
  <li style="float: none; margin-bottom: 15px">
    <a href="{% url 'admin:send_admin_vacation_period_email' pk=original.pk %}" class="grp-state-focus">
      Send Administrator Vacation Period Email
    </a>
  </li>
{{ block.super }}
{% endblock %}
