{% extends 'offers/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">DIT IS EEN AUTOMATISCH BERICHT</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ offer.delivery_responsible_name }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                De offerte van {{ offer.organization }} is zojuist afgerond.
                Reageer binnen 72 uur om ervoor te zorgen dat de klant snel de offerte ontvangt. Dit is waar de offerte op SharePoint te vinden is:
            </p>
            <ul style="padding-left: 32px; padding-top: 8px;">
              <li style="font-size: 14px; line-height: 14px;">{{ offer.file_location_name }}</li>
              <li style="font-size: 14px; line-height: 14px;">{{ offer.file_location_year }}</li>
            </ul>
            <p style="margin: 0; margin-top: 12px; font-size: 14px;line-height: 17px">
                Accorderen of feedback geven kan via onderstaande knop:
            </p>
        </div>
    </div>

    {% include "offers/emails/button.html" with button_url=url button_value="Accorderen of feedback geven" %}

    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                <b>Let op:</b> Als de offerte goed is, graag inhoudelijk akkoord geven!
                Dan verdwijnt de deadline uit het systeem.
            </p>
        </div>
    </div>
{% endblock %}
