{% extends 'offers/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">DIT IS EEN AUTOMATISCH BERICHT</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ offer.editor.first_name }} {{ offer.editor.last_name }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Voor de volgende organisatie is een offerte benodigd:</p>
            <ul>
                <li style="font-size: 14px; line-height: 14px;"> {{ offer.organization }} </li>
            </ul>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px"><b>Let op: De deadline is {{ deadline.date | date:"d-m-Y" }} om 20.00</b></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Uploaden kan via de onderstaande knop. <b> Stuur de offerte nooit per mail.</b></p>
        </div>
    </div>

    {% include "offers/emails/button.html" with button_url=url button_value="Offerte uploaden" %}

    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">Je kunt de foto die gebruikt moet worden in de bijlage vinden. Hieronder zijn de instructies te vinden:</p>
            <ul>
                <li style="font-size: 14px; line-height: 14px;">
                    <b> Wie gaat de offerte maken? </b><br>
                    {{ offer.editor.first_name }} {{ offer.editor.last_name }}
                    <br><br>
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    <b> Organisatie </b><br>
                    {{ offer.organization }}
                    <br><br>
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    <b> Contactpersoon </b><br>
                    {{ offer.contact_person }}
                    <br><br>
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    <b> Titel boven de foto </b> <br>
                    {{ offer.title|default:'' }}
                    <br><br>
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    <b> Welke foto moet er gebruikt worden? </b><br>
                    {% if not offer.photo %}
                        Foto opdrachtgever
                    {% else %}
                        In de bijlage van de e-mail
                    {% endif %}
                    <br><br>
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    <b> Delivery responsible naam </b><br>
                    {{ offer.delivery_responsible_name }}
                    <br><br>
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    <b> Delivery responsible e-mail </b><br>
                    {{ offer.delivery_responsible_email }}
                    <br><br>
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    <b> Achtergrond van de vraag </b> <br>
                    {{ offer.question_background }}
                    <br><br>
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    <b> Opbouw programma </b> <br>
                    {{ offer.program_structure }}
                    <br><br>
                </li>
                <li style="font-size: 14px; line-height: 14px;">
                    <b> Wordt er specifieke trainers voorgesteld? </b> <br>
                    {{ offer.is_trainer_proposed|yesno:"Ja,Nee,--"  }}
                    <br><br>
                </li>

                {% if offer.is_trainer_proposed %}
                    <li style="font-size: 14px; line-height: 14px;">
                        <b> Trainers </b> <br>
                        <ul>
                            {% for trainer in offer.trainers.all %}
                                <li> {{ trainer.first_name }} {{ trainer.last_name }} </li>
                            {% endfor %}
                        </ul>
                        <br><br>
                    </li>
                {% endif %}

                <li style="font-size: 14px; line-height: 14px;">
                    <b> Investeringsomvang </b> <br>
                    <ul>
                    {% for investment in offer.investments.all %}
                        <li>
                            <b> Onderdeel {{ forloop.counter }} </b> <br>
                            {{ investment.subject }}
                            <br><br>
                        </li>
                        <li>
                            <b> Investering onderdeel {{ forloop.counter }} </b> <br>
                            {{ investment.range }}
                            <br><br>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}