{% extends 'offers/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">DIT IS EEN AUTOMATISCH BERICHT</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ offer.editor.first_name }} {{ offer.editor.last_name }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">De offerte van de volgende organisatie is nog niet binnen:</p>
            <ul>
                <li style="font-size: 14px; line-height: 14px;"> {{ offer.organization }} </li>
            </ul>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Offertes die te laat worden ingediend zorgen voor een verminderde service naar de klant.
                We maken daarom een notitie van de te late indiening.
                Upload vandaag nog de offerte via onderstaande knop.
            </p>
        </div>
    </div>

    {% include "offers/emails/button.html" with button_url=url button_value="Offerte uploaden" %}

{% endblock %}