{% extends 'offers/emails/base.html' %}

{% block content %}
    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
            <p style="margin: 0;font-size: 14px;line-height: 17px">DIT IS EEN AUTOMATISCH BERICHT</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ offer.delivery_responsible_name }},</p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
            <p style="margin: 0;font-size: 14px;line-height: 17px">
                Er is nog geen reactie binnen gekomen op de offerte van {{ offer.organization }}.
                Gelieve deze vandaag nog te geven zodat de offerte snel naar de klant kan.
            </p>
        </div>
    </div>

    {% include "offers/emails/button.html" with button_url=url button_value="Geef reactie" %}
{% endblock %}