{% extends 'common/emails/base.html' %}

{% block content %}
  <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
    <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
      <p style="margin: 0;font-size: 14px;line-height: 17px">Beste {{ email_obj.recipient.first_name }},</p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">&#160;<br></p>
      <p style="margin: 0;font-size: 14px;line-height: 17px">
        De volgende offerte is zojuist via een marketingkanaal binnen gekomen:
      </p>
    </div>

    <div style="color:#000000;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
      <div style="font-size:12px;line-height:14px;color:#000000;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
        <ul>
          <li style="font-size: 14px; line-height: 14px;">
            <b> Organisatie </b><br>
            {{ offer.organization }}
            <br><br>
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            <b> Contactpersoon </b><br>
            {{ offer.contact_person }}
            <br><br>
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            <b> Achtergrond van de vraag </b> <br>
            {{ offer.question_background }}
            <br><br>
          </li>
          <li style="font-size: 14px; line-height: 14px;">
            <b> Opbouw programma </b> <br>
            {{ offer.program_structure }}
            <br><br>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

