{% extends 'debatnl_registration/public/base.html' %}
{% load static %}

{% block content %}
    <div class="row column">
        <div class="page-banner">
            <img class="full-bg" src="{% static 'scans/img/banner-presentation.jpg' %}" alt="">
        </div>
    </div>

    <div class="row">
        <div class="large-6 large-centered">
            <form method="post" action="{% url 'debatnl_registration:confirm_attendance_list' %}?token={{ token }}">
                {% csrf_token %}
                <table class="attendance-list">
                    <thead>
                        <tr>
                            <td>DEELNEMERS</td>
                            <td>AANWEZIGHEID</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attendance in attendance_list %}
                            <tr>
                                <td>
                                    {{ attendance.participant.name }}
                                </td>
                                <td>
                                    <div class="switch">
                                        <input id="toggle-{{ attendance.id }}" name="{{ attendance.id }}-has_attended" type="checkbox" class="toggle" value="true" title>
                                        <label class="toggle-switch" for="toggle-{{ attendance.id }}"></label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        <tr>
                            <td></td>
                            <td>
                                <input class="debat-orange button" type="submit" value="Opslaan">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}