{% load static %}
{% load sass_tags %}
{% load assets %}
{% load raven %}

<!DOCTYPE html>
<html lang="en" class="white">
<head>
    <meta charset="UTF-8">
    <title>Debat.NL</title>

    {# BASE STYLESHEETS #}
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'debatnl_registration/sass/public.sass' %}">

    {# BASE JAVASCRIPT #}
    <script>Raven.config('{% sentry_public_dsn %}').install()</script>
    <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/foundation.min.js' %}"></script>
    {% block custom-javascript %}{% endblock %}
</head>

<body>
    <div class="row header">
        {# LOGO #}
        <div class="logo-container">
            <img src="{% static 'img/logo.png' %}">
        </div>
    </div>

    <div class="row">
        {% block content %}{% endblock %}
    </div>
</body>
</html>