{% extends 'debatnl_registration/public/base.html' %}
{% load static %}

{% block content %}
    <div class="row column">
        <div class="page-banner">
            <img class="full-bg" src="{% static 'scans/img/banner-presentation.jpg' %}" alt="">
        </div>
    </div>

    <div class="row">
        <div class="large-10 column end">
            <form method="post" action="{% url 'debatnl_registration:confirm_training_update' %}?token={{ token.key }}">
                {% csrf_token %}
                {% if not exclude_first_option %}
                    {% include 'debatnl_registration/public/change_training/option_1.html' %}
                {% endif %}

                {% include 'debatnl_registration/public/change_training/option_2.html' %}
                {% include 'debatnl_registration/public/change_training/option_3.html' %}
            </form>
        </div>
    </div>

    <script>
        $(function () {
            $('input[name="option"]').change(function () {
                var id = $(this).val();

                var hiddenForms = $('[id^=form]');
                hiddenForms.find('select').prop('required', false);
                hiddenForms.find('input').prop('required', false);
                hiddenForms.hide();

                var form = $('#form-' + id);
                form.find('select').prop('required', true);
                form.find('input').prop('required', true);
                form.find("input[name='reference']").prop('required', false);
                form.show();
            })
        })
    </script>
{% endblock %}