{% extends 'debatnl_registration/public/base.html' %}
{% load static %}

{% block content %}
    <div class="row column">
        <div class="page-banner">
            <img class="full-bg" src="{% static 'scans/img/banner-presentation.jpg' %}" alt="">
        </div>
    </div>

    <div class="confirmation-page-container">
        <div class="large-6 large-centered text-center">
            <div class="fi flaticon-check"></div>
            {% for message in messages %}
                {{ message }} <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}