<section>
  <div class="row">
    <div class="large-3 column">
      <a name="option" class="debat-orange small expanded button" data-url="{% url 'debatnl_online:learning_goals:roles:create' organization=view.kwargs.organization %}?name={{ role_name }}">
        <span class="fi flaticon-signs"></span>
        Voeg {% if role_name == 'PARTICIPANT' %} deelnemer {% else %} manager {% endif %} toe
      </a>
    </div>
  </div>
</section>

<section>
  <H5>{% if role_name == 'PARTICIPANT' %} DEELNEMERS {% else %} MANAGERS {% endif %}</H5>

  <table class="users-table">
    <thead>
    <tr class="table-row users-row">
      <td>NAAM</td>
      <td>EMAIL</td>
      <td>DATUM LAATSTE ACTIVITEIT</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    {% for person in persons %}
      <tr>
        <td>{{ person.first_name }} {{ person.last_name }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.last_retrieved_at|date:'d-m-Y'|default:'Geen inlog' }}</td>
        <td class="text-right">
          {% if role_name == 'PARTICIPANT' %}
            <a class="hollow tiny button" target="_blank" href="{{ person.dashboard_url }}">
              Dashboard
            </a>
          {% endif %}
          <a name="option" class="hollow tiny button" data-url="{% url 'debatnl_online:learning_goals:roles:delete' organization=view.kwargs.organization pk=person.id %}?name={{ role_name }}">
            Verwijderen
          </a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td class="text-center" colspan="4">Er zijn geen {% if role_name == 'PARTICIPANT' %} deelnemers {% else %} managers {% endif %}.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
