<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h5 class="modal-title">DELIVERY</h5>
  <div class="row">
    <div class="large-8 column end">
      <p class="card-label">Trainer(s)/Gespreksleider(s)</p>
      <div class="card">
        <ul class="card-section">
          {% for trainer in deliverable.delivery.trainers.all %}
            <li>{{ trainer.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-8 column end">
      <p class="card-label">Logistiek</p>
      <div class="card">
        <div class="card-section">
          {% if deliverable.briefing %}
            <ul>
              <li>
              {{ deliverable.briefing.time }} &nbsp;
              <span class="small-label blue" id="time-updated-label"></span>
              </li>
              <li>
                <pre>{{ deliverable.briefing.address }}</pre> &nbsp;
                <span class="small-label blue" id="address-updated-label"></span>
              </li>
            </ul>
          {% else %}
            Nog niet bekend
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 column">
      <p class="card-label">Inhoudelijk briefing</p>
      <div class="card">
        <div class="card-section">
          {% if deliverable.briefing %}
            <!-- Previous Reason -->
            {% if deliverable.briefing.previous_reason %}
            <div class="content-section">
              <h6>Wat is de doelgroep en het doel?</h6>
              {{ deliverable.briefing.previous_reason|safe }}
            </div>
            {% endif %}

            <!-- Current Reason -->
            <div class="content-section">
              <h6>Wat is de doelgroep en het doel? <span class="small-label blue" id="reason-updated-label"></span></h6>
              {{ deliverable.briefing.reason|safe }}
            </div>

            {% if deliverable.briefing.previous_program %}
            <!-- Previous Program -->
            <div class="content-section">
              <h6>Wat is het programma?</h6>
              {{ deliverable.briefing.previous_program|safe }}
            </div>
            {% endif %}

            <!-- Current Program -->
            <div class="content-section">
              <h6>Wat is het programma? <span class="small-label blue" id="program-updated-label"></span></h6>
              {{ deliverable.briefing.program|safe }}
            </div>

            <div class="content-section">
              <h6>
                Bijgeleverde bijlage
                <span class="small-label blue" id="files-updated-label"></span>
              </h6>
              {% for file in deliverable.briefing.files.all %}

                <div class="row file-row">
                  <div class="large-1 column">
                    {% if file.get_file_extension == 'pdf' %}
                      <span class="fa fa-file-pdf-o text-danger file-icon"></span>
                    {% elif file.get_file_extension == 'jpeg' %}
                      <span class="fa fa-file-photo-o text-danger file-icon"></span>
                    {% elif file.get_file_extension == 'jpg' %}
                      <span class="fa fa-file-photo-o text-danger file-icon"></span>
                    {% elif file.get_file_extension == 'png' %}
                      <span class="fa fa-file-photo-o text-danger file-icon"></span>
                    {% else %}
                      <span class="fa fa-file text-primary file-icon"></span>
                    {% endif %}
                  </div>

                  <div class="large-7 column">
                    <div class="file-information">
                      <div id="file-name-{{ file.id }}" class="file-name">{{ file.file_name }}</div>
                      <div id="file-size-{{ file.id }}" class="file-size">{{ file.get_size_mb }} MB</div>
                    </div>
                  </div>

                  <div class="large-4 column text-right">
                    <a href="{{ file.file.url }}" target="_blank">
                      <span class="fa fa-cloud-download text-default"></span>
                    </a>
                  </div>
                </div>

              {% endfor %}
            </div>
          {% else %}
            Nog niet bekend
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if deliverable.briefing.questions.exists %}
  <div class="row" id="question-section">
    <div class="large-12 column">
      <p class="card-label">Vragen</p>
      <div class="card">
        <div class="card-section">
          {% for question in deliverable.briefing.questions.all %}
            <div class="question-section">
              <h6 class="question-text">{{ question.question }}</h6>
              <p class="answer-text">{{ question.answer|safe }}</p>

              {% if question.files.exists %}
                <p>Bijgeleverde bijlage</p>
                {% for file in question.files.all %}
                  <div class="row file-row">
                    <div class="large-1 column">
                      {% if file.get_file_extension == 'pdf' %}
                        <span class="fa fa-file-pdf-o text-danger file-icon"></span>
                      {% elif file.get_file_extension == 'jpeg' %}
                        <span class="fa fa-file-photo-o text-danger file-icon"></span>
                      {% elif file.get_file_extension == 'jpg' %}
                        <span class="fa fa-file-photo-o text-danger file-icon"></span>
                      {% elif file.get_file_extension == 'png' %}
                        <span class="fa fa-file-photo-o text-danger file-icon"></span>
                      {% else %}
                        <span class="fa fa-file text-primary file-icon"></span>
                      {% endif %}
                    </div>

                    <div class="large-7 column">
                      <div class="file-information">
                        <div id="file-name-{{ file.id }}" class="file-name">{{ file.filename }}</div>
                        <div id="file-size-{{ file.id }}" class="file-size">{{ file.get_size_mb }} MB</div>
                      </div>
                    </div>

                    <div class="large-4 column text-right">
                      <a href="{{ file.file.url }}" target="_blank">
                        <span class="fa fa-cloud-download text-default"></span>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row footer">
    {% if deliverable.briefing and deliverable.status != deliverable.TO_BE_DELETED %}
      <div class="large-offset-3 large-9 column">
        <div class="small expanded button-group">
          <button type="button" name="btn-open-modal-questions" class="debat-blue button" data-url="{% url 'briefings:briefing-question-create' deliverable.pk %}">Stel vraag</button>
          <button type="button" id="btn-scan-upload" class="debat-blue button" data-open="confirm-modal-{{ deliverable.id }}">Wijzigen</button>
          <button type="button" class="debat-orange button" data-close>Ok</button>
        </div>
      </div>
    {% else %}
      <div class="large-offset-9 large-3 column">
        <button class="expanded debat-orange small button" data-close>Ok</button>
      </div>
    {% endif %}
  </div>
</div>

{% if deliverable.briefing %}
  <div id="briefing-change-wrapper" class="row">
    {% include 'common/widgets/widget-modal.html' with id='briefing-change' button_name='btn-open-modal-change' append_to='#briefing-change-wrapper' %}
  </div>

  <!-- CONFIRM MODAL -->
  <div class="reveal tiny" id="confirm-modal-{{ deliverable.id }}" data-multiple-opened="true" data-reveal>
    {% include 'briefings/components/modals/sections/confirm_dialog.html' %}
  </div>

  <!-- COMMON MODAL WIDGET -->
  {% include 'common/widgets/widget-modal.html' with id="add-questions" button_name="btn-open-modal-questions" %}

  <script>
    $(function(){
      $('#confirm-modal-{{ deliverable.id }}').foundation();

      $('#modal-container-add-questions').on('closed.zf.reveal', function(){
        $(this).parent('.reveal-overlay').remove();
        $('#modal-container-delivery').load('{{ request.path }}');
      });

      $('#modal-container-delivery').on('closed.zf.reveal', function(){
        $('#modal-container-add-questions').parent('.reveal-overlay').remove();
      });

      // `time` updated label
      var timeUpdatedLabel = $('#time-updated-label');
      var timeUpdatedDate = moment("{{ deliverable.briefing.time_updated_on|date:'Y-m-d' }}");
      if (timeUpdatedDate.isValid()) {
        timeUpdatedLabel.text(`(update ${timeUpdatedDate.format('DD MMMM YYYY')})`);
      }

      // `address` updated label
      var addressUpdatedLabel = $('#address-updated-label');
      var addressUpdatedDate = moment("{{ deliverable.briefing.address_updated_on|date:'Y-m-d' }}");
      if (addressUpdatedDate.isValid()) {
        addressUpdatedLabel.text(`(update ${addressUpdatedDate.format('DD MMMM YYYY')})`);
      }

      // `reason` updated label
      var reasonUpdatedLabel = $('#reason-updated-label');
      var reasonUpdatedDate = moment("{{ deliverable.briefing.reason_updated_on|date:'Y-m-d' }}");
      if (reasonUpdatedDate.isValid()) {
        reasonUpdatedLabel.text(`(update ${reasonUpdatedDate.format('DD MMMM YYYY')})`);
      }

      // `program` updated label
      var programUpdatedLabel = $('#program-updated-label');
      var programUpdatedDate = moment("{{ deliverable.briefing.program_updated_on|date:'Y-m-d' }}");
      if (programUpdatedDate.isValid()) {
        programUpdatedLabel.text(`(update ${programUpdatedDate.format('DD MMMM YYYY')})`);
      }

      // `files` updated label
      var filesUpdatedLabel = $('#files-updated-label');
      var filesUpdatedDate = moment("{{ deliverable.briefing.files_updated_on|date:'Y-m-d' }}");
      if (filesUpdatedDate.isValid()) {
        filesUpdatedLabel.text(`(update ${filesUpdatedDate.format('DD MMMM YYYY')})`);
      }
    });
  </script>
{% endif %}
