<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <form id="add-briefing-form" action="{% url 'briefings:briefing-update' deliverable.id briefing.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ briefing_formset.management_form }}
    {{ deliverable_formset.management_form }}

    <input type="hidden" name="deliverables" value="{{ deliverable.id }}">

    {% if pending_deliverables %}
    <fieldset class="tab">
      <div class="row column">
        <h5>BRIEFING TOEVOEGEN</h5>
      </div>

      {{ form.deliverables.label }}
      <table id="deliverableListTable" oninput="this.className = ''">
        <tr>
          <th colspan="2">ORGANISATIENAAM</th>
          <th>DATUM</th>
          <th>BIJEENKOMST</th>
          <th>OMSCHRIJVING</th>
        </tr>

        <tbody>
          {% for deliverable in pending_deliverables %}
            <tr>
              <td class="text-center">
                <input type="checkbox" class="deliverableCheckBoxes" name="deliverables"
                         value="{{ deliverable.id }}">
              </td>
              <td>{{ deliverable.delivery.organization.name }}</td>
              <td>{{ deliverable.delivery.order_date|date:'d-m-y' }}</td>
              <td>{{ deliverable.delivery.product }}</td>
              <td>{{ deliverable.delivery.description }}</td>
            </tr>
          {% empty %}
            <tr class="empty-row">
                <td colspan="5">Er zijn geen gerelateerde deliverables.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
    {% endif %}

    <fieldset class="tab">
      <div class="row column">
        <h5>DELIVERY</h5>
      </div>

      <div class="row">
          <div class="large-6 column">
              <p class="card-label">Trainer(s)/Gespreksleider(s)</p>
              <div class="card">
                  <ul class="card-section">
                      {% for trainer in deliverable.delivery.trainers.all %}
                          <li>{{ trainer.name }}</li>
                      {% empty %}
                          -
                      {% endfor %}
                  </ul>
              </div>
          </div>
      </div>

      <div class="row">
          <label for="time" class="large-6 column">
              Tijd
              <sup class="required-marker">*</sup>
              <span class="small-label blue" id="time-label"></span>
              <textarea name="time" id="time" class="plain-textareas" rows="5" required oninput="this.className = ''">{{ form.time.value }}</textarea>
          </label>
      </div>

      <div class="row">
          <label for="address" class="large-6 column">
              Adres locatie
              <sup class="required-marker">*</sup>
              <span class="small-label blue" id="address-label"></span>
              <textarea name="address" id="address" class="plain-textareas" rows="5" required oninput="this.className = ''">{{ form.address.value }}</textarea>
          </label>
      </div>

      <div class="row column">
        <p class="card-label">Wat is de doelgroep en het doel?</p>
        <div class="card" style="padding: 5px;">
            {{ form.reason.value|safe }}
        </div>
      </div>

      <div class="row column input-group">
          <label for="reason">
              Wat is de doelgroep en het doel?
              <span class="small-label blue" id="reason-label"></span>
              <textarea name="reason" id="reason" cols="10" rows="10" oninput="this.className = ''" class="tinymce-textareas "></textarea>
          </label>
      </div>

      <div class="row column">
        <p class="card-label">Wat is het programma?</p>
        <div class="card" style="padding: 5px;">
            {{ form.program.value|safe }}
        </div>
      </div>

      <div class="row column input-group">
          <label for="program">
              Wat is het programma?
              <span class="small-label blue" id="program-label"></span>
              <textarea name="program" id="program" cols="30" rows="10" oninput="this.className = ''"
                        class="tinymce-textareas "></textarea>
          </label>
      </div>

      <div class="input-group">
          <label>Bijlage (docx, pdf, jpg, png)</label>
          <span class="small-label blue" id="files-label"></span>
          <div class="row">
              <div class="large-6 column">
                  <input type="text" id="upload-display" class="upload-display" placeholder="Kies een bestand"
                         title disabled/>
              </div>
              <div class="large-4 column end">
                  <label for="file-upload" class="blue button expanded">Bladeren</label>
                  <input type="file" id="file-upload" class="file-upload" name="files[]"
                         accept="image/jpeg,image/jpg,image/png,application/pdf" required multiple>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="large-10 column">
              <div id="file-container" class="file-container">
                  {% for form in briefing_formset %}
                      {% if form.instance.file %}
                          <div id="file-container-row-{{ forloop.counter0 }}" class="file-container-row">
                              {% if form.instance.file.instance.get_file_extension == 'pdf' %}
                                  <span class="fa fa-file-pdf-o text-danger file-icon"></span>
                              {% elif form.instance.file.instance.get_file_extension == 'jpeg' %}
                                  <span class="fa fa-file-photo-o text-danger file-icon"></span>
                              {% elif form.instance.file.instance.get_file_extension == 'jpg' %}
                                  <span class="fa fa-file-photo-o text-danger file-icon"></span>
                              {% elif form.instance.file.instance.get_file_extension == 'png' %}
                                  <span class="fa fa-file-photo-o text-danger file-icon"></span>
                              {% else %}
                                  <span class="fa fa-file text-primary file-icon"></span>
                              {% endif %}

                              <div class="file-information">
                                  <div id="file-name-{{ forloop.counter0 }}" class="file-name">{{ form.instance.file_name }}</div>
                                  <div id="file-size-{{ forloop.counter0 }}" class="file-size">{{ form.instance.get_size_mb }}MB</div>
                              </div>
                              <div class="fi flaticon-check"></div>
                              <a name="btn-file-delete" data-index="{{ forloop.counter0 }}" class="delete-button">
                                  <span class="fi flaticon-close-button"></span>
                              </a>
                          </div>
                      {% endif %}
                  {% endfor %}
              </div>

              <div id="file-container-1" class="file-container"></div>
          </div>
      </div>

      {% for form in briefing_formset %}
          {% for field in form %}
              {% if field.name == 'DELETE' or field.name == 'id' %}
                  {{ field.as_hidden }}
              {% endif %}
          {% endfor %}
      {% endfor %}
    </fieldset>

    <div class="row">
        <p class="column">
            <sup class="required-marker">*</sup>
            Verplichte velden
        </p>
    </div>
    <div class="row footer">
      <div class="large-offset-6 large-6 column">
        <div class="small expanded button-group">
          <a class="debat-blue button" data-close>Annuleren</a>
          <button id="submit-btn" class="debat-orange button">Volgende</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  $(function(){
    var isSending = false;
    var form = $('#add-briefing-form');
    var tabs = form.find('.tab');
    var currentTab = 0;
    var files = [];
    var container = $('#file-container-1');

    // Initialize current tab
    showTab(currentTab);

    // Initialize delete buttons
    $('a[name="btn-file-delete"]').click(function () {
      var idx = $(this).data('index');
      $('#id_files-' + idx + '-DELETE').val('on');
      $('#file-container-row-' + idx).remove();
    });

    // Initialize jQuery Events
    $('#closeBtn').click(handleFormClose);
    $('#submit-btn').click(nextStep);

    // Initialize tinymce editor
    tinymce.remove();
    tinymce.init({
      selector: '.tinymce-textareas',
      menubar: false,
      statusbar: false,
      height: 120,
      toolbar: ['undo redo | styleselect | bold italic | alignleft  aligncenter alignright']
    });

    // Initialize multi-file upload jQuery Widget
    $('.file-upload').fileupload({
      add: function (e, data) {
        $.each(data.files, function (index, file) {
            files.push(file);
        });
        redrawFilesList();
      }
    });

    // `time` updated label
    var timeUpdatedLabel = $('#time-label');
    var timeUpdatedDate = moment("{{ form.instance.time_updated_on|date:'Y-m-d' }}");
    if (timeUpdatedDate.isValid()) {
      timeUpdatedLabel.text(`(update ${timeUpdatedDate.format('DD MMMM YYYY')})`);
    }

    // `address` updated label
    var addressUpdatedLabel = $('#address-label');
    var addressUpdatedDate = moment("{{ form.instance.address_updated_on|date:'Y-m-d' }}");
    if (addressUpdatedDate.isValid()) {
      addressUpdatedLabel.text(`(update ${addressUpdatedDate.format('DD MMMM YYYY')})`);
    }

    // `reason` updated label
    var reasonUpdatedLabel = $('#reason-label');
    var reasonUpdatedDate = moment("{% now 'Y-m-d' %}");
    if (reasonUpdatedDate.isValid()) {
      reasonUpdatedLabel.text(`(update ${reasonUpdatedDate.format('DD MMMM YYYY')})`);
    }

    // `program` updated label
    var programUpdatedLabel = $('#program-label');
    var programUpdatedDate = moment("{% now 'Y-m-d' %}");
    if (programUpdatedDate.isValid()) {
      programUpdatedLabel.text(`(update ${programUpdatedDate.format('DD MMMM YYYY')})`);
    }

    // `files` updated label
    var filesUpdatedLabel = $('#files-label');
    var filesUpdatedDate = moment("{{ form.instance.files_updated_on|date:'Y-m-d' }}");
    if (filesUpdatedDate.isValid()) {
      filesUpdatedLabel.text(`(update ${filesUpdatedDate.format('DD MMMM YYYY')})`);
    }

    // Validate form fields
    function validateForm() {
      var valid = true;
      var textarea = $(tabs[currentTab]).find('.plain-textareas');

      // Validate plain textareas
      for (let i = 0; i < textarea.length; i++) {
        if (textarea[i].value === '') {
          textarea[i].className += ' invalid';
          valid = false;
        }
      }

      return valid;
    }

    // Display files to be uploaded
    function redrawFilesList() {
      container.html('');
      for(let i = 0; i < files.length; i++) {
        var file = files[i];
        var size = (file.size/1000000).toFixed(2) + 'MB';
        var rowContainer = $('<div/>').attr('id', 'file-container-row-' + i).addClass('file-container-row');

        var iconClass;
        switch(file.type) {
          case 'image/jpeg':
            iconClass = 'fa-file-photo-o text-danger';
            break;
          case 'image/jpg':
            iconClass = 'fa-file-photo-o text-danger';
            break;
          case 'image/png':
            iconClass = 'fa-file-photo-o text-danger';
            break;
          case 'application/pdf':
            iconClass = 'fa-file-pdf-o text-danger';
            break;
          default:
            iconClass = 'fa-file';
        }

        var icon = $('<span/>').addClass('fa ' + iconClass + ' file-icons');
        rowContainer.append(icon);

        var fileInfo = $('<div/>').addClass('file-information');
        fileInfo.append($('<div/>').attr('id', 'file-name-' + i).addClass('file-name').html(file.name));
        fileInfo.append($('<div/>').attr('id', 'file-size-' + i).addClass('file-size').html(size));

        rowContainer.append(fileInfo);
        rowContainer.append($('<div class="fi flaticon-check"></div>'));

        var deleteButton = $('<a/>').attr({'id': 'delete-button-' + i, 'data-index': i})
          .addClass('delete-button')
          .html('<span class="fi flaticon-close-button"></span>');

        rowContainer.append(deleteButton);
        container.append(rowContainer);

        deleteButton.on('click', {'idx': i}, function (e) {
          files.splice(e.data.idx, 1);
          redrawFilesList(container, files);
        });
      }
    }

    // form submission
    function submitForm() {
      $('#submit-btn').attr('disabled', true);
      if (!validateForm()) {
        $('#submit-btn').removeAttr('disabled');
        return false;
      }
      if (isSending) return false;

      // TODO this need to get refactored. The block is necessary for Safari to POST.
      var $inputs = $('input[type="file"]:not([disabled])', form);
      $inputs.each(function(_, input) {
        if (input.files.length > 0) return;
        $(input).prop('disabled', true)
      });

      // Submit Form
      var formData = new FormData(form.get(0));
      formData.append('reason', tinyMCE.get('reason').getContent() || '{{ form.reason.value|escapejs }}');
      formData.append('program', tinyMCE.get('program').getContent() || '{{ form.program.value|escapejs }}');

      for(var i = 0; i < files.length; i++) {
        var file = files[i];
        formData.append('files', file, file.name);
      }

      // The block is necessary for Safari to POST.
      $inputs.prop('disabled', false);

      // Send data to server
      isSending = true;
      $.ajax({
        url: "{% url 'briefings:briefing-update' deliverable.id briefing.id %}",
        data: formData,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function () {
          location.reload();
        },
        always: function () {
          isSending = false;
        }
      });
    }

    // Display current tab in multi-tab form
    function showTab(n) {
      if (!tabs.get(n)) return;
      tabs.eq(n).css('display', 'block');
      if (n === (tabs.length - 1)) {
        $('#submit-btn').html('Opslaan');
      }
    }

    // Calculate & display next tab
    function nextStep() {
      var n = 1;  // number of step to increment
      if (n === 1 && !validateForm()) return false;
      currentTab += n;
      if (currentTab < tabs.length) tabs.eq(currentTab - 1).css('display', 'none');

      if (currentTab === tabs.length) submitForm();
      else showTab(currentTab);
    }


    // Close and reset form
    function handleFormClose(){
      form.reset();
      var table = document.getElementById('uploadedFilesTable');
      if (table) table.innerHTML = '';
      for (let i = 0; i < tabs.length; i++){
        tabs.eq(i).css('display', 'none');
      }
      tinymce.remove('.tinymce-textareas');
      currentTab = 0;
      showTab(currentTab);
    }
  });
</script>
