<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
    <h5>BRIEFING TOEVOEGEN</h5>
    <form id="add-briefing-form" action="{% url 'briefings:form' deliverable.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ briefing_formset.management_form }}
        {{ deliverable_formset.management_form }}

        <input type="hidden" name="deliverables" value="{{ deliverable.id }}">

        {% if pending_deliverables %}
            {% include 'briefings/components/modals/sections/add_tab_1.html' %}
        {% endif %}

        {% include 'briefings/components/modals/sections/add_tab_2.html' %}
        {% include 'briefings/components/modals/sections/add_tab_3.html' %}


        <div class="row footer">
          <div class="large-offset-6 large-6 column">
            <div class="small expanded button-group">
              <button type="button" class="debat-blue button" data-close>Annuleren</button>
              <button type="button" id="nextBtn" class="debat-orange button">Volgende</button>
            </div>
          </div>
        </div>
    </form>
</div><!-- /.row -->

<script>
    $(function() {
        /**
        * Initialization for multi-step form elements.
        */

        // Initialize global variables
        var files = [];
        var container = $('#file-container');
        var currentTab = 0;

        // Initialize jQuery Events
        $('#closeBtn').click(handleFormClose);
        $('#nextBtn').click(nextStep);

        // Initialize tinymce editor
        tinymce.remove();
        tinymce.init({
            selector: '.tinymce-textareas',
            menubar: false,
            statusbar: false,
            height: 120,
            toolbar: [
                'undo redo | styleselect | bold italic | alignleft  aligncenter alignright'
              ]
        });

        // Initialize multi-file upload jQuery Widget
        $('#file-upload').fileupload({
            add: function (e, data) {
                $.each(data.files, function (index, file) {
                    files.push(file);
                });
                redrawFilesList();
            }
        });

        // Show current tab
        showTab(currentTab);

        /**
        * Functions for multi-step form elements.
        */

        function showTab(n) {
            var tabs = $('.tab');

            if (!tabs[n]) return;

            tabs[n].style.display = 'block';
            if (n === (tabs.length - 1)) {
                document.getElementById('nextBtn').innerHTML = 'Opslaan';
            } else {
                document.getElementById("nextBtn").innerHTML = 'Volgende';
            }
        }

        // Validate form fields
        function validateForm() {
            // Function to deal with validation of the form fields
            var valid = true;
            var tabs = $('.tab');

            if (!tabs[currentTab]) return valid;

            var textarea = $(tabs[currentTab]).find('.plain-textareas');
            var inputField = $(tabs[currentTab]).find('.plain-inputfields');

            // A loop that checks every textarea field in the current tab:
            for (var i = 0; i < textarea.length; i++) {
                // If a field is empty...
                if (textarea[i].value === '') {
                    // add an "invalid" class to the field:
                    $(textarea[i]).toggleClass('invalid', true);
                    // and set the current valid status to false:
                    valid = false;
                }
            }

            if ($(inputField).val() === '') {
                $(inputField).toggleClass('invalid', true);
                valid = false;
            }

            if(currentTab === (tabs.length - 1)) {
                // A loop that checks every textarea field in the current tab:
                for (i = 0; i < tinyMCE.editors.length; i++) {
                    // If a field is empty...
                    var content = tinyMCE.editors[i].getContent();
                    if (content === "") {
                        // add an "invalid" class to the field:
                        tinyMCE.editors[i].className += ' invalid';
                        // and set the current valid status to false:
                        valid = false;
                    }
                }
            }
            return valid;
        }

        function redrawFilesList() {
            container.html('');

            for(var i = 0; i < files.length; i++) {
                var file = files[i];
                var size = (file.size/1000000).toFixed(2) + 'MB';
                var rowContainer = $('<div/>').attr('id', 'file-container-row-' + i).addClass('file-container-row');

                var iconClass;
                switch(file.type) {
                    case 'image/jpeg':
                        iconClass = 'fa-file-photo-o';
                        break;
                    case 'image/jpg':
                        iconClass = 'fa-file-photo-o';
                        break;
                    case 'image/png':
                        iconClass = 'fa-file-photo-o';
                        break;
                    case 'application/pdf':
                        iconClass = 'fa-file-pdf-o text-danger';
                        break;
                    default:
                        iconClass = 'fa-file';
                }

                var icon = $('<span/>').addClass('fa ' + iconClass + ' file-icons');
                rowContainer.append(icon);

                var fileInfo = $('<div/>').addClass('file-information');
                fileInfo.append($('<div/>').attr('id', 'file-name-' + i).addClass('file-name').html(file.name));
                fileInfo.append($('<div/>').attr('id', 'file-size-' + i).addClass('file-size').html(size));

                rowContainer.append(fileInfo);
                rowContainer.append($('<div class="fi flaticon-check"></div>'));

                var deleteButton = $('<a/>').attr({'id': 'delete-button-' + i, 'data-index': i})
                    .addClass('delete-button')
                    .html('<span class="fi flaticon-close-button"></span>');

                rowContainer.append(deleteButton);
                container.append(rowContainer);

                deleteButton.on('click', {'idx': i}, function (e) {
                    files.splice(e.data.idx, 1);
                    redrawFilesList(container, files);
                });
            }
        }

        // Function handles next tab in multi step modal form
        function nextStep() {
            var n = 1;
            var tabs = document.getElementsByClassName('tab');

            // Validate current tab
            if (n === 1 && !validateForm()) return false;

            // Increase or decrease the current tab by 1:
            currentTab += n;

            // Hide the current tab:
            if (currentTab < tabs.length) tabs[currentTab - 1].style.display = 'none';

            // if you have reached the end of the form... :
            if (currentTab === tabs.length) {

                // TODO this need to get refactored. The block is necessary for Safari to POST.
                var $form = $('#add-briefing-form');
                var $inputs = $('input[type="file"]:not([disabled])', $form);
                $inputs.each(function(_, input) {
                    if (input.files.length > 0) return;
                    $(input).prop('disabled', true)
                });

                // Submit Form
                var form = document.getElementById('add-briefing-form');
                var formData = new FormData(form);

                formData.append('reason', tinyMCE.get('reason').getContent());
                formData.append('program', tinyMCE.get('program').getContent());

                for(var i = 0; i < files.length; i++) {
                    var file = files[i];
                    formData.append('files', file, file.name);
                }

                // The block is necessary for Safari to POST.
                $inputs.prop('disabled', false);

                // Send data to server
                $.ajax({
                    url: "{% url 'briefings:form' deliverable.id %}",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function () {
                        location.reload();
                    }
                });
            } else {

                // Otherwise, display the correct tab:
                showTab(currentTab);
            }
        }

        function handleFormClose(){
            var modalForm, tabs, i;
            modalForm = document.getElementById('add-briefing-form');
            modalForm.reset();
            var table = document.getElementById('uploadedFilesTable');
            if (table) table.innerHTML = '';
            tabs = document.getElementsByClassName('tab');
            for (i = 0; i < tabs.length; i++){
              tabs[i].style.display = 'none';
            }
            tinymce.remove('.tinymce-textareas');
            currentTab = 0;
            showTab(currentTab);
        }
    });
</script>
