<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<div class="row column">
  <h5>STEL VRAAG</h5>

  <form id="add-question-form" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}

    <div id="forms-container">
      {% for form in formset %}
        <div id="form-{{ forloop.counter0 }}" class="form initial-form">
          <input type="hidden" name="questions-{{ forloop.counter0 }}-id" id="id_questions-{{ forloop.counter0 }}-id">

          <div class="row">
            <div class="column large-8">
              <label for="id_questions-{{ forloop.counter0 }}-question">Vraag {{ forloop.counter }}</label>
              <textarea name="questions-{{ forloop.counter0 }}-question" id="id_questions-{{ forloop.counter0 }}-question" rows="5" required></textarea>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <br>

    <div class="row footer">
      <div class="large-12 column">
        <div class="small expanded button-group">
          <button type="button" id="add-more-form" class="debat-blue button">Vraag toevoegen</button>
          <button type="button" id="remove-last-form" class="debat-blue button">Vraag verwijderen</button>
          <button type="submit" id="submit-btn" class="debat-orange button">Opslaan</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="empty-form" class="empty-forms">
  {% include 'briefings/components/modals/sections/empty_question_form.html' %}
</div>

<script>
  $(function(){
    var formset  = $('#add-question-form');

    // Function to update the `#id_form-TOTAL_FORMS`
    // hidden field
    function updateTotalFormsValue() {
      var formCount = formset.find('.form').length;
      $('#id_questions-TOTAL_FORMS').val(formCount);
    }

    // Handle adding more forms
    $('#add-more-form').click(function() {
      var emptyForm = $('#empty-form').clone();
      var formCount = formset.find('.form').length;
      var newForm= $(emptyForm.html().replace(/__prefix__/g, formCount).replace(/__prefix_form_counter__/g, formCount + 1));
      $('#forms-container').append(newForm);

      updateTotalFormsValue();
    });

    // Handle removing the last form
    $('#remove-last-form').click(function() {
      var forms = formset.find('.form');

      if (forms.length > 1) {
        forms.last().remove();
        updateTotalFormsValue();
      }
    });

    // Handles form submission
    $(formset).submit(function(event){
      event.preventDefault();
      $('#submit-btn').attr('disabled', true);
      var url = "{% url 'briefings:briefing-question-create' deliverable.pk %}";
      var formData = formset.serialize();
      $.post(url, formData, function(){
        $('#modal-container-add-questions').foundation('close');
      });
    });
  });
</script>
