{% extends "admin/change_form.html" %}

 {% block object-tools-items %}
  {% for view in email_views %}
    <li style="float: none; margin-bottom: 15px">
        {% with 'admin:'|add:view.get_admin_url_name as url %}
          <a href="{% url url pk=original.pk %}" class="grp-state-focus">
            Send {{ view.get_email_name }}
          </a>
        {% endwith %}
    </li>
  {% endfor %}

   {{ block.super }}
{% endblock %}
