{% extends "backoffice/base.html" %}
{% load static %}
{% load assets %}
{% load sass_tags %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'marketing/sass/style.sass' %}">
{% endblock %}

{% block custom-javascript %}
  <script type="application/javascript" src="{% static 'blueimp-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
  <script type="application/javascript" src="{% static 'blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
{% endblock %}

{% block content %}{% endblock %}
