<div class="row column">
  <label for="has_reminders">
    Moet de klant reminders krijgen hoeveel deelnemers het formulier hebben ingevuld?
    <select id="has_reminders" name="has_reminders">
      <option value="YES">Ja</option>
      <option value="NO" selected>Nee</option>
    </select>
  </label>
</div>

{% with selector='reminders'%}
  <div id="{{ selector }}-management-form">
    {{ formset_reminders.management_form }}
  </div>

  <div id="{{ selector }}-container" hidden>
    {% for f in formset_reminders %}
      <input type="hidden" name="reminders-{{ forloop.counter0 }}-id" value="{{ f.instance.id|default_if_none:"" }}">

      <div class="{{ selector }}-container">
        <div class="row {{ selector }}-row">
          {% with counter0=forloop.counter0|stringformat:"s" counter=forloop.counter|stringformat:"s" %}
            {% with id='reminders-'|add:counter0|add:'-date' label='Reminder '|add:counter %}
              {% include 'common/widgets/widget-date-selector.html' with id=id label=label days=days years=years required=required obj=f.initial.date %}
            {% endwith %}
          {% endwith %}
        </div>
      </div>
    {% endfor %}

    {% with add_text='Datum reminder toevoegen' remove_text='Datum reminder verwijderen' prefix=formset_reminders.get_default_prefix %}
      {% include 'common/widgets/widget-duplicate-fields.html' with id=selector add_text=add_text remove_text=remove_text %}
    {% endwith %}
  </div>
{% endwith %}

