{% if object %}
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="row column">
    <h5>INTAKE WIJZIGEN</h5>
  </div>
{% endif %}

<form id="form-add-intake-{{ form.instance.id }}" action="{{ request.path }}" method="post">
  {% csrf_token %}

  <input type="hidden" name="form" value="{{ form.instance.form.id|default:form_id }}">

  <div class="row column">
    <label for="field-participant-name">
      Bij welke tekstveld moeten deelnemers hun naam achterlaten?
      <select name="qid_name">
        <option value="">--</option>
        {% for question in questions %}
          <option value="{{ question.qid }}" {% if form.instance.qid_name == question.qid %}selected{% endif %}>
            {{ question.text }}
          </option>
        {% endfor %}
      </select>
    </label>
  </div>

  {% include 'intakes/components/modals/sections/intake-report.html' with required=False %}

  {% include 'intakes/components/modals/sections/intake-reminders.html' with required=False %}

  <div class="row column">
    <label for="organization">
      Organisatie
      <input type="text" id="organization" name="organization" required value="{{ form.instance.organization }}">
    </label>
  </div>

  <div class="row column">
    <label for="cp_first_name">
      Voornaam contactpersoon klant
      <input type="text" id="cp_first_name" name="cp_first_name" required value="{{ form.instance.cp_first_name }}">
    </label>
  </div>

  <div class="row column">
    <label for="cp_last_name">
      Achternaam contactpersoon klant
      <input type="text" id="cp_last_name" name="cp_last_name" required value="{{ form.instance.cp_last_name }}">
    </label>
  </div>

  <div class="row column">
    <label for="cp_email">
      E-mail contactpersoon klant
      <input type="email" id="cp_email" name="cp_email" required value="{{ form.instance.cp_email }}">
    </label>
  </div>

  <div id="trainer-row" class="row column">
    <label for="trainers">
      Trainers
      <span class="multi-select">
        {% for trainer in trainers %}
          <label>
            <input type="checkbox" name="trainers" value="{{ trainer.pk }}" {% if trainer in form.instance.trainers.all %}checked{% endif %}>
            {{ trainer.get_full_name }}
          </label>
        {% endfor %}
      </span>
    </label>
  </div>

  {% with id='trainers_report_date' label='Op welke datum moeten(en) de trainer(s) de inzendingen ontvangen?' %}
    {% include 'common/widgets/widget-date-selector.html' with id=id label=label days=days years=years required=True obj=form.instance.trainers_report_date %}
  {% endwith %}

  <div class="row footer">
    <div class="large-offset-4 large-4 no-right-padding column">
      <input type="submit" class="small expanded debat-orange add-button button" value="Inplannen">
    </div>
    <div class="large-4 column">
      <input type="button" class="small expanded debat-blue button" value="Annuleren" data-close>
    </div>
  </div>
</form>

<script>
  $(function () {
    var reportSectionTrigger = $('#form-add-intake-{{ form.instance.id }} #has_report');
    var remindersSectionTrigger = $('#form-add-intake-{{ form.instance.id }} #has_reminders');
    var initialValues = {
      'reminders': $('#reminders-management-form input[name$="-INITIAL_FORMS"]').val(),
      'report': $('#report-management-form input[name$="-INITIAL_FORMS"]').val()
    };


    remindersSectionTrigger.change(function () {
      toggleSection('reminders', $(this).val())
    });

    reportSectionTrigger.change(function () {
      toggleSection('report', $(this).val())
    });

    function toggleSection(selector, value) {
      var container = $('#' + selector + '-container');
      var inputs = container.find('input, select');

      var isToggled = value !== 'YES';
      inputs.attr('required', isToggled);
      inputs.not('input[type="button"]').attr('disabled', isToggled);

      var initialForms = $('#' + selector + '-management-form input[name$="-INITIAL_FORMS"]');

      if (!isToggled) {
        container.show();
        initialForms.val(initialValues[selector])
      } else {
        container.hide();
        initialForms.val(0);
      }
    }

    {% if object.report_date %}
      reportSectionTrigger.val('YES');
      reportSectionTrigger.change();
    {% endif %}

    {% if object.reminders.count %}
      remindersSectionTrigger.val('YES');
      remindersSectionTrigger.change();
    {% endif %}
  })
</script>
