<div class="row column">
  <label for="has_report">
    Moet er een rapportage komen?
    <select id="has_report" name="has_report">
      <option value="YES">Ja</option>
      <option value="NO" selected>Nee</option>
    </select>
  </label>
</div>

<div id="report-management-form">
  {{ formset_questions.management_form }}
</div>

<div id="report-container" hidden>
  {% with id='report_date' label='Op welke datum moet de rapportage naar de klant verzonden worden?' %}
    {% include 'common/widgets/widget-date-selector.html' with id=id label=label days=days years=years required=required obj=form.instance.report_date %}
  {% endwith %}

  <div class="row column">
    Welke vragen moeten er in de rapportage komen?
  </div>

  <div class="row column">
    <label for="submission_amount">
      Hoeveel inzendingen moeten er per vraag getoond worden?
      <select id="submission_amount" name="report_submission_amount" {% if required %} required {% endif %}>
        <option value="">--</option>
        <option value="1" {% if object.report_submission_amount == 1 %}selected{% endif %}>1</option>
        <option value="2" {% if object.report_submission_amount == 2 %}selected{% endif %}>2</option>
        <option value="3" {% if object.report_submission_amount == 3 %}selected{% endif %}>3</option>
        <option value="4" {% if object.report_submission_amount == 4 %}selected{% endif %}>4</option>
        <option value="5" {% if object.report_submission_amount == 5 %}selected{% endif %}>5</option>
        <option value="6" {% if object.report_submission_amount == 6 %}selected{% endif %}>6</option>
        <option value="7" {% if object.report_submission_amount == 7 %}selected{% endif %}>7</option>
        <option value="8" {% if object.report_submission_amount == 8 %}selected{% endif %}>8</option>
        <option value="9" {% if object.report_submission_amount == 9 %}selected{% endif %}>9</option>
        <option value="10" {% if object.report_submission_amount == 10 %}selected{% endif %}>10</option>
        <option value="11" {% if object.report_submission_amount == 11 %}selected{% endif %}>11</option>
        <option value="12" {% if object.report_submission_amount == 12 %}selected{% endif %}>12</option>
        <option value="13" {% if object.report_submission_amount == 13 %}selected{% endif %}>13</option>
        <option value="14" {% if object.report_submission_amount == 14 %}selected{% endif %}>14</option>
        <option value="15" {% if object.report_submission_amount == 15 %}selected{% endif %}>15</option>
      </select>
    </label>
  </div>

  <div class="report_questions-container">
    {% for f in formset_questions %}
      <input type="hidden" name="report_questions-{{ forloop.counter0 }}-id" value="{{ f.instance.id|default_if_none:"" }}">

      <div class="row column report_questions-row">
        <label>
          <span class="question-label"> Vraag {{ forloop.counter }}</span>
          <select name="report_questions-{{ forloop.counter0 }}-qid" {% if required %} required {% endif %}>
            <option value="">--</option>
            {% for question in questions %}
              <option value="{{ question.qid }}" {% if question.qid == f.initial.qid %}selected{% endif %}>
                {{ question.text }}
              </option>
            {% endfor %}
          </select>
        </label>
      </div>
    {% endfor %}
  </div>

  {% with id='report_questions' add_text='Vraag toevoegen' remove_text='Vraag verwijderen' prefix=formset_questions.get_default_prefix %}
    {% include 'common/widgets/widget-duplicate-fields.html' with id=id add_text=add_text remove_text=remove_text %}
  {% endwith %}
</div>
