{% extends 'marketing/base.html' %}

{% block content %}
  <div class="row">
    <div class="large-2 column">
      <button name=btn-open-modal class="debat-orange small expanded button" data-url="{% url 'marketing:seo:page-create' %}">
        <span class="fi flaticon-signs"></span>
        Pagina toevoegen
      </button>
    </div>
  </div>

  {% for page in object_list %}
    <div class="row column">
      <table class="table">
        <thead>
        <tr>
          <th colspan="7">
            <span class="page-title">{{ page.title }} - {{ page.url }}</span>
            <span class="float-right text-right">
              <button name="btn-open-modal" class="small button hollow" data-url="{% url 'marketing:seo:page-score-create' page.pk %}">
                Updaten
              </button>
              <button name="btn-open-modal" class="small button hollow" data-url="{% url 'marketing:seo:page-delete' page.pk %}">
                Verwijderen
              </button>
            </span>
          </th>
        </tr>
        <tr>
          <th>DATUM UPDATE</th>
          <th class="text-center">PERFORMANCE</th>
          <th class="text-center">ACCESSIBILITY</th>
          <th class="text-center">BEST PRACTICES</th>
          <th class="text-center">SEO</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for score in page.scores.all %}
          <tr>
            <td class="text-left">{{ score.created_at|date:"d-m-Y" }}</td>
            <td class="text-center">
              <div class="c100 p{{ score.performance }} small center
                {% if score.performance < 50 %} red {% endif %}
                {% if score.performance >= 50 and score.performance < 90 %} orange {% endif %}
                {% if score.performance >= 90 %} green {% endif %}
              ">
                <span>{{ score.performance }}</span>
                <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
                </div>
              </div>
            </td>
            <td class="text-center">
              <div class="c100 p{{ score.accessibility }} small center
                {% if score.accessibility < 50 %} red {% endif %}
                {% if score.accessibility >= 50 and score.accessibility < 90 %} orange {% endif %}
                {% if score.accessibility >= 90 %} green {% endif %}
              ">
                <span>{{ score.accessibility }}</span>
                <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
                </div>
              </div>
            </td>
            <td class="text-center">
              <div class="c100 p{{ score.best_practice }} small center
                {% if score.best_practice < 50 %} red {% endif %}
                {% if score.best_practice >= 50 and score.best_practice < 90 %} orange {% endif %}
                {% if score.best_practice >= 90 %} green {% endif %}
              ">
                <span>{{ score.best_practice }}</span>
                <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
                </div>
              </div>
            </td>
            <td class="text-center">
              <div class="c100 p{{ score.seo }} small center
                {% if score.seo < 50 %} red {% endif %}
                {% if score.seo >= 50 and score.seo < 90 %} orange {% endif %}
                {% if score.seo >= 90 %} green {% endif %}
              ">
                <span>{{ score.seo }}</span>
                <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
                </div>
              </div>
            </td>
            <td class="text-right">
              <button name="btn-open-modal" class="small button hollow" data-url="{% url 'marketing:seo:page-score-detail' score.pk %}">
                Download rapport
              </button>

              <button name="btn-open-modal" class="small button hollow" data-url="{% url 'marketing:seo:page-score-delete' score.pk %}">
                Verwijderen
              </button>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="6" class="text-center">Er zijn geen performance scores.</td>
          </tr>
        {% endfor %}

        {% if page.scores.count > 0 %}
          <tr>
            <td></td>
            <td class="text-right" colspan="4">
              Schaal:
              <span class="block green"></span> 90-100
              <span class="block orange"></span> 50-89
              <span class="block red"></span> 0-49
            </td>
            <td></td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
  {% endfor %}

  {% include 'common/widgets/widget-modal.html' %}
{% endblock content %}
