{% extends "backoffice/base.html" %}
{% load static %}
{% load assets %}
{% load sass_tags %}

{% block custom-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'schedules/sass/style.sass' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-themes/jquery-ui.min.css' %}">
{% endblock %}

{% block custom-javascript %}
  <script type="application/javascript" src="{% static 'jqueryui/jquery-ui.js' %}"></script>
  <script type="application/javascript" src="{% static 'backoffice/js/datepicker-nl.js' %}"></script>
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'schedules:overview' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
      <div class="large-2 column">
        <button type="button" id="btn-create-vacation-period" class="debat-blue small expanded button" data-url="{% url 'schedules:step-1' %}">
          Verlof aanvragen
        </button>
      </div>
      <div class="large-2 column">
        <button type="submit" class="debat-orange small expanded button">
          Opslaan
        </button>
      </div>
      <div class="large-2 column"></div>
      <div class="large-4 column">
        <table id="legend">
          <thead>
            <tr>
              <td class="text-center" colspan="2"> LEGENDA </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center color-available"> Beschikbaar </td>
              <td class="text-center color-unavailable"> Niet beschikbaar </td>
            </tr>
            <tr>
              <td colspan="2" class="text-center color-unknown"> Liever niet beschikbaar </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    {{ form.management_form }}

    <div class="row column">
      {% for period_id in period_ids %}
        {% include 'schedules/components/sections/week_overview.html' with period_id=period_id index=forloop.counter0 %}
      {% endfor %}
    </div>

    {% for f in form %}
      <section id="id_{{ f.instance.period_id }}_{{ f.instance.daypart }}" data-prefix="{{ f.prefix }}">
        {{ f }}
      </section>
    {% endfor %}
  </form>

  <!-- Create Form Modal -->
  <div class="reveal" id="create-vacation-period-modal" data-close-on-click="false" data-reveal></div>

  <!-- NOTIFICATION MODAL -->
  {% if messages %}
      {% include 'backoffice/components/modals/modal-notification.html' %}
  {% endif %}

  <script>
    $(function() {
      var values = ['AV', 'NA', 'PN'];
      var classes = ['availability-day color-available', 'availability-day color-unavailable', 'availability-day color-unknown'];
      var tableCells = $('.availability-day');
      var modal = $('#create-vacation-period-modal');

      // Initialize modal
      modal.foundation();

      $('#btn-create-vacation-period').click(function(){
        var url = $(this).data('url');
        $.get(url, function(data) {
          modal.html(data);
          modal.foundation('open');
        });
      });

      $('#create-vacation-period-modal').on('closed.zf.reveal', function(){
        $(this).empty();
      });

      // Initialize the state of the table cells.
      tableCells.each(function (idx, element) {
        var field = getRelatedInputField(element);
        var value = $(field).val();
        var index = $.inArray(value, values);
        element.className = classes[index % classes.length];
      });

      tableCells.click(function () {
        var field = getRelatedInputField(this);
        var index = $.inArray(this.className, classes) + 1;
        this.className = classes[index % classes.length];
        field.val(values[index % classes.length]);
      });

      function getRelatedInputField(element) {
        var dayName = $(element).data('day');
        var row = $(element).parents('tr');
        var periodId = row.data('period');
        return $('#id_' + periodId + ' input[name$="' + dayName + '"]');
      }
    });
  </script>
{% endblock content %}
