{% extends "backoffice/base.html" %}
{% load static %}
{% load assets %}
{% load sass_tags %}
{% load raven %}

{% block custom-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'briefings/sass/style.sass' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'briefings/sass/scan-modal.sass' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-themes/jquery-ui.min.css' %}">
{% endblock %}

{% block custom-javascript %}
    <script type="application/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'tinymce/jquery.tinymce.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'blueimp-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script type="application/javascript" src="{% static 'blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
    <script type="application/javascript" src="{% static 'jqueryui/jquery-ui.js' %}"></script>
    <script type="application/javascript" src="{% static 'backoffice/js/datepicker-nl.js' %}"></script>
{% endblock %}

{% block content %}{% endblock %}
