{% extends 'briefings/base.html' %}
{% load static %}

{% block content %}
  <div class="expanded row column">
    <h3>BRIEFINGS</h3>
  </div>

  <div class="expanded row column">
    <table id="deliverable-table">
      <thead>
      <tr>
        <th>DATUM</th>
        <th>OPDRACHTGEVER</th>
        <th>BIJEENKOMST</th>
        <th>OMSCHRIJVING</th>
        <th>VRAGEN?</th>
        <th class="text-center">BRIEFING</th>
        <th>CONTACTPERSOON</th>
        <th></th>
      </tr>
      </thead>

      {% if is_prev %}
      <tbody id="button-tbody">
        <tr id="previous-btn-row">
          <td colspan="8" class="text-center">
            <a href="{% url 'briefings:overview' %}?page={{ page }}" class="button hollow small" id="previous-btn">
              <i class="fa fa-chevron-up"></i>&nbsp; Eerder
            </a>
          </td>
        </tr>
      </tbody>
      {% endif %}

      <tbody class="deliverable-list-container">
      {% for deliverable in object_list %}
        <tr class="deliverable-item">
          <td class="text-left">{{ deliverable.delivery.order_date|date:'d-m-Y' }}</td>
          <td>{{ deliverable.delivery.organization }}</td>
          <td>{{ deliverable.delivery.product }}</td>
          <td>{{ deliverable.delivery.description }}</td>
          <td>{{ deliverable.delivery.responsible.name }}</td>
          <td class="status-icons text-center">
            {% if deliverable.status == deliverable.PENDING %}
              <span title="Nog niet ingevoerd" class="fi flaticon-circle text-danger"></span>
            {% else %}
              <span title="Bekend" class="fi flaticon-circle text-success"></span>
            {% endif %}
          </td>

          <td>
            {{ deliverable.delivery.person.first_name }} {{ deliverable.delivery.person.last_name }}<br>
            {{ deliverable.delivery.person.email }}<br>

            {% if deliverable.delivery.person.direct_phone %}
              {{ deliverable.delivery.person.direct_phone }}
            {% else %}
              {{ deliverable.delivery.person.mobile_phone }}
            {% endif %}
          </td>

          <td>
            {% if deliverable.delivery.responsible.email == request.user.email %}
              {% if deliverable.briefing %}
                <a name="btn-open-modal" class="alert button hollow modal-btn" data-url="{% url 'briefings:deliverable-detail' deliverable.id %}">Weergeven</a>
              {% elif deliverable.scans.exists %}
                <a name="btn-open-modal" class="alert button hollow modal-btn" data-url="{% url 'scans:deliverable-detail' deliverable.pk %}">Weergeven</a>
              {% else %}
                {% with training=deliverable.delivery.product %}
                  {% if training == 'Debatscan' or training == 'Voorzittersscan' %}
                    <a name="btn-open-modal" class="alert button hollow modal-btn"  data-url="{% url 'scans:create' deliverable.id %}">Toevoegen</a>
                  {% else %}
                    <a name="btn-open-modal" class="alert button hollow modal-btn"  data-url="{% url 'briefings:form' deliverable.id %}">Toevoegen</a>
                  {% endif %}
                {% endwith %}
              {% endif %}
            {% else %}
              <a name="btn-open-modal" class="alert button hollow modal-btn" data-url="{% url 'briefings:deliverable-detail' deliverable.id %}">Weergeven</a>
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td class="text-center" colspan="8">Er zijn nog geen deliverables.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- DELIVERABLE and SCAN CREATE FORM MODAL -->
  {% include 'common/widgets/widget-modal.html' with id='delivery' %}
{% endblock content %}
