@import "../../../../DebatNL_BackOffice/static/sass/base.sass"


.success-page-container
  padding: 50px 0 200px

  .fa
    color: $debat-green
    font-size: 80px

  p
    color: $debat-blue
    font-size: 18px
    font-weight: 400
    margin-top: 20px
    margin-bottom: 30px

.download-page-container
  padding: 50px 0 200px

  .button
    font-size: 16px
    padding-top: 18px
    padding-bottom: 18px

#card-container
  position: relative
  top: -130px

  .card
    padding: 40px

    h4
      color: $debat-blue
      font-weight: bold

    #page-selection-form
      button[type=submit]
        font-weight: bold
        margin-top: 30px
        padding: 12px 48px

    .item
      margin-bottom: 40px

      .checkbox
        margin-bottom: 6px

        .check-label-text
          font-size: 14px
          color: $debat-blue

      .preview
        img
          border-radius: 6px
          box-shadow: 0 4px 8px 0 #ccc
          width: 100%

          &:hover
            box-shadow: 0 8px 12px 0 $debat-grey
            transition: 0.3s all
            cursor: pointer


#handout-update-form
  h5
    color: $debat-blue
    font-size: 16px
    font-weight: bold
    padding-bottom: 4px

  input
    color: $debat-blue

  button[type=submit]
    font-weight: bold

  .invalid-date
    border: 1px solid $debat-red !important

  .input-group
    margin-bottom: 60px

    .fa
      padding-top: 12px

    label
      color: $debat-blue

    span
      color: $debat-blue
      font-size: 14px

    &.dates-group
      input
        margin-bottom: 4px

      label
        font-size: 14px

    &.trainers-group
      select
        margin-bottom: 10px

  a
    color: $debat-blue
    text-decoration: underline

#training-selection-table
  border: 1px solid $debat-dark-grey
  font-size: 16px

  td
    border: 1px solid $debat-dark-grey
    vertical-align: top
    padding: .5rem .625rem .625rem

.full-bg
  width: 100%
  max-width: initial

.text-capitalize
  text-transform: capitalize
